/* Fundamental Page Element Styles */
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    background-color:#f8f8f8;
    line-height:1.6;
    padding-bottom:2em;
}

body p,
ol > li,
ul > li {
    font-family:Arial, 'x-locale-body', sans-serif;
}

header {
    position:relative;
}

footer {
    background-color:rgba(0,0,0,.85);
    position:absolute;
    bottom:0;
    margin-left:0 !important;
    margin-right:0 !important;
    width:100%;
    padding: 1.5em 0;
    color: white;
    font-size:15px;
    text-align: center;
    }

footer a,
footer a:visited
 {
    color:rgb(200,100,50);
}

main a:hover,
main a:focus,
main a:active,
footer a:hover,
footer a:focus,
footer a:active,
main li a:hover,
main li a:focus,
main li a:active,
.grammar-tooltip a
{
    color:rgb(161,70,10);
}

main li > a {
    color:rgb(200,100,50);
}

abbr {
    font-style:italic;
    font-weight:bold;
    font-variant: none;
    text-decoration:dotted;
    }

/*texts*/
.black-text {
    color:black;
}

.white-text {
    color:white;
}

.darkorange-text {
    color:rgb(200,100,50);
}

.lightorange-text {
    color:#F7882F;
}

.peach-text {
    color:#FF9A69;
}

.red-text {
    color:  #F52F22;
}

.lightred-text {
    color:#F54F47;
}

.green-text {
    color:lime;
}

.darkgreen-text {
    color:green;
}

.yellow-text {
    color:yellow;
}

.medyellow-text {
    color:rgb(255, 205, 23);
}

.darkyellow-text {
    color:#FAC400;
}

.blue-text {
    color:cyan;
}

.darkblue-text {
    color:#00BFA9;
}

.navy-text {
    color:#002c5a;
}

.purple-text {
    color:purple;
}

    /*backgrounds*/
.darkgrey-bg {
    background-color:#444;
}


.lightorange-bg {
    background-color:#FDE5CD;
}

.red-bg {
    background-color:#ee1e1e;
}

.orange-bg {
    background-color: #F7882F;
}

.yellow-bg {
    background-color:rgb(255, 205, 23);
}

.green-bg {
    background-color:green;
}

.blue-bg {
    background-color:#00BFA9;
}

.purple-bg {
    background-color:purple;
}

.black-bg {
    background-color:black;
}

.darkblue-bg {
    background-color:#002c5a
}

.dark-opacity {
    background-color:rgba(0,0,0,.85);
}

/* Generic Styles */

.strong {
    font-size:18px;
    font-weight:bold;
}

.big-text {
    font-size:3em;
}

.medium-text {
    font-size:2.5em;
}

.title-text {
    font-size:1.7em;
}

.initial-letter {
    font-size:1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.georgia {
    font-family:Georgia, 'Times New Roman', Times, serif
}

.inline-block {
    display:inline-block;
}

.text-center {
    text-align:center;
}

.no-text-decoration {
    text-decoration: none;
}

.text-decoration {
    text-decoration: underline;
}

.border-bottom {
    border-bottom: 2px solid
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.padding-bottom {
    padding-bottom:1em;
}

.padding-left {
    padding-left:1em;
}

.padding-top {
    padding-top:1em;
}

.remove-margin {
    margin:0;
}

.remove-padding {
    padding:0;
}

/* Navigation */

nav {
    font-size:18px;
    padding:.25em;
}

.navelement {
    display: inline-block;
}

.navelement > a,
.navelement > span {
    padding: .66em 1.2em;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color:white;
}

.navelement > a:hover,
.navelement > span:hover,
.navelement > a:active,
.navelement > span:active,
.navelement > a:focus,
.navelement > span:focus
 {
    color:rgb(223,115,90);
}


.logo img {
    height:35px;
}

.logo a,
.logo a:hover {
    text-decoration: none;
    color:white;
}

/* Cards on Homepage */

.card-row {
    margin:0;
}

.card-wrapper {
    height:100%;
    padding-right:0;
    padding-top:1em;
}

.card {
    padding-top:30em;
    border-radius:5px;
}

.card-content {
    padding: .5em 1.25em 1em 1.25em;
    background:rgb(68, 68, 68, .85);
    font-size:1.1em;
    line-height:1.5em;
    position: absolute;
    bottom:0;
    color:white;
}

.card-title {
    font-weight:bold;
    padding-bottom:.25em;
}

.left-card-image {
    background-image: url(../images/card4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.middle-card-image {
    background-image: url(../images/card1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.right-card-image {
    background-image: url(../images/card6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.card:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);    
}

/* buttons */

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    border-style:none;
}

.light-button {
    border: 1px solid rgb(200,100,50);
    background-color:#fbfbfb;
}

.light-button:hover,
.light-button:active {
    background-color:rgb(200,100,50)
}

.solid-button
{
    background-color:rgb(200,100,50);
    color:white;
}

.solid-button:hover,
.solid-button:active {
    background-color:rgb(161,70,10);
    color:white;
}

/* Specific Components */

/* Grammar Graphic Box */

.grammar-box {
    text-align:center;
    font-family:arial;
    padding: .5em 2em;
    display:inline-block;
    margin-bottom:15px;
    }


/* Hideable Grammar Tooltip */

.tooltip-header {
    background-color:rgb(200,100,50);
    text-align:left;
    color:white;
    border-radius:5px;
    padding:0 .75em;
    width:100%;
    border:none;
    margin-bottom:.5em;
} 

.card-link,
.card-link:hover {
    background-color:rgb(200,100,50);
    text-align:left;
    color:white;
}

    .card-body {
        padding:.25em .5em;
        font-size:.85em;
    }

/* Audio Button */

.audio-button {
        border: 0;
        background: none;
        box-shadow: none;
        border-radius: 0;
        font-weight:bold;
        padding:0;
}

.audio-button i {
    padding-left:.25em;
}

    .audio-button:hover {
        text-decoration:underline;
    }

.fa-play-circle {
    color:black;
}

/* Phonetic pages*/

.phonetic-contianer {
    max-width:100%;
    padding-top:.5em;
}

.phonetic-name {
    padding:.5em .75em;
}

.phonetic-eg-word {
    transform: rotate(270deg);
    padding:.5em 0;
}

#face {
    max-width:45%;
    padding-top:1em;
}

/*timeline styles*/

.timeline-container {
    padding:0;
}

.timeline-left {
    border-right: 3px solid #444;
    border-radius: 0 0 0 5px;
    padding:1em;
}

.timeline-right {
    border-left: 3px solid #444;
    border-radius: 0 0 5px 0;
    padding:1em;
}

.timeline-right {
    margin-left:-3px;
}

.timeline-header {
    background-color:#444;
    color:white;
    padding:1em 2em;
    border-radius: 5px 5px 0 0;
}

.timeline-content {
    padding:1em 2em;
    font-size:16px;
    border:1px solid #444;
    background-color:#fff;
    border-radius: 0 0 5px 5px;
}

.timeline-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 34px;
    width: 0;
    z-index: 1;
    left: 8px;
    border: medium solid #444;
    border-width: 10px 10px 10px 0;
    border-color: transparent #444 transparent transparent;
}

.timeline-image {
    max-width:100%;
    height:400px;
}

.timeline-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 34px;
    width: 0;
    z-index: 1;
    right: 11px;
    border: medium solid #444;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #444;
}

.timeline-alternate {
    padding: 1em 2em;
}

        /*timeline quote */
        blockquote {
            border-left: 3px solid #FF9F55;
            border-right: 3px solid #FF9F55;
            color:#444;
            padding: 0 .5em;
            margin-bottom:0;
            font-size:15px;
            padding-left:1em;
            padding-right:1em;
        }

        cite {
            display:block;
            color:#444;
            font-style:italic;
            text-align: right; 
            padding-right: 1.5em;           
        }

.timeline-map-box {
    padding:0 1em 0 2em;
}

.fit-image {
    max-width:100%;
    height:auto;
}


/* main wrapper */
#mainwrapper {
    padding-top: 2em;
    padding-bottom:6em;
}

#mainwrapper h1 {
    text-align: center;
}

/* Specific Styles for tables */

.grammar-table {
    border-radius: 5px;
    position: relative;
}

table {
    border-collapse: collapse;
    background:lightgrey;
    border-left: 1px solid darkgray; 
}

.table-scroll-container {
    overflow-x: scroll;
}

.tabbed-table td,
.tabbed-table th {
    padding: .25em .5em;

}

.static-table td,
.static-table th {
    padding:10px;
}

table a {
    color:rgb(161,70,10);
}

.tabbed-table {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.static-table {
    border: 2px solid lightgrey;
}

.five-col-table th {
    text-align: center;
    width:20%;
}

.four-col-table th {
    text-align: center;
    width:24%;
}

.three-col-table th {
    text-align:center;
    width:30%;
}

/* Tabs styling */

.nav>li>a {
    padding: 5px 15px;
}

.nav>li.active>a, .nav>li.active>a:hover {
    color:rgb(200,100,50);
    border-top: 1px solid black;
    border-bottom: none !important;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.nav-justified>li>a {
    color:black;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid black;
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
}


/*Overview Note */

.overview-note-content {
    width:100%;
    padding:0 1em 1em 1em;
    border: 1px rgb(161,70,10) solid;
    
}
    .overview-table {
        width:100%;
        border-bottom:1px lightgrey solid;
    }
    .overview-table th {
        border:1px lightgrey solid;
        padding: .25em .75em;
    }
    .overview-table td {
        border-left: 1px lightgrey solid;
        border-right: 1px lightgrey solid;
        text-align:left;
        padding: .5em;
    }

    .mobile-overview-table {
            width:99%;
            border-bottom: 1px lightgrey solid;
        }
        .mobile-overview-table th {
            border: 1px lightgrey solid;
            padding: .25em;
        }
        .mobile-overview-table td {
            border-left: 1px lightgrey solid;
            border-right: 1px lightgrey solid;
            padding: .25em;
            text-align:left;
            
        }

/*end of table stuff */


/* Quiz code for the language pages */

.answer {
    color:#444;
    font-size:14px;
}

.has-success .answer:before {
    content:"Correct: ";
}

.has-error .answer:before {
    content:"Incorrect: ";
}

/*line styles*/
.border {
	height: 6px;
	background: url('../images/hr-11.png') repeat-x 0 0;
    border: 0;
}

.line {
    border-top: 3px double rgb(200,100,50);
    margin: 0;
    padding: 0;
    padding-bottom: .75em;
}

/*breadcrumb*/

.breadcrumb {
    padding: 0;
    margin-bottom:0;
    font-size:14px;
    background-color:none;
}

.bc-icons-2 .breadcrumb-item + .breadcrumb-item::before {
    content: none; } 
.bc-icons-2 .breadcrumb-item.active {
    color:rgb(200,100,50);
 } 

 /* Module index*/

.course-index {
    padding:0;
}

 li.listtitle {
    list-style-type: none;
    color:rgb(200,100,50);
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
 }

 a > .listtitle:hover {
    color:rgb(161,70,10);
 }

 ul.module li {
     color:black;
     list-style-type: lower-roman;
     padding-top:5px;
 }

 ul.module a {
     color:black;
 }

.user-input {
    width:95px; /*do not remove, I don't care what the linter says*/
    text-align:center;
    display:inline;
    border-width:2px;
}

/* Responsive Styles */

@media screen and (max-width: 440px) {
    header h1 {
        font-size:1.5rem;
        margin-left: 0;
        text-shadow: -1px 0 0 #000000, 1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000;
    }

    nav {
        text-align:center;
    }

    .navelement a {
        padding: .66em 1em;
    }

    #mainwrapper {
        margin:1em;
        padding-top:0;
    }

    .big-text {
        font-size:2rem;
    }

    .medium-text {
        font-size:1.5em;
    }

    .grammar-table {
        font-size:1.2rem;
    }
    
    .four-tabs li {
        display:inline-block;
        width:24%;
    }

    .five-tabs li {
        display:inline-block;
        width:19%;
        overflow: hidden;
    }

    .three-tabs li {
        display:inline-block;
        width:32.7%;
    }

    .nav-justified>li>a {
        margin-bottom:0;
        padding: 5px 5px;
    }

    .tooltip-header {
        margin-top:.5em;
    }

    .responsive {
      width: 100%;
      height: auto;
    }

    .left-card {
        padding-left:15px;
    }

    .right-card {
        padding-right:15px;
    }

    .card img {
        height:100%;
    }

    .card-wrapper {
        padding: .75em 0;
    }

    .card-content {
        padding: .5em;
        font-size:1em;
        bottom:10px;
    }

    .card-content h3 {
        border-bottom: double 3px rgb(200,100,50);  
        padding-bottom: .5em;
    }

    /*responsive timeline styles*/

    /* Place the timeline to the left */
    .timeline::after {
        left: 31px;
    }
        
    /* mobile-full-width containers */
    .timeline-container {
        width: 100%;
        padding:0;
        padding-left: 70px;
        margin-bottom:0;
        padding-top: 15px;
    }

    /* Reduce padding inside the box*/
    .timeline-content {
        padding: 20px;
    }
        
    /* Make sure that all arrows are pointing leftwards */
    .timeline-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent #444 transparent transparent;
        }
      
    /* Make sure all circles are at the same spot */
    .timeline-left::after, .timeline-right::after {
        left: 18px;
        }
        
    /* Make all right containers behave like the left ones */
    .timeline-right {
        left: 0%;
        }
}

/* tweaks */
.fa-angle-double-down {
    padding-top:.3em;
}
