<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'About' ) -%>

<main id="mainwrapper" class="container">
	<section class="row padding-bottom">
		<div class="col-12">
			<h1>Frequently Asked Questions</h1>
			<h2 class="darkorange-text">What is this website?</h2>
			<p>
				<span class="darkorange-text initial-letter">O</span>ld English Online is a website designed to help
				users learn to read Old English. It was funded by University College Cork through the National Forum’s
				'Developing Disciplinary Excellence in Learning, Teaching and Assessment' fund and developed by Dr. Tom
				Birkett and Victoria Koivisto-Kokko. You can find a list of updates in the <a href="patchnotes.html"
					class="darkorange-text">patch notes</a>.
			</p>
			<h2 class="darkorange-text">How does it work?</h2>
			<p>
				<span class="darkorange-text initial-letter">T</span>he website is structured so that major grammatical
				concepts are covered in an individual module, which is subdivided into easily digestible topics. 
				Topics contain textual information accompanied by graphic organisers and interactive exercises such as
				vocabulary flashcards; fill-in-the-blank grammar quizzes designed to provide tailored
				explanatory feedback; and reading comprehensions with optional glosses, notes, and translations.
				The learning environment is specifically designed to require the minimum amount of cognitive processing and
				provide content in a structured way that empowers learners to engage heuristically and at their own pace.  
				In the overview topic of each module you can download a pdf version of the module content which also
				contains a glossary of the Old English words used in the module. Audio examples of Old English are provided in the
				Pronunciation Guide  
			</p>
			<h2 class="darkorange-text">Can you see my answers?</h2>
			<p><span class="initial-letter darkorange-text">N</span>o. The tool runs exclusively in the
				browser so
				anything you do on the
				website can not be seen by anyone except you. The only data collected is page hits to see what
				parts of the site people are using.</p>
			<h2 class="darkorange-text">Can I use the website offline?</h2>
			<p>
				<span class="darkorange-text initial-letter">Y</span>es! To do this, go to the repository [<a
					href="https://github.com/vkkokko/oldenglishonline" class="darkorange-text">here</a>]. Click
				the green <strong>Code</strong> button, and choose <strong>Download ZIP</strong>. To access the
				home page, unzip the <em>oldenglishonline-master</em> folder, open the <em>Docs</em> folder and
				<em>index.html</em>.
			</p>
			<h2 class="darkorange-text">How do I report bugs or errors?</h2>
			<p>
				<span class="darkorange-text initial-letter">I</span>f you notice any errors or bugs, please
				don't
				hesitate to email them in to <span class="darkorange-text">contact@oldenglish.info</span>.
				Alternatively, if you are comfortable with HTML, you can fix errors or contribute to the
				resource directly.
				A contributor's guide is available on <a
					href="https://github.com/vkkokko/oldenglishonline/blob/master/README.md/"
					class="darkorange-text">Github</a>.
			</p>
			<h2 class="darkorange-text">Can you add a new feature?</h2>
			<p>
				<span class="darkorange-text initial-letter">T</span>his is a living resource which is designed
				to be added to over time.
				If there is a feature you would like to see, let us know! You can find a guide on how to make an
				actionable feature request
				[<a href="https://github.com/vkkokko/oldenglishonline/blob/master/README.md#contributors-guide"
					class="darkorange-text">here</a>].
				Alternatively, if you are comfortable with web development, you can contribute to the resource
				directly. A developer's guide is
				available [<a href="https://github.com/vkkokko/oldenglishonline#developers-guide"
					class="darkorange-text">here</a>].
			</p>
			
			<h1 class="padding-top">Acknowledgements</h1>
			<p class="padding-top">This project never would have been completed without the work of all the people who
				generously donated their time. To all our testers, this website would be a lot worse without you. A huge
				thank you to Dr. Alison Killilea, Dr. Niamh Kehoe, Dr. Patricia O'Connor, Joseph McCarthy, Marcus Smith,
				Rosemary Kelly, Aoife Lyall, Christ Fadel, and everyone who emailed in pointing out errors
				or offering suggestions on how to improve the site.
			</p>
		</div>
	</section>
</main>