<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Adverbs, et al') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="adverbs.html">Introduction to Adverbs, Conjunctions,
                        Prepositions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Adverbs
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp3.html"> Conjunctions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp4.html"> Prepositions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp5.html"> Adverbs, Conjunctions, and Prepositions Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Adverbs</h2>
            <p><span class="initial-letter darkorange-text">A</span>dverbs are words that modify verbs: 'the dog
                <em>quickly</em> runs'; adjectives: 'the dog is <em>very</em> big'; or other adverbs: 'the dog barked
                <em>very</em> loudly'.
                In Old English, adverbs come in two main types, those that are formed from other words and standalone
                adverbs.
                For example, the sentence: 'Se hund gæþ hrædlice forþ to þæm huse - The dog goes quickly forth to the
                house' has two adverbs modifying
                the verb: '<em>hrædlice</em>' and '<em>forþ</em>'. The adverb '<em>hrædlice</em>' comes
                from the adjective '<em>hræd</em>' while '<em>forþ</em>' is a standalone adverb.
            </p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Se</span></span><br>
                        <span class="red-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">hund</span></span><br>
                        <span class="red-text">Strong<br>Noun</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">gæþ</span></span><br>
                        <span class="green-text">Irregular<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">hrædlice</span></span><br>
                        <span class="darkyellow-text">Adverb<br>(Formed)</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">forþ</span></span><br>
                        <span class="darkyellow-text">Adverb<br>(Standalone)</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">to</span></span><br>
                        <span class="white-text">Prep.<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">þæm</span></span><br>
                        <span class="blue-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">huse</span></span><br>
                        <span class="blue-text">Minor<br>Neuter</span>
                    </div>
                </div>
            </div>
            </p>
            <p>
                The first type of adverb are formed by adding '<strong>-e</strong>', '<strong>-lice</strong>',
                or <strong>-unga</strong> to the end of an existing noun or adjective. For example,
                '<em>wid - wide</em>' becomes '<em>wide - widely</em>',
                '<em>georn - eager</em>' becomes '<em>geornlice - eagerly</em>', and '<em>eall - all</em>' becomes
                '<em>eallunga - entirely/completely</em>'.
            </p>
            <div class="text-center padding-top">
                <table class="static-table table-striped three-col-table inline-block">
                    <tr>
                        <th>Adjective</th>
                        <th>Adverb</th>
                    </tr>
                    <tr>
                        <td>wid</td>
                        <td>wide</td>
                    </tr>
                    <tr>
                        <td>lang</td>
                        <td>lange</td>
                    </tr>
                    <tr>
                        <td>georn</td>
                        <td>geornlice</td>
                    </tr>
                    <tr>
                        <td>freond</td>
                        <td>freondlice</td>
                    </tr>
                    <tr>
                        <td>eall</td>
                        <td>eallunga</td>
                    </tr>
                    <tr>
                        <td>derne</td>
                        <td>dernunga</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">The second
                are not formed from any other word, and so need to be learned.
                There is no hard rule for which adverbs take which ending, or which adverbs do not take an ending.
                Simply be aware if you see '<strong>lice</strong>' or '<strong>unga</strong>' at the end of the
                word, it is an adverb. Adverbs are generally placed directly before or after the word they are
                modifying which makes them slightly easier to identify.
            </p>
            <p>The primary standalone adverbs are the following:</p>
            <div class="row padding-top">
                <div class="col-md-3 hidden-sm hidden-xs"></div>

                <div class="col-md-4 text-right">
                    <table class="static-table table-striped inline-block text-center">
                        <tbody>
                            <tr>
                                <th>Old English</th>
                                <th>Translation</th>
                            </tr>
                            <tr>
                                <td>þa</td>
                                <td>then</td>
                            </tr>
                            <tr>
                                <td>þonne</td>
                                <td>then</td>
                            </tr>
                            <tr>
                                <td>þær</td>
                                <td>there</td>
                            </tr>
                            <tr>
                                <td>hider</td>
                                <td>hither</td>
                            </tr>
                            <tr>
                                <td>þider</td>
                                <td>thither</td>
                            </tr>
                            <tr>
                                <td>her</td>
                                <td>here</td>
                            </tr>
                            <tr>
                                <td>heonan</td>
                                <td>hence/from here</td>
                            </tr>
                            <tr>
                                <td>sona</td>
                                <td>soon</td>
                            </tr>
                            <tr>
                                <td>oft</td>
                                <td>often</td>
                            </tr>
                            <tr>
                                <td>eft</td>
                                <td>back/again</td>
                            </tr>
                            <tr>
                                <td>swa</td>
                                <td>so</td>
                            </tr>
                            <tr>
                                <td>hwilum</td>
                                <td>sometime/for a time</td>
                            </tr>
                            <tr>
                                <td>nu</td>
                                <td>now</td>
                            </tr>
                            <tr>
                                <td>þus</td>
                                <td>thus</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            þa...þa.... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>If you see '<em>þa</em>' twice in a sentence, and it is clear that one is not a
                                demonstrative pronoun, then the first <em>þa</em>' would
                                be translated as 'when' and the other 'then'. For example, '<em>Þa he þider ferde þa
                                    mette he þone abbod - When he went thither then he met the abbod</em>'.
                            </p>
                        </div>
                    </div>
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            Hither and Thither... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>The words 'hither' and 'thither' have fallen out of common usage in modern English,
                                but
                                hither means
                                'towards here' (towards the speaker) and 'thither' means 'towards there' (away from
                                the
                                speaker).
                            </p>
                        </div>
                    </div>
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            Hwilum...<i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>'<em>Hwilum</em>' evolved to become 'whilom' in early modern English.
                                However, this is another word that has fallen out of use in modern times. Depending on 
                                context, when used as an adverb it can mean 'once upon a time', 'formerly', 
                                'sometime', or 'for a time'.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 hidden-xs hidden-sm"></div>
            </div>
            <p>Just like adjectives, adverbs can have comparative and superlative forms, and these are formed by
                dropping the '<strong>e</strong>' and adding '<strong>-or</strong>' and '<strong>-ost</strong>'.
                In modern English, we form the comparative by adding 'more' before an adverb, and the superlative
                by adding 'most' before an adverb. For example, '<em>soþe - truly</em>', '<em>soþor - more
                    truly</em>',
                '<em>soþost - most truly</em>'. Examine the below sentence, '<em>Se mæg gedon ðæt ic softor eardian
                    - He can make [it so] that I dwell more at ease</em>'.</p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Se</span></span><br>
                        <span class="red-text">Personal<br>Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">mæg</span></span><br>
                        <span class="green-text">Modal<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">gedon</span></span><br>
                        <span class="green-text">Irregular<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">þæt</span></span><br>
                        <span class="darkyellow-text">Adverb<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">ic</span></span><br>
                        <span class="red-text">Personal<br>Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">softor</span></span><br>
                        <span class="darkyellow-text">Comp.<br>Adverb</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">eardian</span></span><br>
                        <span class="green-text">Weak<br>Verb</span>
                    </div>
                </div>
            </div>
            <p>Just like adjectives, there are some irregular and i-mutated forms of adverbs. These usually take no
                comparative ending, and '<strong>-est</strong>' instead of '<strong>-ost</strong>' for superlative.
                For example, '<em>lange - long</em>', '<em>leng - longer</em>', and '<em>lengest - longest</em>'.
                You'll notice that the adverb forms are almost identical to the adjective form. Not all adverbs
                have comparative and superlative forms.
            </p>
            <div class="text-center padding-top">
                <table class="static-table table-striped three-col-table inline-block">
                    <tr>
                        <th class="hidden-xs">Base Form</th>
                        <th class="hidden-xs">Comparative</th>
                        <th class="hidden-xs">Superlative</th>
                        <th class="visible-xs">Base</th>
                        <th class="visible-xs">Comp</th>
                        <th class="visible-xs">Super</th>
                    </tr>
                    <tr>
                        <td>lange</td>
                        <td>leng</td>
                        <td>lengest</td>
                    </tr>
                    <tr>
                        <td>softe</td>
                        <td>seft</td>
                        <td>seftest</td>
                    </tr>
                    <tr>
                        <td>eaþe</td>
                        <td>ieþ</td>
                        <td>ieþest</td>
                    </tr>
                    <tr>
                        <td>wel</td>
                        <td>betre</td>
                        <td>best</td>
                    </tr>
                    <tr>
                        <td>micel</td>
                        <td>mare</td>
                        <td>mæst</td>
                    </tr>
                    <tr>
                        <td>yfel</td>
                        <td>wiers</td>
                        <td>wierst</td>
                    </tr>
                </table>
            </div>
            <p>Adverbs have not changed significantly in how they are used between Old English and modern English. Since
                they do not decline, you just need to familiarise yourself with the various forms so that you do not
                confuse adjectives and adverbs.</p>
            <a href="adverbs.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Introduction to Adverbs,
                Conjunctions, and Prepositions
            </a>
            <a href="acp3.html" class="float-right darkorange-text padding-top strong">Continue to Conjunctions
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>

	<hr class="border">
	<section>
		<div>
			<h2> Test Your Translation</h2>
			<small>In the textboxes below, translate the word highlighted in bold.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<div id="question-wrapper" class="padding-top" data-question-file="acp2_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>