<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Adverbs, et al') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="adverbs.html"></a>Introduction to Adverbs, Conjunctions,
                        Prepositions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp2.html"> Adverbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp3.html">Conjunctions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Prepositions
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp5.html"> Adverbs, Conjunctions, and Prepositions Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Prepositions</h2>
            <p><span class="initial-letter darkorange-text">P</span>repositions are words that show how a verb relates
                to a noun or pronoun. Most Old English prepositions are still recognisable to a modern English reader,
                as prepositions have changed very little as the language has evolved. However, prepositions in Old
                English govern which case the following noun or pronoun takes. Up until now, almost all nouns paired
                with a preposition have taken the dative case. However, depending on which preposition is used, a noun
                can also take the accusative or genitive case.
            </p>
            <p>The following prepositions usually preceed the dative case, though some can take the accusative in
                specific situations.</p>
            <div class="text-center padding-top">
                <table class="static-table table-striped inline-block">
                    <tr>
                        <th>Old<br>English</th>
                        <th>Modern<br>English</th>
                    </tr>
                    <tr>
                        <td>æfter</td>
                        <td>after</td>
                    </tr>
                    <tr>
                        <td>ær</td>
                        <td>before</td>
                    </tr>
                    <tr>
                        <td>æt</td>
                        <td>to/by way of</td>
                    </tr>
                    <tr>
                        <td>be</td>
                        <td>by/about</td>
                    </tr>
                    <tr>
                        <td>beæftan</td>
                        <td>behind/after</td>
                    </tr>
                    <tr>
                        <td>beforan</td>
                        <td>before/in front of</td>
                    </tr>
                    <tr>
                        <td>betweox</td>
                        <td>between/among</td>
                    </tr>

                    <tr>
                        <td>butan</td>
                        <td>excluding</td>
                    </tr>

                    <tr>
                        <td>eac</td>
                        <td>besides/including</td>
                    </tr>

                    <tr>
                        <td>for</td>
                        <td>for/because of</td>
                    </tr>

                    <tr>
                        <td>fram</td>
                        <td>from/by</td>
                    </tr>

                    <tr>
                        <td>mid</td>
                        <td>with</td>
                    </tr>

                    <tr>
                        <td>of</td>
                        <td>of/from</td>
                    </tr>

                    <tr>
                        <td>ongean</td>
                        <td>against/towards</td>
                    </tr>

                    <tr>
                        <td>to</td>
                        <td>to</td>
                    </tr>
                    <tr>
                        <td>wiþ</td>
                        <td>against</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">
                There are four prepositions which only precede the accusative case. These are '<em>geond - through</em>',
                '<em>oð - until</em>', '<em>þurh - through</em>' and '<em>ymb - surrounding/about</em>'.
            </p>
            <div class="text-center padding-top">
                <table class="static-table table-striped inline-block">
                    <tr>
                        <th>Old<br>English</th>
                        <th>Modern<br>English</th>
                    </tr>
                    <tr>
                        <td>geond</td>
                        <td>through</td>
                    </tr>
                    <tr>
                        <td>oð</td>
                        <td>until</td>
                    </tr>
                    <tr>
                        <td>þurh</td>
                        <td>through</td>
                    </tr>
                    <tr>
                        <td>ymb</td>
                        <td>surrounding/about</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">
                There are a few prepositions which change meaning depending on whether they are followed by a word in the
                accusative or dative.
            </p>
            <div class="text-center padding-top">
                <table class="static-table table-striped inline-block">
                    <tr>
                        <th>Old<br>English</th>
                        <th>Dative<br>English</th>
                        <th>Accusative<br>English</th>
                    </tr>
                    <tr>
                        <td>binnan</td>
                        <td>in/within</td>
                        <td>into</td>
                    </tr>
                    <tr>
                        <td>bufan</td>
                        <td>above/upon</td>
                        <td>over(movement)</td>
                    </tr>
                    <tr>
                        <td>in/innan</td>
                        <td>in</td>
                        <td>into</td>
                    </tr>
                    <tr>
                        <td>ofer</td>
                        <td>abover/over</td>
                        <td>over(movement)</td>
                    </tr>
                    <tr>
                        <td>on</td>
                        <td>on/in</td>
                        <td>onto/into</td>
                    </tr>
                    <tr>
                        <td>under</td>
                        <td>under/beneath</td>
                        <td>under(movement)</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">
                Some prepositions could be considered false friends, as they look like one word but represent another.
                For example, the word '<em>æt</em>' means 'to' and the word '<em>wiþ</em>' means against. It is common
                to see '<em>wiþ</em>' used at the beginning of medical instructions in leechbooks to indicate what the
                recipe is used for, in which case it might be more correct to translate it as 'for'. For example,
                '<em>wiþ aslepnum lic - for a numb body</em>' or '<em>wiþ nædran flite - for a snake bite</em>'.
            </p>
            <a href="acp3.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Conjunctions
            </a>
            <a href="acp5.html" class="float-right darkorange-text padding-top strong">Continue to Adverbs,
                Conjunctions, and Prepositions Overview
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>