<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Adverbs, et al') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="adverbs.html">Introduction to Adverbs, Conjunctions,
                            Prepositions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp2.html"> Adverbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp3.html">Conjunctions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp4.html"> Prepositions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Adverbs, Conjunctions, and Prepositions Overview
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Adverbs, Conjunctions, and Prepositions Overview</h2>
            <p><span class="initial-letter darkorange-text">W</span>hile adverbs, conjunctions, and prepositions
                are often small words, the impact they can have on how you translate a sentence can be quite
                significant.
            </p>
            <h3>Adverbs</h3>
            <p>Adverbs are words that describe verbs, adjectives, and other adverbs in more detail. Unlike nouns and
                adjectives, Old English adverbs are uninflected for case, gender, or number. Adverbs do have comparative
                and superlative forms, which are made by dropping the final vowel in the adverb and adding
                '<strong>or</strong>' or '<strong>ost</strong>'.</p>
            <div class="text-center padding-top">
                <table class="static-table table-striped three-col-table inline-block">
                    <tr>
                        <th class="hidden-xs">Base Form</th>
                        <th class="hidden-xs">Comparative</th>
                        <th class="hidden-xs">Superlative</th>
                        <th class="visible-xs">Base</th>
                        <th class="visible-xs">Comp</th>
                        <th class="visible-xs">Super</th>
                    </tr>
                    <tr>
                        <td>hearde</td>
                        <td>heardor</td>
                        <td>heardost</td>
                    </tr>
                    <tr>
                        <td>soþe</td>
                        <td>soþor</td>
                        <td>soþost</td>
                    </tr>
                    <tr>
                        <td>leoflice</td>
                        <td>leoflicor</td>
                        <td>leoflicost</td>
                    </tr>
                    <tr>
                        <td>eadmodlice</td>
                        <td>eadmodlicor</td>
                        <td>eadmodlicost</td>
                    </tr>
                    <tr>
                        <td>forþ</td>
                        <td>furþor</td>
                        <td>forþost</td>
                    </tr>
                    <tr>
                        <td>oft</td>
                        <td>oftor</td>
                        <td>oftost</td>
                    </tr>
                </table>
            </div>
            <h3>Conjunctions</h3>
            <p>
                Conjunctions are words that join other words, phrases or clauses together. Some are short and easy to
                recognise, for example, '<em>ond - and</em>', '<em>ac - but</em>', or '<em>swa þæt - so that</em>'.
                However, conjunctions also come in pairs that relate sentence elements to each other.
                For example, examine the sentence, '<em>Swa swa lim gefæsnað fel to sumum brede, swa getigð seo
                conivnctio þa word togædere - Just as lime fastens skin to a board, so the conjunction ties words
                together</em>'. In this sentence, the first conjunction '<em>swa swa - just as</em>' and the second
                conjunction '<em>swa - so</em>', work together to relate the first clause to the second.
            </p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">Swa</span></span><br>
                        <span class="white-text">Conj.</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">swa</span></span><br>
                        <span class="white-text">Conj.</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">lim</span></span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">gefæsnað</span></span><br>
                        <span class="green-text">verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">fel</span></span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">to</span></span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">sumum</span></span><br>
                        <span class="blue-text">Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">brede</span></span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">swa</span></span><br>
                        <span class="white-text">Conj.</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">getigð</span></span><br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">seo</span></span><br>
                        <span class="red-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">conivnctio</span></span><br>
                        <span class="red-text">Latin</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">þa</span></span><br>
                        <span class="yellow-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">word</span></span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">togædere</span></span><br>
                        <span class="green-text">Verb</span>
                    </div>
                </div>
            </div>
            <h3>Prepositions</h3>
            <p>Prepositions like '<em>in</em>', '<em>on</em>', '<em>æfter</em>', and '<em>mid</em>' help establish
                relationships in time, space, and among people and things. In Old English, most prepositions are 
                followed by the dative case, but there are specific circumstances where a preposition would be 
                followed by the accusative or genitive.
            </p>
            <a href="acp4.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Prepositions
            </a>
            <a href="wip.html" class="float-right darkorange-text padding-top strong">Continue to Strong Verbs
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>