<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'About') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adjectives.html">Adjectives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adj2.html">Weak Adjectives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adj3.html">Strong Adjectives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Comparatives and Superlatives
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adj5.html">Adjectives Overview</a>
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Comparatives and Superlatives</h2>
			<p><span class="initial-letter darkorange-text">C</span>omparative adjectives are used to compare one
				noun to another noun. For example, this flower is <em>redder</em> than that flower.
				In Old English, the comparative is made by adding '<strong>r</strong>' between the adjective's stem
				and its suffix and it is always declined weak. For example, '<em>Ure hige sceal ðe
					heardra ðe ure mægen lytlaþ - our courage must be harder as our might lessens</em>'.
			</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">Ure</span> </span><br>
						<span class="lightorange-text">Possessive<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">hige</span> </span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">sceal</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="lightpurple-text big-text"><span class="border-bottom">ðe</span> </span><br>
						<span class="lightpurple-text">Demonstrative<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">heardra</span> </span><br>
						<span class="peach-text">Comparative<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="lightpurple-text big-text"><span class="border-bottom">ðe</span> </span><br>
						<span class="lightpurple-text">Relative<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">ure</span> </span><br>
						<span class="lightorange-text">Possessive<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">mægen</span> </span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">lytlaþ</span></span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
				</div>
			</div>
			<p class="padding-top">Superlative adjectives are used to compare one noun to a group. For example,
				this flower is the <em>reddest</em> flower. The superlative is made by adding '<strong>-ost</strong>'
				or, in some cases, '<strong>-st</strong>'. For example, '<em>he god wære hehst ond halgost - he was
					the highest and holiest god</em>'.
			</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">He</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">god</span> </span><br>
						<span class="yellow-text">Direct<br>Object</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">wære</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">hehst</span> </span><br>
						<span class="peach-text">Superlative<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">ond</span> </span><br>
						<span class="white-text">Conjunction<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">halgost</span></span><br>
						<span class="peach-text">Superlative<br>Adjective</span>
					</div>
				</div>
			</div>
			<p class="padding-top">The Old English endings for comparatives and superlatives are relatively similar
				to modern English so you shouldn't have trouble differentiating between the two.
				For example, compare '<em>wise</em>', '<em>wisra</em>' and '<em>wisost</em>'
				with the modern English 'wise', 'wiser' and 'wisest'.
			</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped three-col-table inline-block">
					<tr>
						<th class="hidden-xs">Nominative</th>
						<th class="hidden-xs">Comparative</th>
						<th class="hidden-xs">Superlative</th>
						<th class="visible-xs">Nom</th>
						<th class="visible-xs">Comp</th>
						<th class="visible-xs">Super</th>
					</tr>
					<tr>
						<td>halig</td>
						<td>hailgra</td>
						<td>haligost</td>
					</tr>
					<tr>
						<td>wise</td>
						<td>wisra</td>
						<td>wisost</td>
					</tr>
					<tr>
						<td>heard</td>
						<td>heardra</td>
						<td>heardost</td>
					</tr>
					<tr>
						<td>æðele</td>
						<td>æðelra</td>
						<td>æðelost</td>
					</tr>
					<tr>
						<td>niwe</td>
						<td>niwra</td>
						<td>niwost</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">Several common adjectives undergo 'i-mutation' in the comparative and
				superlative, and have '<strong>-est</strong>' instead of '<strong>-ost</strong>' as the superlative
				suffix. The rules around i-mutation will be covered in more detail in the next module, but for
				now notice that the vowel in the stem changes with '<strong>ea</strong>' becoming
				'<strong>ie</strong>', '<strong>eo</strong>' becoming '<strong>i</strong>', and '<strong>a</strong>'
				becoming '<strong>e</strong>'.
			</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped three-col-table inline-block">
					<tr>
						<th class="hidden-xs">Nominative</th>
						<th class="hidden-xs">Comparative</th>
						<th class="hidden-xs">Superlative</th>
						<th class="visible-xs">Nom</th>
						<th class="visible-xs">Comp</th>
						<th class="visible-xs">Super</th>
					</tr>
					<tr>
						<td>heah</td>
						<td>hiera</td>
						<td>hiehst</td>
					</tr>
					<tr>
						<td>eald</td>
						<td>ieldra</td>
						<td>ieldest</td>
					</tr>
					<tr>
						<td>geong</td>
						<td>gingra</td>
						<td>gingest</td>
					</tr>
					<tr>
						<td>lang</td>
						<td>lengra</td>
						<td>lengest</td>
					</tr>
					<tr>
						<td>strang</td>
						<td>strengra</td>
						<td>strengest</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">There are some adjectives which are just irregular and need to be
				learned. These are, unfortunately, the most commonly used adjectives but you will
				notice that the adjectives that are irregular in Old English are
				the ones that are irregular in modern English. For example, little, less, least; good, better,
				best; and bad, worse, worst; are all recognisable in the declensions below.</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped three-col-table inline-block">
					<tr>
						<th class="hidden-xs">Nominative</th>
						<th class="hidden-xs">Comparative</th>
						<th class="hidden-xs">Superlative</th>
						<th class="visible-xs">Nom</th>
						<th class="visible-xs">Comp</th>
						<th class="visible-xs">Super</th>
					</tr>
					<tr>
						<td>god</td>
						<td>betera</td>
						<td>betest</td>
					</tr>
					<tr>
						<td>lytel</td>
						<td>læssa</td>
						<td>læst</td>
					</tr>
					<tr>
						<td>micel</td>
						<td>mara</td>
						<td>mæst</td>
					</tr>
					<tr>
						<td>yfel</td>
						<td>wiersa</td>
						<td>wierst</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">Comparatives and superlatives decline just like regular adjectives. Comparative
				adjectives always decline weak, while superlative adjectives decline weak or strong depending on
				context. The inflectional suffix is added after the comparative or superlative suffix. For example,
				<em>'ieldran'</em>, <em>'hierran'</em>, <em>'halgostes'</em>, and <em>'wisostum'</em>. Examine the 
				sentence, <em>he sende to Egipta wisoste witan - he sent for Egypt's wisest magicians</em>.</p>
				<div class="text-center padding-top">
					<div class="grammar-box darkgrey-bg">
						<div class="inline-block">
							<span class="red-text big-text"><span class="border-bottom">He</span> </span><br>
							<span class="red-text">Subject<br>Pronoun</span>
						</div>
						<div class="inline-block">
							<span class="green-text big-text"><span class="border-bottom">sende</span> </span><br>
							<span class="green-text">Verb<br>&nbsp;</span>
						</div>
						<div class="inline-block">
							<span class="white-text big-text"><span class="border-bottom">to</span> </span><br>
							<span class="white-text">Preposition<br>&nbsp;</span>
						</div>
						<div class="inline-block">
							<span class="lightorange-text big-text"><span class="border-bottom">Egipta</span> </span><br>
							<span class="lightorange-text">Possessive<br>Noun</span>
						</div>
						<div class="inline-block">
							<span class="peach-text big-text"><span class="border-bottom">wisoste</span> </span><br>
							<span class="peach-text">Superlative<br>Adjective</span>
						</div>
						<div class="inline-block">
							<span class="yellow-text big-text"><span class="border-bottom">witan</span></span><br>
							<span class="yellow-text">Direct<br>Object</span>
						</div>
					</div>
				</div>
			<p class="padding-top">The important thing to remember about comparative adjectives is that they usually
				have a
				suffix containing '<strong>r</strong>', while superlative adjectives have an suffix containing
				'<strong>st</strong>'. You can practice comparatives and superlative adjectives below.</p>
			<a href="adj3.html" class="float-left darkorange-text padding-top strong">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Adjectives
			</a>
			<a href="adj5.html" class="float-right darkorange-text padding-top strong">Continue to
				Adjectives Overview <i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2> Test Your Declensions</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="adj4_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>