<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'About') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adjectives.html">Adjectives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adj2.html">Weak Adjectives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adj3.html">Strong Adjectives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="adj4.html">Comparatives and Superlatives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active"> Adjectives Overview
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Adjectives Overview</h2>
			<p><span class="initial-letter darkorange-text">T</span>o recap, Old English adjectives have
				inflectional endings based on their case, number, gender, and whether they are weak or strong.
				Adjectives can be
				either <strong>strong</strong> or <strong>weak</strong>, and this
				depends on whether the adjective follows a demonstrative pronoun or
				possessive adjective. Examine '<em>god</em>' in these two sentences: '<em>Þæt wæs god cyning - That was
					a good
					king</em>' and '<em>se goda cyning onfeng him - the good king received him</em>'.</p>
			<h3>Weak Adjectives</h3>
			<p>Weak adjectives are used when they are situated between a demonstrative pronoun or possessive
				pronoun and the noun they are modifying. For example, in the sentence '<em>se goda cyning onfeng him -
					the good king received
					him</em>', the adjective '<em>god</em>' is modifying '<em>cyning</em>' which is modified by the
				demonstrative '<em>se</em>'. This means '<em>god</em>' is weak.</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Se</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">goda</span> </span><br>
						<span class="peach-text">Weak<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">cyning</span> </span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">onfeng</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">him</span> </span><br>
						<span class="yellow-text">Object<br>Pronoun</span>
					</div>
				</div>
			</div>
			<p class="padding-top">Most weak adjective endings are '<strong>an</strong>', but the masculine
				nominative
				singular can be recognised by the suffix '<strong>a</strong>', the feminine and neuter nominative
				and the neuter accusative end in '<strong>e</strong>', the genitive plural ends in
				'<strong>ra</strong>' or '<strong>ena</strong>', and the dative plural ends in
				'<strong>um</strong>'.</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped five-col-table inline-block hidden-xs">
					<tr>
						<th>&nbsp;</th>
						<th>Masculine</th>
						<th>Neuter</th>
						<th>Feminine</th>
						<th>Plural</th>
					</tr>
					<tr>
						<td>
							<strong>Nominative</strong>
						</td>
						<td>goda</td>
						<td>gode</td>
						<td>gode</td>
						<td>godan</td>
					</tr>
					<tr>
						<td>
							<strong>Accusative</strong>
						</td>
						<td>godan</td>
						<td>gode</td>
						<td>godan</td>
						<td>godan</td>
					</tr>
					<tr>
						<td>
							<strong>Genitive</strong>
						</td>
						<td>godan</td>
						<td>godan</td>
						<td>godan</td>
						<td>godra/godena</td>
					</tr>
					<tr>
						<td>
							<strong>Dative</strong>
						</td>
						<td>godan</td>
						<td>godan</td>
						<td>godan</td>
						<td>godum</td>
					</tr>
				</table>
				<table class="static-table table-striped three-col-table inline-block visible-xs">
					<tr>
						<th>&nbsp;</th>
						<th>Masculine</th>
						<th>Neuter</th>
					</tr>
					<tr>
						<td>
							<strong>Nom</strong>
						</td>
						<td>goda</td>
						<td>gode</td>
					</tr>
					<tr>
						<td>
							<strong>Acc</strong>
						</td>
						<td>godan</td>
						<td>gode</td>
					</tr>
					<tr>
						<td>
							<strong>Gen</strong>
						</td>
						<td>godan</td>
						<td>godan</td>
					</tr>
					<tr>
						<td>
							<strong>Dat</strong>
						</td>
						<td>godan</td>
						<td>godan</td>
					</tr>
					<tr>
						<th></th>
						<th>Feminine</th>
						<th>Plural</th>
					</tr>
					<tr>
						<td>
							<strong>Nom</strong>
						</td>
						<td>gode</td>
						<td>godan</td>
					</tr>
					<tr>
						<td>
							<strong>Acc</strong>
						</td>
						<td>godan</td>
						<td>godan</td>
					</tr>
					<tr>
						<td>
							<strong>Gen</strong>
						</td>
						<td>godan</td>
						<td>godra/godena</td>
					</tr>
					<tr>
						<td>
							<strong>Dat</strong>
						</td>
						<td>godan</td>
						<td>godum</td>
					</tr>
				</table>
			</div>
			<h3>Strong Adjectives</h3>
			<p>Strong adjectives are used when they modify nouns without any demonstrative or possessive pronoun,
				or when they follow a linking verb (when they are used as predicative adjectives).
				For example, in the sentence '<em>Þæt wæs god cyning - That was a good king</em>',
				even though the sentence has the demonstrative '<em>Þæt</em>', '<em>god</em>' is modifying
				'<em>cyning</em>', which is not modified by a demonstrative. This means that
				'<em>god</em>' is strong. Similarly, in the sentence '<em>seo geonge cwen is wis - the young queen is
					wise</em>'
				the adjective '<em>wis</em>' is strong as it doesn't come between the demonstrative and the noun, but is
				connected to
				the noun by a linking verb, while the adjective '<em>geong</em>' is weak because it comes between the
				demonstrative and the noun.</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Þæt</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">wæs</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">god</span> </span><br>
						<span class="peach-text">Strong<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">cyning</span> </span><br>
						<span class="yellow-text">Object<br>Noun</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Seo</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">geonge</span> </span><br>
						<span class="peach-text">Weak<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">cwen</span> </span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">is</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">wis</span> </span><br>
						<span class="peach-text">Strong<br>Adjective</span>
					</div>
				</div>
			</div>
			<p class="padding-top">Strong adjectives are considered grammatically strong as they have more
				inflectional endings than weak nouns. If you have difficulty remembering the endings,
				consider the endings you learned for strong nouns and demonstratives. For example,
				compare the strong masculine accusative demonstrative
				'<em>&thorn;o<strong>-ne</strong></em>' and the masculine accusative adjective ending
				'<strong>-ne</strong>', or the feminine genitive and dative demonstrative
				'<em>&thorn;&aelig;<strong>-re</strong></em>' and the feminine genitive and dative demonstrative
				'<strong>-re</strong>', or the plural dative noun ending '<strong>-um</strong>' which is shared with
				the masculine and neuter singular adjective endings.</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped five-col-table inline-block hidden-xs">
					<tr>
						<th>&nbsp;</th>
						<th>Masculine</th>
						<th>Neuter</th>
						<th>Feminine</th>
						<th>Plural</th>
					</tr>
					<tr>
						<td>
							<strong>Nominative</strong>
						</td>
						<td>god</td>
						<td>god</td>
						<td>god</td>
						<td>gode/godu/goda</td>
					</tr>
					<tr>
						<td>
							<strong>Accusative</strong>
						</td>
						<td>godne</td>
						<td>god</td>
						<td>gode</td>
						<td>gode/godu/goda</td>
					</tr>
					<tr>
						<td>
							<strong>Genitive</strong>
						</td>
						<td>godes</td>
						<td>godes</td>
						<td>godre</td>
						<td>godra</td>
					</tr>
					<tr>
						<td>
							<strong>Dative</strong>
						</td>
						<td>godum</td>
						<td>godum</td>
						<td>godre</td>
						<td>godum</td>
					</tr>
				</table>
				<table class="static-table table-striped three-col-table inline-block visible-xs">
					<tr>
						<th>&nbsp;</th>
						<th>Masculine</th>
						<th>Neuter</th>
					</tr>
					<tr>
						<td>
							<strong>Nom</strong>
						</td>
						<td>god</td>
						<td>god</td>
					</tr>
					<tr>
						<td>
							<strong>Acc</strong>
						</td>
						<td>godne</td>
						<td>god</td>
					</tr>
					<tr>
						<td>
							<strong>Gen</strong>
						</td>
						<td>godes</td>
						<td>godes</td>
					</tr>
					<tr>
						<td>
							<strong>Dat</strong>
						</td>
						<td>godum</td>
						<td>godum</td>
					</tr>
					<tr>
						<th></th>
						<th>Feminine</th>
						<th>Plural</th>
					</tr>
					<tr>
						<td>
							<strong>Nom</strong>
						</td>
						<td>god</td>
						<td>gode/godu/goda</td>
					</tr>
					<tr>
						<td>
							<strong>Acc</strong>
						</td>
						<td>gode</td>
						<td>gode/godu/goda</td>
					</tr>
					<tr>
						<td>
							<strong>Gen</strong>
						</td>
						<td>godre</td>
						<td>godra</td>
					</tr>
					<tr>
						<td>
							<strong>Dat</strong>
						</td>
						<td>godre</td>
						<td>godum</td>
					</tr>
				</table>
			</div>
			<h3>Comparatives and Superlatives</h3>
			<p>Comparatives and Superlatives remain similar to modern English with comparatives containing an
				'<strong>r</strong>' after the stem but before the suffix, and superlatives gaining the suffix
				'<strong>-ost</strong>'.
				For example, '<em>heardra - harder</em>' and '<em>heardost - hardest</em>'. Examine the sentences,
				'<em>he wæs æðelra on his mode - he was nobler in his mind</em>' and '<em>he wæs manna wisost - he was
					wisest of men</em>'.</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">He</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">wæs</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">æðelra</span> </span><br>
						<span class="peach-text">Comparative<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">on</span> </span><br>
						<span class="white-text">Preposition<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">his</span>
						</span><br>
						<span class="lightorange-text">Possessive<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">mode</span> </span><br>
						<span class="blue-text">Indirect<br>Object</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">He</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">wæs</span> </span><br>
						<span class="green-text">Verb<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">manna</span>
						</span><br>
						<span class="lightorange-text">Possessive<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">wisost</span> </span><br>
						<span class="peach-text">Superlative<br>Adjective</span>
					</div>
				</div>
			</div>
			<p class="padding-top">Most comparatives and superlatives follow this regular pattern. However, some
				undergo a vowel
				change in the stem called 'i-mutation' with '<strong>ea</strong>' becoming
				'<strong>ie</strong>', '<strong>eo</strong>' becoming '<strong>i</strong>', and '<strong>a</strong>'
				becoming '<strong>e</strong>'. There are also four irregular adjectives: '<em>god - good</em>',
				'<em>micel - many/large</em>', '<em>lytel - little/few</em>' and '<em>yfel - evil/bad</em>', which
				should be recognisable from the modern English equivalents.
			</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped three-col-table inline-block">
					<tr>
						<th class="hidden-xs">Nominative</th>
						<th class="hidden-xs">Comparative</th>
						<th class="hidden-xs">Superlative</th>
						<th class="visible-xs">Nom</th>
						<th class="visible-xs">Comp</th>
						<th class="visible-xs">Super</th>
					</tr>
					<tr>
						<td>halig</td>
						<td>hailgra</td>
						<td>haligost</td>
					</tr>
					<tr>
						<td>wise</td>
						<td>wisra</td>
						<td>wisost</td>
					</tr>
					<tr>
						<td>heard</td>
						<td>heardra</td>
						<td>heardost</td>
					</tr>
					<tr>
						<td>æðele</td>
						<td>æðelra</td>
						<td>æðelost</td>
					</tr>
					<tr>
						<td>niwe</td>
						<td>niwra</td>
						<td>niwost</td>
					</tr>
					<tr>
						<td>heah</td>
						<td>hiera</td>
						<td>hiehst</td>
					</tr>
					<tr>
						<td>eald</td>
						<td>ieldra</td>
						<td>ieldest</td>
					</tr>
					<tr>
						<td>geong</td>
						<td>gingra</td>
						<td>gingest</td>
					</tr>
					<tr>
						<td>lang</td>
						<td>lengra</td>
						<td>lengest</td>
					</tr>
					<tr>
						<td>strang</td>
						<td>strengra</td>
						<td>strengest</td>
					</tr>
					<tr>
						<td>god</td>
						<td>betera</td>
						<td>betest</td>
					</tr>
					<tr>
						<td>lytel</td>
						<td>læssa</td>
						<td>læst</td>
					</tr>
					<tr>
						<td>micel</td>
						<td>mara</td>
						<td>mæst</td>
					</tr>
					<tr>
						<td>yfel</td>
						<td>wiersa</td>
						<td>wierst</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">Comparatives always decline weak, while superlatives decline weak or strong depending
				on whether or not they are associated with a demonstrative or possessive pronoun. You can practice
				adjectives
				below.</p>
			<div class="text-center padding-top">
				<a href="adj4.html" class="float-left darkorange-text strong">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Comparatives and
					Superlatives
				</a>
				<a href="assets/pdf/adjectives.pdf" class="darkorange-text strong" download>Download a PDF of this
					module</a>
				<a href="weakandminor.html" class="float-right darkorange-text strong">Continue to
					Weak and Minor Nouns <i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2> Test Your Declensions</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">
				<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="adj5_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>

	<hr class="border">
	<section>
		<h2>Test Your Vocabulary</h2>
		<p>You were introduced to a lot of new vocabulary in this module. Test your understanding of
			those new words by clicking the button below. This opens a modal where you can translate
			words on a flashcard.</p>
		<div class="text-center">
			<button class="solid-button button modal-button" data-toggle="modal" data-target="#fsModal">Test Your
				Vocabulary!</button></div>
		<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-hidden="true">
			<!-- dialog -->
			<div class="modal-dialog">

				<!-- content -->
				<div class="modal-content">

					<!-- header -->
					<div class="modal-header">
						<h1 class="modal-title">
							Test Your Vocabulary
						</h1>
					</div>
					<!-- header -->

					<!-- body -->
					<div class="modal-body" data-question-file="adj_vocab.json">
						<div class="flashcard-row">
							<button class="light-button button translation-button" data-language="old">Old English <i
									class="fas fa-exchange-alt"></i> Modern
								English</button>
						</div>
						<div class="flashcard-row padding-top">
							<div class="flashcard">

							</div>
						</div>

						<div class="flashcard-row">
							<p class="explanatory-text text-center"
								data-text="Translate the above word<span class='hidden-xs'> using the input below</span>">
								Translate the above word<span class="hidden-xs"> using the input below</span></p>
						</div>
						<div class="flashcard-row">
							<input type="text" class="flashcard-answer text-center" data-new-placeholder="e.g. yellow"
								data-old-placeholder="e.g. geolo" placeholder="e.g. yellow">
						</div>

						<div class="flashcard-row">
							<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
							<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
							<button class="light-button button special-character" data-char="&eth;">&eth;</button>
						</div>
						<div class="flashcard-row padding-top">
							<button class="solid-button button flashcard-check center-button"
								aria-label="Check">Check</button>
							<button class="solid-button button try-another center-button hide"
								aria-label="Try Another">Try Another</button>
						</div>
					</div>
				</div>
				<!-- body -->
				<!-- footer -->
				<div class="modal-footer">
					<button class="solid-button button close-button" data-dismiss="modal"
						aria-label="Close">Close</button>
				</div>
				<!-- footer -->

			</div>
			<!-- content -->

		</div>
		<!-- dialog -->

		</div>
		<!-- modal -->
	</section>
</main>