<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Advanced Verbs
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced1.html">Inflected Infinitive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced2.html">Participles</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced3.html">Prefixes</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    
                    
                    
                    </li>
                </ol>
            </div>
            <h2>Further Grammar of Verbs</h2>
            

            <p><span class="initial-letter darkorange-text">B</span>efore we move on to looking at strong verbs, there are some additional
            features of Old English verbs that it is worth knowing about, namely, the inflected infinitive, present and past participles, and the 
            use of prefixes which can change a verb's meaning. In addition to modern English 'lock' <em>lucan</em> and 'unlock' 
            <em>onlucan</em> Old English had
            '<em>belucan - to lock up</em>'; '<em>tolucan - to pull or twist apart</em>' and '<em>gelucan - to lock, but with purpose!</em>
            We will look at these handy prefixes at the end of this lesson, but first we will look at the <strong>inflected infinitive</strong></p>

            <p>If you need a recap of verbs before carrying on, go back to look at <a class="black-text" href="weakverbs.html">Weak Verbs</a>. 
                Otherwise, continue with the lesson.</p>

                <a href="adj5.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adverbs, Conjunctions and Prepositions 
                </a>
                <a href="advanced1.html" class="float-right darkorange-text padding-top strong strong">Continue to Inflected Infinitive
                    
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
            <hr class="border">
            <section>
                <div>