<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced.html">Advanced Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Inflected Infinitive
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced2.html">Participles</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced3.html">Prefixes</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    
                    
                    
                    </li>
                </ol>
            </div>
            <h2>Advanced Verbs</h2>
            <p><span class="initial-letter darkorange-text">T</span>o recap, the infinitive form of the verb is the base form of the verb. In Old English,
                infinitives en in <strong>-an</strong>. When weak verbs are inflected, the <strong>-an</strong> ending is removed, and the inflection
                is added: for example, the infinitive of the Old English verb 'to hear' is '<em>hieran/em>'; the root is <em>hier-</em>; and the 
                present singular inflection/ending <strong>-e</strong> is added to give us '<em>Ic hiere - I hear</em>'.</p>

            <p>In addition to being the 'dictionary form' of the verb, equivalent to modern English 'to hear', the infinitive can also be used following an auxiliary or inflected verb, 
                for example in the sentence 
                '<em>Ic wille hit hieran - I wish to hear it</em>'. The <em>auxiliary + infinitive</em> is a very common construction, as it is in modern English,
                and her the infinitive <em>hieran</em> is translated directly to the modern English infinitive 'to hear'.
            </p>
            <p>However, in Old English we also come across what is known as an <strong>inflected infinitive</strong>. This inflection follows the use
            of the preposition 'to', and rather than the infinitive form, the ending <strong>-enne</strong> is added. So the inflected infinitive of 'to hear'
            is '<em>to hierenne</em>'. Because this inflection is used for emphasis, it is best translated as <em>in order to hear</em>. The inflected
            infinitive also sometimes follows the verb '<em>beon - to be</em>', and here it usually expresses some kind of obligation, and can be translated
            'must', 'should' or 'ought'. See the examples below, both using the inflected infinitive of the verb '<em>healdan - to keep or hold</em>: 
            '<em>þæt land to healdenne - in order to hold the land</em>' and 'þæt eow þearf is to healdenne - it is needful for you to hold'</p>