<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced.html">Further Verb Forms</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                   
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced1.html">Inflected Infinitive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                     <li class="breadcrumb-item active">Participles
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced3.html">Prefixes</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    
                    
                    
                    </li>
                </ol>
            </div>
            <h2>Advanced Verbs</h2>
            <p><span class="initial-letter darkorange-text">P</span>articiples are forms of the verb that function as adjectives. There is 
                a present participle, sometimes called the 'ing form' because it ends in <strong>-ing</strong> and a past participle, which in 
                modern English ends in <strong>-ed</strong> and is usually the same as the past singular form of the verb. Although participles are
                used extensively in modern English in our rather complicated tense system, they are also used as adjectives. Look at the sentences
                below - the first uses the present participle as an adjective, and the second in the formation of the present continuous tense.
                </p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                       
                        
                        <div class="inline-block">
                            <span class="orange-text big-text border-bottom">I</span><br>
                            <span class="orange-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="orange-text big-text"><span class="border-bottom">held</span> </span><br>
                            <span class="orange-text">Verb</span>
                        </div> 
                        <div class="inline-block">
                            <span class="orange-text big-text border-bottom">an</span><br>
                            <span class="orange-text">Article</span>
                        </div>    
                        <div class="inline-block">
                            <span class="orange-text big-text"><span class="border-bottom">eating</span> </span><br>
                            <span class="orange-text">Present Participle</span>
                        </div>
                        <div class="inline-block">
                            <span class="orange-text big-text border-bottom">contest</span><br>
                            <span class="orange-text">Direct Object</span>
                        </div>   
                        
                        
                        </div>
                    
    
                        <br>
                        
                        <div class="inline-block">
                            <span class="orange-text big-text border-bottom">I</span><br>
                            <span class="orange-text">Subject</span>
                        </div>
                    
                        <div class="inline-block">
                            <span class="orange-text big-text"><span class="border-bottom">am</span> </span><br>
                            <span class="orange-text">Verb 'to be'</span>
                        </div>
                         <div class="inline-block">
                            <span class="orange-text big-text border-bottom">eating</span><br>
                            <span class="orange-text">Present Participle</span>
                        </div>   
                        <div class="inline-block">
                            <span class="orange-text big-text"><span class="border-bottom">my</span> </span><br>
                            <span class="orange-text">Possessive</span>
                        </div> 
                        <div class="inline-block">
                            <span class="orange-text big-text"><span class="border-bottom">breakfast</span> </span><br>
                            <span class="orange-text">Direct Object</span>
                        </div>
                         
                        
                    </div>
                </div>
                <p>In Old English, there are also two participles - the past participle ends in <strong>-enge</strong> rather than '-ing',
                and the past particple generally ends in <strong>-ed</strong> or <strong>-od</strong></p> and often has the prefix <strong>ge-</strong>. 
                The past and present participles are used in the formation of verbal constructions, as they are in modern English. For example 
                the verb 'to be' + participle as in '<em>Hit wæs ofer stan getimbrod - It was built on stone</em>' or '<em>Hie ymb þa gatu feohtende wæron - 
                They were always fighting</em>', and the auxilliary + participle 
                construction, as in 'þu hæfst burh getimbrod<em> - You have built a fortress</em>'.</p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                       
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">Hit</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">wæs</span> </span><br>
                            <span class="green-text">Verb 'to be'</span>
                        </div> 
                        <div class="inline-block">
                            <span class="white-text big-text"><span class="border-bottom">ofer</span> </span><br>
                            <span class="white-text">Preposition</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">stan</span><br>
                            <span class="yellow-text">Object</span>
                        </div>    
                        
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">getimbrod</span> </span><br>
                            <span class="green-text">Past Participle</span>
                        
                        </div>
                    
    
                        <br>
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">Hie</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="white-text big-text"><span class="border-bottom">ymb</span> </span><br>
                            <span class="white-text">Preposition</span>
                        </div>
                    
                         <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">þa gatu </span><br>
                            <span class="yellow-text">Object</span>
                        </div>   
                         <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">feohtende</span> </span><br>
                            <span class="green-text">Present Participle</span>
                        </div> 
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">wæron</span> </span><br>
                            <span class="green-text">Verb 'to be'</span>
                        </div> 
                        
                    </div>
                </div>
                
                <p>In addition to functioning as verbals, participles can also be used as adjectives - in fact, this is one defining feature 
                    of participles. In modern English we can say 'the leaping salmon' - using a present participle as an adjective modifying salmon - and also
                    'the murdered man' - using a past participle as an adjective. In Old English you commonly find participles used as adjectives,
                    such as in the phrase <em>'Se slǣpende man - The sleeping man'</em>. When participles are used as adjectives, they also
                    decline (take endings) like adjectives, and follow the grammar of the noun they modify. So, in the sentence <em>'He gefeng slǣpendne man - 
                    He siezed a sleeping man'</em>, the present participle of '<em>slǣpan - to sleep</em>', <em>slǣpende</em>, takes the accusative, masculine 
                    <strong>-ne</strong></strong> ending of strong adjectives.
                </p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                       
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">He</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">gefeng</span> </span><br>
                            <span class="green-text">Verb</span>
                        </div> 
                        
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">slǣpendne</span> </span><br>
                            <span class="green-text">Participle/Adjective</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">man</span><br>
                            <span class="yellow-text">Direct object</span>
                        </div> 
                        </div>
                    </div>
                </div>
                <p>As long as you recognise when a word is functioning as an adjective (i.e. that it is modifying a noun), and remember that
                    participles can function as adjectives, then you won't find them hard to deal with. 
                </p>
                <p>Finally, participles can function as nouns. For example, we might talk in modern English about 'the deceased' or 'the living'. 
                    In both cases, we are using a participle as a noun. Generally, if a participle is used as a noun, you will find it included as 
                    such in a dictionary. 
                </p>
                <p>Have a go at the questions below, which all feature participles - some used as verbals, and some as adjecives. Feel free to use the table to help you with the first batch of questions. You can hide
                    the table
                    at any point by clicking the orange 'Hide Table' button. Otherwise you can continue on to the next
                    topic.</p>
                <a href="advanced.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Advanced Verbs Intro
                </a>
                <a href="advanced2.html" class="float-right darkorange-text padding-top strong strong">Continue to Participles
                    
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
            <hr class="border">
            <section>
                <div>