<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Verb Forms') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced.html">Additional Verb Forms</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced1.html">Inflected Infinitive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                     <li class="breadcrumb-item active">Participles
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced3.html">Prefixes</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced4.html">Additional Verb Forms Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Participles</h2>
            <p><span class="initial-letter darkorange-text">P</span>articiples are forms of the verb that function as adjectives. In modern English there is 
                a present participle, sometimes called the 'ing form' because it ends in <strong>-ing</strong>, and a past participle, which ends in <strong>-ed</strong> and is usually the same as the past singular form of the verb. Although participles are
                used extensively in modern English as verbals in its rather complicated tense system, they are also used as adjectives. Look at the sentences
                below - the first uses the present participle as an adjective, and the second in the formation of the present continuous tense.
                </p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">I</span><br>
                            <span class="red-text">Subject<br>Pronoun</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">held</span> </span><br>
                            <span class="green-text">Strong<br>Verb</span>
                        </div> 
                        <div class="inline-block">
                            <span class="white-text big-text border-bottom">an</span><br>
                            <span class="white-text">Article<br>&nbsp;</span>
                        </div>    
                        <div class="inline-block">
                            <span class="peach-text big-text"><span class="border-bottom">eating</span> </span><br>
                            <span class="peach-text">Present<br>Participle</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">contest</span><br>
                            <span class="yellow-text">Direct<br>Object</span>
                        </div>   
                        <br>
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">I</span><br>
                            <span class="red-text">Subject<br>Pronoun</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">am</span> </span><br>
                            <span class="green-text">Irregular<br>Verb</span>
                        </div>
                         <div class="inline-block">
                            <span class="green-text big-text border-bottom">eating</span><br>
                            <span class="green-text">Present<br>Participle</span>
                        </div>   
                        <div class="inline-block">
                            <span class="lightorange-text big-text"><span class="border-bottom">my</span> </span><br>
                            <span class="lightorange-text">Possessive<br>Pronoun</span>
                        </div> 
                        <div class="inline-block">
                            <span class="yellow-text big-text"><span class="border-bottom">breakfast</span> </span><br>
                            <span class="yellow-text">Direct<br>Object</span>
                        </div>  
                    </div>
                </div>
                <p>In Old English, there are also two participles - the past participle ends in <strong>-ende</strong> rather than '-ing',
                and the past particple generally ends in <strong>-ed</strong> or <strong>-od</strong>, and often has the prefix <strong>(ge-)</strong> - often put inside brackets in dictionaries to show that it isn't always used. 
                </p>
                <h3>Participles Used as Verbals</h3>
                <p>The past and present participles are used in the formation of verbal constructions, as they are in modern English. For example 
                the verb 'to be' + participle is often used, as in '<em>Hit wæs ofer stan getimbrod - It was built on stone</em>' or '<em>Hie ymb þa gatu feohtende wæron - 
                They were fighting around the gate</em>', and the auxilliary + participle 
                construction, as in '<em> þu hæfst burh getimbrod- You have built a fortress</em>'.</p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                       
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">Hit</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">wæs</span> </span><br>
                            <span class="green-text">Verb 'to be'</span>
                        </div> 
                        <div class="inline-block">
                            <span class="white-text big-text"><span class="border-bottom">ofer</span> </span><br>
                            <span class="white-text">Preposition</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">stan</span><br>
                            <span class="yellow-text">Object</span>
                        </div>    
                        
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">getimbrod</span> </span><br>
                            <span class="green-text">Past Participle</span>
                        
                        </div>
                    
    
                        <br>
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">Hie</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="white-text big-text"><span class="border-bottom">ymb</span> </span><br>
                            <span class="white-text">Preposition</span>
                        </div>
                    
                         <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">þa gatu </span><br>
                            <span class="yellow-text">Object</span>
                        </div>   
                         <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">feohtende</span> </span><br>
                            <span class="green-text">Present Participle</span>
                        </div> 
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">wæron</span> </span><br>
                            <span class="green-text">Verb 'to be'</span>
                        </div> 
                        
                    </div>
                </div>
                <h3>Participles Used as Adjectives</h3>
                <p>In addition to functioning as verbals, participles can also be used as adjectives - in fact, this is the defining feature 
                    of participles. In modern English we can say 'the leaping salmon' - using a present participle as an adjective modifying 'salmon' - and also
                    'the murdered man' - using a past participle as an adjective.</p>
                    <p>In Old English you commonly find participles used as adjectives,
                    such as in the phrase <em>'slæpende mann - (a) sleeping man'</em>. When participles are used as adjectives, they also
                    decline (take endings) like adjectives, and follow the grammar of the noun they modify. So, in the sentence <em>'He gefeng slǣpendne mann - 
                    He siezed a sleeping man'</em>, the present participle of '<em>slǣpan - to sleep</em>', <em>slæpende</em>, takes the accusative, masculine 
                    <strong>-ne</strong></strong> ending of strong adjectives.
                </p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                       
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">He</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">gefeng</span> </span><br>
                            <span class="green-text">Verb</span>
                        </div> 
                        
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">slæpendne</span> </span><br>
                            <span class="green-text">Participle/Adjective</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">mann</span><br>
                            <span class="yellow-text">Direct object</span>
                        </div> 
                        </div>
                    </div>
                </div>
                
                <p>
                When a participle is used as an adjective in a weak position (so, after a demonstrative pronoun such as <em>se</em> or a possessive such as 
                <em>his</em>), weak endings are used. In the sentence below, '<em>Grendel gefeng þone slæpendan mann - Grendel grabbed the/that sleeping man</em>',
                the participle adjective <em>slǣpende</em> gets the the accusative singular -an ending of weak adjectives to become <em>slæpendan</em>. 
                </p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                       
                        
                        <div class="inline-block">
                            <span class="red-text big-text border-bottom">Grendel</span><br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">gefeng</span> </span><br>
                            <span class="green-text">Verb</span>
                        </div> 

                        <div class="inline-block">
                            <span class="lightorange-text big-text"><span class="border-bottom">þone</span> </span><br>
                            <span class="lightorange-text">Demonstrative Pronoun</span>
                        </div> 
                        
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">slǣpendan</span> </span><br>
                            <span class="green-text">Participle/Adjective</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">mann</span><br>
                            <span class="yellow-text">Direct object</span>
                        </div> 
                        </div>
                    </div>
                </div>
                <p>As long as you recognise when a word is functioning as an adjective (i.e. that it is modifying a noun), and remember that
                    participles can function as adjectives, then you won't find them hard to deal with. They will still be recognisable as participles
                    because of the <strong>-end-</strong> form in the ending of the word. If you want to recap on adjectives, you can navigate back 
                    to <a class="lightorange-text" href="adj5.html">Adjectives Summary</a>.
                </p>
                <h3>Some Further Pointers</h3>
                <p>One final thing to note about participles is that they can function as nouns. For example, we might talk in modern English about 'the deceased' or 'the living'. 
                    In both cases, we are using a participle as a noun. Generally, if a participle is used as a noun, you will find it included as 
                    such in a dictionary. 
                </p>
                <p>The table below lists some common verbs with their participles: <em>timbrian - to build, bodian - to announce/preach, ricsian - to reign, lufian - to love, 
                    libban - to live, wyrcan - to work/make/do, hergian - to plunder/harry</em>. Use it to complete the sentences below,
                    which all feature participles - some used as verbals, and some as adjecives. Feel free to use the table to help you with the questions. You can hide
                    the table
                    at any point by clicking the orange 'Hide Table' button. Otherwise you can continue on to the next
                    topic.
                </p>
                    <div class="row padding-top">
                        <div class="col-md-8">
                            <div class="grammar-table table-hide">
                                <!-- Nav tabs -->
                                <ul class="nav tabs seven-tabs nav-justified" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#timbriam" aria-controls="timbrian" role="tab" data-toggle="tab">Timbrian</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#bodian" aria-controls="bodian" role="tab" data-toggle="tab">Bodian</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#ricsian" aria-controls="ricsian" role="tab" data-toggle="tab">Ricsian</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#lufian" aria-controls="lufian" role="tab" data-toggle="tab">Lufian</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#libban" aria-controls="libban" role="tab" data-toggle="tab">Libban</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#wyrcan" aria-controls="wyrcan" role="tab" data-toggle="tab">Wyrcan</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#hergian" aria-controls="hergian" role="tab" data-toggle="tab">Hergian</a>
                                    </li>
                                </ul>
                    <!-- Tab panes -->
                    <div class="tab-content full">
                        <div role="tabpanel" class="text-center tab-pane active" id="timbrian">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                               
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic timbrie</td>
                                    <td>Ic timbrode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u timbrast</td>
                                    <td>&THORN;u timbrodest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo timbraþ</td>
                                    <td>He/Hit/Heo timbrode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie timbriaþ</td>
                                    <td>We/Ge/Hie timbrodon</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Participles</strong>
                                    </td>
                                    <td>timbriende</td>
                                    <td>(ge)timbrod</td>
                                </tr>
                                
                            </table>
                        </div>
                        <div role="tabpanel" class="text-center tab-pane" id="bodian">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                               
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic bodie</td>
                                    <td>Ic bodode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u bodast</td>
                                    <td>&THORN;u bododest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo bodaþ</td>
                                    <td>He/Hit/Heo bodode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie bodiaþ</td>
                                    <td>We/Ge/Hie bododon</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Imperative sing.</strong>
                                    </td>
                                    <td>bodiende</td>
                                    <td>(ge)bodod</td>
                                </tr>
                                
                            </table>
                        </div>
                        <div role="tabpanel" class="text-center tab-pane" id="ricsian">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                               
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic ricsie</td>
                                    <td>Ic ricsode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u ricsast</td>
                                    <td>&THORN;u ricsodest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo ricsaþ</td>
                                    <td>He/Hit/Heo ricsode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie ricsiaþ</td>
                                    <td>We/Ge/Hie ricsodon</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Participles</strong>
                                    </td>
                                    <td>ricsiende</td>
                                    <td>(ge)ricsod</td>
                                </tr>
                                
                            </table>
                        </div>
                        <div role="tabpanel" class="text-center tab-pane" id="lufian">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic lufie</td>
                                    <td>Ic lufode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u lufast</td>
                                    <td>&THORN;u lufodest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo lufaþ</td>
                                    <td>He/Hit/Heo lufode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie lufiaþ</td>
                                    <td>We/Ge/Hie lufodon</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Participles</strong>
                                    </td>
                                    <td>lufiende</td>
                                    <td>(ge)lufod</td>
                                </tr>
                               
                            </table>
                        </div>
                        <div role="tabpanel" class="text-center tab-pane" id="libban">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic libbe</td>
                                    <td>Ic lifde</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u leofast</td>
                                    <td>&THORN;u lifdest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo leofaþ</td>
                                    <td>He/Hit/Heo lifde</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie libbaþ</td>
                                    <td>We/Ge/Hie lifdon</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Participles</strong>
                                    </td>
                                    <td>libbende</td>
                                    <td>(ge)lifd</td>
                                </tr>
                               
                            </table>
                        </div>
                        <div role="tabpanel" class="text-center tab-pane" id="wyrcan">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic wyrce</td>
                                    <td>Ic worhte</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u wyrcst</td>
                                    <td>&THORN;u worhtest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo wyrcþ</td>
                                    <td>He/Hit/Heo worhte</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie wyrcaþ</td>
                                    <td>We/Ge/Hie worhton</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Imperative sing.</strong>
                                    </td>
                                    <td>wyrcende</td>
                                    <td>(ge)worht</td>
                                </tr>
                                <tr>
                                   
                            </table>
                        </div>
                        <div role="tabpanel" class="text-center tab-pane" id="hergian">
                            <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                
                                <tr>
                                    <th></th>
                                    <th>Present Tense</th>
                                    <th>Past Tense</th>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>1st Person Singular</strong>
                                    </td>
                                    <td>Ic hergige</td>
                                    <td>Ic hergode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>2nd Person Singular</strong>
                                    </td>
                                    <td>&THORN;u hergast</td>
                                    <td>&THORN;u hergodest</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>3rd Person Singular</strong>
                                    </td>
                                    <td>He/Hit/Heo hergaþ</td>
                                    <td>He/Hit/Heo hergode</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Plural</strong>
                                    </td>
                                    <td>We/Ge/Hie hergiaþ</td>
                                    <td>We/Ge/Hie hergodon</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Imperative sing.</strong>
                                    </td>
                                    <td>hergiende</td>
                                    <td>(ge)hergod</td>
                                </tr>
                                <tr>
                                    
                            </table>
                        </div>
                    </div>
                </div>
                <button class="solid-button button" id="hide-submit">
                    <span class="label-hide">Hide Table</span>
                    <span class="label-show hide">Show Table</span>
                </button>
                <br><br>
            </div>
        </div>
                <a href="advanced1.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Inflected Infinitive
                </a>
                <a href="advanced3.html" class="float-right darkorange-text padding-top strong strong">Continue to Prefixes
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
        </main>