<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Verb Forms') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Additional Verb Forms
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced2.html">Inflected Infinitive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced3.html">Participles</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced4.html">Prefixes</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced5.html">Additional Verb Forms Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Additional Verb Forms</h2>
            <p><span class="initial-letter darkorange-text">B</span>efore we move on to looking at strong verbs, there
                are some additional
                features of Old English verbs that it is worth knowing about, namely, the <strong>inflected
                    infinitive</strong>, <strong>participles</strong>, and the
                use of <strong>prefixes</strong>.</p>
            <h3>Inflected Infinitive</h3>
            <p>The <strong>inflected infinitive</strong> is often used in clauses expressing a purpose, and can
                often be translated as
                'in order to' + the verb in question. This form always follows the preposition 'to'
                and usually ends with <strong>-enne</strong>.</p>
            <h3>Participles</h3>
            <p>Participles are verb forms which function as adjectives, but they are also often used in the formation
                of tenses in modern English. Modern English has a present participle, ending in <strong>-ing</strong> and a past participle ending
                in <strong>-ed</strong> for weak verbs. We can use the present participle of a verb like 'to talk' both to form tenses like the past continuous
                '<em>I was talking</em>' and as an adjective, '<em>The talking dog</em>'. We will see that participles in Old English can be used in 
                 much the same way.
            </p>
            <h3>Prefixes</h3>
            <p>Finally, Old English makes extensive use of prefixes which change the meaning of the verb they are
                attached to.
                In addition to modern English 'lock' <em>lucan</em> and 'unlock' <em>onlucan</em>, Old English had
                '<em>belucan - to lock up</em>'; '<em>tolucan - to pull or twist apart</em>' and '<em>gelucan - to lock,
                    but with purpose</em>. 
                    <p>
                We will cover these handy prefixes at the end of this lesson, but first we will look at the
                <strong>inflected infinitive</strong>. If you need a recap of verbs before carrying on, go back to look at <a class="darkorange-text"
                    href="weakverbs.html">Weak Verbs</a>.
                Otherwise, continue with the lesson.</p>

            <a href="adj5.html" class="float-left darkorange-text padding-top strong strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adverbs, Conjunctions and
                Prepositions
            </a>
            <a href="advanced1.html" class="float-right darkorange-text padding-top strong strong">Continue to Inflected
                Infinitive
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
    </section>
</main>