<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Verb Forms') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced.html">Additional Verb Forms</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Inflected Infinitive
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced2.html">Participles</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced3.html">Prefixes</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="advanced4.html">Additional Verb Forms Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Inflected Infinitive</h2>
            <p><span class="initial-letter darkorange-text">T</span>o recap, the <strong>infinitive</strong> is the base
                form of the verb.
                In Old English, infinitives end in <strong>-an</strong>. When verbs are inflected, the
                <strong>-an</strong> ending is removed,
                and the inflection is added: for example, the infinitive of the Old English verb 'to flow' is
                '<em>flowan</em>'; the root
                is <em>flow-</em>; and the present singular inflection/ending <strong>-e</strong> is added to give us
                '<em>Ic flowe - I flow</em>'.</p>

            <p>In addition to being the 'dictionary form' of the verb, equivalent to modern English 'to hear', the
                infinitive can also be used
                following an auxiliary or inflected verb
                for example in the sentence
                '<em>He het streamas flowan - He ordered streams to flow</em>'. The <em>auxiliary verb + infinitive</em> is a very
                common construction,
                as it is in modern English,
                and here the infinitive <em>flowan</em> can be translated directly by the modern English infinitive 'to
                flow'.</p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">He</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">het</span> </span><br>
                        <span class="green-text">Inflected verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">streamas</span><br>
                        <span class="yellow-text">Direct Object</span>
                    </div>

                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">flowan</span> </span><br>
                        <span class="green-text">Infinitive</span>

                    </div>
                </div>
            </div>
            <p>However, in Old English we also come across what is known as an <strong>inflected infinitive</strong>.
                This inflection follows the preposition 'to', and rather than the infinitive form, the ending
                <strong>-enne</strong> is added. So the inflected infinitive of 'to flow'
                is '<em>to flowenne</em>'. Because this inflection can be used for emphasis, it is often best translated
                as '<em>in order to</em>', in this case '<em>in order to flow</em>''. The inflected
                infinitive also sometimes follows the verb '<em>beon - to be</em>', and here it usually expresses some
                kind of obligation, and can be translated
                using 'must', 'should' or 'ought'. See the examples below, both using the inflected infinitive of the
                verb '<em>healdan - to keep or hold</em>:
                '<em>Hie timbrodon byrig, þæt land to healdenne - They built forts in order to hold the land</em>' and
                <em>'Eow mæst þearf is daglic fasten to healdenne -
                    - 'It is very needful for you to hold daily fasts</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">Hie</span><br>
                        <span class="red-text">Subject<br>Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">timbrodon</span> </span><br>
                        <span class="green-text">Weak<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">byrig,</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">þæt land</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">to healdenne</span> </span><br>
                        <span class="green-text">Inflected<br>Infinitive</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">Eow</span><br>
                        <span class="red-text">Subject<br>Pronoun</span>
                    </div>

                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">mæst</span> </span><br>
                        <span class="darkyellow-text">Adverb<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="peach-text big-text border-bottom">þearf</span><br>
                        <span class="peach-text">Adjective<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">is</span> </span><br>
                        <span class="green-text">Irregular<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="peach-text big-text"><span class="border-bottom">daglic</span> </span><br>
                        <span class="peach-text">Adjective<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">fasten</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">to healdenne</span> </span><br>
                        <span class="green-text">Inflected<br>Infinitive</span>
                    </div>
                </div>
            </div>
            <p>When you come across inflected infinitives, look at the context to see how they should best be
                translated.
                Often 'in order to' is the best translation, but use the rest of the sentence to help you out.
                In the second sentence above, there is an obligation being expressed (it is <em>most needful</em>), and here a simple translation 'to hold' makes most sense.
            </p>
            <div class="text-center">
                <table class="static-table table-striped three-col-table inline-block table-hide">
                    <tr>
                        <td colspan="3">
                            <strong>Inflected Infinitives</strong>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Infinitive</th>
                        <th>Inflected Infinitive</th>
                    </tr>
                    <tr>
                        <td>
                            <strong>to hear</strong>
                        </td>
                        <td>hieran</td>
                        <td>to hierenne</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>to have</strong>
                        </td>
                        <td>habban</td>
                        <td>to hæbbenne</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>to help</strong>
                        </td>
                        <td>helpan</td>
                        <td>to helpenne</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>to drink</strong>
                        </td>
                        <td>drincan</td>
                        <td>to drincenne</td>
                    </tr>
                </table>
                <button class="solid-button button" id="hide-submit">
                    <span class="label-hide">Hide Table</span>
                    <span class="label-show hide">Show Table</span>
                </button>
            </div>
            <br>
        </div>
        <br>
        </div>
        </div>
        </div>
        <p>Now you know the distinction between infinitives and inflected infinitives, have a go at the questions below.
            Feel free to use the table to help you with the first batch of questions. You can hide
            the table
            at any point by clicking the orange 'Hide Table' button. Otherwise you can continue on to the next
            topic.</p>
        <a href="advanced.html" class="float-left darkorange-text padding-top strong strong">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Advanced Verbs Intro
        </a>
        <a href="advanced2.html" class="float-right darkorange-text padding-top strong strong">Continue to Participles

            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </section>
</main>