<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Adverbs, et al') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Introduction to Adverbs, Conjunctions, Prepositions
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp2.html">Adverbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp3.html"> Conjunctions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp4.html"> Prepositions</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="acp5.html"> Adverbs, Conjunctions, and Prepositions Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Introduction to Adverbs, Conjunctions, and Prepositions</h2>
            <p><span class="initial-letter darkorange-text">A</span>dverbs, conjunctions and prepositions are the small
                but important words you find between the nouns, adjectives and verbs.
            </p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Þa</span> </span><br>
                        <span class="red-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">huntan</span> </span><br>
                        <span class="red-text">Weak<br>Masculine</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">seah</span> </span><br>
                        <span class="green-text">Strong<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">þa</span> </span><br>
                        <span class="yellow-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">idesa</span> </span><br>
                        <span class="yellow-text">Strong<br>Feminine</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">ond</span></span><br>
                        <span class="white-text">Conj.<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">þa</span></span><br>
                        <span class="yellow-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">cildru</span></span><br>
                        <span class="yellow-text">Minor<br>Neuter</span>
                    </div>
                </div>
            </div>
            <p>An <strong>adverb</strong> is a word or an expression that modifies a verb, adjective, determiner, clause, preposition, or sentence.</p>
            <p>A <strong>preposition</strong> </p>
            <p>A <strong>conjunction</strong> </p>
            <a href="adj5.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adjectives Overview
            </a>
            <a href="wam2.html" class="float-right darkorange-text padding-top strong">Continue to Weak Nouns
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>