<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Advanced Pronounciation Guide') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<h1 class="remove-margin padding-bottom">Advanced Pronunciation Guide</h1>
			<p> The letters of the Old English are: <strong>A B C D E F G H I K L M N O P Q R S T U X Y Ƿ Þ Ð
					Æ</strong>.</p>
			<p>
				You'll notice that, unlike modern English, there is no <strong>'j'</strong>, <strong>'v'</strong>,
				<strong>'w'</strong>, or <strong>'z'</strong>, but that's not to say
				these sounds are not represented in Old English. Similarly, you'll notice there are four letters
				which are not present in modern English: <strong>Ƿ</strong>, <strong>Þ</strong>, <strong>Ð</strong>,
				<strong>Æ</strong>. The Old English wynn, Ƿ, is phonetically identical
				to the modern 'w' and so is replaced by 'w' in the material below to prevent confusion with the
				letter 'p'.</p>
			<p>
				Let's explore how these letters sound, starting with the consonants. The consonants below are
				categorised by their place of articulation.
				You can select any of the coloured IPA symbols in the row below to hear how they sound.</p>
			<section>
				<h2 class="text-center">Consonants</h2>
				<div class="text-center">
					<div class="inline-block phonetic-container red-border">
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="red-text strong">P</span>reost</div>
							<button class="audio-button red-text medium-text">p</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_bilabial_plosive.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="red-text strong">B</span>iscop</div>
							<button class="audio-button red-text medium-text">b</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_bilabial_plosive.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="red-text strong">M</span>ann</div>
							<button class="audio-button red-text medium-text">m</button>
							<audio class="audio-link">
								<source src="assets/audio/Bilabial_nasal.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="red-text strong">W</span>if </div>
							<button class="audio-button red-text medium-text">w</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_labio-velar_approximant.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="red-bg strong phonetic-name">Bilabial</div>
						<small class="hidden-xs">Both lips <br>pressed together</small class="hidden-xs">
					</div>
					<div class="inline-block phonetic-container orange-border">
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="lightorange-text strong">F</span>æder</div>
							<button class="audio-button lightorange-text medium-text">f</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_labiodental_fricative.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word">Heo<span class="lightorange-text strong">f</span>an</div>
							<button class="audio-button lightorange-text medium-text">v</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_labiodental_fricative.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="orange-bg strong phonetic-name">Labiodental</div>
						<small class="hidden-xs">Bottom lip <br>against top teeth</small class="hidden-xs">

					</div>
					<div class="inline-block phonetic-container yellow-border">
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="medyellow-text strong">&THORN;</span>æt</div>
							<button class="audio-button medyellow-text medium-text">θ</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_dental_fricative.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word">Fer<span class="medyellow-text strong">ð</span></div>
							<button class="audio-button medyellow-text medium-text">ð</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_dental_fricative.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="yellow-bg strong phonetic-name">Dental</div>
						<small class="hidden-xs">Tongue <br>against teeth</small class="hidden-xs">
					</div>
					<div class="inline-block phonetic-container green-border">
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkgreen-text strong">T</span>un</div>
							<button class="audio-button darkgreen-text medium-text">t</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_alveolar_plosive.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkgreen-text strong">D</span>&aelig;g</div>
							<button class="audio-button darkgreen-text medium-text">d</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_alveolar_plosive.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkgreen-text strong">S</span>um</div>
							<button class="audio-button darkgreen-text medium-text">s</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_alveolar_sibilant.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word">Dy<span class="darkgreen-text strong">s</span>ig</div>
							<button class="audio-button darkgreen-text medium-text">z</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_alveolar_sibilant.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkgreen-text strong">N</span>iht</div>
							<button class="audio-button darkgreen-text medium-text">n</button>
							<audio class="audio-link">
								<source src="assets/audio/Alveolar_nasal.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkgreen-text strong">L</span>ar</div>
							<button class="audio-button darkgreen-text medium-text">l</button>
							<audio class="audio-link">
								<source src="assets/audio/Alveolar_lateral_approximant.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="green-bg strong phonetic-name">Alveolar</div>
						<small class="hidden-xs">Tongue against<br>alveolar ridge</small class="hidden-xs">

					</div>
					<div class="inline-block phonetic-container blue-border">
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkblue-text strong">R</span>est</div>
							<button class="audio-button darkblue-text medium-text">r</button>
							<audio class="audio-link">
								<source src="assets/audio/Alveolar_trill.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkblue-text strong">Sc</span>yld</div>
							<button class="audio-button darkblue-text medium-text">ʃ</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_palato-alveolar_sibilant.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="darkblue-text strong">C</span>ild</div>
							<button class="audio-button darkblue-text medium-text">tʃ</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_palato-alveolar_affricate.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word">Bry<span class="darkblue-text strong">cg</span></div>
							<button class="audio-button darkblue-text medium-text">ʒ</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_palato-alveolar_sibilant.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="blue-bg strong phonetic-name">Postalveolar</div>
						<small class="hidden-xs">Tongue near <br> alveolar ridge</small class="hidden-xs">
					</div>
					<div class="inline-block phonetic-container navy-border">
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="navy-text strong">G</span>ear</div>
							<button class="audio-button navy-text medium-text">j</button>
							<audio class="audio-link">
								<source src="assets/audio/Palatal_approximant.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="darkblue-bg strong white-text phonetic-name">Palatal</div>
						<small class="hidden-xs">Mid tongue <br> against palate</small class="hidden-xs">
					</div>
					<div class="inline-block phonetic-container purple-border">
						<div class="inline-block">
							<div class="phonetic-eg-word">Bo<span class="purple-text strong">g</span>a</div>
							<button class="audio-button purple-text medium-text">ɣ</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_velar_fricative.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="purple-text strong">C</span>yning</div>
							<button class="audio-button purple-text medium-text">k</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiceless_velar_plosive.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word"><span class="purple-text strong">G</span>od</div>
							<button class="audio-button purple-text medium-text">g</button>
							<audio class="audio-link">
								<source src="assets/audio/Voiced_velar_plosive.ogg" type="audio/ogg">
							</audio>
						</div>
						<div class="inline-block">
							<div class="phonetic-eg-word">Sa<span class="purple-text strong">ng</span></div>
							<button class="audio-button purple-text medium-text">ŋ</button>
							<audio class="audio-link">
								<source src="assets/audio/Velar_nasal.ogg" type="audio/ogg">
							</audio>
						</div>
						<br>
						<div class="purple-bg strong white-text phonetic-name">Velar</div>
						<small class="hidden-xs">Back of tongue<br> against palate</small class="hidden-xs">
					</div>
					<div class="svg-face">
						<svg id="face" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 299.32 247.03">
							<defs>
								<style>
									.cls-1 {
										fill: #454545;
									}

									.cls-2 {
										fill: none;
									}

									.cls-3 {
										fill: red;
									}

									.cls-10,
									.cls-3,
									.cls-4,
									.cls-5,
									.cls-6,
									.cls-7,
									.cls-8,
									.cls-9 {
										stroke: #000;
										stroke-miterlimit: 10;
										stroke-width: 0.25px;
									}

									.cls-4 {
										fill: #009e07;
									}

									.cls-5 {
										fill: #f6882f;
									}

									.cls-6 {
										fill: #f6882e;
									}

									.cls-7 {
										fill: #fff31a;
									}

									.cls-8 {
										fill: #00bfa9;
									}

									.cls-9 {
										fill: #002c5a;
									}

									.cls-10 {
										fill: purple;
									}
								</style>
							</defs>
							<title>Colour-coded place of articulation diagram</title>
							<path class="cls-1"
								d="M57.94,95.59c0-.3-2.21,5.86-3.9,11.41-1.26,4.13-.94,8-0.93,11.34,0,3.7-.35,6.87-3.57,9.36-1.65,1.33-3.7,1.71-6.43,1.79A7.25,7.25,0,0,1,39,128.3a5.8,5.8,0,0,1-3-3.3c-1.06-1.4-1.51-3.59-1.59-6.28-0.27-9.39,4-24.81,2.49-33.32C21.36,80.8,2.45,83.67,1,65.5a6.11,6.11,0,0,1,1.41-4.41C9.88,52.23,39.13,18.57,52.24-1H72L72.28-.28C66,4.49,60.76,11.3,55.58,17.22c-2.84,3.23-16.7,17.93-18.64,20.48a178,178,0,0,1-25.2,27,8.11,8.11,0,0,0,2.18,5.79,6.45,6.45,0,0,0,8.44.86,11.4,11.4,0,0,1,6-2,6.54,6.54,0,0,1,5,1.69c4.22,3.78,13.76,11.38,16.22,11.66,6.75-8.37,33.47-12.56,54.2-13.5,39,0.31,95.24,5.28,95.4,41.4a9.85,9.85,0,0,0-2.7,1.8c-10.29-2.66-13.08-15.8-21.6-20.7-26.35-15.16-71.25-7.89-97.2,1.8-1,3-1.39,8.82-3.6,10.8-1.29,2.45-14.23,7.34-15.3,6.3-1.11-1.65-1-5.22-.92-8.22"
								transform="translate(-1 1)" />
							<path class="cls-1"
								d="M218.24,143.84C229.58,57.23,182.08,14.52,175,5.24A28.13,28.13,0,0,0,170.11,0h96.4s40.89,31.65,32.73,102.44l-16,97.93a32.47,32.47,0,0,0,1,14.55c3,9.92,7.19,20.79,7.71,29.71l-22.57.11c-3.27-12.79-16.92-26-24.19-39.29-11.2-20.5-18.68-38.63-27-61.6"
								transform="translate(-1 1)" />
							<path class="cls-1"
								d="M198.24,194.73c2.49-5.73,6.84-15.51,12.6-17.1v0.9a103.18,103.18,0,0,1,.9,11.7c-1.29,1.15-2.94,6-4.5,9-6.84,13.26-8.19,31.61,2.4,46.8h-41.4c-6.1-23.59-18.56-29.66-43.2-35.1-21-4.62-55.14,5.6-71.1-3.6a11.33,11.33,0,0,1-5.19-5.58c-7.07-10.4.53-17.72-3.81-29.82-3.06-8.56-10-13.28-9.47-24.05a6.81,6.81,0,0,1,3.62-5.71,15,15,0,0,1,6.66-1.68A7,7,0,0,1,50,141.6,12.64,12.64,0,0,1,54.13,146l4.32,13.31c3.85,9.29,5,15,17.24,16a7.35,7.35,0,0,0,7.22-4.06c1.83-3.69,2.59-7.88-.76-12-4-3.91-9.47-6.06-11.25-11.53A2.3,2.3,0,0,1,72.05,145c6.12-3,13-6.77,20-9.11,5.5-1.83,18-2.7,18-2.7,42.17,0,68.65,10.27,81,39.6,2.72,6.46,3.08,18.25,5.4,21.9h1.8v0.06Z"
								transform="translate(-1 1)" />
							<path class="cls-1" d="M58.64,94.73" transform="translate(-1 1)" />
							<path class="cls-2" d="M33.47,119.29h0Z" transform="translate(-1 1)" />
							<path class="cls-3" d="M48,138.52a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,48,138.52Z"
								transform="translate(-1 1)" />
							<path class="cls-3"
								d="M47.87,130.13a3.62,3.62,0,1,1-7.24,0,3.4,3.4,0,0,1,3.62-3.59A3.4,3.4,0,0,1,47.87,130.13Z"
								transform="translate(-1 1)" />
							<path class="cls-4" d="M85.39,94.62a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,85.39,94.62Z"
								transform="translate(-1 1)" />
							<path class="cls-4"
								d="M83.12,138.52a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,83.12,138.52Z"
								transform="translate(-1 1)" />
							<path class="cls-5"
								d="M59.64,142.21a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,59.64,142.21Z"
								transform="translate(-1 1)" />
							<path class="cls-6" d="M64.88,113a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,64.88,113Z"
								transform="translate(-1 1)" />
							<path class="cls-7"
								d="M75.89,142.21a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,75.89,142.21Z"
								transform="translate(-1 1)" />
							<path class="cls-7" d="M74.89,107a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,74.89,107Z"
								transform="translate(-1 1)" />
							<path class="cls-8"
								d="M102.14,93.71a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,102.14,93.71Z"
								transform="translate(-1 1)" />
							<path class="cls-8"
								d="M103.71,131.13a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,103.71,131.13Z"
								transform="translate(-1 1)" />
							<path class="cls-9" d="M121.64,86a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,121.64,86Z"
								transform="translate(-1 1)" />
							<path class="cls-9" d="M123.64,130a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,123.64,130Z"
								transform="translate(-1 1)" />
							<path id="purple-2" data-name="purple" class="cls-10"
								d="M156.62,87.23a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,156.62,87.23Z"
								transform="translate(-1 1)" />
							<path id="purple-3" data-name="purple" class="cls-10"
								d="M148.62,132.23a3.62,3.62,0,1,1-7.24,0A3.62,3.62,0,0,1,148.62,132.23Z"
								transform="translate(-1 1)" />
						</svg>
					</div>
				</div>
				<p>You'll notice in the above examples that some letters can represent multiple sounds.
					There are specific rules governing when to change the sound of a consonant.
				</p>
				<p>
					<span class="initial-letter">F</span>
					is pronounced the same as the modern English <span class="strong lightorange-text">[f]</span>
					when at the start or end of a
					word, or when it is beside an unvoiced consonant.
					However, it is pronounced like <span class="strong lightorange-text">[v]</span> if it comes
					between two vowels (<em>heofan, seofan, yfel</em>), or between a vowel and a voiced consonant
					within a word (<em>wulfas</em>).</p>
				<p>
					<span class="initial-letter">S</span> also changes in the same way, being pronounced like <span
						class="darkgreen-text strong">[z]</span> when
					between two vowels (<em>dysig, husian, ceosan</em>).
				</p>
				<p>
					<span class="initial-letter">C</span> is pronounced <span
						class="darkblue-text strong">[tʃ]</span>
					like 'ch' when before or after a front vowel (i, e,
					æ), for example, <em>cild, lice, ceaster</em> are pronounced 'child', 'lich', and 'chester'. If
					'c'
					comes before or after a back vowel (a, o, u) or a consonant, it is pronounced
					like <span class="strong purple-text">[k]</span>, for example, <em>cyning, cræft, cnapa</em>.
				</p>
				<p>
					<span class="initial-letter">G</span> can be pronounced one of three ways depending on what it
					occurs in a word.
					Before front vowels (i, e, æ), the 'g' is pronounced <span class="navy-text strong">[j]</span>,
					like a modern 'y' in 'yet'. For
					example,
					<em>&thorn;egen, geond, werig</em>.
					If 'g' is before or after a consonant or back vowel (a, o, u), the g is pronounced <span
						class="purple-text strong">[g]</span>
					like in 'garden'. For example, <em>god, gar, lang</em>.
					Between two back vowels, g is pronounced <span class="purple-text strong">[ɣ]</span>.
					For example, <em>boga, dragan</em>. This
					sound is no
					longer used in modern English and is hard for Anglophones to pronounce.
				</p>
				<p>
					<span class="initial-letter">Sc</span> is pronounced <span class="strong darkblue-text">[ ʃ
						]</span> like the modern English 'sh', so words like
					<em>biscop, scip, fisc, scyld</em> are all pronounced like their modern English equivalents,
					bishop, ship, fish and shield.
					There are only two instances where 'sc' is pronounced like 'sk'. The first is if the 'sc'
					occurs due to a compound like '<em>iscald</em> - ice cold'. The
					second is when 'sc' occurs before or after a back vowel (a, o, u). For example, <em>ascian</em>
					and <em>tusc</em> are pronounced 'askian' and 'tusk'.
				</p>
				<p>
					<span class="initial-letter">Cg</span> in Old English is pronounced <span
						class="darkblue-text strong">[ʒ]</span>
					like 'dg' in modern English. So
					'<em>brycg</em>' is pronounced just like its modern equivalent 'bridge'. Similarly,
					'<em>ecg</em>'
					is pronounced like its modern equivalent 'edge'.
				</p>
				<p>
					As you may have noticed, in many instances where a consonant changes sound in Old English, it
					is
					preserved in the modern
					English spelling. We write 'heaven', 'ship', 'bridge', 'ask' and 'dizzy' as these are how the
					words have always
					been pronounced and the letters we use to represent these sounds have evolved. However, it is
					important to remember that <strong>there are no silent letters</strong> in Old English so
					all letters are pronounced.
				</p>
			</section>
			<section class="padding-top">
				<h2 class="text-center">Vowels</h2>
				<p>Vowels can be sorted into two categories: back vowels and front
					vowels. <strong>Back vowels</strong> are vowels produced with the tongue further back in the
					mouth like (a, o, u). <strong>Front vowels</strong> are vowels produced with the tongue in the
					front of the mouth like (i, e, æ).</p>
				<p>Vowels can also be <strong>long</strong> or <strong>short</strong>. In linguistics, vowel length
					is the perceived duration of a vowel sound and in Old English, vowel length can substantially
					change how a word is said, and how a word is conjugated. In the table below, the long vowels
					are
					marked with a macron (¯) above the letter.</p>
				<div class="text-center padding-top table-scroll-container">
					<table class="static-table table-striped four-col-table inline-block">
						<tr>
							<td colspan="4">
								<strong>Old English Vowels</strong>
							</td>
						</tr>
						<tr>
							<th>Written Letter</th>
							<th>IPA Symbol</th>
							<th>Explanation</th>
							<th>Old English</th>
						</tr>
						<tr>
							<td>
								a
							</td>
							<td><button class="audio-button darkorange-text">[a]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Open_front_unrounded_vowel.ogg" type="audio/ogg">
								</audio></td>
							<td>like the 'a' in 'can'</td>
							<td><button class="audio-button darkorange-text"><em>abbod</em><i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio></td>
						</tr>
						<tr>
							<td>
								ā
							</td>
							<td><button class="audio-button darkorange-text">[ɑ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Open_back_unrounded_vowel.ogg" type="audio/ogg">
								</audio></td>
							<td>like the 'a' in 'artist'</td>
							<td><button class="audio-button darkorange-text"><em>swa</em><i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio></td>
						</tr>
						<tr>
							<td>æ</td>
							<td><button class="audio-button darkorange-text">[æ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Near-open_front_unrounded_vowel.ogg" type="audio/ogg">
								</audio></td>
							<td>like the 'a' in 'mat'</td>
							<td><button class="audio-button darkorange-text"><em>&thorn;æt</em><i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio></td>
						</tr>
						<tr>
							<td>ǣ</td>
							<td><button class="audio-button darkorange-text">[ä]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Open_central_unrounded_vowel.ogg" type="audio/ogg">
								</audio></td>
							<td>like the 'a' in 'bad'</td>
							<td><button class="audio-button darkorange-text">ærest<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio></td>
						</tr>
						<tr>
							<td>e</td>
							<td>
								<button class="audio-button darkorange-text">[ɛ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Open-mid_front_unrounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'e' in 'bed'</td>
							<td><button class="audio-button darkorange-text">engel<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio></td>
						</tr>
						<tr>
							<td>ē</td>
							<td>
								<button class="audio-button darkorange-text">[eɪ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'ay' in 'may'</td>
							<td><button class="audio-button darkorange-text">cwen<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio></td>
						</tr>
						<tr>
							<td>i</td>
							<td>
								<button class="audio-button darkorange-text">[ɪ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Near-close_near-front_unrounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'i' in 'bit'</td>
							<td>
								<button class="audio-button darkorange-text">scip<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>ī</td>
							<td>
								<button class="audio-button darkorange-text">[i]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Close_front_unrounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'ee' in 'seen'</td>
							<td>
								<button class="audio-button darkorange-text">isen<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>o</td>
							<td>
								<button class="audio-button darkorange-text">[ɒ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Open_back_rounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'o' in 'cough'</td>
							<td>
								<button class="audio-button darkorange-text">dohtor<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>ō</td>
							<td>
								<button class="audio-button darkorange-text">[o]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Close-mid_back_rounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'o' in 'so'</td>
							<td>
								<button class="audio-button darkorange-text">boc<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>u</td>
							<td>
								<button class="audio-button darkorange-text">[ʊ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Near-close_near-back_rounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'u' in 'pull'</td>
							<td>
								<button class="audio-button darkorange-text">lufu<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>ū</td>
							<td>
								<button class="audio-button darkorange-text">[u]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Close_back_rounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'oo' in 'cool'</td>
							<td>
								<button class="audio-button darkorange-text">nu<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>y</td>
							<td>
								<button class="audio-button darkorange-text">[y]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Close_front_rounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'ew' in 'few'</td>
							<td>
								<button class="audio-button darkorange-text">cyning<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
						<tr>
							<td>ȳ</td>
							<td>
								<button class="audio-button darkorange-text">[ʏ]<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/Near-close_near-front_rounded_vowel.ogg" type="audio/ogg">
								</audio>
							</td>
							<td>like the 'u' in 'mule'</td>
							<td>
								<button class="audio-button darkorange-text">fyr<i
										class="far fa-play-circle"></i></button>
								<audio class="audio-link">
									<source src="assets/audio/#" type="audio/ogg">
								</audio>
							</td>
						</tr>
					</table>
				</div>
				<p class="padding-top">It is more helpful to think in terms of sounds rather than letters, when
					considering the construction of Old English words. While long and short vowels are not marked
					in
					manuscripts, sound changes are not arbitrary, and how a vowel is pronounced can greatly affects
					how a word conjugates or declines.
				</p>
			</section>
			<section>
				<h2 class="text-center">Stress</h2>
				<p>
					Much like modern English, the stress usually falls on the first syllable of the word.
					An exception to this is the prefix '<em>ge</em>', which is used to form the past participle.
					This prefix is never stressed.
					Compound words, such as <em>swinhyrde</em> or <em>wordhord</em>, have a secondary stress on the
					root syllable of the second word.
				</p>
			</section>
		</div>

	</section>
</main>