<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Cases 4') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-sm-12">
			<div class="bc-icons-2">
			<!-- Breadcrumb-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a class="black-text" href="courseindex.html">Index</a>

					<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
				</li>
				<li class="breadcrumb-item">
					<a class="black-text" href="cases.html"> Cases </a>
					<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
				</li>
				<li class="breadcrumb-item">
					<a class="black-text" href="cases2.html"> Nom and Gen Strong Masc Nouns </a>
					<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
				</li>
				<li class="breadcrumb-item">
					<a class="black-text" href="cases3.html"> Acc and Dat Strong Masc Nouns </a>
					<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
				</li>
				<li class="breadcrumb-item active">Demonstratives
					<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
				</li>
				<li class="breadcrumb-item">
					<a class="black-text" href="cases5.html"> Strong Masc Nouns Overview </a>
				</li>
			</ol>
		</div>
		<!--Close Breadcrumb-->
			<h2>Nominative and Genitive Demonstrative Pronouns</h2>
		<p>
			<span class="initial-letter darkorange-text strong">Y</span>ou may have noticed that in the paradigm table for strong masculine nouns that the nouns were preceded
			by
			<i>se</i>,
			<i>þa</i>,
			<i>þone</i>
			<i>þara</i>,
			<i>þæs</i> and
			<i>þæm</i>. These are
			<strong>demonstratives</strong> and function in the same way as the definite article ‘the’ or the demonstrative pronouns ‘that’ and 'those'.
		</p>
		<br>
		<div class="text-center">
		<table class="static-table table-striped three-col-table inline-block">
			<tr>
				<td colspan="3">
					<strong>Strong Masculine Demonstratives</strong>
				</td>
			</tr>
			<tr>
				<th></th>
				<th>Singular</th>
				<th>Plural</th>
			</tr>
			<tr>
				<td>
					<strong>Nominative</strong>
				</td>
				<td>se</td>
				<td>&thorn;a</td>
			</tr>
			<tr>
				<td>
					<strong>Accusative</strong>
				</td>
				<td>&thorn;one</td>
				<td>&thorn;a</td>
			</tr>
			<tr>
				<td>
					<strong>Genitive</strong>
				</td>
				<td>&thorn;&aelig;s</td>
				<td>&thorn;ara</td>
			</tr>
			<tr>
				<td>
					<strong>Dative</strong>
				</td>
				<td>&thorn;æm</td>
				<td>&thorn;æm</td>
			</tr>
		</table>
		</div>
		<br>
		<p>
			A noun and all its modifiers, including demonstrative pronouns, always share the same case, gender and number. This is called
			<strong>case harmony</strong> and means that demonstratives are a good way of figuring out the case a noun is in.
		</p>
		<!--Grammar Box-->
		<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block float-left">
						<span class="red-text medium-text"><span class="border-bottom">se</span> cyning</span><br>
						<span class="red-text">Singular Nominative</span>
					</div>
					<div class="inline-block float-right">
						<span class="lightred-text medium-text"><span class="border-bottom">þa</span> cyning<span class="border-bottom">as</span> </span><br>
						<span class="lightred-text">Plural Nominative</span>
					</div>
					<br>
					<div class="inline-block float-left">
						<span class="yellow-text medium-text"><span class="border-bottom">&thorn;one</span> cyning</span><br>
						<span class="yellow-text">Singular Accusative</span>
					</div>
					<div class="inline-block float-right">
						<span class="darkyellow-text medium-text"><span class="border-bottom">þa</span> cyning<span class="border-bottom">as</span> </span><br>
						<span class="darkyellow-text">Plural Accusative</span>
					</div>
					<br>
					<div class="inline-block float-left">
						<span class="lightorange-text medium-text"><span class="border-bottom">þ&aelig;s</span> cyning<span class="border-bottom">es</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
						<span class="lightorange-text">Singular Genitive</span>
					</div>
					<div class="inline-block float-right">
						<span class="peach-text medium-text"><span class="border-bottom">þara</span> cyning<span class="border-bottom">a</span></span><br>
						<span class="peach-text">Plural Genitive</span>
					</div>
					<br>
					<div class="inline-block float-left">
						<span class="blue-text medium-text"><span class="border-bottom">&thorn;&aelig;m</span> cyning<span class="border-bottom">e</span> &nbsp;&nbsp;</span><br>
						<span class="blue-text">Singular Dative</span>
					</div>
					<div class="inline-block float-right">
						<span class="darkblue-text medium-text"><span class="border-bottom">&thorn;&aelig;m</span> cyning<span class="border-bottom">um</span></span><br>
						<span class="darkblue-text">Plural Nominative</span>
					</div>
				</div>
			</div>
		<p>Old English does not generally have an indefinite article (what would be the modern English ‘a’ or 'an'), though
			<i>sum</i> — some and
			<i>an</i> — one, occasionally function in this role.</p>
			<a href="cases3.html" class="float-left darkorange-text padding-top">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Acc and Dat Strong Masc Nouns
			</a>
			<a href="cases5.html" class="float-right darkorange-text padding-top">Continue to Strong Masc Nouns and Cases Overview
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		<br>
			</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2> Test Yourself! </h2>
			<small>In the textboxes below, enter the demonstrative pronoun you believe goes with the noun.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="cases4_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>