<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper">
	<div class="container no-container-padding">
		<section class="row">
			<div class="col-sm-12">
				<p class="georgia padding-bottom"><span class="initial-letter darkorange-text strong">O</span>ld
					English is the ancestor of modern English and was spoken in early medieval England. This website
					is designed to help you learn Old English, whether you are a complete
					beginner or an advanced learner. It will introduce you, topic by topic, to the structure
					and sound of the Old English language in easy to digest chunks with plenty of opportunity to
					practice along the way.
				</p>
				<hr class="line">
			</div>
		</section>
		<section class="row card-row">
				<div class="col-sm-4 card-wrapper first-card">
					<a href="oestart.html">
						<div class="card left-card-image">
							<div class="card-content">
								<h3 class="card-title text-center">Start from the Beginning</h3>
								<p>If you are new to Old English, or just want to begin with the basics, you
									should start here!</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-4 card-wrapper">
					<a href="courseindex.html">
						<div class="card middle-card-image">
							<div class="card-content">
								<h3 class="card-title text-center">See the Course Index</h3>
								<p class="text-center">If you need to revise a specific topic, you can choose modules
									directly from the
									Course Index.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-4 card-wrapper">
					<a href="history.html">
						<div class="card right-card-image">
							<div class="card-content">
								<h3 class="card-title text-center">History of Old English</h3>
								<p>New to Old English and looking for a background to the language? You'll find it
									here.</p>
							</div>
						</div>
					</a>
				</div>
			</section>
	</div>
</main>