<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Page Title' ) -%>

        <main id="mainwrapper" class="container">
            <section class="row">
                <div class="col-12-sm">
                    <h1><em>Pater Noster</em></h1>
                    <p class="padding-top">The <em>Pater Noster</em>, sometimes known as 'The Lord's Prayer'
                        is a Christian prayer which is found in both the Gospel of Matthew and the Gospel of
                        Luke.</p>
                        <p>Many versions of this prayer have survived in Old English. For example, on f.37r 
                        of the Lindisfarne Gospels, the <em>Pater Noster</em> is written in Latin with an above-line 
                        gloss in a Northumbrian dialect of Old English. Corpus Christi College MS 140, which contains 
                        the four gospels in Old English, preserves the prayer in the West-Saxon dialect. This makes the prayer
                        an incredibly useful tool for analysing changes in Old English, both in space and time, and also for
                        comparing it against other languages spoken by Christians from the same time period.
                    </p>
                    <p>The following is a transcription from f.159v of <strong>British Library Cotton MS Tiberius C
                            I</strong>.</p>

                    <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

                    <a href="text_pater_noster.html" class="float-right darkorange-text padding-top strong">Continue to
                        Text
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </section>
        </main>