<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Page Title' ) -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <h1><em>Anglo-Saxon Chronicle 888 and 889</em></h1>
            <p class="padding-top">The Anglo-Saxon Chronicles are a collection of <abbr
                    title="A record of events arranged in yearly sequence">annals</abbr> in Old English, chronicling
                historical events in early medieval England. While the earliest recorded date is 60BC, the original
                manuscript was likely composed in the late in
                the 9th century during the reign of Alfred the Great (r. 871–899). However, all nine surviving versions
                are copies which were updated independently in various monasteries across England.
            </p>
            <p>
                Since the chronicles were updated independently, they do not always record the same events, and in some
                cases they record events differently. Most copies end after 1079, only the
                Peterborough Chronicle continues after this, ending with an unfinished entry for 1154.
            </p>

            <p>The following is an excerpt from f.38r of <strong>British Museum, Cotton MS.Tiberius B</strong>, also known as the Anglo-Saxon Chronicle D or
                The Worcester Chronicle. It includes the complete entries for the year 888 and 889. </p>
            <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

            <a href="text_as_788.html" class="float-right darkorange-text padding-top strong">Continue to Text <i
                    class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>