<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Page Title' ) -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <h1><em>Aelfric's Preface to Genesis</em></h1>
            <p class="padding-top">The Old English Hexateuch is a manuscript containing the first six books of the Old
                Testament: Genesis, Exodus, Leviticus, Numbers, Deuteronomy and Joshua. It is the earliest surviving
                example of an English translation of these texts.
            </p>
            <p>Though the manuscript is generally attributed to the Benedictine monk Ælfric, the abbot of Eynsham, he only
                wrote the preface to Genesis and Genesis up to the story of Isaac. It is thought to have been compiled at the beginning of the 11th century.</p>
            <p>The following is a transcription from f.1v of <strong>British Library Cotton MS. Claudius B IV</strong>, and is an excerpt from the preface to Genesis.</p>

            <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

            <a href="text_aelfric_genesis.html" class="float-right darkorange-text padding-top strong">Continue to Text
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>