<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Page Title' ) -%>

        <main id="mainwrapper" class="container">
            <section class="row">
                <div class="col-12-sm">
                    <h1><em>Interrogationes Sigwylfi Presbiteri</em></h1>
                    <p class="padding-top">The '<em>Interrogationes Sigwylfi Presbiteri</em>', also known as ‘Questions
                        about
                        Genesis’, was originally a late-8th century Latin commentary on the Book of Genesis by the English scholar Alcuin
                        of York, in which he addresses the questions of a priest named Sigewulf.

                    <p>Though he studied under Archbishop Ecgbert at York, Alcuin became a teacher at the Carolingian
                        court at the invitation of King Charlemagne, and it was there he
                        wrote the commentaries. It was translated into Old English by
                        Ælfric of Eynshamin the 10th Century.</p>

                    <p>The following is a transcription from f.230r of <strong>Cotton MS Julius E VII</strong> and is
                        the full introduction to the '<em>Interrogationes</em>'.</p>
                    <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

                    <a href="text_sigewulfi.html" class="float-right darkorange-text padding-top strong">Continue to
                        Text
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </section>
        </main>