<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Page Title' ) -%>

        <main id="mainwrapper" class="container">
            <section class="row">
                <div class="col-12-sm">
                    <h1><em>The Dicts of Cato</em></h1>
                    <p class="padding-top">
                        Marcus Porcius Cato was a Roman Republican statesman who lived 234–149 BC. However,
                        though the proverbs are generally labeled as the Old English Dicts of Cato,
                        they often include local proverbs as well as proverbs from the
                        Alfredian Boethius and the Book of Deuteronomy.
                        Furthermore, the proverbs were most likely composed during the 3rd or 4th century AD, 
                        long after Cato himself had died.
                    </p>
                    <p>
                        The dicts were a popular text in medieval classrooms, used to teach
                        grammar, rhetoric and metrics, and several Middle English translations exist
                        showing its continued use.
                    </p>
                    <p>
                        There are three surviving 12th century copies of the Old English dicts:
                        <strong>British Museum MS. Cotton Vespasian
                            D.XIV</strong>, <strong>British Museum MS. Cotton Julius A.II</strong>, and <strong>Trinity College
                                Cambridge MS. R.9.17</strong>. The following
                        is a transcription from Trinity College
                        Cambridge MS. R.9.17., a manuscript which also includes other educational texts such as
                        Aelfric's
                        Grammar.
                    </p>


                    <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

                    <a href="text_dicts_cato.html" class="float-right darkorange-text padding-top strong">Continue
                        to Text <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </section>
        </main>