<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Page Title' ) -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <h1><em>Bald's Leechbook</em></h1>
            <p class="padding-top">
                Bald's Leechbook is a compilation of medical texts likely composed in
                the ninth century. It gets its name from a Latin <abbr
                    title="annotation left by a scribe with information about its authorship and printing">colophon</abbr>:
                <em>Bald habet hunc librum Cild quem conscribere iussit</em> - Bald owns this book which he
                ordered Cild to compile. While the manuscript is collectively known as Bald's leechbook, the inscription
                occurs after the first two books, while a collection of 73 medicinal recipes appears after it. These are
                known as Leechbook III.
            </p>
            <p>The term 'leechbook' is a slightly misleading modernisation of 'l&aelig;ceboc', where '<em>l&aelig;ce -
                    doctor</em>', and
                '<em>boc - book</em>'. It has nothing to do with leeches.</p>
            <p>Bald's Leechbook survives in only manuscript: <strong>British Library Royal MS 12 D XVII</strong>. The
                following is a transcription from f20v of that manuscript.</p>
            <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

            <a href="text_balds_cold.html" class="float-right darkorange-text padding-top strong">Continue
                to Text <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>