<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Page Title' ) -%>

        <main id="mainwrapper" class="container">
            <section class="row">
                <div class="col-12-sm">
                    <h1><em>Excerptiones de Arte Grammatica Anglice</em></h1>
                    <p class="padding-top">The <em>Excerptiones de Arte Grammatica Anglice</em> or Excerpts of the Art
                        of Grammar in English, is
                        a Latin grammar book originally written in Old English by the English monk, <strong>Ælfric of Eynsham</strong>, around
                        998AD. It is an introduction to the basics of Latin
                        grammar, starting with the alphabet and continuing through more
                        difficult aspects like cases and conjugations. 
                    </p>

                    <p>There are fifteen surviving copies of the Grammar, though not all are complete editions. However,
                        the number of surviving copies is not the only sign of how popular and important this work was. 
                        The preface to the text found in <strong>Bodleian Library MS. Hatton 20</strong> was glossed in Latin in the 13th century, showing
                        not only its
                        continued use but also how much the English language had shifted by this point, since Latin was
                        more
                        intelligible to an English monk than Old English. In the 16th century, &aelig;lfric's Grammar was also instrumental in allowing scholars to reconstruct
                        the Old
                        English language, serving as an entry point to the largely forgotten language of Old English for those already trained in Latin.
                    </p>

                    <p>The following is a small excerpt from Aelfric’s preface to the grammar in which he lays out his
                        reasoning for composing the text. It was transcribed from f.1v and f.2r of <strong>Cambridge MS Hh.1.10</strong>.</p>
                    <a href="textselect.html" class="float-left darkorange-text padding-top strong strong">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Text Selection </a>

                    <a href="text_aelfric_preface.html" class="float-right darkorange-text padding-top strong">Continue to Text <i
                            class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </div>
            </section>
        </main>