<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irregular.html">Irregular Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Beon and Wesan
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv3.html">Don and Gan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv4.html">Willan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv5.html">Irregular Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Irregular Verbs</h2>
            <p><span class="initial-letter darkorange-text">T</span>he most common verb in any language is the verb for
                'to be'. '<em>Beon</em>' is what's called a <abbr
                    title="suppletion is when one word is used as the inflected form of another word when the two words do not have the same root">suppletive</abbr>
                verb, and uses forms from at least three different roots. There were two distinct present stems, for
                which both
                '<em>wesan</em>' and '<em>beon</em>' are infinitive forms. They have slightly different uses.</p>
                <p>The verb '<em>wesan</em>' is generally used to express a present form of 'to be'.</p>
                o the present tense needs to express a continuing
                state, such as
                <em>Example - example</em>, the passing moment, such as <em>example - example</em>, and the both the
                future and future
                perfect tenses such as <em>example - example</em> and <em>example - example</em>
            <p>However, while there is technically no future tense in Old English, the verb '<em>beon</em>' is often used to express
                permanent truths, sometimes referred to as 'gnomic' truths, such as
                <em>wyrd biþ ful aræd - fate is fully inexorable</em> and the future tense.</p>
            <p>You'll notice in the table below that both '<em>beon</em>' and '<em>wesan</em>' share the same past tense
                forms.</p>

            <div class="row padding-top text-center">
                <table class="static-table table-striped inline-block">
                    <tr>
                        <td colspan="4">
                            <strong>To Be</strong>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Beon</th>
                        <th>Wesan</th>
                        <th>Past</th>
                    </tr>
                    <tr>
                        <td>
                            <strong>1st Person Singular</strong>
                        </td>
                        <td>beo</td>
                        <td>eom</td>
                        <td>wæs</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>2nd Person Singular</strong>
                        </td>
                        <td>bist</td>
                        <td>eart</td>
                        <td>wære</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>3rd Person Singular</strong>
                        </td>
                        <td>biþ</td>
                        <td>is</td>
                        <td>wæs</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Plural</strong>
                        </td>
                        <td>beoþ</td>
                        <td>sind</td>
                        <td>wæron</td>
                    </tr>
                </table>
            </div>

        </div>
        <p></p>
        </div>
        <a href="irregular.html" class="float-left darkorange-text padding-top">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Introduction to Irregular Verbs
        </a>
        <a href="irgv3.html" class="float-right darkorange-text padding-top">Continue to Don and Gan
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        </div>
    </section>
</main>