<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irregular.html">Irregular Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv2.html">Beon and Wesan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv3.html">Gan and Don</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv4.html">Willan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Irregular Verbs Overview
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Irregular Verbs Overview</h2>
            <p><span class="initial-letter darkorange-text">A</span>s you have seen, irregular verbs do not
                exactly follow standard patterns of conjugation, though they retain many of the suffix we see
                in other verb declensions. Once you know a verb is irregular, and are aware of major stem changes,
                like '<em>ga</em>' to '<em>eode</em>' or '<em>eom</em>' to '<em>wæs</em>' you should be able to
                figure out the number and tense of the word.
            </p>
            <p class="padding-top">With the exception of </em></p>
            <!--overview note for desktop-->
            <div class="hidden-xs  padding-top">
                <table class="overview-table table-striped">
                    <tr>
                        <th></th>
                        <th colspan="3" class="text-center">Beon and Wesan - to be</th>
                        <th colspan="2" class="text-center">Gan - to go</th>
                        <th colspan="2" class="text-center">Don - to do</th>
                        <th colspan="2" class="text-center">Willan - to want</th>
                    </tr>
                    <tr>
                        <td class="strong">1st</td>
                        <td>beo</td>
                        <td>eom</td>
                        <td>wæs</td>
                        <td>ga</td>
                        <td>eode</td>
                        <td>do</td>
                        <td>dyde</td>
                        <td>wille</td>
                        <td>wolde</td>
                    </tr>
                    <tr>
                        <td class="strong">2nd</td>
                        <td>bist</td>
                        <td>eart</td>
                        <td>wære</td>
                        <td>gæst</td>
                        <td>eodest</td>
                        <td>dest</td>
                        <td>dydest</td>
                        <td>wilt</td>
                        <td>woldest</td>
                    </tr>
                    <tr>
                        <td class="strong">3rd</td>
                        <td>biþ</td>
                        <td>is</td>
                        <td>wæs</td>
                        <td>gæþ</td>
                        <td>eode</td>
                        <td>deþ</td>
                        <td>dyde</td>
                        <td>wile</td>
                        <td>wolde</td>
                    </tr>
                    <tr>
                        <td class="strong">Plural</td>
                        <td>beoþ</td>
                        <td>sind</td>
                        <td>wæron</td>
                        <td>gaþ</td>
                        <td>eodon</td>
                        <td>doþ</td>
                        <td>dydon</td>
                        <td>wilaþ</td>
                        <td>woldon</td>
                    </tr>
                </table>
            </div>
            <!--overview note for mobile-->
            <div class="visible-xs">
                <table class="mobile-overview-table table-striped">
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center">Fremman - to do</th>
                    </tr>
                    <tr>
                        <td class="strong">1st</td>
                        <td>fremme</td>
                        <td>fremede</td>
                    </tr>
                    <tr>
                        <td class="strong">2nd</td>
                        <td>fremest</td>
                        <td>fremedest</td>
                    </tr>
                    <tr>
                        <td class="strong">3rd</td>
                        <td>fremeþ</td>
                        <td>fremede</td>
                    </tr>
                    <tr>
                        <td class="strong">Plural</td>
                        <td>fremmaþ</td>
                        <td>fremedon</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center">Nerian - to save</th>
                    </tr>
                    <tr>
                        <td class="strong">1st</td>
                        <td>nerie</td>
                        <td>nerede</td>
                    </tr>
                    <tr>
                        <td class="strong">2nd</td>
                        <td>nerest</td>
                        <td>neredest</td>
                    </tr>
                    <tr>
                        <td class="strong">3rd</td>
                        <td>nereþ</td>
                        <td>nerede</td>
                    </tr>
                    <tr>
                        <td class="strong">Plural</td>
                        <td>neriaþ</td>
                        <td>neredon</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center">Hieran - to hear</th>
                    </tr>
                    <tr>
                        <td class="strong">1st</td>
                        <td>hiere</td>
                        <td>hierde</td>
                    </tr>
                    <tr>
                        <td class="strong">2nd</td>
                        <td>hierst</td>
                        <td>hierdest</td>
                    </tr>
                    <tr>
                        <td class="strong">3rd</td>
                        <td>hierþ</td>
                        <td>hierde</td>
                    </tr>
                    <tr>
                        <td class="strong">Plural</td>
                        <td>hieraþ</td>
                        <td>hierdon</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">You can download a pdf of this module using the link below. The pdfs contain a glossary of all vocabulary
                used in the module. Otherwise, feel free to practice the irregular verbs below or continue on to the
                next module.</p>
        </div>
        <div class="text-center padding-top">
            <a href="irgv3.html" class="float-left darkorange-text">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Willan
            </a>
            <a href="assets/pdf/irgv.pdf" class="darkorange-text" download>Download a PDF of this
                module</a>
            <a href="irgv5.html" class="float-right darkorange-text">Continue to Adjectives
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
        </div>
    </section>
    <hr class="border">
    <section>
        <div>
            <h2> Test Yourself! </h2>
            <small>In the textboxes below, fill out the fully declined version of the verb 'to be'.</small>
        </div>
        <form name="form1" autocomplete="OFF">
            <p>
                <button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
                <button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
                <button class="light-button button special-character" data-char="&eth;">&eth;</button>
                <sub>Use these buttons to insert thorn, ash and eth when you have an input
                    selected.</sub>
            </p>
            <div id="question-wrapper" data-question-file="irgv4_answers.json">
            </div>
            <div class="form-group">
                <button class="solid-button button" id="submit">Check</button>
                <button class="solid-button button hidden" id="again">Try Again?</button>
            </div>
        </form>
    </section>
</main>