<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Irregular Verbs
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv2.html">Beon and Wesan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv3.html">Don</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv4.html">Willan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv5.html">Gan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv6.html">Irregular Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Irregular Verbs</h2>
            <p><span class="initial-letter darkorange-text">I</span>n addition to Weak Verbs and Strong Verbs, Old
                English has five irregular verbs. The five verbs are: <strong>beon</strong> - to be,
                <strong>wesan</strong> - to be, <strong>don</strong> - to do, <strong>willan</strong> - to wish,
                <strong>gan</strong> - to go.</p>
            <p>These five verbs are some of the most commonly used verbs, so you will need to familiarise yourself with
                them. </p>
            <p>Let's take a look at how the related verbs '<em>beon</em>' and '<em>wesan</em>'
                conjugate.</p>
        </div>
        <a href="pro6.html" class="float-left darkorange-text padding-top">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Pronouns Overview
        </a>
        <a href="irgv2.html" class="float-right darkorange-text padding-top">Continue to Beon and Wesan
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        </div>
    </section>
</main>