<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Irregular Verbs
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv2.html">Beon and Wesan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv3.html">Gan and Don</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv4.html">Willan</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="irgv5.html">Irregular Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Introduction to Irregular Verbs</h2>
            <p><span class="initial-letter darkorange-text">I</span>n addition to Weak and Strong verbs, Old
                English has five irregular verbs: <strong>beon</strong> - to be,
                <strong>wesan</strong> - to be, <strong>don</strong> - to do, <strong>gan</strong> - to go,
                <strong>willan</strong> - to wish.</p>
            <p>These verbs are irregular as they do not follow the same conjugation patterns as weak or
                strong verbs, and some are a blend of multiple older verbs meaning their present and past
                tense look very different. For example, look at the two examples below
                and compare '<em>Ic eom yrþlingc - I am a farmer</em>' with '<em>Ic wæs yrþlingc - I was a farmer</em>'.
                Similarly, look at the present and past tense of '<em>Heo gæþ to cyrcan - She goes to church</em>'
                and '<em>Heo eode to cyrcan - She went to church</em>'.</p>
            <div class="row">
                <!-- Container for grammar box to make them side by side-->
                <!--Grammar Box-->
                <div class="text-center col-sm-6">
                    <div class="grammar-box darkgrey-bg float-right full-width">
                        <div class="inline-block">
                            <span class="red-text big-text"><span class="border-bottom">Ic</span> </span><br>
                            <span class="red-text">Personal<br>Pronoun</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">eom</span>&nbsp;</span> <br>
                            <span class="green-text">Present<br>Tense</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text"><span class="border-bottom">yrþlingc</span>
                            </span><br>
                            <span class="yellow-text">Direct<br> Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text big-text"><span class="border-bottom">Ic</span> </span>
                            <br>
                            <span class="red-text">Personal<br>Pronoun</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">wæs</span>&nbsp;</span><br>
                            <span class="green-text">Past<br>Tense</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text"> <span class="border-bottom">yrþlingc</span>
                            </span><br>
                            <span class="yellow-text">Direct<br> Object</span>
                        </div>
                    </div>
                </div>
                <!--Grammar Box-->
                <div class="text-center col-sm-6">
                    <div class="grammar-box darkgrey-bg float-left full-width">
                        <div class="inline-block">
                            <span class="red-text big-text"><span class="border-bottom">Heo</span>&nbsp; </span><br>
                            <span class="red-text">Personal<br>Pronoun</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">gæþ</span>&nbsp;</span><br>
                            <span class="green-text">Present<br>Tense</span>
                        </div>
                        <div class="inline-block">
                            <span class="white-text big-text"><span class="border-bottom">to</span>&nbsp;
                            </span><br>
                            <span class="white-text">Prep.<br> &nbsp; </span>
                        </div>
                        <div class="inline-block">
                            <span class="blue-text big-text"><span class="border-bottom">cyrcan</span>
                            </span><br>
                            <span class="blue-text">Indirect<br>Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text big-text"><span class="border-bottom">Heo</span>&nbsp;</span><br>
                            <span class="red-text">Personal<br>Pronoun</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">eode</span>&nbsp;</span> <br>
                            <span class="green-text">Past<br>Tense</span>
                        </div>
                        <div class="inline-block">
                            <span class="white-text big-text"><span class="border-bottom">to</span>&nbsp;</span><br>
                            <span class="white-text">Prep.<br>&nbsp;</span>
                        </div>
                        <div class="inline-block">
                            <span class="blue-text big-text"><span class="border-bottom">cyrcan</span></span><br>
                            <span class="blue-text">Indirect<br>Object</span>
                        </div>
                    </div>
                </div>
            </div>
            <p>These five verbs are some of the most commonly used verbs, so you will need to familiarise yourself with
                them. If you are familiar with other Germanic languages, such as German, Dutch, Russian or Swedish,
                you'll notice that most of those verbs are also irregular in those languages.
                We'll explore the oddities of these verbs in detail throughout the coming topics. Let's take a closer
                look at the related verbs '<em>beon</em>' and '<em>wesan</em>' first.</p>
        </div>
        <a href="pro6.html" class="float-left darkorange-text padding-top">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Pronouns Overview
        </a>
        <a href="irgv2.html" class="float-right darkorange-text padding-top">Continue to Beon and Wesan
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        </div>
    </section>
</main>