<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'License Info') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<h1 class="remove-margin">Licensing and Copyright Information</h1><br>
			<p>The project code is licensed under the MIT License. Copyright © 2019 - Victoria Koivisto-Kokko. All code is available publicly on <a class="darkorange-text" target="_blank" href="https://github.com/vklester/MA">Github</a>.</p>
			<p>The project content (i.e. the textual content, quizzes, graphical organisers) is licensed under Creative Comments Attribution + Share Alike (BY-SA).</p>
			<p>This website uses Google Analytics to collect anonymised data regarding the site's usage.</p>
			<p>This website uses material from the Wikipedia article <a class="darkorange-text" target="_blank" href="https://commons.wikimedia.org/wiki/General_phonetics">General Phonetics</a>, which is released under the <a class="darkorange-text" target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share-Alike License 3.0</a>.</p>
		</div>
	</section>
</main>