<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods.html">Mood</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood1.html">Imperative</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Subjunctive
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood3.html">Moods Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                    </li>
                </ol>
            </div>
            <h2>Subjunctive</h2>
            <p><span class="initial-letter darkorange-text">T</span>he <strong>subjunctive</strong> mood is used to express wishes,
                desires, or outcomes that are dependent on certain conditions being met. In modern English, a series of constructs
                utilising 'if' clauses and different tenses and modal verbs are used to express the conditional. We can say anything
                from 'when ice heats, it melts' (zero contitional) to 'if I had studied more, I would have passed the exam' (third conditional).
                There are also a few examples of different verb forms being used to form conditionals in modern English, but they are rare. 
                'If I <em>were</em> fluent in Old English' is expressing a desire using a different form of the verb 'to be' than the expected 
                first person past 'I was'. Similarly, in archaic expressions such as 'long live the king', the form 'live' is used rather than 
                the third person 'lives' because it is expressing a desire - <em>may</em> this person live long.
            </p>
            <p>In Old English the conditional is generally expressed using subjunctive forms of verbs. This is different to modern English,
                but more straightforward in its application. As with <strong>imperatives</strong>, there is one subjunctive form of
                a verb for singular (all persons) and one for plural (all persons), so there are only two new forms to learn. The singular
                form is the root of the verb with -e added, and the plural form is the root of the verb with -en added. Examine the sentences
                below, '<em>Gif heo to Rome fere - If she could travel to Rome</em>' and '<em>þæt ge þa sang hieren - That you might hear the 
                song</em>'.
            </p>
            <p>In first person present singular and first and third person past it can be hard to distinguish a subjunctive form from the usual 
                indicative -e ending. However, the context will usually make it clear that a condition, or a counterfactual statement is being made.
                Sentences opening with '<e,>gif - if</e>', '<em>butan - unless</em>' or '<em>þeah - though/although</em>' are expressing 
                a condition, and we would expect a subjunctive form to be used. 
            </p>
            <p>There are also situations in Old English which require a subjunctive. A subjunctive is required after the use of the verb '<em>willian - to wish</em>'
                for example, and it is also found when reporting a command (he ordered that I <em>should go</em>). In many cases it is appropriate
                to translate these sentences with modal verbs such as 'should/would/could/might'.
            </p>
            <h3>Subjunctive form of 'to be'</h3>
            <p>Whilst almost all subjunctives are formed with the addition of -e (singular) and -en (plural) to the root of the verb, the verb <em>beon</em> has 
                its own subjunctive forms in both present and past. These are listed in the table below.
            </p> 
            <p>You can practice the subjunctive below.</p>
        </p>
        <a href="mood1.html" class="float-left darkorange-text strong padding-top padding-bottom">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Imperative
        </a>
        <a href="mood3.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Mood Overview
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
<hr class="border">
<section>
    <div>