<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Mood
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods2.html">Imperative</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods3.html">Subjunctive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods4.html">Mood Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Introduction to Mood</h2>
            <p><span class="initial-letter darkorange-text">I</span>n grammar, mood refers
                to a verb form which indicates whether the verb expresses a fact (the indicative mood), a command
                (the imperative mood), or possibility (the subjunctive mood).
                While in modern English we can distinguish
                moods using <abbr
                    title="A verb phrase is a unit composed of at least one verb and its dependents">verbal
                    phrases</abbr>, for example, 'Go to bed!', in Old English there are
                different verb forms to express this mood.
            </p>
            <h3>Indicative Mood</h3>
            <p>The basic mood of verbs is referred to as the <strong>indicative</strong>, and all verbs you've come
                across so far have been in this mood. The indicative mood is often defined as a statement of fact, but
                this does not necessarily mean that a statement is 'true',
                only that it is presented as a known fact. This mood includes declarative statements such as 'that horse
                is brown', opinions such as
                'I think that horse is beautiful' and questions such as 'What is that horse's name?'.
            </p>
            <h3>Imperative Mood</h3>
            <p>
                Commands are always in the <strong>imperative</strong> mood.
                The only difference between Old English and modern English is that the imperative in Old English is
                inflected according to number.
                So, depending on whether you are commanding an individual or a group, the form of the verb is different.
            </p>
            <h3>Subjunctive Mood</h3>
            <p>
                The <strong>subjunctive</strong> is used in Old English to describe hypothetical situations.
                For example, if someone says 'I will go for a walk if it is sunny', they are not stating a fact but
                something that <em>might</em> happen
                and which is conditional on something else happening. Unlike in modern English,
                where the subjunctive form is always the base of the verb irrespective of tense or number,
                in Old English the subjunctive has a singular and plural form for both the present and past tense.
            </p>
            <p>We will explore the Imperative and Subjunctive moods and their effect on verbs in more detail in the
                following topics.</p>
            <a href="sv9.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs Overview
            </a>
            <a href="moods2.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to
                Imperative Mood
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>