<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods.html">Mood</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood1.html">Imperative</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Subjunctive
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood3.html">Moods Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                    </li>
                </ol>
            </div>
            <h2>Subjunctive</h2>
            <p><span class="initial-letter darkorange-text">T</span>he <strong>subjunctive</strong> mood is used to express wishes,
                desires, or outcomes that are dependent on certain conditions being met. In modern English, a series of constructs
                utilising 'if' clauses and different tenses and modal verbs are used to express the conditional. Using these constructs we can say anything
                from 'if it rains, I will cry' to the complex 'if I had studied more, I would have passed the exam'.
                </p>
                <p>There are also a few examples of different verb forms being used to form conditionals in modern English. 
                'If I <em>were</em> fluent in Old English' is expressing a desire using a different form of the verb 'to be' than the expected 
                first person past 'If I was'. 'We suggest that he <em>be</em> excused' is another example, again in rather formal English.
                The subjunctive also survives in archaic expressions such as 'long live the king', the form 'live' is used rather than 
                the third person 'lives' because it is expressing a desire - <em>may</em> this person live long; the same is true of 
                'Glory <em>be</em> to God': the subjunctive <em>be</em> is used to express a desire.
            </p>
            <p>In Old English subjunctive forms of verbs are far more common. As with <strong>imperatives</strong>, there is one subjunctive form of
                a verb for singular and one for plural, so there are only two new forms to learn. The singular
                form is the root of the verb with <strong>-e </strong>added, and the plural form is the root of the verb with <strong>-en</strong>- added. Examine the sentences
                below, '<em>Gif heo to Rome fare - If she would travel to Rome</em>' and '<em>þæt ge þa sang hieren - That ye might hear the 
                song</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                   
                    <div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">Gif</span> </span><br>
						<span class="white-text">Conjunction</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">heo</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">to Rome</span><br>
                        <span class="yellow-text">Indirect Object</span>
                    </div>    
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">fere</span> </span><br>
                        <span class="green-text">Subjunctive Verb</span>
                    </div>
                    <br>
                    
                    
                    <div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">þæt</span> </span><br>
						<span class="white-text">Conjunction</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">ge</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                    <span class="yellow-text big-text border-bottom">þa song</span><br>
                    <span class="yellow-text">Direct Object</span>
                    </div>
                    <div class="inline-block">
                    <span class="green-text big-text"><span class="border-bottom">hieren</span> </span><br>
                    <span class="green-text">Subjunctive Verb</span>
                    </div>
                </div>
            </div>
        
            <p>In first person present singular and first and third person past it can be hard to distinguish a subjunctive form from the usual 
                indicative -e ending. However, the context will usually make it clear that a condition, or a counterfactual statement is being made.
                Sentences opening with '<e,>gif - if</e>' or '<em>butan - unless</em>' or '<em>þeah - though/although</em>' are usually expressing 
                a condition, and we would expect a subjunctive form to be used. Similarly, a subjunctive is required after the use of the verb 
                '<em>willian - to wish</em>', as this is expressing a desire.
            </p>
            <p>
                However, there are also places where a subjunctive is used when no desire or condition is expressed. For example, it is often found when
                reporting something that was said, or following a verb of command. In many cases it is appropriate
                to translate these sentences with modal verbs such as 'should/would/could/might' in modern English, but sometimes the normal indicative
                form is fine. Examine the sentence below: '<em>Odda het ðæt he come to him</em>' which uses the singular subjunctive <em>come</em> with it's 
                <strong>-e</strong> ending, and is perhaps best translated 'Odda ordered that he <em>should</em> come to him'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                   
                    
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">Odda</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                     <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">het</span> </span><br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">þæt</span> </span><br>
                        <span class="white-text">Conjunction</span>
                        
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">he</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">to him</span><br>
                        <span class="yellow-text">Indirect Obj.</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">come</span> </span><br>
                        <span class="green-text">Subjunctive Verb</span>
                        </div>    
                   
                    
                </div>
            </div>
            <h3>Subjunctive form of 'to be'</h3>
            <p>Whilst almost all subjunctives are formed with the addition of -e (singular) and -en (plural) to the root of the verb, the verb <em>beon</em> has 
                its own subjunctive forms in both present and past. These are listed in the table below, and it is worth learning to recognise them
                as they are fairly common forms. Note that these forms also end in <strong>-e</strong> (<em>sie</em> and <em>wære</em>) and <strong>-en</strong> 
                (<em>sien</em> and <em>wæren</em>) like other subjunctives, so should be easy to spot.
            </p> 
            <div class="row padding-top text-center">
                <table class="static-table table-striped inline-block table-hide">
                    <tr>
                        <td colspan="3">
                            <strong>Wesan (To Be)</strong>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Present</th>
                        <th>Past</th>
                    </tr>
                    <tr>
                        <td>
                            <strong>1st Person Singular</strong>
                        </td>
                        
                        <td>eom</td>
                        <td>wæs</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>2nd Person Singular</strong>
                        </td>
                        
                        <td>eart</td>
                        <td>wære</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>3rd Person Singular</strong>
                        </td>
                        
                        <td>is</td>
                        <td>wæs</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Plural</strong>
                        </td>
                        
                        <td>sind</td>
                        <td>wæron</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Subjunctive Singular</strong>
                        </td>
                        
                        <td>sie</td>
                        <td>wære</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Subjunctive Plural</strong>
                        </td>
                        
                        <td>sien</td>
                        <td>wæren</td>
                    </tr>
                </table><button class="solid-button button static-button-position" id="hide-submit">
                    <span class="label-hide">Hide Table</span>
                    <span class="label-show hide">Show Table</span>
                </button>
            </div>
        </div>
        <br>
            <p>You can practice the subjunctive below, and can hide the table above if you feel confident recognising subjunctive forms of the verb 'to be'.</p>
        </p>
        <a href="mood1.html" class="float-left darkorange-text strong padding-top padding-bottom">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Imperative
        </a>
        <a href="mood3.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Mood Overview
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
<hr class="border">
<section>
    <div>