<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods.html">Mood</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood1.html">Imperative</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood2.html">Subjunctive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Moods Overview
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    
                    
                    </li>
                </ol>
            </div>
            <h2>Moods Overview</h2>
            <p><span class="initial-letter darkorange-text">V</span>erbs in Old English can be inflected (change their form) in order to show
                the <strong>mood</strong> of the verb: the intention in which they are presented. The normal mood of the verb, used for statements 
                of fact or known quantities, is the <strong>indicative</strong>. The majority of Old English verbs will be in this mood, as they are in modern
                English.

                <p>When making a command or giving an order, the <strong>imperative</strong> form of the verb is used. There are two imperative forms
                for every verb: one when the subject of the command is singular - a short form of the verb, usually the root of the infinitive - and
                one when the subject is plural - almost always identical with the present plural form of the verb. Imperatives are usually found in 
                direct or reported speech (so represented in modern texts within quotation marks) and the imperative verb usually starts the sentence
                or clause.</p>

                <p>Finally, the <strong>subjunctive</strong> mood is used to express desires, outcomes conditional on other events, and what
                are sometimes called statements contrary to facts. For example, 'I wish I <em>were</em> a rich man' or 'We suggest he <em>be</em>
                released' in modern English - though in practice they are rare, and auxilliary verbs such as 'will' and 'would' are used to 
                make conditional statements instead. In Old English subjunctives verb forms are more common, particularly after verbs of command 
                or desire. Singular subjunctives take the root of the verb and add an <strong>-e</strong> and plural subjunctives 
                add <strong>-en</strong>. There is a past form, also ending in <strong>-e</strong> and <strong>-en</strong>. 

                <p>Look at the three moods in the sentences below, and check that you can see the difference.</p>
                
                
                
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                   
                   
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">Hie</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">cumaþ</span> </span><br>
                        <span class="green-text">Indicative Verb</span>
                    
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">to me</span><br>
                        <span class="yellow-text">Indirect Object</span>
                    </div>    
                    
                    <br>
                    
                    <div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">Gif</span> </span><br>
						<span class="white-text">Conjunction</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text border-bottom">hie</span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">to me</span><br>
                        <span class="yellow-text">Indirect Object</span>
                    </div>   
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">cumen</span> </span><br>
                        <span class="green-text">Subjunctive Verb</span>
                    </div>

                    <br>

                    <div class="inline-block">
                    <span class="green-text big-text"><span class="border-bottom">Cum</span> </span><br>
                    <span class="green-text">Imperative Verb</span>
                    </div>
                    <div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">to</span> </span><br>
						<span class="white-text">Preposition</span>
                    </div>
                    <div class="inline-block">
                    <span class="yellow-text big-text border-bottom">me!</span><br>
                    <span class="yellow-text">Indirect Object</span>
                    </div>
                    
                </div>
            </div>
        
            <p>The table below includes subjunctive and imperative forms for some common verbs. Use it to help you complete the quiz.</p>
            </p> 
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs seven-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#wesan" aria-controls="wesan" role="tab" data-toggle="tab">Wesan</a>
                            </li>
                            <li role="presentation">
                                <a href="#drincan" aria-controls="drincan" role="tab" data-toggle="tab">Drincan</a>
                            </li>
                            <li role="presentation">
                                <a href="#helpan" aria-controls="helpan" role="tab" data-toggle="tab">Helpan</a>
                            </li>
                            <li role="presentation">
                                <a href="#lufian" aria-controls="lufian" role="tab" data-toggle="tab">Lufian</a>
                            </li>
                            <li role="presentation">
                                <a href="#habban" aria-controls="habban" role="tab" data-toggle="tab">Habban</a>
                            </li>
                            <li role="presentation">
                                <a href="#gan" aria-controls="gan" role="tab" data-toggle="tab">Gan</a>
                            </li>
                            <li role="presentation">
                                <a href="#cuman" aria-controls="cuman" role="tab" data-toggle="tab">Cuman</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="wesan">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                   
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic eom</td>
                                        <td>Ic wæs</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u eart</td>
                                        <td>&THORN;u wære</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo is</td>
                                        <td>He/Hit/Heo wæs</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie sind</td>
                                        <td>We/Ge/Hie wæron</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>wes</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative pl.</strong>
                                        </td>
                                        <td>wesaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>sie</td>
                                        <td>wære</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>sien</td>
                                        <td>wæren</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="drincan">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                   
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic drince</td>
                                        <td>Ic dranc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u drincst</td>
                                        <td>&THORN;u drunce</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo drincþ</td>
                                        <td>He/Hit/Heo dranc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie drincaþ</td>
                                        <td>We/Ge/Hie druncon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>drinc</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative pl.</strong>
                                        </td>
                                        <td>drincaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>drince</td>
                                        <td>drincen</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>drunce</td>
                                        <td>druncen</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="helpan">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                   
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic helpe</td>
                                        <td>Ic healp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hilpst</td>
                                        <td>&THORN;u helpe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hilpþ</td>
                                        <td>He/Hit/Heo healp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie helpaþ</td>
                                        <td>We/Ge/Hie hulpon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>help</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative pl.</strong>
                                        </td>
                                        <td>helpaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>helpe</td>
                                        <td>helpen</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>hulpe</td>
                                        <td>hulpen</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="lufian">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                    
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic lufie</td>
                                        <td>Ic lufode</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u lufast</td>
                                        <td>&THORN;u lufodest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo lufaþ</td>
                                        <td>He/Hit/Heo lufode</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie lufiaþ</td>
                                        <td>We/Ge/Hie lufodon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>lufa</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative pl.</strong>
                                        </td>
                                        <td>lufiaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>lufie</td>
                                        <td>lufode</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>lufien</td>
                                        <td>lofoden</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="habban">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                    
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic hæbbe</td>
                                        <td>Ic hæfde</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hæfst</td>
                                        <td>&THORN;u hæfdest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hæfþ</td>
                                        <td>He/Hit/Heo hæfde</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie habbaþ</td>
                                        <td>We/Ge/Hie hæfdon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>hafa</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative pl.</strong>
                                        </td>
                                        <td>habbaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>hæbbe</td>
                                        <td>hæfde</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>hæbben</td>
                                        <td>hæfden</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="gan">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                    
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic ga</td>
                                        <td>Ic eode</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u gæst</td>
                                        <td>&THORN;u eodest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo gæþ</td>
                                        <td>He/Hit/Heo eode</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie gaþ</td>
                                        <td>We/Ge/Hie eodon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>ga</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative plural</strong>
                                        </td>
                                        <td>gaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>ga</td>
                                        <td>eode</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>gan</td>
                                        <td>eoden</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="cuman">
                                <table class="tabbed-table table-striped inline-block seven-col-table table-hide">
                                    
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic cume</td>
                                        <td>Ic com</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u cymest</td>
                                        <td>&THORN;u come</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo cymeþ</td>
                                        <td>He/Hit/Heo com</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie cumaþ</td>
                                        <td>We/Ge/Hie comon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative sing.</strong>
                                        </td>
                                        <td>cum</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative plural</strong>
                                        </td>
                                        <td>cumaþ</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive sing.</strong>
                                        </td>
                                        <td>cume</td>
                                        <td>come</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Subjunctive pl.</strong>
                                        </td>
                                        <td>cumen</td>
                                        <td>comen</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
            </div>
            
        <a href="mood1.html" class="float-left darkorange-text strong padding-top padding-bottom">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Imperative
        </a>
        <a href="mood3.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Moods Overview
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
<hr class="border">
<section>
    <div>