<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods.html">Mood</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Imperative
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>

                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods3.html">Subjunctive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods4.html">Moods Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Imperative</h2>
            <p><span class="initial-letter darkorange-text">T</span>he <strong>imperative</strong> mood is used for
                commands. In modern English, the infinitive form of the verb is used to give commands. So, 'Go to bed!',
                'Save the whales',
                'Eat your dinner'. It is the same as the second person present form of the verb, but without the
                pronoun 'you' as 'you go to
                bed' or 'you save the whales' woud be statements of fact and thus in the indicative mood. </p>

            <p>In Old English, imperatives are inflected for number only. This means there is no past tense and there is
                one form for commands to individuals and another form
                for commands to groups. The singular form is usually the root of the verb (the infinitive without the
                <strong>-an</strong> ending), and the plural is usually identical
                to the present plural form of the verb. For example, '<em>'Hier his word! - Listen to his words</em>'
                and '<em>Fliemaþ þa wicingas!
                    - Expell the Vikings!</em>. The first example is commanding a single person and the second
                commanding a group.</p>

            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">Hier</span> </span><br>
                        <span class="green-text">Imperative<br>Singular</span>
                    </div>
                    <div class="inline-block">
                        <span class="lightorange-text big-text border-bottom">his</span><br>
                        <span class="lightorange-text">Posessive<br>Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">word!</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">Fliemaþ</span> </span><br>
                        <span class="green-text">Imperative<br>Plural</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">þa</span><br>
                        <span class="yellow-text">Demon.<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text border-bottom">wicingas!</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>
                </div>
            </div>
            <p>Some singular imperatives have slightly different forms to the stem of the verb.
                For example,
                the singular imperative of '<em>lufian - to love</em>' is '<em>lufa</em>', the singular imperative of
                '<em>habban - to have</em>' is '<em>hafa</em>',
                and the singular imperative of '<em>don - to do</em>' is '<em>do</em>'. However, they are all short
                forms
                of the verb and will be easy to
                recognise from the verb conjugations you already know. Look at the table below to see the imperative
                form of several common verbs.
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#drincan" aria-controls="drincan" role="tab" data-toggle="tab">Drincan</a>
                            </li>
                            <li role="presentation">
                                <a href="#helpan" aria-controls="helpan" role="tab" data-toggle="tab">Helpan</a>
                            </li>
                            <li role="presentation">
                                <a href="#lufian" aria-controls="lufian" role="tab" data-toggle="tab">Lufian</a>
                            </li>
                            <li role="presentation">
                                <a href="#habban" aria-controls="habban" role="tab" data-toggle="tab">Habban</a>
                            </li>
                            <li role="presentation">
                                <a href="#don" aria-controls="don" role="tab" data-toggle="tab">Don</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="drincan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">

                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 1st Person Singular</strong>
                                        </td>
                                        <td>Ic drince</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u drincst</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo drincþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie drincaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Singular</strong>
                                        </td>
                                        <td>Drinc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Plural</strong>
                                        </td>
                                        <td>Drincaþ</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="helpan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">

                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 1st Person Singular</strong>
                                        </td>
                                        <td>Ic helpe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hilpst</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hilpþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie helpaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Singular</strong>
                                        </td>
                                        <td>Help</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Plural</strong>
                                        </td>
                                        <td>Helpaþ</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="lufian">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">

                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 1st Person Singular</strong>
                                        </td>
                                        <td>Ic lufie</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u lufast</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo lufaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie lufiaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Singular</strong>
                                        </td>
                                        <td>Lufa</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Plural</strong>
                                        </td>
                                        <td>Lufiaþ</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="habban">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">

                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 1st Person Singular</strong>
                                        </td>
                                        <td>Ic hæbbe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hæfst</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hæfþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie habbaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Singular</strong>
                                        </td>
                                        <td>Hafa</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Plural</strong>
                                        </td>
                                        <td>Habbaþ</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="don">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">

                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>

                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 1st Person Singular</strong>
                                        </td>
                                        <td>Ic do</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u dest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative 3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo deþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Indicative Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie doþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Singular</strong>
                                        </td>
                                        <td>Do</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Imperative Plural</strong>
                                        </td>
                                        <td>Doþ</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            Don and other irregular verbs... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>Don't forget, the plural imperative is usually identical to the present indicative plural
                                form of the verb. So while most verbs lose the <strong>-an</strong> ending
                                of the infinitive and take the <strong>-aþ</strong> ending of the
                                plural, irregular verbs like
                                '<em>don</em>' become '<em>doþ</em>', '<em>gan</em>' becomes '<em>gaþ</em>' and
                                '<em>beon</em>' becomes '<em>beoþ</em>'.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Two final things to remember with imperative verbs is that they are almost always at the start of a
                sentence or clause (as the subject is implied
                but not stated), and they almost always appear in texts as direct recorded speech.
            </p>
            <p>You can practice imperatives below.</p>
            </p>
            <a href="moods.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Introduction to Mood
            </a>
            <a href="moods3.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to
                Subjunctive Mood
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <hr class="border">
	<section>
		<div>
			<h2>Test Your Conjugations</h2>
			<small>In the textboxes below, fill out the fully conjugated version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="moods2_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>