<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Mood
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood1.html">Imperative</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood2.html">Subjunctive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood3.html">Mood Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                    </li>
                </ol>
            </div>
            <h2>Introduction to Mood</h2>
            <p><span class="initial-letter darkorange-text">O</span>ne feature of Old English verbs that is not common in modern English,
                (though common in other languages) is the existence of different inflections - or endings - of the verb to show mood.
                Mood doesn't refer to whether the subject of the verb is angry or sad; it is a grammatical feature used to signal the 
                intention of the verb: whether it is expressing a command, say, or a desire, or simply a statement of fact.</p> 

                <h3>Indicative Mood</h3>

            <p>The usual mood of verbs is referred to as the <strong>indicative</strong>, and the vast majority of verbs you come across in Old English - or in any language - 
                will be in this mood. The indicative mood is often defined as a statement of fact - this does not necessarily mean that a statement is 'true', 
                only that it is presented as a known fact. It includes declarative statements such as 'that horse is brown', express opinions such as 
                'I think that horse is beautiful' and to ask questions such as 'what is that horse's name?' All the verbs you've come across so far on the course 
                have been in this factual indicative mood.</p>

                <h3>Imperative and Subjunctive Mood</h3>
            <p>In modern English we can distinguish additional moods, or intentions, in verbal phrases. For example, 'Get out of bed!' is not
                a statement of fact, it is a command. This we call the imperative mood, and in Old English there are different verb forms to express this mood.
                Also, if someone says 'I will go for a walk if it is sunny', they are not stating a fact, but something that <em>might</em> happen 
                and which is conditional on something else happening - the sun coming out. Whilst in modern English the conditional is not usually expressed
                using different verb forms, many speakers of English would still say 'If I <em>were</em> rich...' using an alternative form of the verb 'to be'
                to express the conditional. In Old English, it is very common for verb inflections to express this conditional mood, which we call the subjunctive.
                In the table below you can see examples of these three moods in modern English sentences.</p>
            </p>
            <!--Grammar Box-->
				<div class="text-center">
					<div class="grammar-box darkgrey-bg">
						<div class="inline-block">
							<span class="lightorange-text border-bottom big-text">The girl is listening to music</span>
							<br>
							<span class="lightorange-text">Indicative</span>
						</div>
						
						<br>
						<div class="inline-block">
                            <span class="red-text border-bottom big-text">Go to bed!</span> 
                            <br>
							<span class="red-text">Imperative</span>
                        </div>
                       	
                        <br>
							
						<div class="inline-block">
                                <span class="yellow-text border-bottom big-text">Long live rock and roll</span>
                                <br>
								<span class="yellow-text">Subjunctive/Conditional</span>
						</div>
					</div>
				</div>
                </p>
                <a href="sv9.html" class="float-left darkorange-text strong padding-top padding-bottom">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs Overview
                </a>
                <a href="mood1.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Imperative Mood
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </div>
        </section>
        <hr class="border">
        <section>
            <div>