<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Pronouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood1.html">Mood</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Imperative
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood2.html">Subjunctive</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="mood3.html">Moods Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                    </li>
                </ol>
            </div>
            <h2>Imperatives</h2>
            <p><span class="initial-letter darkorange-text">T</span>he <strong>imperative</strong> mood is used for commands or 
                requests. In modern English, the infinitive form of the verb is used to give commands. So, 'Go to bed!', 'Save the whales', 
                'eat your dinner'. It is the same as the second person present form of the verb - but without the pronoun 'you' ('you go to 
                bed' or 'you save the whales' woud be statements of fact in the indicative case). </p>

             <p>In Old English, imperatives are inflected for number: there is one form for commands to individuals (singular), and another form 
                 for commands to groups (plural). The singular form is usually the root of the infinitive (without the -an ending), and the plural is usually identical
                to the present plural verb - so there's nothing new to learn. Take the examples '<em>'hier his word! - listen to his words</em>' and '<em>Fliemaþ þa wicingas! 
                - Expell the Vikings!</em>, the first commanding a single person and the second commanding a group. </p>
                
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                       
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom">Hier</span> </span><br>
                            <span class="green-text">Imperative Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="lightorange-text big-text border-bottom">his</span><br>
                            <span class="lightorange-text">Posessive</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text big-text border-bottom">word!</span><br>
                            <span class="yellow-text">Direct Object</span>
                        </div>
                        <br>
					    
					    <div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">Fliemaþ</span> </span><br>
						<span class="green-text">Imperative Verb</span>
					    </div>
					    <div class="inline-block">
						<span class="yellow-text big-text border-bottom">&thorn;þa wicingas!</span><br>
						<span class="yellow-text">Direct Object</span>
					</div>
				</div>
            </div>
            <p>Some singular imperatives you will come across may have slightly different forms to the stem of the verb - for example,
                the singular imperative of '<em>lufian - to love</em>' is <em>lufa</em>, the singular imperative of '<em>habban - to have</em>' is <em>hafa</em>, 
                and the singular imperative of '<em>don - to do</em>' is <em>do</em>. However, they are all short forms of the verb, and will be easy to
                recognise from the verb conjugations you already know. 
            </p>
            <p>Two other things to remember with imperatives is that they are almost always at the start of a sentence or clause (as the subject is implied 
                but not stated), and they almost always appear in texts as direct recorded speech (with one character speaking to another). There are no past 
                tense forms of imperatives: it isn't possible to command in the past! So all that you need to remember is that there is a singular and plural
                form of these commanding verbs.
            </p>
            <p>Practice imperatives below.</p>
                    