<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Nouns') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="nafnouns.html">Neuter and Feminine Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Neuter Nouns
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf3.html">Neuter Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf4.html">Feminine Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf5.html">Feminine Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf6.html">Variant Declensions</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf7.html">Strong Nouns Overview</a>
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Strong Neuter Nouns</h2>
			<p><span class="initial-letter darkorange-text">N</span>euter nouns are nouns which end in
				consonants but whose plurals use <strong>'u'</strong> instead of <strong>'as'</strong>. In fact,
				the
				only real difference between <strong>masculine</strong> and <strong>neuter</strong> nouns is that
				the nominative and accusative plurals sometimes use <strong>'u'</strong> or drop the suffix
				altogether. The rest of the paradigm is identical. Examine the two sentences below: <em>'The kings
					saw the ships'</em> and <em>'The thanes took the cups'</em>.</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">&THORN;a cyningas</span>
						</span><br>
						<span class="red-text">Plural Subject&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">seah</span> </span><br>
						<span class="green-text">Past Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text border-bottom">&thorn;a scipu</span><br>
						<span class="yellow-text">Plural Direct Object</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">&THORN;a &thorn;egnas</span>
						</span><br>
						<span class="red-text">Plural Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">feng</span> </span><br>
						<span class="green-text">Past Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text border-bottom">&thorn;a fatu</span><br>
						<span class="yellow-text">Plural Direct Object</span>
					</div>
				</div>
			</div>
			<p>
				Nominative plurals and accusative plurals of the Strong Neuter declension use <strong>-u</strong>
				only after short syllables. A short syllable is one which ends with 1 short vowel and 1 consonant,
				for example, <em>scip</em> and <em>god</em>.
			</p>
			<p>
				Neuter nouns with long syllables have no ending. A long syllable can be a short vowel and 2
				consonants, like <em>word</em>, a long vowel with one consonant, like <em>wif</em>, or two vowels,
				like <em>bearn</em>.
			</p>
			<p>
				So <em>scip - ship</em> and <em>god - deity</em> become <em>scipu</em> and <em>godu</em> in the
				nominative and accusative plural, while <em>word - word</em>, <em>wif - woman</em>, and <em>bearn -
					child</em> stay as <em>word</em>, <em>wif</em>,
				and <em>bearn</em> in the nominative and accusative plural. Examine the two sentences below: <em>The
					bishop heard the words of the king</em> and <em>The thanes saw the children</em> and compare
				them to the two sentences above.
			</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">&THORN;a biscopas</span>
						</span><br>
						<span class="red-text">Plural Subject&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">hierde</span> </span><br>
						<span class="green-text">Past Verb</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text border-bottom">þæs cyninges</span><br>
						<span class="lightorange-text">Posessive</span>
					</div>

					<div class="inline-block">
						<span class="yellow-text big-text border-bottom">word</span><br>
						<span class="yellow-text">Plural Direct Object</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">&THORN;a &thorn;egnas</span>
						</span><br>
						<span class="red-text">Plural Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">seah</span> </span><br>
						<span class="green-text">Past Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text border-bottom">&thorn;a bearn</span><br>
						<span class="yellow-text">Plural Direct Object</span>
					</div>
				</div>
			</div>
			<p>As you may have noticed, the lack of a suffix for plural neuter nouns can sometimes make it
				difficult to know whether a word is in the
				singular or the plural. If it cannot be infered from context, look for the demonstrative pronoun
				<strong>&thorn;a</strong>.</p>
			<p>How a word is pronounced plays a major role in how it is declined, so examine the stems of <em>scip
					- ship, word - word, bearn - child, wif - woman,</em> and <em>god - deity</em> in the
				following table closely and consider which ones have a suffix and which do not, and what this might
				mean for how they are pronounced.</p>
			<div class="row padding-top">
				<div class="col-md-8">
					<div class="grammar-table table-hide">
						<!-- Nav tabs -->
						<ul class="nav tabs five-tabs nav-justified" role="tablist">
							<li role="presentation" class="active">
								<a href="#scip" aria-controls="ship" role="tab" data-toggle="tab">Scip</a>
							</li>
							<li role="presentation">
								<a href="#word" aria-controls="word" role="tab" data-toggle="tab">Word</a>
							</li>
							<li role="presentation">
								<a href="#bearn" aria-controls="barn" role="tab" data-toggle="tab">Bearn</a>
							</li>
							<li role="presentation">
								<a href="#wif" aria-controls="wife" role="tab" data-toggle="tab">Wif</a>
							</li>
							<li role="presentation">
								<a href="#god" aria-controls="god" role="tab" data-toggle="tab">God</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content full">
							<div role="tabpanel" class="text-center tab-pane active" id="scip">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Masculine Noun</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>&thorn;&aelig;t scip</td>
										<td>&thorn;a scipu</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-u</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;&aelig;t scip</td>
										<td>&thorn;a scipu</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-u</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;&aelig;s scipes</td>
										<td>&thorn;ara scipa</td>
										<td class="hidden-xs">-es</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;&aelig;m scipe</td>
										<td>&thorn;&aelig;m scipum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

							<div role="tabpanel" class="text-center tab-pane" id="word">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Masculine Noun</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>&thorn;&aelig;t word</td>
										<td>&thorn;a word</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;&aelig;t word</td>
										<td>&thorn;a word</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;&aelig;s wordes</td>
										<td>&thorn;ara worda</td>
										<td class="hidden-xs">-es</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;&aelig;m worde</td>
										<td>&thorn;&aelig;m wordum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

							<div role="tabpanel" class="text-center tab-pane" id="bearn">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Masculine Noun</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>&thorn;&aelig;t bearn</td>
										<td>&thorn;a bearn</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;&aelig;t bearn</td>
										<td>&thorn;a bearn</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;&aelig;s bearnes</td>
										<td>&thorn;ara bearna</td>
										<td class="hidden-xs">-es</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;&aelig;m bearne</td>
										<td>&thorn;&aelig;m bearnum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

							<div role="tabpanel" class="text-center tab-pane" id="wif">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Masculine Noun</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>&thorn;&aelig;t wif</td>
										<td>&thorn;a wif</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;&aelig;t wif</td>
										<td>&thorn;a wif</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;&aelig;s wifes</td>
										<td>&thorn;ara wifa</td>
										<td class="hidden-xs">-es</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;&aelig;m wife</td>
										<td>&thorn;&aelig;m wifum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="text-center tab-pane" id="god">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Masculine Nouns</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>&thorn;&aelig;t god</td>
										<td>&thorn;a godu</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-u</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;&aelig;t god</td>
										<td>&thorn;a godu</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-u</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;&aelig;s godes</td>
										<td>&thorn;ara goda</td>
										<td class="hidden-xs">-es</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;&aelig;m gode</td>
										<td>&thorn;&aelig;m godum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

						</div>
					</div>
					<button class="solid-button button" id="hide-submit">
						<span class="label-hide">Hide Table</span>
						<span class="label-show hide">Show Table</span>
					</button>
					<br>
				</div>
				<div class="col-md-4">
					<div class="grammar-tooltip">
						<button class="tooltip-header">
							Why is 'wif' declined without a suffix <i class="float-right fa fa-angle-double-down"
								aria-hidden="true"></i>
						</button>
						<div class="card-body hide">
							<p>While 'wif' looks like its vowel should sound similar to 'scip', in Old
								English 'wif' has a long 'i' and so is pronounced like 'weef'.
								'&THORN;ing' is pronounced similarly as 'theeng'.
							</p>
						</div>
					</div>
					<div class="grammar-tooltip">
						<button class="tooltip-header">
							How to pronounce 'scip' <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
						</button>
						<div class="card-body hide">
							<p>Remember, when an 's' is followed by 'c', as with 'scip', 'biscop', and 'scyld', the
								sound is pronounced like modern 'sh'. So 'scip' is pronounced identically to
								'ship',
								'biscop' is identical to 'bishop' and 'scyld' is identical to 'shield'.
							</p>
						</div>
					</div>
					<div class="grammar-tooltip">
							<button class="tooltip-header">
								God vs god <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
							</button>
							<div class="card-body hide">
								<p>
									The proper noun 'God' and the word for deity 'god' decline differently.
									When discussing the Christian god 'God', the word is declined like a
									strong masculine noun. When discussing 'gods' in a more general sense,
									it is declined as a neuter noun.
								</p>
							</div>
						</div>
				</div>
			</div>
			<a href="nafnouns.html" class="float-left darkorange-text padding-top strong">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Intro to Strong Neuter and
				Feminine
				Nouns
			</a>
			<a href="naf3.html" class="float-right darkorange-text padding-top strong">Continue to Strong Neuter
				Demonstratives
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2>Test Your Declensions</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="naf2_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>