<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Nouns') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="nafnouns.html">Neuter and Feminine Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf2.html">Neuter Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf3.html">Neuter Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Feminine Nouns
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf5.html">Feminine Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf6.html">Variant Declensions</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf7.html">Strong Nouns Overview</a>
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Strong Feminine Nouns</h2>
			<p><span class="initial-letter darkorange-text">F</span>eminine nouns are significantly
				different to Masculine and Neuter nouns in both how they decline and the demonstratrive pronouns
				they use.
				However, within their own category, the cases are very similar to each other. For
				example, the accusative, genitive and dative singular endings for Strong Feminine Nouns are
				<strong>'e'</strong>, and the nominative, accusative, and genitive plural endings are
				<strong>'a'</strong>. All the nouns in the following sentences are feminine, '<em>seo cwen geaf þa giefe
					to þære idese - the queen gave the gift to the lady</em>'
				and '<em>Þa cwena geaf þa giefa to þæm idesum - The queens gave the gifts to the ladies</em>'. Examine
				each of their endings and note the differences between the singular and plural.
			</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Seo cwen</span>
						</span><br>
						<span class="red-text">Singular<br>Subject&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">geaf</span> </span><br>
						<span class="green-text">Past<br>Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">&thorn;a giefe</span>
						</span><br>
						<span class="yellow-text">Singular<br>Direct Object</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">to</span> </span><br>
						<span class="white-text">Prep.<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text border-bottom">&thorn;ære idese</span><br>
						<span class="blue-text">Singular<br>Indirect Object</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Þa cwena</span>
						</span><br>
						<span class="red-text">Plural<br>Subject&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">geaf</span> </span><br>
						<span class="green-text">Past<br>Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">&thorn;a giefa</span>
						</span><br>
						<span class="yellow-text">Plural<br>Direct Object</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">to</span> </span><br>
						<span class="white-text">Prep.<br>&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text border-bottom">&thorn;æm idesum</span><br>
						<span class="blue-text">Plural<br>Indirect Object</span>
					</div>
				</div>
			</div>
			<p>For the nouns which have a <strong>'u'</strong> in the nominative singular, remember to drop the
				<strong>'u'</strong> when you are adding other suffixes. For example, in the plural, <em>giefu</em>
				ends
				in <strong>'a'</strong> becoming <em>giefa</em>.</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Seo giefu</span>
						</span><br>
						<span class="red-text">Singular<br>Subject</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">&thorn;ære</span>
						</span><br>
						<span class="lightorange-text">Possessive<br>Demonstrative</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">halgan</span> </span><br>
						<span class="peach-text">Weak<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text border-bottom">idese</span><br>
						<span class="lightorange-text">Possessive<br>Noun</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Þa giefa</span>
						</span><br>
						<span class="red-text">Plural<br>Subject&nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">&thorn;ære</span>
						</span><br>
						<span class="lightorange-text">Possessive<br>Demonstrative</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">halgan</span> </span><br>
						<span class="peach-text">Weak<br>Adjective</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text border-bottom">idese</span><br>
						<span class="lightorange-text">Possessive<br>Noun</span>
					</div>
				</div>
			</div>
			<p>In the below table you will find the declensions for the nouns '<em>cwen - queen</em>', '<em>giefu -
					gift</em>', '<em>lufu - love</em>', '<em>ceaster - city</em>' and '<em>ides - lady</em>'. Use 
				the table to help you complete the questions below. Once you are feeling confident, you can hide the table by pressing the orange 'Hide Table' button.</p>
			<div class="row padding-top">
				<div class="col-md-8">
					<div class="grammar-table table-hide">
						<!-- Nav tabs -->
						<ul class="nav tabs five-tabs nav-justified" role="tablist">
							<li role="presentation" class="active">
								<a href="#cwen" aria-controls="queen" role="tab" data-toggle="tab">Cwen</a>
							</li>
							<li role="presentation">
								<a href="#giefu" aria-controls="yifu" role="tab" data-toggle="tab">Giefu</a>
							</li>
							<li role="presentation">
								<a href="#lufu" aria-controls="love" role="tab" data-toggle="tab">Lufu</a>
							</li>
							<li role="presentation">
								<a href="#theod" aria-controls="theod" role="tab" data-toggle="tab">Ceaster</a>
							</li>
							<li role="presentation">
								<a href="#ides" aria-controls="eedes" role="tab" data-toggle="tab">Ides</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content full">
							<div role="tabpanel" class="text-center tab-pane active" id="cwen">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Feminine Nouns</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>seo cwen</td>
										<td>&thorn;a cwena</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;a cwene</td>
										<td>&thorn;a cwena</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;ære cwene</td>
										<td>&thorn;ara cwena</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;ære cwene</td>
										<td>&thorn;æm cwenum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

							<div role="tabpanel" class="text-center tab-pane" id="giefu">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Feminine Nouns</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>seo giefu</td>
										<td>&thorn;a giefa</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;a giefe</td>
										<td>&thorn;a giefa</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;ære giefe</td>
										<td>&thorn;ara giefa</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;ære giefe</td>
										<td>&thorn;æm giefum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

							<div role="tabpanel" class="text-center tab-pane" id="lufu">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Feminine Nouns</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>seo lufu</td>
										<td>&thorn;a lufa</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;a lufe</td>
										<td>&thorn;a lufa</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;ære lufe</td>
										<td>&thorn;ara lufa</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;ære lufe</td>
										<td>&thorn;æm lufum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

							<div role="tabpanel" class="text-center tab-pane" id="theod">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Feminine Nouns</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>seo ceaster</td>
										<td>&thorn;a ceastra</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;a ceastre</td>
										<td>&thorn;a ceastra</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;ære ceastre</td>
										<td>&thorn;ara ceastra</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;ære ceastre</td>
										<td>&thorn;æm ceastrum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="text-center tab-pane" id="ides">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Strong Feminine Nouns</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Singular</th>
										<th>Plural</th>
										<th class="hidden-xs">Singular Suffix</th>
										<th class="hidden-xs">Plural Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>seo ides</td>
										<td>&thorn;a idesa</td>
										<td class="hidden-xs">-</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>&thorn;a idese</td>
										<td>&thorn;a idesa</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>&thorn;ære idese</td>
										<td>&thorn;ara idesa</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-a</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>&thorn;ære idese</td>
										<td>&thorn;æm idesum</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-um</td>
									</tr>
								</table>
							</div>

						</div>
					</div>
					<button class="solid-button button" id="hide-submit">
						<span class="label-hide">Hide Table</span>
						<span class="label-show hide">Show Table</span>
					</button>
					<br>
				</div>
				<div class="col-md-4">
					<div class="grammar-tooltip">
						<button class="tooltip-header">
							Look again at 'ceaster'... <i class="float-right fa fa-angle-double-down"
								aria-hidden="true"></i>
						</button>
						<div class="card-body hide">
							<p>Words with two syllables will often lose the vowel of the second syllable when it
								gains a suffix. This makes it easier to pronounce. This is why the
								<strong>'e'</strong> and the <strong>'r'</strong> seem to swap positions in the
								singular accusative, genitive and dative of <em>ceaster - city</em>. It loses the
								'e' in all conjugations where it gains a suffix. You will see the same vowel-drop
								in
								<em>sawol - soul</em>
							</p>
						</div>
					</div>
				</div>
			</div>
			<a href="naf3.html" class="float-left darkorange-text padding-top strong">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Neuter Demonstratives
			</a>
			<a href="naf5.html" class="float-right darkorange-text padding-top strong">Continue to Feminine
				Demonstratives
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2>Test Your Declensions</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs"> <sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="naf4_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>