<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="nafnouns.html">Neuter and Feminine Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf2.html">Neuter Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf3.html">Neuter Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf4.html">Feminine Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Feminine Demonstratives
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf6.html">Variant Declensions</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf7.html">Strong Nouns Overview</a>
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Strong Feminine Demonstratives</h2>
			<p><span class="initial-letter strong darkorange-text">F</span>eminine demonstratives used for plural
				nouns are identical to those used by Strong Neuter and Masculine nouns. The most significant difference
				in pronouns is with the singular demonstratives.</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped three-col-table inline-block">
					<tr>
						<td colspan="3">
							<strong>Strong Feminine Demonstratives</strong>
						</td>
					</tr>
					<tr>
						<th></th>
						<th>Singular</th>
						<th>Plural</th>
					</tr>
					<tr>
						<td>
							<strong>Nominative</strong>
						</td>
						<td>seo</td>
						<td>&thorn;a</td>
					</tr>
					<tr>
						<td>
							<strong>Accusative</strong>
						</td>
						<td>&thorn;a</td>
						<td>&thorn;a</td>
					</tr>
					<tr>
						<td>
							<strong>Genitive</strong>
						</td>
						<td>&thorn;&aelig;re</td>
						<td>&thorn;ara</td>
					</tr>
					<tr>
						<td>
							<strong>Dative</strong>
						</td>
						<td>&thorn;ære</td>
						<td>&thorn;æm</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">As seen earlier, the suffixes used for feminine nouns are very similar for each of the cases, with
				singular accusative, genitive and dative nouns taking
				an <strong>'e'</strong> ending and plural nominative, accusative and genitive taking an
				<strong>'a'</strong> ending. This makes it more difficult to tell which case a noun is in when it is
				plural, though the demonstratives are more reliable and distinct for singular nouns.
			</p>
			<!--Grammar Box-->
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block float-left">
						<span class="red-text medium-text"><span class="border-bottom">seo</span> giefu</span><br>
						<span class="red-text">Singular Nominative</span>
					</div>
					<div class="inline-block float-right">
						<span class="lightred-text medium-text"><span class="border-bottom">þa</span> gief<span
								class="border-bottom">a</span> </span><br>
						<span class="lightred-text">Plural Nominative</span>
					</div>
					<br>
					<div class="inline-block float-left">
						<span class="yellow-text medium-text"><span class="border-bottom">&thorn;a</span> gief<span
								class="border-bottom">e</span></span><br>
						<span class="yellow-text">Singular Accusative</span>
					</div>
					<div class="inline-block float-right">
						<span class="darkyellow-text medium-text"><span class="border-bottom">þa</span> gief<span
								class="border-bottom">a</span> </span><br>
						<span class="darkyellow-text">Plural Accusative</span>
					</div>
					<br>
					<div class="inline-block float-left">
						<span class="lightorange-text medium-text"><span class="border-bottom">þ&aelig;re</span>
							gief<span class="border-bottom">e</span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
						<span class="lightorange-text">Singular Genitive</span>
					</div>
					<div class="inline-block float-right">
						<span class="peach-text medium-text"><span class="border-bottom">þara</span> gief<span
								class="border-bottom">a</span></span><br>
						<span class="peach-text">Plural Genitive</span>
					</div>
					<br>
					<div class="inline-block float-left">
						<span class="blue-text medium-text"><span class="border-bottom">&thorn;&aelig;re</span>
							gief<span class="border-bottom">e</span> &nbsp;&nbsp;</span><br>
						<span class="blue-text">Singular Dative</span>
					</div>
					<div class="inline-block float-right">
						<span class="darkblue-text medium-text"><span class="border-bottom">&thorn;&aelig;m</span>
							gief<span class="border-bottom">um</span></span><br>
						<span class="darkblue-text">Plural Nominative</span>
					</div>
				</div>
			</div>
			<p>You can practice strong feminine demonstratives below.</p>
		</div>
		<a href="naf4.html" class="float-left darkorange-text padding-top">
			<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Feminine
			Nouns
		</a>
		<a href="naf6.html" class="float-right darkorange-text padding-top">Continue to Variant Declensions
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2> Test Yourself! </h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="naf5_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>