<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Home') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Neuter and Feminine Nouns
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf2.html">Neuter Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf3.html">Neuter Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf4.html">Feminine Nouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf5.html">Feminine Demonstratives</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf6.html">Variant Declensions</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="naf7.html">Strong Nouns Overview</a>
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Introduction to Strong Neuter and Feminine Nouns</h2>
			<p><span class="initial-letter darkorange-text">W</span>e have already seen the declensions of
				Strong Masculine Nouns in the first module. However, there are two further grammatical genders:
				<strong>Neuter</strong> and <strong>Feminine</strong>. These categories are purely grammatical
				and are determined on
				<abbr title="relating to the form or structure of a word">morphological</abbr> grounds rather than
				<abbr title="the meaning of the word it refers to">referential</abbr> ones. For example, while
				<em>cwen - queen</em> is ‘feminine’,
				<em>wif - woman</em> is 'neuter' and <em>wifhand - heiress</em> is 'masculine'. Similarly,
				referentially gender-neutral nouns like those for
				'child' can be neuter like <em>bearn</em> or <em>cild</em>, but they can also be feminine like
				<em>byren</em>.</p>
			<p>There is unfortunately no easy way of telling which grammatical gender a word belongs to, they just
				need to be learned.</p>
			<p>To quickly review the function of cases, the <strong>nominative</strong> form is used for the subject
				of a sentence. The <strong>genitive</strong> indicates possession. The <strong>accusative</strong>
				indicates a direct object. The <strong>dative</strong> indicates an indirect object.</p>
			<div class="text-center padding-top">
				<table class="static-table table-striped three-col-table inline-block">
					<tr>
						<td colspan="3">
							<strong>Cases Overview</strong>
						</td>
					</tr>
					<tr>
						<th>Case</th>
						<th>Old English</th>
						<th>Function</th>
					</tr>
					<tr>
						<td>
							<strong>Nominative</strong>
						</td>
						<td>&THORN;æt scip</td>
						<td>The ship (subject)</td>
					</tr>
					<tr>
						<td>
							<strong>Accusative</strong>
						</td>
						<td>&THORN;æt scip</td>
						<td>The ship (direct obj)</td>
					</tr>
					<tr>
						<td>
							<strong>Genitive</strong>
						</td>
						<td>&THORN;&aelig;s scipes</td>
						<td>The ship's (possessive)</td>
					</tr>
					<tr>
						<td>
							<strong>Dative</strong>
						</td>
						<td>&THORN;æm scipe</td>
						<td>The ship (indirect obj)</td>
					</tr>
				</table>
			</div>
		</div>
		<p class="padding-top">Now that we've reaffirmed how cases work, let's take a look at Strong Neuter Nouns and see their
			differences to Strong Masculine Nouns in more detail.</p>
		<a href="wv6.html" class="float-left darkorange-text padding-top">
			<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Weak Verbs Overview
		</a>
		<a href="naf2.html" class="float-right darkorange-text padding-top">Continue to Strong Neuter Nouns
			<i class="fa fa-angle-double-right" aria-hidden="true"></i>
		</a>
		</div>
	</section>
</main>