<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Double Negatives') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="negations.html"> Negations</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg2.html">Negated Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Double Negatives
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg4.html">Negations Overview</a>
                    </li>

                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Double Negatives</h2>
            <p><span class="initial-letter darkorange-text">I</span>n modern English, double negatives usually cancel
                each other out.
                So in the sentence 'He can't not eat it</em>', most English speakers would understand it to mean 'he
                must eat it'.
            </p>
            <p>In Old English, double and multiple negation
                does not cancel out the negation, it emphasises it.
                So the more negations included in a sentence, the more the negative aspect of the statement is stressed.
                For example, examine
                the sentene below from the Gospel of John: '<em>Ne geseah næfre nan mann god</em>'. A literal
                translation would be '<em>has not seen never no man God</em>',
                but a more faithful translation would be 'no one has ever seen God'. The negations in the Old
                English are used to emphasise his point, and they do not cancel each other out.
            </p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">Ne</span></span><br>
                        <span class="darkyellow-text">Adverb</span>
                    </div>

                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">geseah</span></span><br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">næfre</span></span><br>
                        <span class="darkyellow-text">Adverb</span>
                    </div>
                    <div class="inline-block">
                        <span class="peach-text big-text"><span class="border-bottom">nan</span> </span><br>
                        <span class="peach-text">Adjective</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">mann</span></span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">god</span></span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                </div>
            </div>
            <p>As you can see in the sentence above, verbs are not the only words to prefix the negative particle. The
                adverb
                '<em>æfre - ever/always</em>' becomes '<em>næfre</em>',
                while the numeral or indefinite article in '<em>an mann</em>' meaning '<em>one/a certain man</em>' is
                prefixed
                with the negative particle to give us '<em>nan mann</em>' or '<em>no man</em>'. Other common negatons
                you might
                come across are '<em>nænig - not any/none</em>' from '<em>ænig - any</em>', '<em>nahwær - nowhere</em>',
                and
                '<em>nealles - not/not at all</em>'. Finally, the determiner 'no' in Old English
                is '<em>na</em>', so a question might be answered with '<em>gea - yes</em>' or '<em>na - no</em>'.
            </p>
            <p>Although in standard English double negations are not allowed,
                non-standard forms and some dialects of English retain double negation. For
                example 'I wasn't doing nothing' is a double negative that means 'I wasn't doing anything'.
            </p>
            <p>Continue through to a summary of negation, and a quiz to practise what you've learned.
            </p>
            <a href="neg2.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Negated Verbs
            </a>
            <a href="neg4.html" class="float-right darkorange-text padding-top strong">Continue to Negation Summary
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>