<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Double Negatives') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="negations.html"> Negations</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg2.html">Negated Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg3.html">Double Negatives</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Negations Overview
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="moods.html">Moods of Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Negations Overview</h2>
            <p><span class="initial-letter darkorange-text">N</span>negations in Old English are straightforward, but there are 
            a few things that set them apart from negations in modern English.
            </p>
            <h3>Word Order</h3>
            <p>The negative particle always precedes the verb, and auixlliary verbs like 'do' are not generally used in negative
                constructions, as they are in the English 'I do not like', 'I cannot come'. Negations often start a sentence or 
                clause, so we often see constructions such as '<em>Ne com heo</em>' - '<em>She didn't come</em>' (literally 
                '<em>not come she</em> or '<em>Ne stel ðu</em>' - '<em>Do not steal!</em>' (literally '<em>no steal you!</em>').
                </p>
        
            <h3>Negated Verbs</h3>
            <p>Sometimes the negative particle that precedes the verb ('<em>ne</em>' in the examples above) is joined to the start
                of the verb. This phenomenon only happens with certain verbs, the most important being '<em>wesan</em>' - '<em>to be</em>',
                '<em>habban</em>' - '<em>to have</em>', and '<em>willan</em>' - '<em>to wish/want</em>'. When this fusing of the negative 
                particle to the start of the verb happens, sometimes the initial letters of the verb or the vowel in '<em>ne</em>' is lost,
                leaving forms such as '<em>nis</em>' (a contraction of '<em>ne is</em>' - '<em>is not</em>') or '<em>noldon</em>'
                (a contraction of '<em>ne woldon</em>' - '<em>did not want</em>'). This process also happens with certain adverbs and adjectives
                which give us forms such as '<em>nan</em>' - '<em>none</em>(from '<em>ne an</em>' - '<em>not one</em>').
                    </p>
            <h3>Double Negatives</h3>
            <p>In modern English, negatives cancel each other out - so 'I don't not love Old English' means that you, in fact, <em>do</em> love
                it. In Old English, double negation simply emphasises the negation, and it is common to find negation applied to every
                word that can be made negative in a single sentence.
                        </p>
            
            <p>The short sentence below (meaning 'I am not Christ') demonstrates all three of these quirks of Old English negation. See if you can spot them, and then
                test what you've learned in this lesson by doing the quiz. 
            </p>
                
           
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                   
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">Neom</span></span><br>
                        <span class="green-text">Negated<br>Verb</span>
                    </div>
                    <div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">ic</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">na</span></span><br>
                        <span class="darkyellow-text">Adverb<br>&nbsp;</span>
                    </div>
                    
                    <div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">crist</span></span><br>
						<span class="yellow-text">Subject<br>Noun</span>
					</div>
    </p>
             
            <a href="neg2.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Double Negation
            </a>
            <a href="neg4.html" class="float-right darkorange-text padding-top strong">Continue to Moods of Verbs
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>