<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Negations') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Negations
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg2.html">Negated verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg3.html">Double Negatives</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="neg4.html"> Negation Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Negations</h2>
            <p><span class="initial-letter darkorange-text">A</span>egation refers to the way a language constructs negative
                statements, such as changing 'I will go' or 'I like' to 'I will not go' or 'I don't like' in modern English. 
                Negation in Old English is fairly straightforward, the main differences with modern English being the location
                of the negative particle '<em>ne - not</em>' in the sentence, that some verbs have negated 
                forms (more precisely, the attachment of the negative particle '<em>ne</em>' to the start of the verb), and that double or multiple negatives 
                reinforce rather than cancel out the negation.
                
            </p>
            <p>In modern English the negative particle 'not' comes after an auxilliary verb: for example, 'I do not think',
                'He can't go'. In Old English, the negative particle comes before the verb. For example '<em>Ic ne þence</em>'', '<em>He ne mehte feran</em>'. Look at the sentence below, 
                '<em>ne spræc heo</em>'' - '<em>She did not speak</em>'.
            </p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Þæt</span></span><br>
                        <span class="red-text">Singular<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">child</span> </span><br>
                        <span class="red-text">Strong<br>Noun</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">ne</span></span><br>
                        <span class="darkyellow-text">Negative<br>particle</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">mihte</span></span><br>
                        <span class="green-text">Auxillary<br>Verb.</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">sprecan</span></span><br>
                        <span class="green-text">Infinitive<br>Verb</span>
                    </div>
                </div>
            </div>
            <p>In addition to the negative particle '<em>ne</em>', '<em>not</em>', other words derived from the addition of the 
                negative particle to indefinite pronouns. For example, in modern English we might say 'I have never eaten fish'; 
                'nobody is evil'; 'nothing is perfect'.
                Some words you might come across in Old English are '<em>nalles</em>' - '<em>not at all</em>'; '<em>nan</em>' - '<em>no/none</em>';
                and '<em>næfre</em>' - '<em>never</em>'.


            <p>Certain verbs can also be prefixed by the negative pronoun in order to express negation. We will look at how this
                works in the following section on 'Negated Verbs'. 
            <a href="sv9.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs Overview
            </a>
            <a href="neg2.html" class="float-right darkorange-text padding-top strong">Continue to Negated Verbs
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>