<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Palaeography' ) -%>

        <link rel="stylesheet" type="text/css" href="styles/pal.css">


        <main id="mainwrapper" class="container">
            <section class="">
                <h1>Letters of the Old English Alphabet</h1>
                <h2>A Æ E</h2>
                
                <h2>B L H</h2>
                <h2>C O T</h2>
                <h2>D Þ Ð</h2>
                <h2>P Ƿ</h2>
                <h2>G S Y</h2>
                <h2>I U M N </h2>
                <h2>K</h2>
                <h2>F R </h2>
                <h2>X (V Q)</h2>
                <h2>Y </h2>

            </section>
            <section>
                <a href="palaeography.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Intro to Terminology </a>
                <a href="pal3.html" class="float-right darkorange-text padding-top strong">Continue to Abbreviations <i
                        class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
        </main>
        <script src="scripts/palscripts.js" defer></script>