<% locals.setLayout('default.ejs') -%>
	<% locals.block('title', 'Palaeography' ) -%>

		<link rel="stylesheet" type="text/css" href="styles/pal.css">


		<main id="mainwrapper" class="container">
			<section class="">
				<h1>An Introduction to Palaeography Terminology</h1>
				<p>Like all specialist fields, palaeography has specific terms you’ll need to learn. For example, a
					<strong>script</strong> is the model of writing used by a scribe, like a modern font, whereas the
					<strong>hand</strong> is the specific handwriting of the scribe themselves. There are often many hands in
					a single manuscript writing in the same script. Similarly, one hand can write multiple scripts in the
					same manuscripts.
				</p>
				<p>Since scholars of different scripts focus on different detials, there are often overlaping terms
					describing the same components. However, there are some universal terms which are important to know.
				</p>
				<p><strong>Aspect</strong>: The aspect of a script is its overall appearance. For example, is it rounded or angular? Tall and narrow or wide and squat?
				</p>
				<p><strong>Character</strong>: A single occurrence of a written item. This can be a letter, punctuation,
					or numbers.</p>
				<p><strong>Graph</strong>: A single occurrence of a letter of an alphabet.</p>
				<p><strong>Allograph</strong>: A recognised variant form of the same graph. For example
					‘<strong>a</strong>’ and ‘<strong><span class="cursive">a</span></strong>’.</p>
				<p><strong>Digraph</strong>: Two letters which refer to the same sound. For example, in Old English,
					<strong>&thorn;</strong> and <strong>&eth;</strong> are
					digraphs. Similarly, ‘<strong>i</strong>’ and ‘<strong>y</strong>’ can be digraphs.
				</p>
				<p><strong>Ligature</strong>: Two letters joined by sharing the same stroke.</p>
				<p><strong>Component</strong>: A recognisable element of a character. For example, the bowl in
					‘<strong>b</strong>’ and ‘<strong>p</strong>’.</p>
				<p>
					In the next topic, we will examine the specialised vocabulary for describing characters in minute detail.
				</p>
			
			</section>
			<section>
				<a href="index.html" class="float-left darkorange-text padding-top strong strong">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Home </a>
				<a href="pal2.html" class="float-right darkorange-text padding-top strong">Continue to Describing Characters <i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a>
			</section>
		</main>
		<script src="scripts/palscripts.js" defer></script>