<% locals.setLayout('default.ejs') -%>
	<% locals.block('title', 'Palaeography' ) -%>

		<link rel="stylesheet" type="text/css" href="styles/pal.css">


		<main id="mainwrapper" class="container">
			<section class="">
				<h1>An Introduction to Palaeography Terminology</h1>
				<p>Like all specialist fields, palaeography has specific terms you’ll need to learn. For example, a
					<strong>script</strong> is the model of writing used by the scribe, like a modern font, whereas the
					<strong>hand</strong> is the actual handwriting of the scribe himself. There are often many hands in
					a single book writing the same script. Similarly, one hand can write in different scripts in the
					same text.
				</p>
				<p>Old English is predominantly written in Anglo-Saxon Minuscule, but we will look at scripts in more
					detail later. When it comes to describing what is on the page, there are some important terms to
					know.
				</p>
				<p><strong>Aspect</strong>: The aspect of a script is its overall appearance. For example, is it rounded or angular? Tall and narrow or wide and squat?
				</p>
				<p><strong>Character</strong>: A single occurrence of a written item. This can be a letter, punctuation,
					or numbers.</p>
				<p><strong>Graph</strong>: A single occurrence of a letter of an alphabet.</p>
				<p><strong>Allograph</strong>: A recognised variant form of the same graph. For example
					‘<strong>a</strong>’ and ‘<strong><span class="cursive">a</span></strong>’.</p>
				<p><strong>Digraph</strong>: Two letters which refer to the same sound. For example, in Old English,
					<strong>&thorn;</strong> and <strong>&eth;</strong> are
					digraphs. Similarly, ‘<strong>i</strong>’ and ‘<strong>y</strong>’ can be digraphs.
				</p>
				<p><strong>Ligature</strong>: Two letters joined by sharing the same stroke.</p>
				<p><strong>Component</strong>: A recognisable element of a character. For example, the bowl in
					‘<strong>b</strong>’ and ‘<strong>p</strong>’.</p>
				<p>In the next topic, we will examine components in more detail, as they are the building blocks of characters, and each piece
					has its own specialised vocabulary. 
					</p>
			
			</section>
			<section>
				<a href="index.html" class="float-left darkorange-text padding-top strong strong">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Home </a>
				<a href="pal2.html" class="float-right darkorange-text padding-top strong">Continue to Describing Characters <i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a>
			</section>
		</main>
		<script src="scripts/palscripts.js" defer></script>