<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Patch Notes') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12">
			<h1 class="remove-margin">Patch Notes</h1>
			<h3>Version 2.2. Released March 2020.</h3>
			<ol>
				<li>Added the <a href="weakandminor.html" target="_blank">Weak and Minor Nouns</a> module.</li>
				<li>Redesigned the <a href="oestart.html" target="_blank">Quick Note on the Alphabet</a> page.</li>
				<li>Created an interactive vowel origin chart for the <a href="wam4.html" target="_blank">i-mutation</a> module and <a href="advpronunciationguide.html" target="_blank">pronunciation guide</a>.</li>
			</ol>
			<h3>Version 2.1. Released January 2020.</h3>
			<ol>
				<li>Added the <a href="irregular.html" target="_blank">Irregular Verbs</a> module.</li>
				<li>Added 'test your vocabulary' flashcards to the overview topic of relevant modules. See example <a href="cases5.html#modal-section" target="_blank">here</a>.</li>
				<li>Added pollyfills so the javascript works in older versions of Internet Explorer which do not support ES6.</li>
				<li>Added a favicon. (That's the little picture in your browser tab)</li>
				<li>Minor typo fixes and corrections. (Thank you to everyone who emailed them in!)</li>
			</ol>
			<h3>Version 2.0. Released November 2019.</h3>
			<ol>
				<li>HTML structure has been simplified and converted, where possible, to semantic HTML.</li>
				<li>Style guide created and CSS updated and simplified in line with the new style guide.</li>
				<li>Converted all non-manuscript images containing text to HTML so as to be compatible with
					screenreaders and copyable by users.</li>
				<li>Brand new homepage with a smaller, responsive header, a logo, larger font size and taller line
					height.</li>
				<li>Added a topic on demonstratives and increased the number of questions in the grammar tests of the
					Cases module.</li>
				<li>Added the ability to load different quizzes of varying complexity levels on the same page. See
					example <a href="naf7.html#basicbutton" target="_blank">here</a>.</li>
				<li>Updated grammar tables so they are properly responsive on mobile.</li>
				<li>Added togglable info-box component to allow the addition of information without increasing visual
					complexity. See example <a href="oestart.html" target="_blank">here</a>.</li>
				<li>Added abbreviation tags to complex words so they can be hovered for explanatory tooltips.</li>
				<li>Added audio to the <a href="oestart.html" target="_blank">phonetics table</a> to demonstrate correct
					pronunciation.</li>
				<li>Created the <a href="advpronuncationguide.html" target="_blank">Advanced Pronunciation guide</a> to
					explain more complex aspects of the phonology.</li>
				<li>Added the <a href="weakverbs.html" target="_blank">Weak Verbs</a>, <a href="nafnouns.html"
						target="_blank">Strong Neuter and Feminine Nouns</a>, <a href="pronouns.html">Pronouns</a>, and
					<a href="adjectives.html">Adjectives</a> modules.</li>
				<li>Updated <a href="about.html" target="_blank">About Page</a> to reflect completion of Masters and
					transition to a funded OVPTL project.</li>
				<li>Created the <a href="history.html">timeline</a> for a general overview of the development of Old
					English.</li>
				<li>Created this patch notes page to track changes.</li>
				<li>Created the <a href="license.html" target="_blank">license page</a> for licensing and copyright
					info.</li>
			</ol>
		</div>
	</section>
	<br>
</main>