<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Patch Notes') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12">
			<h1 class="remove-margin">Patch Notes</h1>
			<h3>Version 2.6. Release May 2021.</h3>
			<ol>
				<li>Added <a href="textselect.html">Reading Comprehension</a> excercises.</li>
			</ol>
			<h3>Version 2.5. Release December 2020.</h3>
			<ol>
				<li>Added the <a href="syntax.html">Syntax</a> module.</li>
			</ol>
			<h3>Version 2.4.2. Release October 2020.</h3>
			<ol>
				<li>Fixed a bug where a stray whitespace in the answer array causes correct answers to be flagged as
					incorrect.</li>
				<li>Added ability to view abbreviations on mobile when you click them.</li>
			</ol>
			<h3>Version 2.4.1. Released October 2020.</h3>
			<ol>
				<li>Fixed bug on pages with multiple quiz types which caused the 'try again' button to load the first
					type of quiz only.</li>
				<li>Added a translation test to <a href="pro2.html">Demonstrative Pronouns</a>.</li>
				<li>Added a translation test to <a href="acp4.html">Prepositions</a>.</li>
				<li>Various typo fixes.</li>
			</ol>
			<h3>Version 2.4. Released September 2020.</h3>
			<ol>
				<li>Added the <a href="moods.html">Moods</a> module.</li>
				<li>Added the <a href="advanced.html">Additional Verb Forms</a> module.</li>
				<li>Added diphthongs to the <a href="advpronunciationguide.html">Pronunciation Guide</a>.</li>
				<li>Updated IPA symbol sounds and some pronunciation examples in the <a
						href="advpronunciationguide.html">Pronunciation Guide</a>.</li>
			</ol>
			<h3>Version 2.3. Released July 2020.</h3>
			<ol>
				<li>Added the <a href="strongverbs.html">Strong Verbs</a> module.</li>
				<li>Added the <a href="negations.html">Negations</a> module.</li>
				<li>Fixed a display issue in Chrome with the dotted underlines on abbreviations.</li>
				<li>Fixed errors in Weak Verbs Class II quiz and Strong Adjectives topic.</li>
			</ol>
			<h3>Version 2.2. Released March 2020.</h3>
			<ol>
				<li>Added the <a href="weakandminor.html" target="_blank">Weak and Minor Nouns</a> module.</li>
				<li>Added the <a href="adverbs.html" target="_blank">Adverbs, Conjunctions, and Prepositions</a> module.
				</li>
				<li>Redesigned the <a href="oestart.html" target="_blank">Quick Note on the Alphabet</a> page.</li>
				<li>Created an interactive vowel origin chart for the <a href="wam4.html" target="_blank">i-mutation</a>
					topic and <a href="advpronunciationguide.html" target="_blank">pronunciation guide</a>.</li>
				<li>Added even more audio to the <a href="advpronunciationguide.html">pronounciation guide</a>.</li>
				<li>Created a basic translation test. See example <a href="acp2.html#question-wrapper">here</a>.</li>
				<li>Typo fixes and corrections.</li>
			</ol>
			<h3>Version 2.1. Released January 2020.</h3>
			<ol>
				<li>Added the <a href="irregular.html" target="_blank">Irregular Verbs</a> module.</li>
				<li>Added 'test your vocabulary' flashcards to the overview topic of relevant modules. See example <a
						href="cases5.html#modal-section" target="_blank">here</a>.</li>
				<li>Added pollyfills so the javascript works in older versions of Internet Explorer which do not support
					ES6.</li>
				<li>Added a favicon. (That's the little picture in your browser tab)</li>
				<li>Typo fixes and corrections.</li>
			</ol>
			<h3>Version 2.0. Released November 2019.</h3>
			<ol>
				<li>HTML structure has been simplified and converted, where possible, to semantic HTML.</li>
				<li>Style guide created and CSS updated and simplified in line with the new style guide.</li>
				<li>Converted all non-manuscript images containing text to HTML so as to be compatible with
					screenreaders and copyable by users.</li>
				<li>Brand new homepage with a smaller, responsive header, a logo, larger font size and taller line
					height.</li>
				<li>Added a topic on demonstratives and increased the number of questions in the grammar tests of the
					Cases module.</li>
				<li>Added the ability to load different quizzes of varying complexity levels on the same page. See
					example <a href="naf7.html#basicbutton" target="_blank">here</a>.</li>
				<li>Updated grammar tables so they are properly responsive on mobile.</li>
				<li>Added togglable info-box component to allow the addition of information without increasing visual
					complexity. See example <a href="oestart.html" target="_blank">here</a>.</li>
				<li>Added abbreviation tags to complex words so they can be hovered for explanatory tooltips.</li>
				<li>Added audio to the <a href="oestart.html" target="_blank">phonetics table</a> to demonstrate correct
					pronunciation.</li>
				<li>Created the <a href="advpronuncationguide.html" target="_blank">Advanced Pronunciation guide</a> to
					explain more complex aspects of the phonology.</li>
				<li>Added the <a href="weakverbs.html" target="_blank">Weak Verbs</a>, <a href="nafnouns.html"
						target="_blank">Strong Neuter and Feminine Nouns</a>, <a href="pronouns.html">Pronouns</a>, and
					<a href="adjectives.html">Adjectives</a> modules.</li>
				<li>Updated <a href="about.html" target="_blank">About Page</a> to reflect completion of Masters and
					transition to a funded OVPTL project.</li>
				<li>Created the <a href="history.html">timeline</a> for a general overview of the development of Old
					English.</li>
				<li>Created this patch notes page to track changes.</li>
				<li>Created the <a href="license.html" target="_blank">license page</a> for licensing and copyright
					info.</li>
			</ol>
		</div>
	</section>
	<br>
</main>