<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Pronouns') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pronouns.html">Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">Personal Pronouns
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro3.html">Dual Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro4.html">Demonstrative Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro5.html">Relative Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro6.html">Pronouns Overview</a>
					</li>
				</ol>
			</div>
			<h2>Personal Pronouns</h2>
			<p><span class="initial-letter darkorange-text">P</span>ersonal pronouns
				are substitutes for proper nouns. 
				Old English personal pronouns show the grammatical person, gender, number, and case of the noun it
				replaces. Examine 'I' and 'You' in the two sentences below and don't forget that verbs conjugate
				differently depending on their subject ('I' and 'you' in the sentence below).</p>
			<div class="row padding-top">
				<!-- Container for grammar box to make them side by side-->
				<!--Grammar Box-->
				<div class="text-center col-sm-6">
					<div class="grammar-box darkgrey-bg float-right mobile-full-width">
						<div class="inline-block">
							<span class="red-text big-text"><span class="border-bottom">Ic</span> </span><br>
							<span class="red-text">Personal<br>Pronoun</span>
						</div>
						<div class="inline-block">
							<span class="green-text big-text"><span class="border-bottom">lufie</span> </span><br>
							<span class="green-text">First Person<br>Verb</span>
						</div>
						<div class="inline-block">
							<span class="yellow-text big-text"><span class="border-bottom">&thorn;e</span>
							</span><br>
							<span class="yellow-text">Direct<br> Object</span>
						</div>
					</div>
				</div>
				<!--Grammar Box-->
				<div class="text-center col-sm-6">
					<div class="grammar-box darkgrey-bg float-left mobile-full-width">
						<div class="inline-block">
							<span class="red-text big-text"><span class="border-bottom">&THORN;u</span> </span><br>
							<span class="red-text">Personal<br>Pronoun</span>
						</div>
						<div class="inline-block">
							<span class="green-text big-text"><span class="border-bottom">lufast</span> </span><br>
							<span class="green-text">Second Person<br>Verb</span>
						</div>
						<div class="inline-block">
							<span class="yellow-text big-text"><span class="border-bottom">me</span>
							</span><br>
							<span class="yellow-text">Direct<br> Object</span>
						</div>
					</div>
				</div>
			</div>
			<p class="padding-top">The variety of pronouns may seem overwhelming at first, but most words should
				still
				be recognisable as personal pronouns have not changed significantly.
				For example, in modern English, <strong>I, you, he, she, we, ye, they</strong>, all function as
				subject pronouns, while <strong>me, him, her, us, them</strong> function as object pronouns. Examine
				the table below and look for similarities between the modern English pronouns and Old English
				pronouns. Some words, like 'thee' and 'thine', have fallen out of modern usage but should still be
				recognisable
				as an old-fashioned way of saying 'you' and 'yours', making the Old English easier to understand.
			</p>
			<div class="padding-top text-center">
				<table class="static-table table-striped inline-block">
					<tr>
						<th></th>
						<th colspan="1" class="text-center">Nom</th>
						<th colspan="1" class="text-center">Acc</th>
						<th colspan="1" class="text-center">Gen</th>
						<th colspan="1" class="text-center">Dat</th>
					</tr>
					<tr>
						<td class="strong">1st Person Sing<span class="hidden-xs">ular</span></td>
						<td>ic</td>
						<td>me</td>
						<td>min</td>
						<td>me</td>
					</tr>
					<tr>
						<td class="strong">2nd Person Sing<span class="hidden-xs">ular</span></td>
						<td>þu</td>
						<td>þe</td>
						<td>þin</td>
						<td>þe</td>
					</tr>
					<tr>
						<td class="strong">3rd Person Sing<span class="hidden-xs">ular</span></td>
						<td>he / heo</td>
						<td>hine /hie</td>
						<td>his / hire</td>
						<td>him / hire</td>
					</tr>
					<tr>
						<td class="strong">1st Person Plural</td>
						<td>we</td>
						<td>us</td>
						<td>ure</td>
						<td>us</td>
					</tr>
					<tr>
						<td class="strong">2nd Person Plural</td>
						<td>ge</td>
						<td>eow</td>
						<td>eower</td>
						<td>eow</td>
					</tr>
					<tr>
						<td class="strong">3rd Person Plural</td>
						<td>hie</td>
						<td>hie</td>
						<td>hira</td>
						<td>heom</td>
					</tr>
				</table>
			</div>
			<!--overview note for mobile-->
			<p class="padding-top">You will notice in the table above that the third-person pronouns are inflected
				for gender,
				but only in the singular. So '<em>he</em>' and '<em>heo</em>' are used for 'he' and 'she', while
				plural pronouns are not declined for gender. Examine the two sentences below: <em>He gave us our
					dogs</em>, and <em>she gave me my dog</em>.</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">He</span> </span><br>
						<span class="red-text">Subject<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">geaf</span></span><br>
						<span class="green-text">Verb<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">us</span></span><br>
						<span class="blue-text">Indirect <br>Pronoun &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">ure</span>
						</span><br>
						<span class="lightorange-text">Possessive<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">hundas</span></span><br>
						<span class="yellow-text">Direct<br>Object</span>
					</div>
					<br>
					<div class="grammar-box darkgrey-bg">
						<div class="inline-block">
							<span class="red-text big-text"><span class="border-bottom">Heo</span> </span><br>
							<span class="red-text">Subject<br>Pronoun</span>
						</div>
						<div class="inline-block">
							<span class="green-text big-text"><span class="border-bottom">geaf</span> </span><br>
							<span class="green-text">Verb<br> &nbsp; </span>
						</div>
						<div class="inline-block">
							<span class="blue-text big-text"><span class="border-bottom">me</span> </span><br>
							<span class="blue-text">Indirect<br>Pronoun &nbsp; </span>
						</div>
						<div class="inline-block">
							<span class="lightorange-text big-text"><span class="border-bottom">min</span>
							</span><br>
							<span class="lightorange-text">Possessive<br>Pronoun</span>
						</div>
						<div class="inline-block">
							<span class="yellow-text big-text"><span class="border-bottom">hund</span></span><br>
							<span class="yellow-text">Direct<br>Object</span>
						</div>
					</div>
				</div>
			</div>
			<p class="padding-top">Personal pronouns are used reflexively in Old English more often than in modern
				English.
				In Old English, verbs which refer to self or motion of self usually take a reflexive pronoun even
				where it
				would not in modern English. For example, the sentence, <em>ic me ne ondred</em>, translated
				literally
				could be interpreted as 'I me/myself dreaded not' but a more accurate translation is 'I was not afraid'.
				You can see another example in the sentence below which could be translated as 'the king himself
				travelled to the town'.</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Se cyning</span></span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">hine</span></span><br>
						<span class="peach-text">Reflexive<br>Pronoun</span>
					</div>

					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">wende</span></span><br>
						<span class="green-text">Verb<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">to</span></span><br>
						<span class="white-text">Prep.<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">þæm tune</span></span><br>
						<span class="blue-text">Indirect<br>Object</span>
					</div>
				</div>
			</div>
			<p class="padding-top">You may also see the word '<em>self</em>' or ‘<em>sylfe</em> in use with
				pronouns.
				While it appears to be a reflexive pronoun, this should be considered an <abbr
					title="an emphatic pronoun refers back to another noun (or pronoun) in the sentence to emphasize it.">
					emphatic pronoun</abbr> more so than reflexive, as it is generally treated as an adjective used
				to emphasise an existing noun or pronoun. So in the sentence below it is '<em>hine</em>' which is
				the object ‘himself’, not '<em>sylfne</em>'. <em>Sylfne</em> just emphasises the '<em>hine</em>' and
				‘<em>hine</em>’
				would still mean ‘himself’ without it.</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Iudas</span></span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="peach-text big-text"><span class="border-bottom">hine</span></span><br>
						<span class="peach-text">Reflexive<br>Pronoun</span>
					</div>

					<div class="inline-block">
						<span class="darkyellow-text big-text"><span class="border-bottom">sylfne</span></span><br>
						<span class="darkyellow-text">Emphatic<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">aheng</span></span><br>
						<span class="green-text">Verb<br> &nbsp; </span>
					</div>
				</div>
			</div>
			<p class="padding-top">You will also notice '<em>sylf</em>' above is declined strangely.
				This is because '<em>self</em>' is usually treated like an adjective. Adjectives will be
				covered in a later module, so for now, just know that '<em>self</em>' or '<em>sylf</em>' are for
				emphasis and always pair with an existing noun or pronoun in the sentence.</p>
			<a href="pronouns.html" class="float-left darkorange-text padding-top strong">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Intro to Pronouns
			</a>
			<a href="pro3.html" class="float-right darkorange-text padding-top strong">Continue to Dual Pronouns
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2>Test Your Declensions</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="pro2_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>