<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Pronouns') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>

						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pronouns.html">Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro2.html">Personal Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro3.html">Dual Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">Demonstrative Pronouns
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro5.html">Relative Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="pro6.html">Pronouns Overview</a>
					</li>
				</ol>
			</div>
			<h2>Demonstrative Pronouns</h2>
			<p><span class="initial-letter darkorange-text">D</span>emonstrative Pronouns are words which indicate
				specific items. We have already seen demonstratives used to mean ‘the’ with our strong nouns, but
				‘<em>se</em>’, ‘<em>þæt</em>’ and ‘<em>seo</em>’ can also mean ‘that’. In fact, it should be obvious
				that the modern word ‘that’ comes from the neuter demonstrative ‘<em>þæt</em>’.</p>
			<p>
				Examine the sentences below. The translation ‘that sheep is bigger and that sheep is smaller’ makes
				a lot more sense than ‘the sheep is bigger and the sheep is smaller’, so it is important to realise
				that a '<em>se</em>' demonstrative might either mean 'the' or 'that' depending on context, even though
				we have been using them for ‘the’ up until now.
			</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="pink-text big-text"><span class="border-bottom">Þæt</span></span><br>
						<span class="pink-text">Demonstrative <br>Pronoun &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">sceap</span></span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">is</span></span><br>
						<span class="green-text">Verb <br>&nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">mara</span></span><br>
						<span class="white-text">Adjective<br> &nbsp;</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">ond</span></span><br>
						<span class="white-text">Conj<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="pink-text big-text"><span class="border-bottom">þæt</span></span><br>
						<span class="pink-text">Demonstrative <br>Pronoun &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">sceap</span></span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">is</span></span><br>
						<span class="green-text">Verb<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">l&aelig;ssa</span> </span><br>
						<span class="white-text">Adjective<br> &nbsp;</span>
					</div>
				</div>
			</div>
			<p class="padding-top">It should be noted that while in modern English ‘the’ is considered an <abbr
					title="Articles are words that define a noun as specific or unspecific">article</abbr>, in Old
				English ‘the’ is considered to be a demonstrative pronoun because it can be used on its own. For
				example, examine the sentence below and you will see that the same demonstrative pronouns
				we have been using for 'the' can be used in much the same was as <strong>that</strong>,
				<strong>he</strong>, <strong>she</strong>, <strong>it</strong>.
				For example, the first sentence could be translated as 'That one was a mournful woman' and the
				second
				sentence could be translated as 'She is my daughter' or 'That is my daughter'.
			</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="pink-text big-text"><span class="border-bottom">Þæt</span> </span><br>
						<span class="pink-text">Demonstrative</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">wæs</span> </span><br>
						<span class="green-text">Verb</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">geomuru</span> </span><br>
						<span class="white-text">Adjective</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">ides</span>
						</span><br>
						<span class="yellow-text">Direct Object</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="pink-text big-text"><span class="border-bottom">Seo</span> </span><br>
						<span class="pink-text">Demonstrative</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">is</span> </span><br>
						<span class="green-text">Verb</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">min</span> </span><br>
						<span class="lightorange-text">Possessive</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">dohtor</span> </span><br>
						<span class="yellow-text">Direct Object</span>
					</div>
				</div>
			</div>
			<p class="padding-top">Demonstratives can also be used to add more specificity. In modern English, the
				demonstrative pronouns would be <strong>this</strong>, <strong>that</strong>, <strong>these</strong>,
				<strong>those</strong>. They are sometimes known as ‘pointing
				pronouns’ as they are often used when referencing specific objects or providing location.
				For example, examine the sentence: The King gave this ring to his wife and that ring to his daughter.
			</p>
			<div class="text-center padding-top">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Se cyning</span> </span><br>
						<span class="red-text">Subject<br>Noun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">geaf</span> </span><br>
						<span class="green-text">Verb<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">his</span> </span><br>
						<span class="lightorange-text">Possessive<br>pronoun</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">wife</span> </span><br>
						<span class="blue-text">Indirect<br>Object</span>
					</div>
					<div class="inline-block">
						<span class="pink-text big-text"><span class="border-bottom">þisne</span> </span><br>
						<span class="pink-text">Demonstrative <br>Pronoun &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">beag</span>
						</span><br>
						<span class="yellow-text">Direct<br>Object</span>
					</div>
					<br>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">ond</span> </span><br>
						<span class="white-text">Conj.<br> &nbsp; </span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">his</span> </span><br>
						<span class="lightorange-text">Possessive<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">dehter</span></span><br>
						<span class="blue-text">Indirect<br>Object</span>
					</div>
					<div class="inline-block">
						<span class="pink-text big-text"><span class="border-bottom">þone</span> </span><br>
						<span class="pink-text">Demonstrative<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">beag</span>
						</span><br>
						<span class="yellow-text">Direct<br>Object</span>
					</div>
				</div>
			</div>

			<p class="padding-top">
				Pronouns decline for gender in the singular, so '<em>þes ræd - this counsel</em>', '<em>þis templ - this
					temple</em>', '<em>þeos woruld - this world </em>'. However, you will notice in the table below that
				the plural is the same for all genders, and where the pronouns are shared in the '<em>þes</em>'
				declensions, such as '<em>þis</em>' being used for both nominative and accusative neuter, they also
				overlap for the '<em>se</em>' declensions.
			</p>
			<div class="row padding-top">
				<div class="col-sm-6">
					<div class="grammar-table table-hide">
						<!-- Nav tabs -->
						<ul class="nav tabs two-tabs nav-justified" role="tablist">
							<li role="presentation" class="active">
								<a href="#this" aria-controls="this" role="tab" data-toggle="tab">Þes - this</a>
							</li>
							<li role="presentation">
								<a href="#that" aria-controls="that" role="tab" data-toggle="tab">Se - that</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content full">
							<div role="tabpanel" class="text-center tab-pane active" id="this">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Þes - this</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Masculine</th>
										<th>Neuter</th>
										<th>Feminine</th>
										<th>Plural</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>þes</td>
										<td>þis</td>
										<td>þeos</td>
										<td>þas</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>þisne</td>
										<td>þis</td>
										<td>þas</td>
										<td>þas</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>þisses</td>
										<td>þisses</td>
										<td>þisse</td>
										<td>þissa</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>þissum</td>
										<td>þissum</td>
										<td>þisse</td>
										<td>þissum</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="text-center tab-pane" id="that">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Se - that</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Masculine</th>
										<th>Neuter</th>
										<th>Feminine</th>
										<th>Plural</th>
									</tr>
									<tr>
										<td>
											<strong>Nominative</strong>
										</td>
										<td>se</td>
										<td>þæt</td>
										<td>seo</td>
										<td>þa</td>
									</tr>
									<tr>
										<td>
											<strong>Accusative</strong>
										</td>
										<td>þone</td>
										<td>þæt</td>
										<td>þa</td>
										<td>þa</td>
									</tr>
									<tr>
										<td>
											<strong>Genitive</strong>
										</td>
										<td>þæs</td>
										<td>þæs</td>
										<td>þære</td>
										<td>þara</td>
									</tr>
									<tr>
										<td>
											<strong>Dative</strong>
										</td>
										<td>þæm</td>
										<td>þæm</td>
										<td>þære</td>
										<td>þæm</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="grammar-tooltip">
						<button class="tooltip-header">
							Variant Demonstratives <i class="float-right fa fa-angle-double-down"
								aria-hidden="true"></i>
						</button>
						<div class="card-body hide">
							<p>
								Masculine and neuter demonstratives are consistent in their spelling, but
								there are many variant spellings for the feminine and plural genitive and dative
								forms. If you see '<em>þisre</em>' or '<em>þeosse</em>', these are valid
								alternate spellings for both the genitive and dative feminine demonstrative of '<em>þes</em>'. The plural
								genitive can be '<em>þisra</em>' or '<em>þeossa</em>', and the plural dative can be
								'<em>þisum</em>', '<em>þissum</em>', '<em>þeosum</em>' or '<em>þeossum</em>'.
								</em>'
							</p>
						</div>
					</div>
				</div>
			</div>
			<button class="solid-button button" id="hide-submit">
				<span class="label-hide">Hide Table</span>
				<span class="label-show hide">Show Table</span>
			</button>
			<p class="padding-top">You can practice using both types of demonstrative pronouns below. When you're
				ready, you can continue on to the next topic using the right link below.</p>
			<a href="pro3.html" class="float-left darkorange-text padding-top">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Dual Pronouns
			</a>
			<a href="pro5.html" class="float-right darkorange-text padding-top">Continue to Relative Pronouns
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2 class="inline-block"> Test Your Declensions</h2>
			<button id="basicbutton" data-new-questions="pro4_answers.json"
				class="solid-button button margin-bottom-ten margin-left">Just 'Þes - This'</button>
			<button id="additionalbutton" data-new-questions="pro4_5_answers.json"
				class="light-button button margin-bottom-ten">Just 'Se - The'</button>
			<br>
			<small>In the textboxes below, fill out the fully declined version of the demonstrative pronoun.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs"> <sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="pro4_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>