<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Pronouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Strong Verbs
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Introduction to Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">I</span>n addition to Weak Verbs and Irregular Verbs, Old
                English also has a category of verbs called <strong>Strong Verbs</strong>. Unlike Weak Verbs, which form
                their past tense by adding a <strong>-d</strong> or <strong>-t</strong> before the suffix, Strong Verbs
                form their past tense by changing their root vowel. For example, examine the verb in the following sentences: 
                '<em>He drincþ of ðæm wine - He drinks the wine</em>' and '<em>He dranc of ðæm wine - He drank the wine</em>'.
            </p>
                <div class="text-center">
					<div class="grammar-box darkgrey-bg">
						<div class="inline-block">
							<span class="red-text border-bottom big-text">He</span> <br>
							<span class="red-text">Subject</span>
						</div>
						<div class="inline-block">
							<span class="green-text border-bottom big-text">drincþ</span> <br>
							<span class="green-text">Verb</span>
						</div>
						<div class="inline-block">
							<span class="white-text border-bottom big-text">of</span><br>
							<span class="white-text">Prep.</span>
						</div>
						<div class="inline-block">
							<span class="blue-text border-bottom big-text">ðæm</span><br>
							<span class="blue-text">Demon.</span>
						</div>
						<div class="inline-block">
							<span class="blue-text border-bottom big-text">wine</span><br>
							<span class="blue-text">Dative</span>
                        </div>
                        <br>
                        <div class="inline-block">
							<span class="red-text border-bottom big-text">He</span> <br>
							<span class="red-text">Subject</span>
						</div>
						<div class="inline-block">
							<span class="green-text border-bottom big-text">dranc</span> <br>
							<span class="green-text">Verb</span>
						</div>
						<div class="inline-block">
							<span class="white-text border-bottom big-text">of</span><br>
							<span class="white-text">Prep.</span>
						</div>
						<div class="inline-block">
							<span class="blue-text border-bottom big-text">ðæm</span><br>
							<span class="blue-text">Demon.</span>
						</div>
						<div class="inline-block">
							<span class="blue-text border-bottom big-text">wine</span><br>
							<span class="blue-text">Dative</span>
						</div>
					</div>
				</div>
            <p>Many verbs in modern English have retained this conjugation pattern, like 'sing/sang' or 'give/gave'.
                In Old English, there are seven classes of strong verb, each identifiable by specific patterns of 
                letters in the root verb, and each with its own conjugation pattern. Some of these changes can be complex,
                so let's explore Strong Verbs class by class.
            </p>
            <p></p>
            <a href="acp5.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adverbs, Conjunctions, and
                Prepositions Overview
            </a>
            <a href="sv2.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong Verbs I 
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>