<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Pronouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Strong Verbs
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv1_5.html">Pronunciation Guide</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Introduction to Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">I</span>n addition to Weak Verbs and Irregular Verbs, Old
                English also has a category of verbs called <strong>Strong Verbs</strong>. Unlike Weak Verbs, which form
                their past tense by adding a <strong>-d</strong> or <strong>-t</strong> before the suffix, Strong Verbs
                form their past tense by changing their root vowel. For example, examine the verb 'drincan' in the
                following sentences:
                '<em>He drincþ of ðæm wine - He drinks the wine</em>' and '<em>He dranc of ðæm wine - He drank the
                    wine</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">He</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">drincþ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">of</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">ðæm</span><br>
                        <span class="blue-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">wine</span><br>
                        <span class="blue-text">Dative</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">He</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">dranc</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">of</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">ðæm</span><br>
                        <span class="blue-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">wine</span><br>
                        <span class="blue-text">Dative</span>
                    </div>
                </div>
            </div>
            <p>
                There are seven classes of Strong Verb, each with a specific signature root and conjugation pattern.
                So Class I verbs always have an (i + consonant) in the root, for example, '<em>bitan - to bite</em>'
                or
                '<em>writan - to write</em>', and they always follow the vowel change pattern
                <strong>i - a - i</strong>. We'll explore how these conjugation paterns work for each class in the individual topics of this module. 
            </p>
            <div class="text-center padding-top">
                <table class="static-table table-striped inline-block">
                    <tr>
                        <th>Class</th>
                        <th>Root Signature</th>
                        <th>Example</th>
                        <th>Change Pattern</th>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>i + consonant</td>
                        <td>Writan</td>
                        <td>i - a - i</td>
                    </tr>
                    <tr>
                        <td>II</td>
                        <td>eo/u + consonant</td>
                        <td>Beodan, Brucan</td>
                        <td>eo/u - ea - u</td>
                    </tr>

                    <tr>
                        <td>III</td>
                        <td>vowel + l/r/h/n + consonant</td>
                        <td>Helpan, Weorpan, Feohtan, Findan</td>
                        <td>i - a - u, eo/e - ea - u</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>e + l/r/m</td>
                        <td>Beran, Stelan</td>
                        <td>e - æ - æ</td>
                    </tr>

                    <tr>
                        <td>V</td>
                        <td>e + consonant (not l/r/m/n)</td>
                        <td>Sprecan</td>
                        <td>e - æ - æ</td>
                    </tr>
                    <tr>
                        <td>VI</td>
                        <td>a + consonant or e/ie + double consnant</td>
                        <td>Wascan, Hliehhan</td>
                        <td>a - o - o</td>
                    </tr>
                    <tr>
                        <td>VII</td>
                        <td>a/o/ea/æ/e + consonant</td>
                        <td>Hatan, Rædan</td>
                        <td>ea - eo - eo</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">Many verbs in modern English are descendents of these Old English strong verbs and have retained these
                conjugation patterns, for example, 'sing/sang' or 'give/gave'.
                Luckily, Strong Verbs in the present tense generally follow the same conjugations as for Weak Verbs.
                Compare the following conjugations for the weak verb '<em>hieran - to hear</em>' and strong verb
                '<em>singan - to sing</em>' in the present tense.
            </p>
            <div class="row padding-top text-center">
                <table class="static-table table-striped inline-block table-hide">
                    <tr>
                        <td colspan="3">
                            <strong>Present Tense of Hieran and Singan</strong>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Hieran</th>
                        <th>Singan</th>

                    </tr>
                    <tr>
                        <td>
                            <strong>1st Person Singular</strong>
                        </td>
                        <td>Ic hiere</td>
                        <td>Ic singe</td>

                    </tr>
                    <tr>
                        <td>
                            <strong>2nd Person Singular</strong>
                        </td>
                        <td>Þu hierst</td>
                        <td>Þu singst</td>

                    </tr>
                    <tr>
                        <td>
                            <strong>3rd Person Singular</strong>
                        </td>
                        <td>He/heo/hit hierþ</td>
                        <td>He/Heo/Hit singþ</td>

                    </tr>
                    <tr>
                        <td>
                            <strong>Plural</strong>
                        </td>
                        <td>We/Ge/Hie hieraþ</td>
                        <td>We/Ge/Hie singaþ</td>

                    </tr>
                </table>
            </div>
        </div>
        <p class="padding-top">As you can see, the endings are the same in the present tense. The table below shows the
            same two verbs, but this time in the past tense. Notice the vowel change in the root of the verb and the
            endings added to the
            2nd singular and plural of <em>singan</em>.</p>
        <div class="row padding-top text-center">
            <table class="static-table table-striped inline-block table-hide">
                <tr>
                    <td colspan="3">
                        <strong>Past Tense of Hieran and Singan</strong>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th>Hierde</th>
                    <th>Singan</th>

                </tr>
                <tr>
                    <td>
                        <strong>1st Person Singular</strong>
                    </td>
                    <td>Ic hierde</td>
                    <td>Ic sang</td>

                </tr>
                <tr>
                    <td>
                        <strong>2nd Person Singular</strong>
                    </td>
                    <td>Þu hierdest</td>
                    <td>Þu sunge</td>

                </tr>
                <tr>
                    <td>
                        <strong>3rd Person Singular</strong>
                    </td>
                    <td>He/heo/hit hierde</td>
                    <td>He/heo/hit sang</td>

                </tr>
                <tr>
                    <td>
                        <strong>Plural</strong>
                    </td>
                    <td>We/ge/hie hierdon</td>
                    <td>We/ge/hie sungon</td>

                </tr>
                <tr>
                    <td>
                        <strong>Past Participle</strong>
                    </td>
                    <td>(ge)hiered</td>
                    <td>sungen</td>

                </tr>
            </table>
        
       
        <div class="col-md-4">
            <div class="grammar-tooltip">
                <button class="tooltip-header">
                    Past Particples <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                </button>
                <div class="card-body hide">
                    <p>You'll also notice that there is a different way of forming the past participle - with a vowel change and the addition of 
                        <strong>-en</strong>, as opposed to the past participle of the weak verb <em>hieran</em> which has <strong>-ed</strong> added and is <em>(ge)hiered</em>. Sometimes this vowel
                        changes again in the formation of the past participle, so these forms will be given in the tables throughout this lesson.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
        <p>
        </p>
        <p class="padding-top">
            Verbs which follow the same pattern of vowel changes are grouped into classes. In Old English, there are
            seven classes of Strong Verb, each identifiable by regular changes to
            vowels in the root verb,
            and each with its own conjugation pattern. Some of these patterns like 'sing/sang/sung' have survived into
            modern English
            but some of them can be harder to recognise. Let's explore Strong Verbs class by class.
        </p>
        <p></p>
        <a href="acp5.html" class="float-left darkorange-text strong padding-top padding-bottom">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adverbs, Conjunctions, and
            Prepositions Overview
        </a>
        <a href="sv1_5.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
            Verbs Pronunciation Guide
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
        </div>
    </section>
</main>