<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Strong Verbs') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Class I
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>

                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Class I Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">C</span>lass I verbs have an '<strong>i</strong>' 
                followed by a consonant in the root of the verb. When they conjugate, they follow the vowel change pattern
                <strong>ī - ā - i</strong>. This means that the root vowel in the present is '<strong>ī</strong>',
                the root vowel in the past singular is '<strong>ā</strong>', and the root vowel in the past pural is
                '<strong>i</strong>'. So '<em>ic bite - I bite</em>', becomes '<em>ic bat - I bit</em>' or '<em>hie
                    biton - they bit</em>'.
            </p>
            <p>It is important to note that the '<strong>i</strong>' in the present and past plural
                are not pronounced the same way. The vowel in the present tense and past singular is
                always a long vowel,
                which is indicated by the macron above the letter. These macrons are never present in manuscripts, and
                so will not be included going forward.
                (See the <a href="advpronunciationguide.html" class="darkorange-text">advanced pronunciation guide</a>
                for an explanation of long and short vowels.)</p>
            <p>In addition to the vowel change in the root, verbs also conjugate for person and number as normal.
                Examine the verb '<em>writan</em>' in: '<em>He writ mid his fingre on ðære eorþan - He wrote in the
                    earth with his finger</em>' and '<em>We writaþ be ðæm leode - We write about the people</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">He</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">writ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">mid</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="lightorange-text border-bottom big-text">his</span><br>
                        <span class="lightorange-text">Possessive</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">fingre</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">on</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">ðære</span><br>
                        <span class="blue-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">eorþan</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">We</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">writaþ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">be</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">ðæm</span><br>
                        <span class="blue-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">leode</span><br>
                        <span class="blue-text">Dative</span>
                    </div>
                </div>
            </div>
            <p>In addition to the usual inflectional endings, and the vowel changes specific to strong verbs, there is
                one other letter change you need to watch out for with Class I Strong Verbs. Verbs which have an eth
                (<strong>ð</strong>)
                or a thorn (<strong>þ</strong>) after the vowel, then this letter changes to a '<strong>d</strong>' in
                the past tense when
                a suffix is added. For example, '<em>hie sniþaþ - they cut</em> and '<em>hie liþaþ - they travel</em>'
                become '<em>hie snidon</em>' and '<em>hie lidon</em>' in the past tense.
                This shift is caused by a sound change known as Verners Law.
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#bitan" aria-controls="bitan" role="tab" data-toggle="tab">Bitan</a>
                            </li>
                            <li role="presentation">
                                <a href="#writan" aria-controls="writan" role="tab" data-toggle="tab">Writan</a>
                            </li>
                            <li role="presentation">
                                <a href="#ripan" aria-controls="ripan" role="tab" data-toggle="tab">Ripan</a>
                            </li>
                            <li role="presentation">
                                <a href="#snithan" aria-controls="snithan" role="tab" data-toggle="tab">Sniðan</a>
                            </li>
                            <li role="presentation">
                                <a href="#lithan" aria-controls="lithan" role="tab" data-toggle="tab">Liðan</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="bitan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic bite</td>
                                        <td>Ic bat</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u bitst</td>
                                        <td>&THORN;u bite</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo bit</td>
                                        <td>He/Hit/Heo bat</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie bitaþ</td>
                                        <td>We/Ge/Hie biton</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="writan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic write</td>
                                        <td>Ic wrat</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u writst</td>
                                        <td>&THORN;u write</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo writ</td>
                                        <td>He/Hit/Heo wrat</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie writaþ</td>
                                        <td>We/Ge/Hie writon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="ripan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic ripe</td>
                                        <td>Ic rap</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u ripst</td>
                                        <td>&THORN;u ripe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo ripþ</td>
                                        <td>He/Hit/Heo rap</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie ripaþ</td>
                                        <td>We/Ge/Hie ripon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="snithan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic sniþe</td>
                                        <td>Ic snaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u snist</td>
                                        <td>&THORN;u snide</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo sniþ</td>
                                        <td>He/Hit/Heo snaþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie sniþaþ</td>
                                        <td>We/Ge/Hie snidon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="lithan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic liþe</td>
                                        <td>Ic laþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u list</td>
                                        <td>&THORN;u lide</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo liþ</td>
                                        <td>He/Hit/Heo laþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie liþaþ</td>
                                        <td>We/Ge/Hie lidon</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            Verners Law... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>
                                When voiceless stops (a consonant made with no audible sound in the throat, for example,
                                p, t, þ, ð, k, and s) are not the first or final letter, 
                                next to other voiceless consonants, or are not immediately proceeded by the stress,
                                they become a voiced stop. So <strong>p</strong> becomes <strong>b</strong>;
                                <strong>t</strong>,
                                <strong>þ</strong> and <strong>ð</strong> become <strong>d</strong>;
                                <strong>k</strong> becomes <strong>g</strong>; and <strong>s</strong> becomes
                                <strong>r</strong>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                There are many changes between present and past to keep track of in Strong Verbs, 
                but notice that the 1st person singular present and 2nd person singular past are the same for the verbs
                not affected by Verner's Law. You can practice Class I Strong Verbs below.</p>
            <a href="strongverbs.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Intro to Strong Verbs
            </a>
            <a href="sv3.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
                Verbs II
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>