<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Pronouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Class I and II
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Strong Verbs Class I and II</h2>
            <p><span class="initial-letter darkorange-text">C</span>lass I verbs follow the vowel change pattern
                <strong>ī - ā - i</strong>. This means that the root vowel in the present is '<strong>i</strong>',
                the root vowel in the past singular is '<strong>a</strong>', and the root vowel in the past pural is
                '<strong>i</strong>'. So '<em>ic bite - I bite</em>', becomes '<em>ic bat - I bit</em>' or '<em>hie
                    biton</em>'.
            </p>
            <p>It is important to note that the '<strong>i</strong>' in the present and past plural
                are not pronounced the same way. The vowel in the present tense is always a long vowel.
                (See the <a href="advpronunciationguide.html" class="darkorange-text">advanced pronunciation guide</a>
                for an explanation of
                long and short vowels.)</p>
            <p>In addition to the vowel change in the root, verbs also conjugate for person and number as normal.
                Examine the verb '<em>writan</em>' in: '<em>He writ mid his fingre on ðære eorþan - He wrote in the
                earth with his finger</em>' and '<em>We writaþ be ðæm leode - We write about the people</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">He</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">writ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">mid</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="lightorange-text border-bottom big-text">his</span><br>
                        <span class="lightorange-text">Possessive</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">fingre</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">on</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">ðære</span><br>
                        <span class="blue-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">eorþan</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">We</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">writaþ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">be</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">ðæm</span><br>
                        <span class="blue-text">Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">leode</span><br>
                        <span class="blue-text">Dative</span>
                    </div>
                </div>
            </div>
            <p>In addition to the usual inflectoinal endings, and the vowel changes specific to strong verbs, there is 
                one other letter change you need to watch out for with Class I Strong Verbs. Verbs which have an eth (ð)
                or a thorn (þ) after the vowel, then this letter changes to a '<strong>d</strong>' in the past tense when 
                a suffix is added. This shift is caused by a sound change known as Verners Law.
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#fremman" aria-controls="fremman" role="tab" data-toggle="tab">Bitan</a>
                            </li>
                            <li role="presentation">
                                <a href="#nerian" aria-controls="nerian" role="tab" data-toggle="tab">Writan</a>
                            </li>
                            <li role="presentation">
                                <a href="#hieran" aria-controls="hieran" role="tab" data-toggle="tab">Ripan</a>
                            </li>
                            <li role="presentation">
                                <a href="#sendan" aria-controls="sendan" role="tab" data-toggle="tab">Sniðan</a>
                            </li>
                            <li role="presentation">
                                <a href="#feran" aria-controls="feran" role="tab" data-toggle="tab">Liðan</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="fremman">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Weak Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                        <th class="hidden-xs">Present Suffix</th>
                                        <th class="hidden-xs">Past Suffix</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic fremme</td>
                                        <td>Ic fremede</td>
                                        <td class="hidden-xs">-e</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u fremest</td>
                                        <td>&THORN;u fremedest</td>
                                        <td class="hidden-xs">-st</td>
                                        <td class="hidden-xs">-dest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo freme&thorn;</td>
                                        <td>He/Hit/Heo fremede</td>
                                        <td class="hidden-xs">-&thorn;</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Plural</strong>
                                        </td>
                                        <td>We fremma&thorn;</td>
                                        <td>We fremedon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Plural</strong>
                                        </td>
                                        <td>Ge fremma&thorn;</td>
                                        <td>Ge fremedon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Plural</strong>
                                        </td>
                                        <td>Hie fremma&thorn;</td>
                                        <td>Hie fremedon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="nerian">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Weak Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                        <th class="hidden-xs">Present Suffix</th>
                                        <th class="hidden-xs">Past Suffix</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic nerie</td>
                                        <td>Ic nerede</td>
                                        <td class="hidden-xs">-e</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u nerest</td>
                                        <td>&THORN;u neredest</td>
                                        <td class="hidden-xs">-st</td>
                                        <td class="hidden-xs">-dest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo nereþ</td>
                                        <td>He/Hit/Heo nerede</td>
                                        <td class="hidden-xs">-&thorn;</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Plural</strong>
                                        </td>
                                        <td>We neriaþ</td>
                                        <td>We neredon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Plural</strong>
                                        </td>
                                        <td>Ge neriaþ</td>
                                        <td>Ge neredon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Plural</strong>
                                        </td>
                                        <td>Hie neriaþ</td>
                                        <td>Hie neredon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="hieran">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Weak Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                        <th class="hidden-xs">Present Suffix</th>
                                        <th class="hidden-xs">Past Suffix</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic hiere</td>
                                        <td>Ic hierde</td>
                                        <td class="hidden-xs">-e</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hierst</td>
                                        <td>&THORN;u hierdest</td>
                                        <td class="hidden-xs">-st</td>
                                        <td class="hidden-xs">-dest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hier&thorn;</td>
                                        <td>He/Hit/Heo hierde</td>
                                        <td class="hidden-xs">-&thorn;</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Plural</strong>
                                        </td>
                                        <td>We hiera&thorn;</td>
                                        <td>We hierdon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Plural</strong>
                                        </td>
                                        <td>Ge hiera&thorn;</td>
                                        <td>Ge hierdon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Plural</strong>
                                        </td>
                                        <td>Hie hiera&thorn;</td>
                                        <td>Hie hierdon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="sendan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Weak Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                        <th class="hidden-xs">Present Suffix</th>
                                        <th class="hidden-xs">Past Suffix</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic sende</td>
                                        <td>Ic sende</td>
                                        <td class="hidden-xs">-e</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u sendest</td>
                                        <td>&THORN;u sendest</td>
                                        <td class="hidden-xs">-st</td>
                                        <td class="hidden-xs">-dest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo &nbsp; sende&thorn;</td>
                                        <td>He/Hit/Heo sende</td>
                                        <td class="hidden-xs">-&thorn;</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Plural</strong>
                                        </td>
                                        <td>We sendaþ</td>
                                        <td>We sendon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Plural</strong>
                                        </td>
                                        <td>Ge sendaþ</td>
                                        <td>Ge sendon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Plural</strong>
                                        </td>
                                        <td>Hie sendaþ</td>
                                        <td>Hie sendon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="feran">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Weak Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                        <th class="hidden-xs">Present Suffix</th>
                                        <th class="hidden-xs">Past Suffix</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic fere</td>
                                        <td>Ic ferde</td>
                                        <td class="hidden-xs">-e</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u ferest</td>
                                        <td>&THORN;u ferdest</td>
                                        <td class="hidden-xs">-st</td>
                                        <td class="hidden-xs">-dest</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo &nbsp; fer&thorn; </td>
                                        <td>He/Hit/Heo ferde</td>
                                        <td class="hidden-xs">-&thorn;</td>
                                        <td class="hidden-xs">-de</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Plural</strong>
                                        </td>
                                        <td>We feraþ</td>
                                        <td>We ferdon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Plural</strong>
                                        </td>
                                        <td>Ge feraþ</td>
                                        <td>Ge ferdon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Plural</strong>
                                        </td>
                                        <td>Hie feraþ</td>
                                        <td>Hie ferdon</td>
                                        <td class="hidden-xs">-a&thorn;</td>
                                        <td class="hidden-xs">-don</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                    <div class="grammar-tooltip">
						<button class="tooltip-header">
							Verners Law... <i class="float-right fa fa-angle-double-down"
								aria-hidden="true"></i>
						</button>
						<div class="card-body hide">
							<p>
								Sometimes conjugation produces consonant groups that are hard to pronounce.
								If a word is difficult to pronounce, simplifications occur to make it
								easier to say. For example, if a <strong>d</strong> comes after an
								unvoiced consonant (c, f, h, p, s, t), it becomes a <strong>t</strong>. For example,
								the present and past 1st person singular of <em>lettan - to hinder</em> are both
								‘lette’. Similarly, <em>metan - to meet</em> is 'mete' and 'mette'. If the
								unvoiced consonant is a <strong>c</strong>, it will become an h. For example, <em>ic
									t&aelig;ce - I teach</em> but <em>ic t&aelig;hte - I taught</em>. When
								conjugation produces <strong>dþ</strong>, it is changed to <strong>tt</strong>.
							</p>
						</div>
					</div>
                </div>
            </div>
            <a href="strongverbs.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Intro to Strong Verbs
            </a>
            <a href="sv2.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
                Verbs III
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>