<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Strong Verbs') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Class III Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">C</span>lass III verbs fall into four sub-categories and
                can have a (vowel + l + consonant), a (vowel + r + consonant), a (vowel + h + consonant),
                or a (vowel + n + consonant). For example, '<em>helpan - to help</em>', 
                '<em>weorpan - to throw</em>', '<em>feohtan - to fight</em>',
                and '<em>findan - to find</em>'.</p>
            <p>
                When they conjugate, they follow the vowel change pattern
                <strong>i - a - u</strong>, <strong>eo - ea - u</strong> or <strong>e - ea - u</strong>.
                This means that the root vowel in the present is either '<strong>i</strong>', '<strong>eo</strong>' or
                '<strong>e</strong>', the root vowel in the past singular is '<strong>a</strong>' or
                '<strong>ea</strong>', and the root vowel in the past pural is
                '<strong>u</strong>'. So '<em>ic findan - I find</em>', becomes '<em>ic fand - I found</em>' or
                '<em>hie fundon - they found</em>'. Examine the verbs '<em>melcan - to milk</em>' and '<em>feohtan - to
                fight</em>' in the sentences below (<em>cu</em> is the ancestor of English 'cow').
            </p>
            <div class="row">
                <div class="text-center col-sm-6">
                    <div class="grammar-box darkgrey-bg float-right mobile-full-width">
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">melce</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þa</span><br>
                            <span class="yellow-text">Demon.</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">cu</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">mealc</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þa</span><br>
                            <span class="yellow-text">Demon.</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">cu</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Hie</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">molcen</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þa</span><br>
                            <span class="yellow-text">Demon.</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">cu</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                    </div>
                </div>
                <div class="text-center col-sm-6">
                    <div class="grammar-box darkgrey-bg float-left mobile-full-width">
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">feohte</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þa</span><br>
                            <span class="yellow-text">Demon.</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">cu</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">feaht</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þa</span><br>
                            <span class="yellow-text">Demon.</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">cu</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Hie</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">fuhton</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þa</span><br>
                            <span class="yellow-text">Demon.</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">cu</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                    </div>
                </div></div>
            <p>
                When a verb has an '<strong>ie</strong>' in the root, for example, '<em>gieldan - to repay</em>' or
                '<em>giellan - to yell</em>',
                treat them as if it were an '<strong>e</strong>'. This is because the vowels '<strong>æ</strong>'
                and '<strong>e</strong>' are changed into the <abbr
                    title="A sound formed by the combination of two vowels in a single syllable">diphthongs</abbr>
                '<strong>ea</strong>' and '<strong>ie</strong>' when
                preceded by an initial palatal (<strong>g</strong>, <strong>c</strong>, or <strong>sc</strong>).
                This is known as <strong>palatal diphthongization</strong> and it affects Class IV and Class V verbs also, so bear it in
                mind when you see an '<strong>ie</strong>' in the root of a verb.
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#drincan" aria-controls="drincan" role="tab" data-toggle="tab">Drincan</a>
                            </li>
                            <li role="presentation">
                                <a href="#helpan" aria-controls="helpan" role="tab" data-toggle="tab">Helpan</a>
                            </li>
                            <li role="presentation">
                                <a href="#feohtan" aria-controls="feohtan" role="tab" data-toggle="tab">Feohtan</a>
                            </li>
                            <li role="presentation">
                                <a href="#weorpan" aria-controls="weorpan" role="tab" data-toggle="tab">Weorpan</a>
                            </li>
                            <li role="presentation">
                                <a href="#gieldan" aria-controls="yieldan" role="tab" data-toggle="tab">Gieldan</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="drincan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class III</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic drince</td>
                                        <td>Ic dranc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u drincst</td>
                                        <td>&THORN;u drunce</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo drincþ</td>
                                        <td>He/Hit/Heo dranc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie drincaþ</td>
                                        <td>We/Ge/Hie druncon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="helpan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class III</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic helpe</td>
                                        <td>Ic healp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hilpst</td>
                                        <td>&THORN;u helpe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hilpþ</td>
                                        <td>He/Hit/Heo healp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie helpaþ</td>
                                        <td>We/Ge/Hie hulpon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="feohtan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class III</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic feohte</td>
                                        <td>Ic feaht</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u fiehst</td>
                                        <td>&THORN;u fuhte</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo fieht</td>
                                        <td>He/Hit/Heo feaht</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie feohtaþ</td>
                                        <td>We/Ge/Hie fuhton</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="weorpan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class III</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic weorpe</td>
                                        <td>Ic wearp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u wierpst</td>
                                        <td>&THORN;u wurpe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo wierpþ</td>
                                        <td>He/Hit/Heo wearp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie weorpaþ</td>
                                        <td>We/Ge/Hie wurpon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="gieldan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class III</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic gielde</td>
                                        <td>Ic geald</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u gielst</td>
                                        <td>&THORN;u gulde</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo gielt</td>
                                        <td>He/Hit/Heo geald</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie gieldaþ</td>
                                        <td>We/Ge/Hie guldon</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <p>Class III verbs are complex with many variations. Take your time and practice them below until you feel
                comfortable with the vowel changes.</p> 
                
                <p>Also, remember that the important thing is to understand the <em>way</em> that
                strong verbs work, rather than trying to remember all the different patterns. As with all strong verbs, the key 
                takeaways are that there is a vowel change in the root of the verb to indicate the past tense; that these
                vowel changes follow certain patterns that link them to other verbs; and that within a strong verb's conjugation this 
                vowel change is the same for first and third person singular, and for second person singular and plural past.</p>
            <a href="sv3.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs II
            </a>
            <a href="sv5.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
                Verbs IV
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>