<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Strong Verbs') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Class IV
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Class IV Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">C</span>lass IV verbs have a (vowel + l/r). For example,
            '<em>beran - to bear</em>' or '<em>stelan - to steal</em>'.  When they conjugate, they follow the vowel change pattern
            <strong>e - æ - ǣ</strong>. So the root vowel in the present is '<strong>e</strong>',
            the root vowel in the past singular (or first past) is '<strong>æ</strong>', and the root vowel in the past plural (or second past) is
            '<strong>ǣ</strong>' (with the macron included here indicating that it is a long vowel). For example, '<em>ic cwele - I die</em>', becomes '<em>ic cwæl - I died</em>' or
                '<em>hie cwǣlon - they died</em>'. Examine the verb '<em>beran - to bear</em>' in the sentences below - 'she carries a spear' and 'she carried a spear'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg mobile-full-width">
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">Heo</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">gar</span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">bireþ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">Heo</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">gar</span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">bær</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                </div>
            </div>
            <p>
                There are two verbs which are considered Class IV verbs but which differ from the regular pattern of most verbs in this class: '<em>niman - to take</em>'
                and '<em>cuman - to come</em>'. These are two commonly used verbs so it is important to 
                recognise them in all their forms. The vowel in both verbs becomes '<strong>o</strong>' in the past singular 
                and '<strong>o</strong>' in the past plural. 
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#stelan" aria-controls="stelan" role="tab" data-toggle="tab">Stelan</a>
                            </li>
                            <li role="presentation">
                                <a href="#beran" aria-controls="beran" role="tab" data-toggle="tab">Beran</a>
                            </li>
                            <li role="presentation">
                                <a href="#cwelan" aria-controls="cwelan" role="tab" data-toggle="tab">Cwelan</a>
                            </li>
                            <li role="presentation">
                                <a href="#niman" aria-controls="niman" role="tab" data-toggle="tab">Niman</a>
                            </li>
                            <li role="presentation">
                                <a href="#cuman" aria-controls="cuman" role="tab" data-toggle="tab">Cuman</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="stelan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class IV</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic stele</td>
                                        <td>Ic stæl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u stilest</td>
                                        <td>&THORN;u stælle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo stileþ</td>
                                        <td>He/Hit/Heo stæl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie stelaþ</td>
                                        <td>We/Ge/Hie stælon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="beran">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class IV</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic bere</td>
                                        <td>Ic bær</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u birest</td>
                                        <td>&THORN;u bære</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo bireþ</td>
                                        <td>He/Hit/Heo bær</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie beraþ</td>
                                        <td>We/Ge/Hie bæron</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="cwelan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class IV</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic cwele</td>
                                        <td>Ic cwæl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u cwilest</td>
                                        <td>&THORN;u cwæle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo cwileþ</td>
                                        <td>He/Hit/Heo cwæl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie cwelaþ</td>
                                        <td>We/Ge/Hie cwælon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="niman">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class IV</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic nime</td>
                                        <td>Ic nom</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u nimest</td>
                                        <td>&THORN;u nome</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo nimeþ</td>
                                        <td>He/Hit/Heo nom</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie nimaþ</td>
                                        <td>We/Ge/Hie nomon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="cuman">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class IV</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic cume</td>
                                        <td>Ic com</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u cymest</td>
                                        <td>&THORN;u come</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo cymeþ</td>
                                        <td>He/Hit/Heo com</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie cumaþ</td>
                                        <td>We/Ge/Hie comon</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <p>Aside from the two irregular Class IV verbs '<em>niman</em>' and '<em>cuman</em>', all other Class IV verbs should be easy to recognise and conjugate. You can practice them below.</p>
            <a href="sv4.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs III
            </a>
            <a href="sv6.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
                Verbs V
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>