<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Strong Verbs') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Class V
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Class V Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">C</span>lass V verbs have a (vowel + consonant) when that
                consonant isn't l/r/m/n. For example,
                '<em>sprecan - to speak</em>' or '<em>cweþan - to say</em>'. When they conjugate, they follow the vowel
                change pattern <strong>e - æ - ǣ</strong>. So the root vowel in the present is '<strong>e</strong>',
                the root vowel in the past singular is '<strong>æ</strong>', and the root vowel in the past plural is
                '<strong>ǣ</strong>' (with the macron included here indicating that it is a long vowel). For example, '<em>ic cweþe - I say</em>', becomes '<em>ic cwæþ - I said</em>'
                or '<em>hie cwǣdon - they said</em>'. Examine the verb '<em>sprecan - to speak</em>' in the sentences
                below.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg mobile-full-width">
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">Heo</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">spricþ</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">him</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <br>
                    <div class="inline-block">
                        <span class="red-text border-bottom big-text">Heo</span> <br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text border-bottom big-text">spræc</span> <br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">him</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                </div>
            </div>
            <p>
                You may notice this makes Class V verbs very similar to Class IV verbs. The two classes conjugate
                identically
                in the present and past. However, there are two key differences between the classes. The first is how
                they conjugate
                to form the past participle - a verbal form which will be covered in a later module - and the second is that
                Class V verbs have a subclass of
                verbs which have an (i + double consonant). For example, '<em>sittan - to sit</em>' or '<em>þicgan - to
                    partake</em>'.
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#cweþan" aria-controls="cweþan" role="tab" data-toggle="tab">Cweþan</a>
                            </li>
                            <li role="presentation">
                                <a href="#giefan" aria-controls="giefan" role="tab" data-toggle="tab">Giefan</a>
                            </li>
                            <li role="presentation">
                                <a href="#sprecan" aria-controls="sprecan" role="tab" data-toggle="tab">Sprecan</a>
                            </li>
                            <li role="presentation">
                                <a href="#sittan" aria-controls="sittan" role="tab" data-toggle="tab">Sittan</a>
                            </li>
                            <li role="presentation">
                                <a href="#thicgan" aria-controls="thicgan" role="tab" data-toggle="tab">Ðicgan</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="cweþan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class V</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic cweþe</td>
                                        <td>Ic cwæþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u cwist</td>
                                        <td>&THORN;u cwæde</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo cwiþ</td>
                                        <td>He/Hit/Heo cwæþ</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie cweþaþ</td>
                                        <td>We/Ge/Hie cwædon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="giefan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class V</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic giefe</td>
                                        <td>Ic geaf</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u giefst</td>
                                        <td>&THORN;u geafe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo giefþ</td>
                                        <td>He/Hit/Heo geaf</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie giefaþ</td>
                                        <td>We/Ge/Hie geafon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="sprecan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class V</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic sprece</td>
                                        <td>Ic spræc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u spricst</td>
                                        <td>&THORN;u spræce</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo spricþ</td>
                                        <td>He/Hit/Heo spræc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie sprecaþ</td>
                                        <td>We/Ge/Hie spræcon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="sittan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class V</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic sitte</td>
                                        <td>Ic sæt</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u sitst</td>
                                        <td>&THORN;u sæte</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo sit</td>
                                        <td>He/Hit/Heo sæt</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie sittaþ</td>
                                        <td>We/Ge/Hie sæton</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="thicgan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class V</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic þicge</td>
                                        <td>Ic þeah</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u þigst</td>
                                        <td>&THORN;u þæge</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo þigþ</td>
                                        <td>He/Hit/Heo þeah</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie þicgaþ</td>
                                        <td>We/Ge/Hie þeagon</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                           Verbs With Double Consonants... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>
                                Strong Verbs with a double consonant in the infinitive, for example '<em>biddan - to ask</em>', 
                                lose one of the letters
                                when they gain a present suffix without a vowel or
                                when conjugated in the past tense.
                                So '<em>biddan</em>' becomes '<em>bæd</em>' in the singular past and '<em>bædon</em>' in the plural
                                past. You will see the same shortening of consonants in the verb '<em>sittan</em>' in the table.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>You can practice Class V strong verbs below.</p>
            <a href="sv5.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs IV
            </a>
            <a href="sv7.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
                Verbs VI
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <hr class="border">
    <section>
		<div>
			<h2>Test Your Conjugations!</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="sv6_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>