<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Strong Verbs') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">

                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Class VII
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv9.html">Strong Verbs Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Class VII Strong Verbs</h2>
            <p><span class="initial-letter darkorange-text">C</span>lass VII verbs are the most irregular.
                They can have an (a/o/ea/æ/e + consonant). For example,
                '<em>hatan - to order</em>', '<em>rædan - to counsel</em>', '<em>hleapan - to leap</em>' or '<em>growan - to grow</em>'. 
                When they conjugate, they can follow one of two patterns. Either they take '<strong>e</strong>'
                in both the past singular and past plural or they take '<strong>eo</strong>'. Examine the verbs 
                '<em>hatan - to order</em>' and '<em>cnawan - to know</em>' in the sentences below.
            </p>
            <div class="row">
                <div class="text-center col-sm-6">
                    <div class="grammar-box darkgrey-bg float-right mobile-full-width">
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">cnawe</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þe</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">cneow</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þe</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Hie</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">cneowon</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">þe</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                    </div>
                </div>
                <div class="text-center col-sm-6">
                    <div class="grammar-box darkgrey-bg float-left mobile-full-width">
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">hate</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">him</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Ic</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">het</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">him</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Hie</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">heton</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">him</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                    </div>
                </div>
            </div>
            <p>
                
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#wascan" aria-controls="washan" role="tab" data-toggle="tab">Wascan</a>
                            </li>
                            <li role="presentation">
                                <a href="#dragan" aria-controls="drayan" role="tab" data-toggle="tab">Dragan</a>
                            </li>
                            <li role="presentation">
                                <a href="#hebban" aria-controls="hebban" role="tab" data-toggle="tab">Hebban</a>
                            </li>
                            <li role="presentation">
                                <a href="#steppan" aria-controls="steppan" role="tab" data-toggle="tab">Steppan</a>
                            </li>
                            <li role="presentation">
                                <a href="#hliehhan" aria-controls="hliehhan" role="tab" data-toggle="tab">Hliehhan</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="wascan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VII</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic wasce</td>
                                        <td>Ic wosc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u wæscst</td>
                                        <td>&THORN;u wosc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo wæscþ</td>
                                        <td>He/Hit/Heo wosc</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie wascaþ</td>
                                        <td>We/Ge/Hie woscon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="dragan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VII</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic drage</td>
                                        <td>Ic drog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u drægst</td>
                                        <td>&THORN;u droge</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo drægþ</td>
                                        <td>He/Hit/Heo drog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie dragaþ</td>
                                        <td>We/Ge/Hie drogon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="hebban">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VII</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic hebbe</td>
                                        <td>Ic hof</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hefest</td>
                                        <td>&THORN;u hofe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hefeþ</td>
                                        <td>He/Hit/Heo hof</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie hebbaþ</td>
                                        <td>We/Ge/Hie hofon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="steppan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VII</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic steppe</td>
                                        <td>Ic stop</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u stepest</td>
                                        <td>&THORN;u stope</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo stepeþ</td>
                                        <td>He/Hit/Heo stop</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie steppaþ</td>
                                        <td>We/Ge/Hie stopon</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="hliehhan">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VII</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic hliehhe</td>
                                        <td>Ic hlog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>&THORN;u hliehst</td>
                                        <td>&THORN;u hloge</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hliehþ</td>
                                        <td>He/Hit/Heo hlog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie hliehhaþ</td>
                                        <td>We/Ge/Hie hlogon</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            i-mutation... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>
                                When voiceless stops appear in a voiced environment (not initially, finally or
                                next to other voiceless consonants) and are not immediately proceeded by the stress,
                                they become a voiced stop. So <strong>p</strong> becomes <strong>b</strong>;
                                <strong>t</strong>,
                                <strong>þ</strong> and <strong>ð</strong> become <strong>d</strong>;
                                <strong>k</strong> becomes <strong>g</strong>; and <strong>s</strong> becomes
                                <strong>r</strong>.
                            </p>
                        </div>
                    </div>
                    <div class="grammar-tooltip">
                        <button class="tooltip-header">
                            Verner's Law... <i class="float-right fa fa-angle-double-down" aria-hidden="true"></i>
                        </button>
                        <div class="card-body hide">
                            <p>
                                When voiceless stops appear in a voiced environment (not initially, finally or
                                next to other voiceless consonants) and are not immediately proceeded by the stress,
                                they become a voiced stop. So <strong>p</strong> becomes <strong>b</strong>;
                                <strong>t</strong>,
                                <strong>þ</strong> and <strong>ð</strong> become <strong>d</strong>;
                                <strong>k</strong> becomes <strong>g</strong>; and <strong>s</strong> becomes
                                <strong>r</strong>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p>Because of the wide range of verbs in this class, it is the most commonly encountered. Many of the words should be
                recognisable to an English speaker, and they have kept their vowel change though usually it's been simplified to a 
                single '<strong>e</strong>'. For example, 'grow' and 'grew', 'leap' and 'lept', 'know' and 'knew' or 'fall' and 'fell'.
                You can practice Class VII verbs below.</p>
            <a href="sv7.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs VI
            </a>
            <a href="sv9.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to Strong
                Verbs Overview
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
</main>+