<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Strong Verbs') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="strongverbs.html">Strong Verbs</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv1_5.html">Pronunciation Guide</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv2.html">Class I</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv3.html">Class II</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv4.html">Class III</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv5.html">Class IV</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv6.html">Class V</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv7.html">Class VI</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="sv8.html">Class VII</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Strong Verbs Overview
                    </li>
                </ol>
            </div>
            <h2>Strong Verbs Overview</h2>
            <p><span class="initial-letter darkorange-text">S</span>trong Verbs are one of the most complex elements
                of Old English grammar as they are so heavily altered by sound changes that happened as Old English
                evolved from the earliest forms of the language. The most important thing to remember about Strong Verbs is
                that they form their past tense by changing the
                root vowel of the verb. So '<em>ic bite - I bite</em>' becomes '<em>ic bat - I bit</em>' and
                '<em>ic write - I write</em>' becomes '<em>ic wrat - I wrote</em>'.</p>
            <p>Many modern English
                verbs still form their past tense in this way. However, many verbs which are strong in Old English have
                weakened in modern English and form their past by adding 'ed', so do not rely on modern verbs to figure
                out
                which are strong in Old English. For example, examine the sentences below:
                '<em>Wyrmas his lichaman ceowað - Worms chew his body</em>' and '<em>Wyrmas his lichaman cuwon - Worms
                    chewed his body</em>'. The Old English 'ceowan' is strong, and its modern English descendant 'chew' is weak.
            </p>
            <div class="row">
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg">
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Wyrmas</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="lightorange-text border-bottom big-text">his</span><br>
                            <span class="lightorange-text">Possessive</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">lichaman</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">ceowað</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                        <br>
                        <div class="inline-block">
                            <span class="red-text border-bottom big-text">Wyrmas</span> <br>
                            <span class="red-text">Subject</span>
                        </div>
                        <div class="inline-block">
                            <span class="lightorange-text border-bottom big-text">his</span><br>
                            <span class="lightorange-text">Possessive</span>
                        </div>
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">lichaman</span><br>
                            <span class="yellow-text">Object</span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text border-bottom big-text">cuwon</span> <br>
                            <span class="green-text">Verb</span>
                        </div>
                    </div>
                </div>
            </div>
            <p>The second important thing to remember is that there are two vowel changes used to form the 
            past tense of strong verbs. The first vowel change is used for first and third person singular past, and the second
            vowel change is used for second person singular and the plural past. There are no endings for first and third past 
            (so we have '<em>ic/heo wrat - I/she wrote</em>') but there are endings added to second person singular past ('<em>ðu write - you wrote</em>')
            and plural past ('<em>we writon - we wrote'</em>). Finally, there is sometimes a third vowel change to form the past participle. Many of the 
            past participles of strong verbs in modern English are descended from these forms.</p>
            <p></p>
            <h3>Strong Verb Classes</h3>    
            <p>
                There are seven classes of Strong Verb, each with a specific signature root and conjugation pattern.
                So Class II verbs always have an (eo/u + consonant) in the root, for example, '<em>beowan - to chew</em>'
                or
                '<em>lutan - to bend</em>') and always follow the vowel change pattern
                <strong>eo - ea - u</strong> or <strong>u - ea - u</strong>. Class VI verbs can have an (a + consonant or e/ie + double consonant),
                for example, '<em>wascan - to wash</em>' or '<em>sceððan - to injure</em>', and follow the vowel change 
                pattern  <strong>e - æ - æ</strong>.
            </p>
            <div class="text-center padding-top">
                <table class="static-table table-striped inline-block">
                    <tr>
                        <th>Class</th>
                        <th>Root Signature</th>
                        <th>Example</th>
                        <th>Change Pattern</th>
                    </tr>
                    <tr>
                        <td>I</td>
                        <td>i + consonant</td>
                        <td>Writan</td>
                        <td class="nomacron">i - a - i</td>
                        <td class="macron hide">ī - ā - i</td>
                    </tr>
                    <tr>
                        <td>II</td>
                        <td>eo/u + consonant</td>
                        <td>Beodan, Brucan</td>
                        <td class="nomacron">eo/u - ea - u</td>
                        <td class="macron hide">ēo/ū - ēa - u</td>
                    </tr>
                    <tr>
                        <td>III</td>
                        <td>vowel + l/r/h/n + consonant</td>
                        <td>Helpan, Weorpan, Feohtan, Findan</td>
                        <td>i - a - u, eo/e - ea - u</td>
                    </tr>
                    <tr>
                        <td>IV</td>
                        <td>e + l/r/m</td>
                        <td>Beran, Stelan</td>
                        <td class="nomacron">e - æ - æ</td>
                        <td class="macron hide">e - æ - ǣ</td>
                    </tr>

                    <tr>
                        <td>V</td>
                        <td>e + consonant (not l/r/m/n)</td>
                        <td>Sprecan</td>
                        <td class="nomacron">e - æ - æ</td>
                        <td class="macron hide">e - æ - ǣ</td>
                    </tr>
                    <tr>
                        <td>VI</td>
                        <td>a + consonant or e/ie + double consnant</td>
                        <td>Wascan, Hliehhan</td>
                        <td class="nomacron">a - o - o</td>
                        <td class="macron hide">a - ō - ō</td>
                    </tr>
                    <tr>
                        <td>VII</td>
                        <td>a/o/ea/æ/e + consonant</td>
                        <td>Hatan, Rædan</td>
                        <td class="nomacron">a - e - e, ea - eo - eo</td>
                        <td class="macron hide">a - e - ē, ea - eo - ēo</td>
                    </tr>
                </table>
            <button class="solid-button button" id="macron-toggle">
                <span class="macron-hide">Show Macrons</span>
                <span class="macron-hide hide">Hide Macrons</span>
            </button>
            </div>
            <h3>Other Rules to Remember</h3>
            <p><strong>I-mutation</strong> occurs in most Strong Verbs in the 2nd and 3rd person singular present. So
                '<em>ic cweþe - I say</em>' becomes '<em>&thorn;u cwist - you say</em>' and '<em>heo cwiþ - she says</em>'. Do
                not get confused between the root vowel change when a verb is used in the past tense, '<em>heo cwæþ - she
                    said</em>'
                and i-mutation which applies to second and third person in the present tense.
            </p>
            <p><strong>Verners law</strong> causes <abbr tabindex="0" title="a consonant made with no audible sound in the
                throat">voiceless stops</abbr> to change to a <abbr tabindex="0"
                    title="A consonant made with a sound in the throat">voiced stop</abbr>
                if it is not the first or final letter, next to other voiceless consonants, or not immediately
                proceeded by the stress. This means that when a verb has a letter like '<strong>þ</strong>' 
                or '<strong>r</strong>' directly after the root vowel, and it gains a suffix, the 
                '<strong>þ</strong>' changes to a '<strong>d</strong>' and the '<strong>s</strong>' changes to an
                '<strong>r</strong>'. 
            </p>
            <p><strong>Double consonants</strong>, like those found in verbs such as '<em>hliehhan - to laugh</em>',
                or '<em>steppan - to step</em>', are shortened when the verb gains a present suffix without a vowel 
                or when conjugated in the past tense. For example, '<em>Þu hliehst - you laugh</em>' and 
                '<em>Þu stope - you stepped</em>'.
                Similarly, if a difficult to pronounce double consonant would 
                be produced by conjugation, it will be simplified
                so that it is easier to pronounce. So if
                a '<strong>þ/ð</strong>' comes after an unvoiced consonant like '<strong>t</strong>', it
                becomes a '<strong>t</strong>' also. 
                So '<em>hatan</em>' conjugates to '<em>heo hætt - she orders</em>' not
                '<em>heo hætþ</em>'. Similiarly, if a '<strong>þ</strong>' comes after a
                '<strong>d</strong>',
                they become '<strong>tt</strong>'. For example, '<em>rædan</em>' becomes '<em>heo rætt -
                she advises</em>', not '<em>heo rætþ</em>'. However, if '<strong>tþ</strong>' or '<strong>dþ</strong>'
                comes after another consonant, then it is changed to a single '<strong>t</strong>'. For example, 
                '<em>meltan - to melt</em>' conjugates to '<em>hit milt - it melts</em>' not '<em>'hit meltþ'</em>'.
            </p>
            <h3>Working with Strong Verbs </h3>
            <p>If you look up a verb form in a dictionary, you may need to find the infinitive (-an) form, and this can be tricky with strong verbs which have different vowels in the past tense.
                A good rule of thumb is to take the form you encounter in a text (such as '<em>wrat</em>') and then look at the sequence of vowel changes that have an -<strong>a</strong>- in the past
                tense: you should then be able to work out that the vowel in the infinitive is an -<strong>i</strong>- and be able to look up '<em>writan</em>' rather than the nonexistant '<em>wratan</em>' in a dictionary.
            </p>
            <p>The table below gives you a quick reference for recognising the seven different classes, but remember that there are some
                sub-divisions within these seven classes. Use this as a guide when completing the quiz, but navigate to the pages on individual classes of strong verbs for the full picture!
            </p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs five-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#i" aria-controls="class one" role="tab" data-toggle="tab">I</a>
                            </li>
                            <li role="presentation">
                                <a href="#ii" aria-controls="class two" role="tab" data-toggle="tab">II</a>
                            </li>
                            <li role="presentation">
                                <a href="#iii" aria-controls="class three" role="tab" data-toggle="tab">III</a>
                            </li>
                            <li role="presentation">
                                <a href="#iv" aria-controls="class four" role="tab" data-toggle="tab">IV</a>
                            </li>
                            <li role="presentation">
                                <a href="#v" aria-controls="class five" role="tab" data-toggle="tab">V</a>
                            </li>
                            <li role="presentation">
                                <a href="#vi" aria-controls="class six" role="tab" data-toggle="tab">VI</a>
                            </li>
                            <li role="presentation">
                                <a href="#vii" aria-controls="class seven" role="tab" data-toggle="tab">VII</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active" id="i">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class I</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic write</td>
                                        <td>Ic wrat</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu writst</td>
                                        <td>Þu write</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo writ</td>
                                        <td>He/Hit/Heo wrat</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie writaþ</td>
                                        <td>We/Ge/Hie writon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>writende</td>
                                        <td>(ge)writen</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="ii">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class II</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic beode</td>
                                        <td>Ic bead</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu bietst</td>
                                        <td>Þu bude</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo biet</td>
                                        <td>He/Hit/Heo bead</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie beodaþ</td>
                                        <td>We/Ge/Hie budon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>beodende</td>
                                        <td>(ge)boden</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="iii">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class III</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic helpe</td>
                                        <td>Ic healp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu hilpst</td>
                                        <td>Þu helpe</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hilpþ</td>
                                        <td>He/Hit/Heo healp</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie helpaþ</td>
                                        <td>We/Ge/Hie hulpon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>helpende</td>
                                        <td>(ge)holpen</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="iv">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class IV</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic cwele</td>
                                        <td>Ic cwæl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu cwilest</td>
                                        <td>Þu cwæle</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo cwileþ</td>
                                        <td>He/Hit/Heo cwæl</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie cwelaþ</td>
                                        <td>We/Ge/Hie cwælon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>cwelende</td>
                                        <td>(ge)cwolen</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="v">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class V</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic sitte</td>
                                        <td>Ic sæt</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu sitst</td>
                                        <td>Þu sæte</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo sit</td>
                                        <td>He/Hit/Heo sæt</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie sittaþ</td>
                                        <td>We/Ge/Hie sæton</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>sittende</td>
                                        <td>(ge)seten</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="vi">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VI</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic hliehhe</td>
                                        <td>Ic hlog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu hliehst</td>
                                        <td>Þu hloge</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hliehþ</td>
                                        <td>He/Hit/Heo hlog</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie hliehhaþ</td>
                                        <td>We/Ge/Hie hlogon</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>hliehhende</td>
                                        <td>(ge)hlægen</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane" id="vii">
                                <table class="tabbed-table table-striped inline-block five-col-table table-hide">
                                    <tr>
                                        <td colspan="5">
                                            <strong>Strong Verbs Class VII</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>Present Tense</th>
                                        <th>Past Tense</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>1st Person Singular</strong>
                                        </td>
                                        <td>Ic hate</td>
                                        <td>Ic het</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>2nd Person Singular</strong>
                                        </td>
                                        <td>Þu hætst</td>
                                        <td>Þu hete</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>3rd Person Singular</strong>
                                        </td>
                                        <td>He/Hit/Heo hætt</td>
                                        <td>He/Hit/Heo het</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Plural</strong>
                                        </td>
                                        <td>We/Ge/Hie hataþ</td>
                                        <td>We/Ge/Hie heton</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Participles</strong>
                                        </td>
                                        <td>hatende</td>
                                        <td>(ge)haten</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                    <br><br>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
            <p>
                You can practice Strong Verbs below.</p>
            <a href="sv8.html" class="float-left darkorange-text strong padding-top padding-bottom">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Strong Verbs VII
            </a>
            <a href="negations.html" class="float-right darkorange-text strong padding-top padding-bottom">Continue to
                Negations
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <hr class="border">
	<section>
		<div>
			<h2>Test Your Conjugations!</h2>
			<small>In the textboxes below, fill out the fully conjugated version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="sv9_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
	<hr class="border">
	<section>
		<h2>Test Your Vocabulary</h2><p>You were introduced  to a lot of new vocabulary in this module. Test your understanding of
			those new words by clicking the button below. This opens a modal where you can translate
			words on a flashcard.</p>
		<div class="text-center">
			<button class="solid-button button modal-button" data-toggle="modal" data-target="#fsModal">Test Your
				Vocabulary!</button></div>
		<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-hidden="true">
			<!-- dialog -->
			<div class="modal-dialog">

				<!-- content -->
				<div class="modal-content">

					<!-- header -->
					<div class="modal-header">
						<h1 class="modal-title">
							Test Your Vocabulary
						</h1>
					</div>
					<!-- header -->

					<!-- body -->
					<div class="modal-body" data-question-file="sv_vocab.json">
						<div class="flashcard-row">
							<button class="light-button button translation-button" data-language="old">Old English <i
									class="fas fa-exchange-alt"></i> Modern
								English</button>
						</div>
						<div class="flashcard-row small-padding-top">
							<div class="flashcard">

							</div>
						</div>
						
						<div class="flashcard-row">
							<p class="explanatory-text text-center" data-text="Translate the above word<span class='hidden-xs'> using the input below</span>">Translate the above word<span class="hidden-xs"> using the input below</span></p>
						</div>
						<div class="flashcard-row">
								<input type="text" class="flashcard-answer text-center" data-new-placeholder="e.g. to see" data-old-placeholder="e.g. cwellan" placeholder="e.g. to see">
						</div>
						
						<div class="flashcard-row">
							<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
							<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
							<button class="light-button button special-character" data-char="&eth;">&eth;</button>
							</div>
						<div class="flashcard-row small-padding-top">
							<button class="solid-button button flashcard-check center-button" aria-label="Check">Check</button>
							<button class="solid-button button try-another center-button hide" aria-label="Try Another">Try Another</button>
						</div>
					</div>
				</div>
				<!-- body -->
				<!-- footer -->
				<div class="modal-footer">
					<button class="solid-button button close-button" data-dismiss="modal" aria-label="Close">Close</button>
				</div>
				<!-- footer -->

			</div>
			<!-- content -->

		</div>
		<!-- dialog -->

		</div>
		<!-- modal -->
	</section>
</main>