<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    
                   
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                     </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax.html">Basic Syntax</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Word Order
                    </li>
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax2.html">Correlation</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax3.html">Prose Style</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax4.html">Syntax Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                </ol>
            </div>
            <h2>Old English Style</h2>
            <p><span class="initial-letter darkorange-text">T</span>here are several more features of Old English prose that may be
                unfamiliar, but which you will quickly get used to when you start translating Old English texts. One of these is the dropping
                of the subject in places where modern English would require one, particularly with certain verbs, and in constructions such 
                as 'it is hot', where we use an impersonal subject. Another thing to watch out for are 
            </p>
            <h3>Dropping the Subject</h3>
            <p>We've learned so far that Old English syntax is more flexible than in modern English, with the Subject-Verb-Object order
                changing in different situations. But as an inflected language, the subject sometimes isn't needed at all, particularly if it
                is clear from the context. Examine the following sentence '<em>He eode eft ongean to þam bearnum, wolde gewytan gif 
                    hie slæpende wæron - He went back again to the children, (he) wanted to see if they were sleeping</em>'.
            </p>  
            <p>In the second clause of the sentence, we would expect either a coordinating conjunction (and), or a reiteration of the subject,
                but the Old English leaves it out. This is not uncommon, but the subject is easily deduced when read in context. Sometimes consecutive
                clauses introduced by 'and' also leave out the subject, which brings us onto another feature of Old English prose: repeated independent
                clauses. 
            </p>
            <h3>Repeated Clauses</h3>
            <p>Old English prose has a tendency towards long sentences with repeated use of the conjunction 'and/ond'. Even shorter sentences
                can seem clumsy to us because of their repetition of 'and'. Examine the sentence below, '<em>Hi ða eodon, ond gemetton þone assan, 
                    ond his folan, ond woldon lædan to ðam hælende - They went then, and came upon the ass, and his foal, and wanted to lead (them)
                    to the saviour'</em>'.
            </p>
            <p>In this sentence we only have the subject - they - stated at the start, and we have a coordinating conjunction used to link the two 
                objects (the ass and the foal), as well as to introduce the next independent clause 'and wanted to lead'. This is a relatively short
                sentence, and it is not 'bad' style. Examine the below, which is from text written by Ælfric, the greatest homilist of his age:
            </p>
            <p>'<em>Betwux ðam ascuton þa awyrigedan gastas sume of þære nywelnysse wið min, mid byrnendum eagum, and of heora muðe and nosþyrlum stod 
                stincende steam, and woldon me gelæccan mid heora byrnendum tangum, ac hie ne mihton þurh godes gescyldnysse me hreppan - In the 
                meantime, some of the accursed spirits shot up from the abyss towards me, with burning eyes, and out of their mouths and nostrils came a 
                stinking steam, and (they) wanted to grab me with their burning tongs, but they could not through God's protection touch me.'</em>
            </p>
            <p>The main difficulty with this sentence is the successive clauses introduced by <em>and</em> and <em>ac - but</em>. We would probably
                split the sentence in two, and re-state the subject. However, remember that the inflections do a lot of work in Old English, and the 
                succession of plural verbs makes it clear that it is the accursed spirits who are the subject. There are a couple of other 
                things to note in this sentence. One is that in the final clause we have the modal verb form <em>mihton</em> at the start, and 
                the infinitive at the very end of the clause - this is again very typical. Also, the adverbial phrase '<em>Betwux ðam - meanwhile</em>'
                has the same effect as adverbs such as <em>þa</em> and <em>nu</em> - the Subject-Verb order is reversed.
                
            </p>
            <h3>Adverbial Phrases</h3>
            <h3></h3>
                <a href="syntax.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Basic Syntax 
                </a>
                <a href="syntax2.html" class="float-right darkorange-text padding-top strong strong">Continue to Correlation
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
            </main>