<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    
                   
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                     </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax.html">Basic Syntax</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Word Order
                    </li>
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax2.html">Correlation</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax3.html">Prose Style</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax4.html">Syntax Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                </ol>
            </div>
            <h2>Word Order</h2>
            <p><span class="initial-letter darkorange-text">W</span>e've already touched on word order in previous modules, and noted that
                Old English is more flexible in its word order than modern English, though it is still governed by rules.</p>
            <p>In fact, the most common word order you'll encounter in Old English is Subject-Verb-Object (or S-V-O), which is exactly 
                the same as modern English. Examine the very simple sentence below - <em>God lufode Iacob</em>:
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    
                    
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">God</span> </span><br>
                        <span class="red-text">Nom.<br>Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">lufode</span> </span><br>
                        <span class="green-text">Weak<br>Verb</span>
                    </div>
                    
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">Iacob</span></span><br>
                        <span class="blue-text">Direct<br>Object</span>
                    </div>
                </div>
            </div>
            
            <p>Here the only thing that distinguishes the subject from the object is the S-V-O word order. If we put Iacob before the 
                verb and God after, Iacob would be the subject and God the object of Iacob's affection. Because there is no distinction 
                between nominative and accusative masculine noun declensions at the time Old English texts were written down, the S-V-O 
                word order was already the norm.
            </p>
            <h3>Subject-Verb-Object</h3>
            <p>The order subject (nominative) followed by verb is the most common order for the <strong>main clause</strong>, and often the object 
                will come directly after the 
                verb, such as in the sentence '<em>Seo cwen lufode þone biscop unrihtlice - The queen loved the bishop scandalously</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    
                    
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Seo cwen</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">lufode</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">þone biscop</span></span><br>
                        <span class="blue-text">Object<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">unrihtlice</span></span><br>
                        <span class="darkyellow-text">Adverb<br></span>
                    </div>
                </div>
            </div>
            <p>In this sentence, it would be possible for the object to come before the verb, or even, conceivably, at the start of the 
                sentence, because the demonstrative pronoun would indicate that it was the object. However, in a simple sentence such as this 
                the S-V-O order is usually preserved.
            </p>
            <h4>Subject, (pronoun) object, verb</h4>
            <p>There are some common variations on this pattern. One is putting the object directly after the subject. This tends to happen 
                when the object is a pronoun rather than a noun or a noun phrase. So in the sentence below, 'God loved him', the pronoun 
                <em>hine</em> comes directly after the subject and before the verb. Unlike nominative and accusative masculine nouns, there 
                is a clear 
                distinction between nominative <em>he</em> and accusative <em>hine</em>, so there can be no confusion about who loved whom.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    
                    
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">God</span> </span><br>
                        <span class="red-text"><br>Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">hine</span></span><br>
                        <span class="blue-text"><br>Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">lufode</span> </span><br>
                        <span class="green-text"><br>Verb</span>
                    </div>
                    
                    
                </div>
            </div>
            <p>In addition, if the indirect object is a pronoun and the direct object is not, the indirect 
                object will usually come first. So you might come across the equivalent of 'God him soul gave':
            </p>
        <div class="text-center">
                <div class="grammar-box darkgrey-bg"> 
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">God</span> </span><br>
                        <span class="red-text">Subject<br>(nom)</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">him</span></span><br>
                        <span class="blue-text">Indirect<br>Object</span>
                    </div>
                     <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">sawle</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>

                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">geaf</span> </span><br>
                        <span class="green-text">Strong<br>Verb</span>
                    </div>
                </div>
        </div>
            <p>In some cases the object will actually come before the subject, but this is not common in prose. You'll quickly get used to 
            using inflections to overcome the unfamiliar syntax, and context helps a lot - its unlikely that God would give a him <em>to</em>
            a soul, for example.</p>
            <h3>Verb Before Subject</h3>
            <p>The placement of the verb before the subject - or the reversal of the usual Subject-Verb order - is another common structure 
                in Old English. It happens most consistently in clauses introduced by adverbs of time such as <em>þa - then</em> and <em>nu - now</em>, as well
                as certain abverbs of place such as <em>þær - there</em> or <em>þider - thither</em>. In the sentence
                below, 'they travelled to that monastery and there they died', the first clause has regular S-V-O word order, and the second clause introduced
                by <em>þa - then</em> has the verb before the subject.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg"> 
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Hie</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">ferdon</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">þæm mynstre,</span></span><br>
                        <span class="blue-text">Object<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">and</span><br>
                        <span class="yellow-text">Conjunction<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">þær</span></span><br>
                        <span class="darkyellow-text">Adverb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">forþferdon</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">hie</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>


                    
                </div>
        </div>
        <p>Since Old English prose is very fond of introducing successive clauses with <em>þa</em>, you'll become familiar with this Verb-Subject order very quickly. It's worth remembering that in modern English
        we also switch the S-V order around to make questions - 'Did you go?', 'Are you well?' - something that also happens in Old English.
        So it's not really so alien, even if it does take a bit of getting used to.</p>
        <h3>Verb in Final Position</h3>
        <p>The final important word order you'll come across is one in which the subject comes at the start of the sentence or clause, and 
            the verb goes to the end. This is most common in subordinate clauses introduced by the relative pronoun <em>þe - that/which/who</em>
            and by <em>þa - that</em>, or by conjunctions, and the verb tends to be pushed to the end or near the end of the clause. Take the
            nice description of grammar in the following sentence '<em>Stæfcræft is seó cǽg ðe ðæra bóca andgýtt unlýcþ - Word-craft/grammar is the key 
            which unlocks the meaning of books</em>', in which the verb 'unlock' gone to the end of the relative clause introduced by the relative
            pronoun <em>þe</em>.
        </p>
        <div class="text-center">
            <div class="grammar-box darkgrey-bg"> 
                <div class="inline-block">
                    <span class="red-text big-text"><span class="border-bottom">Stæfcræft</span> </span><br>
                    <span class="red-text">Subject<br></span>
                </div>
                <div class="inline-block">
                    <span class="green-text big-text"><span class="border-bottom">is</span> </span><br>
                    <span class="green-text">Verb<br></span>
                </div>
                
                <div class="inline-block">
                    <span class="blue-text big-text"><span class="border-bottom">seo cǽg</span></span><br>
                    <span class="blue-text">Subject<br></span>
                </div>
                 <div class="inline-block">
                    <span class="white-text border-bottom big-text">ðe</span><br>
                    <span class="white-text">Pron.</span>
                </div>
                <div class="inline-block">
                    <span class="red-text big-text"><span class="border-bottom">ðæra bóca</span> </span><br>
                    <span class="red-text">Possessive<br></span>
                </div>
                <div class="inline-block">
                    <span class="yellow-text border-bottom big-text">andgytt</span><br>
                    <span class="yellow-text">Object<br></span>
                </div>
               
                <div class="inline-block">
                    <span class="green-text big-text"><span class="border-bottom">unlycþ</span> </span><br>
                    <span class="green-text">Verb<br></span>
                </div>
                


                
            </div>
    </div>
                <p>As you will have gathered, whilst word order in Old English is more flexible, it is still guided by rules, and the
                    three word orders outlined here are by far the most common. The trick is to use the inflections to guide your reading
                    with the word order being a useful support - confirming which is the subject, for example. 
                </p>
                <p>These rules are fairly consistently applied in prose. In poetry, however, all bets are off...!</p>
                
                <a href="syntax.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Basic Syntax 
                </a>
                <a href="syntax2.html" class="float-right darkorange-text padding-top strong strong">Continue to Correlation
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
            </main>