<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax.html">Basic Syntax</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Word Order
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax3.html">Prose Style</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax4.html">Poetic Convention</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax5.html">Syntax Overview</a>
                    </li>
                </ol>
            </div>
            <h2>Word Order</h2>
            <p><span class="initial-letter darkorange-text">W</span>e've already touched on word order in previous
                modules, and noted that
                Old English is more flexible in its word order than modern English, but it is still governed by
                a set of rules. The most common word order encountered in Old English is Subject-Verb-Object (SVO),
                which the same as modern English. For example, examine the sentence: <em>God lufode
                    Iacob - God loved Jacob</em>.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">God</span> </span><br>
                        <span class="red-text">Subject<br>Noun</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">lufode</span> </span><br>
                        <span class="green-text">Weak<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">Iacob</span></span><br>
                        <span class="blue-text">Direct<br>Object</span>
                    </div>
                </div>
            </div>
            <p>Here the only thing that distinguishes the subject from the object is the SVO word order. If we put
                Iacob before the verb and God after, Iacob would be the subject and God the object because there is
                no distinction
                between nominative and accusative masculine noun declensions. This shows that during the time Old
                English
                texts were written
                down, the SVO word order was already the norm.
            </p>
            <h3>Subject-Object-Verb</h3>
            <p>While SVO is the most common order for the <strong>main
                    clause</strong>, there are common variations on this pattern.
                One is putting the object directly after the subject.
                This tends to happen
                when the object is a pronoun rather than a noun or a noun phrase. So in the sentence below, 'God loved
                him', the pronoun
                <em>hine</em> comes directly after the subject and before the verb. Unlike nominative and accusative
                masculine nouns, there
                is a clear
                distinction between nominative <em>he</em> and accusative <em>hine</em>, so there can be no confusion
                about who loved whom.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">God</span> </span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">hine</span></span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">lufode</span> </span><br>
                        <span class="green-text">Verb</span>
                    </div>
                </div>
            </div>
            <p>In addition, if the indirect object is a pronoun and the direct object is not, the indirect
                object will usually come first. So you might come across the equivalent of 'God him soul gave':
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">God</span> </span><br>
                        <span class="red-text">Subject<br>Noun</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">him</span></span><br>
                        <span class="blue-text">Indirect<br>Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">sawle</span><br>
                        <span class="yellow-text">Direct<br>Object</span>
                    </div>

                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">geaf</span> </span><br>
                        <span class="green-text">Strong<br>Verb</span>
                    </div>
                </div>
            </div>
            <p>In some cases the object will come before the subject, as in 'him God sawle geaf', but you'll quickly get
                used to
                using inflections to overcome the unfamiliar syntax, and context helps a lot - its unlikely that God
                would give a him <em>to</em>
                a soul, for example.</p>
            <h3>Verb Before Subject</h3>
            <p>The placement of the verb before the subject happens most consistently in
                clauses introduced by adverbs of time such as <em>þa -
                    then</em> and <em>nu - now</em>, as well
                as certain abverbs of place such as <em>þær - there</em> or <em>þider - thither</em>. In the sentence
                below, 'they travelled to that monastery and there they died', the first clause has regular SVO word
                order, and the second clause - introduced
                by <em>þa - then</em> - has the verb before the subject.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Hie</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">ferdon</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">þæm mynstre</span></span><br>
                        <span class="blue-text">Object<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">ond</span><br>
                        <span class="white-text">Conj.<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">þær</span></span><br>
                        <span class="darkyellow-text">Adverb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">forþferdon</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">hie</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                </div>
            </div>
            <p>Successive clauses are often introduced with <em>þa</em>, so this is a construction you will frequently encounter. 
                It's worth remembering that in modern English
                we also switch the S-V order around to make questions - 'Did you go?', 'Are you well?' - something that
                also happens in Old English.</p>
            <h3>Verb in Final Position</h3>
            <p>The final important word order you'll come across is one in which the subject comes at the start of the
                sentence or clause, and
                the verb goes to the end. This is most common in subordinate clauses or introduced by the relative
                pronoun <em>þe - that/which/who</em>
                and by <em>þa - that</em>, or by conjunctions, and the verb tends to be pushed to the end or near the
                end of the clause. Take the
                nice description of grammar in the following sentence '<em>Stæfcræft is seo cæg þe ðæra boca andgytt
                    unlycþ - Wordcraft is the key
                    which unlocks the meaning of books</em>', in which the verb 'unlock' gone to the end of the clause
                introduced by the relative
                pronoun <em>þe</em>.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Stæfcræft</span> </span><br>
                        <span class="red-text">Subject</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">is</span> </span><br>
                        <span class="green-text">Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">seo cæg</span></span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="lightpurple-text border-bottom big-text">þe</span><br>
                        <span class="lightpurple-text">Pronoun</span>
                    </div>
                    <div class="inline-block">
                        <span class="lightorange-text big-text"><span class="border-bottom">ðæra boca</span> </span><br>
                        <span class="lightorange-text">Possessive</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">andgytt</span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">unlycþ</span> </span><br>
                        <span class="green-text">Verb</span>
                    </div>
                </div>
            </div>
            <p>As shown above, while word order in Old English is more flexible, it is still guided by
                rules, and the
                three word orders outlined here are by far the most common. The trick is to use the inflections to guide
                your reading
                with the word order being a useful support. These rules are fairly consistently applied in prose. However, in poetry there are different rules and
                conventions.
            </p>
            <a href="syntax.html" class="float-left darkorange-text padding-top strong strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Basic Syntax
            </a>
            <a href="syntax3.html" class="float-right darkorange-text padding-top strong strong">Continue to Prose Style
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
    </section>
</main>