<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Mood') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12-sm">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    
                   
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                     </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax.html">Basic Syntax</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">Word Order
                    </li>
                    
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax2.html">Correlation</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax3.html">Prose Style</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="syntax4.html">Syntax Overview</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    
                </ol>
            </div>
            <h2>Old English Style</h2>
            <p><span class="initial-letter darkorange-text">T</span>here are several more features of Old English sentence structure that may be
                unfamiliar, but which you will quickly get used to when you start translating Old English texts. One of these is the dropping
                of the subject in places where modern English would require one, particularly with certain verbs, and in constructions such 
                as 'it is hot', where we use an impersonal subject. Another thing to watch out for is the linking of successive clauses with the 
                conjunction 'and/ond' as well as with correlatives. Finally, some adverbial phrases can look intimidating, but function in much the 
                same way as adverbs of time such as <em>her</em> and <em>nu</em>.
            </p>
            <h3>Dropping the Subject</h3>
            <p>We've learned so far that Old English syntax is more flexible than in modern English, with the Subject-Verb-Object order
                changing in different situations. But as an inflected language, the subject sometimes isn't needed at all, particularly if it
                is clear from the context. Examine the following sentence '<em>He eode eft ongean to þæm bearnum, wolde gewytan gif 
                    hie slæpende wæron - He went back again to the children, (he) wanted to see if they were sleeping</em>'.
            </p>  
            <div class="text-center">
                <div class="grammar-box darkgrey-bg"> 
                       <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">He</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">eode</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">eft ongean</span></span><br>
                        <span class="darkyellow-text">Adverb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">þæm bearnum,</span><br>
                        <span class="yellow-text">Indirect Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">wolde</span> </span><br>
                        <span class="green-text">Auxilliary<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">gewitan</span> </span><br>
                        <span class="green-text">Infinitive<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">gif</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">hie</span></span><br>
                        <span class="yellow-text">Object<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">slæpende</span> </span><br>
                        <span class="green-text">Participle<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">wæron</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                   


                    
                </div>
        </div>
            <p>In the second clause of the sentence, we would expect either a coordinating conjunction (and), or a reiteration of the subject,
                but the Old English leaves it out. The subject is usually easily deduced from the context, and the use of the verb inflection to 
                indicate the subject will be very familiar to anyone 
                who speaks an inflected language such as Spanish today.</p> 

            <h3>Splitting the Subject</h3> 
            <p>In a sentence with multiple subjects such as 'The earls and their servants travelled to Canterbury' we would keep the subject together in the 
                sentence. However, in Old English the subject is sometimes broken up: the sentence above might be written 'þa eorlas ferdon to 
                Cantwarabyrig, and hira þeowas'. </p>
                <div class="text-center">
                    <div class="grammar-box darkgrey-bg"> 
                           <div class="inline-block">
                            <span class="red-text big-text"><span class="border-bottom">Þa eorlas</span> </span><br>
                            <span class="red-text">Subject<br></span>
                        </div>
                        <div class="inline-block">
                            <span class="green-text big-text"><span class="border-bottom"></span>ferdon</span><br>
                            <span class="green-text">Verb<br></span>
                        </div>
                        
                        <div class="inline-block">
                            <span class="white-text border-bottom big-text">to</span><br>
                            <span class="white-text">Prep.</span>
                        </div>
                        
                        <div class="inline-block">
                            <span class="yellow-text border-bottom big-text">Cantwarabyrig</span><br>
                            <span class="yellow-text">Indirect Object</span>
                        </div>
                        <div class="inline-block">
                            <span class="white-text border-bottom big-text">and</span><br>
                            <span class="white-text">Prep.</span>
                        </div>
                        
                        <div class="inline-block">
                            <span class="yellow-text big-text"><span class="border-bottom">hira</span></span><br>
                            <span class="yellow-text">Possessive<br></span>
                        </div>
                        <div class="inline-block">
                            <span class="red-text big-text"><span class="border-bottom">þeowas</span> </span><br>
                            <span class="red-text">Subject<br></span>
                        </div>
                        
                       
    
    
                        
                    </div>
            </div>
                
            <p>You'll aslo sometimes find objects broken up, and adjectives separated in a sentence from the noun they 
                modify. The trick is to pay attention to the inflections, and not to be thrown by the unfamiliar syntax. 
            </p>

            <p>Clauses introduced by 'and' also leave out the subject, which brings us onto another feature of Old English prose: polysyndeton, or repeated independent
                clauses.</p> 
            <h3>Polysyndeton</h3>
            <p>Old English prose has a tendency towards long sentences with repeated use of both correlatives (such as '<em>þa...þa</em>') and by 
                conjunctions, particularly 'and/ond'. Even shorter sentences
                can seem clumsy to us because of their apparent overuse of conjunctions. Examine the sentence below, '<em>Hie ða eodon, ond gemetton þone assan, 
                    ond his folan, ond woldon lædan to ðæm hælende - They went then, and came upon the ass, and its foal, and wanted to lead (them)
                    to the saviour'</em>'.
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg"> 
                       <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Hie</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">ða</span></span><br>
                        <span class="darkyellow-text">Adverb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">eodon</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">ond</span><br>
                        <span class="white-text">Conj.</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">gemetton </span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">þone assan</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">ond</span><br>
                        <span class="white-text">Conj.</span>
                    </div>
                    <div class="inline-block">
                        <span class="darkorange-text big-text"><span class="border-bottom">his</span></span><br>
                        <span class="darkorange-text">Possessive<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text border-bottom big-text">folan</span><br>
                        <span class="blue-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">ond</span><br>
                        <span class="white-text">Conj.</span>
                    </div>
                    
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">woldon</span> </span><br>
                        <span class="green-text">Auxilliary<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">lædan</span> </span><br>
                        <span class="green-text">Infinitive<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">ðæm hælende</span></span><br>
                        <span class="yellow-text">Indirect Object<br></span>
                    </div>
                    
                </div>
            </div>
                   

            <p>In this sentence we only have the subject - they - stated at the start, and we have a coordinating conjunction used to link the two 
                objects (the ass and the foal), as well as to introduce the next independent clause 'and wanted to lead'. This is a relatively short
                sentence, and it is not 'bad' style. Examine the below, which is from text written by Ælfric, the greatest homilist of his age:
            </p>
            <p>'<em>Betwux ðam ascuton þa awyrigedan gastas sume of þære nywelnysse wið min, mid byrnendum eagum, and of heora muðe and nosþyrlum stod 
                stincende steam, and woldon me gelæccan mid heora byrnendum tangum, ac hie ne mihton þurh godes gescyldnysse me hreppan - In the 
                meantime, some of the accursed spirits shot up from the abyss towards me, with burning eyes, and out of their mouths and nostrils came a 
                stinking steam, and (they) wanted to grab me with their burning tongs, but they could not through God's protection touch me.'</em>
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg"> 
                    
                    <div class="inline-block">
                        <span class="darkorange-text big-text">
                        <span class="border-bottom">Betwux ðam ascuton þa awyrigedan gastas sume of þære nywelnysse wið min, mid byrnendum eagum, and of heora muðe and nosþyrlum stod 
                            stincende steam, and woldon me gelæccan mid heora byrnendum tangum, ac hie ne mihton þurh godes gescyldnysse me hreppan.</span> </span><br>
                        <span class="darkorange-text"><br></span>
                    </div>
                    
                    
                    
                </div>
            </div>

            <p>The main difficulty with this sentence is the successive clauses introduced by <em>and</em> and <em>ac - but</em>. We would probably
                split the sentence in two, and re-state the subject. However, remember that the inflections do a lot of work in Old English, and the 
                succession of plural verbs makes it clear that it is the accursed spirits who are the subject. There are a couple of other 
                things to note in this sentence. One is that in the final clause we have the modal verb form <em>mihton</em> at the start, and 
                the infinitive at the very end of the clause - this is again very typical of Old English modal constructions. Also, the adverbial phrase '<em>Betwux ðam - meanwhile</em>'
                has the same effect as adverbs such as <em>þa</em> and <em>nu</em> - the Subject-Verb order is reversed.
                
            </p>
            <h3>Adverbial Phrases</h3>
            <p>We have already learned that when an adverb such as <em>þa</em>, <em>þider</em>, or <em>nu</em> starts a sentence or clause, the 
                verb usually comes before the subject. This is also true when adverbial phrases start sentences. Examples of adverbial phrases
                include '<em>þy ilcan geare - In that same year...</em>', '<em>On ðam seofoðan dæge - On the seventh day</em>', '<em>Þa æfter þysum - 
                    then after this,
                </em>'
                '<em>On ðysse wucan on Wodnesdæg - in this week on Wednesday</em>': and in most cases the clause that follows will start with the verb
                in first position. Another common adverb of time you'll come across in early English chronicles is '<strong>her</strong>', literally 'here', but meaning more like
                'Here (in this year)'.
                Examine the sentences below: '<em>Her com Swegen mid his flotan to Norðwic - Here Sweyn came with his fleet to Northwich</em>' and 
                '<em>Fram þære halige rode dæige oð lenten, rædon þa geswustre heore becc - From the day of the holy cross to Lent, the sisters read their books</em>'
            </p>
            <div class="text-center">
                <div class="grammar-box darkgrey-bg"> 
                      <div class="inline-block">
                        <span class="darkyellow-text big-text"><span class="border-bottom">Her</span></span><br>
                        <span class="darkyellow-text">Adverb<br></span>
                    </div>
                    
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">com</span> </span><br>
                        <span class="green-text">Verb<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Swegen</span> </span><br>
                        <span class="red-text">Subject<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">mid</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">his</span></span><br>
                        <span class="blue-text">Possessive<br></span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text border-bottom big-text">fleote</span><br>
                        <span class="yellow-text">Object</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text border-bottom big-text">to</span><br>
                        <span class="white-text">Prep.</span>
                    </div>
                    <div class="inline-block">
                        <span class="blue-text big-text"><span class="border-bottom">Norðwic</span></span><br>
                        <span class="blue-text">Possessive<br></span>
                    </div>


                    
                </div>
        </div>
        <div class="text-center">
            <div class="grammar-box darkgrey-bg">
                
                
                <div class="inline-block">
                    <span class="darkyellow-text big-text"><span class="border-bottom">Fram þære halige rode dæige oð lenten</span></span><br>
                    <span class="darkyellow-text">Adverbial Phrase<br></span>
                </div>
                <div class="inline-block">
                    <span class="green-text big-text"><span class="border-bottom">rædon</span> </span><br>
                    <span class="green-text">Verb<br></span>
                </div>
                <div class="inline-block">
                    <span class="red-text big-text"><span class="border-bottom">þa geswustre</span> </span><br>
                    <span class="red-text">Subject<br></span>
                </div>
                <div class="inline-block">
                    <span class="blue-text big-text"><span class="border-bottom">heore</span></span><br>
                    <span class="blue-text">Possessive<br></span>
                </div>
                
                <div class="inline-block">
                    <span class="yellow-text big-text"><span class="border-bottom">bec</span></span><br>
                    <span class="yellow-text">Object<br></span>
                </div>
               
            </div>
        </div>
        <p>In both these cases, there has been a reversal of the subject-verb order in the main clause - the small word 'her' and the longer
            adverbial phrase 'Fram þære halige rode dæige oð lenten' are essentially acting in the same way as adverbs of place starting the 
            sentence.
        </p>
        <p>Now you know a little more about some of the quirks of Old English prose, continue to the overview of this module on syntax.</p>
        
                <a href="syntax2.html" class="float-left darkorange-text padding-top strong strong">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Correlation 
                </a>
                <a href="syntax4.html" class="float-right darkorange-text padding-top strong strong">Continue to Syntax Overview
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            </section>
            </main>