<% locals.setLayout('default.ejs') -%>
	<% locals.block('title', 'Reading' ) -%>

		<main id="mainwrapper" class="container">
			<div class="row">
				<div class="col-sm-12 comp-button-row">
					<button class="button solid-button show-old-english">Show Old English Only</button>
					<button class="button light-button show-trans">Show Full Translation</button>
					<button class="button light-button show-notes">Show Notes</button>
				</div>
			</div>
			<section class="row reader-container">
				<div class="col-sm-9 reading-comp">
					<h1><em>Excerptiones de arte grammatica anglice</em></h1>
					<p class="padding-top">
						<span class="reader-word" data-translation="is" data-base-form="wesan"
							data-grammar="third person present irregular verb">Is</span>
						<span class="reader-word" data-translation="now" data-grammar="adverb">nu</span>
						<span class="reader-word" data-translation="for" data-grammar="conjunction">for ði</span>
						<span class="reader-word" data-translation="God's" data-base-form="God"
							data-grammar="genitive singular masculine noun">Godes</span>
						<span class="reader-word" data-translation="servants" data-base-form="þeow"
							data-grammar="dative plural masculine noun">þeowum</span>
						<span class="reader-word" data-translation="and" data-grammar="conjunction">and</span>
						<span class="reader-word footnote" data-translation="monks" data-base-form="mynstermann"
							data-grammar="dative plural masculine noun">mynstermannum</span>
						<span class="reader-word" data-translation="earnest" data-base-form="georn"
							data-grammar="adjective">georne</span>
						<span class="reader-word" data-translation="warning" data-grammar="inflected infinitive">to
							warnigenne</span>
						<span class="reader-word" data-translation="that" data-grammar="conjunction">þæt</span>
						<span class="reader-word" data-translation="the"
							data-grammar="feminine singular nominative demonstrative pronoun">seo</span>
						<span class="reader-word" data-translation="holy lore"
							data-grammar="nominative singular feminine noun">haligelar</span>
						<span class="reader-word footnote" data-translation="in our"
							data-grammar="compounded preposition and possessive pronoun">onurum</span>
						<span class="reader-word" data-translation="days" data-base-form="d&aelig;g"
							data-grammar="dative neuter plural noun">dagumne</span>
						<span class="reader-word" data-translation="cool"
							data-grammar="weak class II singular subjunctive verb">acolige</span>
						<span class="reader-word" data-translation="or" data-grammar="conjunction">oððe</span>
						<span class="reader-word" data-translation="deteriorate"
							data-grammar="weak class I singular subjunctive verb">ateorige,</span>
						<span class="reader-word" data-translation="just as" data-grammar="correlative conjunction">swa
							swa</span>
						<span class="reader-word" data-translation="it" data-grammar="">hit</span>
						<span class="reader-word" data-translation="was" data-grammar="">wæs</span>
						<span class="reader-word" data-translation="done" data-grammar="">gedon</span>
						<span class="reader-word" data-translation="in" data-grammar="">on</span>
						<span class="reader-word" data-translation="England" data-grammar="">angel cynne</span>
						<span class="reader-word" data-translation="now" data-grammar="">nu</span>
						<span class="reader-word footnote-part" data-translation="for" data-grammar="">for</span>
						<span class="reader-word footnote-part" data-translation="a" data-grammar="">anum</span>
						<span class="reader-word footnote-part" data-translation="few" data-grammar="">feawum</span>
						<span class="reader-word footnote" data-translation="yaers" data-grammar="">gearum</span>,
						<span class="reader-word" data-translation="so that" data-grammar="">swa þæt</span>
						<span class="reader-word" data-translation="no" data-grammar="">nan</span>
						<span class="reader-word" data-translation="English" data-grammar="">englisc</span>
						<span class="reader-word" data-translation="priest" data-grammar="">preost</span>
						<span class="reader-word" data-translation="not" data-grammar="">ne</span>
						<span class="reader-word" data-translation="could" data-grammar="">cuðe</span>
						<span class="reader-word" data-translation="compose" data-grammar="">dyhtan</span>
						<span class="reader-word" data-translation="or" data-grammar="">oððe</span>
						<span class="reader-word" data-translation="understand" data-grammar="">asmeagean</span>
						<span class="reader-word" data-translation="any" data-grammar="">&aelig;nne</span>
						<span class="reader-word" data-translation="letter" data-grammar="masculine noun">pistol</span>
						<span class="reader-word" data-translation="in" data-grammar="">onleden</span>,
						<span class="reader-word" data-translation="until" data-grammar="conjunction">oð þæt</span>
						<span class="reader-word footnote-part" data-translation="Archbishop Dunstan"
							data-grammar="nominative singular masculine nouns">dunstan arcebiscop</span>
						<span class="reader-word footnote-part" data-translation="and" data-grammar="conjunction">and</span>
						<span class="reader-word footnote" data-translation="Bishop Athelwold"
							data-grammar="nominative singular masculine noun">Athelwold biscop</span>
						<span class="reader-word" data-translation="again" data-grammar="adverb">eft</span>
						<span class="reader-word" data-translation="the"
							data-grammar="accusative feminine singular demonstrative pronoun">þa</span>
						<span class="reader-word" data-translation=""
							data-grammar="accusative feminine singular noun">lare</span>
						<span class="reader-word" data-translation="in" data-grammar="">on</span>
						<span class="reader-word" data-translation="monastic life"
							data-grammar="dative plural masculine noun">munuc lyfum</span>
						<span class="reader-word" data-translation="raised up"
							data-grammar="weak class 1 plural past verb">arærdon.</span>
						<span class="reader-word" data-translation="not" data-grammar="">Ne</span>
						<span class="reader-word" data-translation="say" data-grammar="">cweðe</span>
						<span class="reader-word" data-translation="I" data-grammar="">ic</span>
						<span class="reader-word" data-translation="" data-grammar="">na</span>
						<span class="reader-word" data-translation="" data-grammar="">for ði,</span>
						<span class="reader-word" data-translation="that" data-grammar="">þæt</span>
						<span class="reader-word" data-translation="this" data-grammar="">ðeos</span>
						<span class="reader-word" data-translation="book" data-grammar="">boc</span>
						<span class="reader-word" data-translation="may" data-grammar="">mæge</span>
						<span class="reader-word" data-translation="much" data-grammar="">myclum</span>
						<span class="reader-word" data-translation="to" data-grammar="">to</span>
						<span class="reader-word" data-translation="learning" data-grammar="">lare</span>
						<span class="reader-word" data-translation="to avail"
							data-grammar="weak class II infinitive verb">fremian</span>,
						<span class="reader-word" data-translation="but" data-grammar="">ac</span>
						<span class="reader-word" data-translation="it" data-grammar="">heo</span>
						<span class="reader-word" data-translation="is" data-grammar="">bið</span>
						<span class="reader-word" data-translation="so" data-grammar="">swa</span>
						<span class="reader-word" data-translation="nevertheless" data-grammar="adverb">þeah</span>
						<span class="reader-word" data-translation="some" data-grammar="">sum</span>
						<span class="reader-word" data-translation="understanding" data-grammar="">angyn</span>
						<span class="reader-word" data-translation="to" data-grammar="">to</span>
						<span class="reader-word footnote-part" data-translation="both" data-grammar="">ægðrum</span>
						<span class="reader-word footnote" data-translation="languages" data-grammar="">gereorde</span>,
						<span class="reader-word" data-translation="for" data-grammar="">gif</span>
						<span class="reader-word" data-translation="it" data-grammar="">heo</span>
						<span class="reader-word" data-translation="whomever" data-grammar="">hwam</span>
						<span class="reader-word" data-translation="likes" data-grammar="">licað</span>.
					</p>
				</div>
				<div class="col-sm-3 reader-tooltip-column">
					<div class="reader-tooltip hide">
						<div class="reader-tooltip-header">
							<h3>Glossary</h3>
							<button class="close-icon">&times;</button>
						</div>
						<div class="reader-tooltip-body">
							<p class="reader-tooltip-p"></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 reading-trans hide">
					<h1><em>Excerpts of the art of grammar in English</em></h1>
					<p class="padding-top">Now this is in order to earnestly warn god's servants and monks that the holy
						teachings should not cool
						nor fade in our days just as it happened in England a few years ago, when no English priest knew
						how to
						read or understand a letter in Latin, until Dunstan the archbishop and Aethelwold the bishop
						again
						raised learning in the life of monks. I do not at all say to you that this book will avail to
						much
						learning, but it is nevertheless written so as to teach some understanding of both languages,
						for
						whomever likes it.
					</p>
				</div>
			</section>
			<section class="large-padding-top">
				<a href="aelfric_introduction.html" class="darkorange-text strong"><i class="fa fa-angle-double-left"
						aria-hidden="true"></i> Return to Introduction</a>
				<a href="textselect.html" class="darkorange-text strong float-right">Return to Text Selection <i
						class="fa fa-angle-double-right" aria-hidden="true"></i></a>
			</section>
			<section class="text-notes row hide">
				<hr class="border">
				<div class="col-sm-12">
					<h3>Notes</h3>
					<div class="scrollable-area">
						<p><strong></strong> Literally one who dwells in a minster (monastery).</p>
						<p><strong></strong> This is a compound of the words 'on' and 'ure'. It is not uncommon for prepositions to be joined to the beginnning of the word they modify.</p>
						<p><strong></strong> Monastic life had declined in England in the 9th century, partly because of Viking raids and partly because of a preference for non-monastic clergy like priests.</p>
						<p><strong></strong> Dunstan (the Archbishop of Canterbury) and Æthelwold (the Bishop of Winchester) were both teachers of Aelfric and key figures in the Benedictine Reform
							which took place in 10th century England.</p>
						<p><strong></strong> "Both languages" refers in this case to English and Latin.</p>
						</div>
				</div>
			</section>
		</main>