<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Page Title' ) -%>

        <main id="mainwrapper" class="container">
            <section class="row">
                <div class="col-12-sm">
                    <h1>Reading Comprehension</h1>
                    <h3 class="text-center">Select a text from the index below</h3>
                </div>
            </section>
            <section class="row padding-top">
                <div class="col-12-sm" id="textselect">
                    <div class="text-select-card">
                        <div class="text-select-header">Introduction to Aelfric's Grammar</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from the introduction to Aelfric's Grammar.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="aelfric_introduction.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.1.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Christ I</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent and stuff and other Jesusy things like stuff.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Against Snake Bites</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from Harley 585 concerning the treatment of snake bites.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Anglo-Saxon Chronicle 871</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Alfred's Pastoral Care</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Textus Roffensis</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Riddle 60</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Life of St. Martin</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from an X century saints life contained in MS XXX.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Christ I</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fa fa-clone"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </section>
        </main>