<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Reading' ) -%>

        <main id="mainwrapper" class="container">
            <h1><em>DCCCLXXXVIII-DCCCLXXXIX</em></h1>
            <div class="row">
                <div class="col-sm-12 comp-button-row">
                    <button class="button solid-button show-old-english">Show Old English Only</button>
                    <button class="button light-button show-trans">Show Translation</button>
                    <button class="button light-button show-notes">Show Notes</button>
                </div>
            </div>
            <hr class="border">
            <section class="row reader-container">
                <div class="col-sm-9 reading-comp">
                    <p class="padding-top">
                        <span class="reader-word" data-translation="annum" data-grammar="abbreviation for the Latin word 'annum'">Ñ</span>
                        <span class="reader-word" data-translation="888" data-grammar="roman numeral">dccclxxxviii</span>.
                        <span class="reader-word" data-translation="here" data-grammar="adverb">Her </span>
                        <span class="reader-word" data-translation="conduct" data-grammar="weak class 1 singular past verb" data-base-form="lædan">lædde </span>
                        <span class="reader-word footnote" data-translation="Beocca" data-grammar="proper noun">beocca </span>
                        <span class="reader-word" data-translation="ealdorman" data-grammar="nominative singular masculine noun">ealdorman</span>
                        <span class="reader-word" data-translation="West-Saxons" data-grammar="genitive plural masculine noun">Westsexna </span>
                        <span class="reader-word footnote" data-translation="almsgiving" data-grammar="accusative plural feminine weak noun" data-base-form="ælmesse">ælmessan</span>
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                        <span class="reader-word" data-translation="Alfred's" data-grammar="genitive singular masculine noun">ælfredes </span>
                        <span class="reader-word" data-translation="King" data-grammar="genitive singular masculine noun">cyninges </span>
                        <span class="reader-word" data-translation="to" data-grammar="preposition">to </span>
                        <span class="reader-word" data-translation="Rome" data-grammar="proper noun">rome </span>
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">ond </span>
                        <span class="reader-word" data-translation="Ethelswith" data-grammar="proper noun">ælþelswið </span>
                        <span class="reader-word" data-translation="Queen" data-grammar="nominative singular feminine noun">cwen</span>,
                        <span class="reader-word" data-translation="who" data-grammar="relative pronoun">seo </span>
                        <span class="reader-word" data-translation="was" data-grammar="third person singular past irregular verb">wæs </span>
                        <span class="reader-word" data-translation="Alfred's" data-grammar="genitive singular masculine noun">ælfredes </span>
                        <span class="reader-word" data-translation="sister" data-grammar="accusative singular feminine minor noun">sweostor </span>
                        <span class="reader-word" data-translation="King" data-grammar="genitive singular masculine noun">cyninges </span>
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">ond </span>
                        <span class="reader-word" data-translation="she" data-grammar="nominative third person singular feminine pronoun">heo </span>
                        <span class="reader-word" data-translation="died" data-grammar="weak class I third person singular past verb" data-base-form="forðferan">forðferde </span>
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">ond </span>
                        <span class="reader-word" data-translation="her" data-grammar="third person singular genitive pronoun">hire </span>
                        <span class="reader-word" data-translation="body" data-grammar="nominative singular neuter noun">lic </span>
                        <span class="reader-word" data-translation="lies" data-grammar="strong class V third person singular present verb" data-base-form="licgan">ligð </span>
                        <span class="reader-word" data-translation="at" data-grammar="preposition">æt </span>
                        <span class="reader-word footnote" data-translation="Pavia" data-grammar="proper noun">pauian</span>,
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">ond </span>
                        <span class="reader-word" data-translation="the same" data-grammar="adjective" data-base-form="'þy' and 'ilcan' are two words which are commonly compounded">þyilcan </span>
                        <span class="reader-word" data-translation="year" data-grammar="dative singular neuter noun">geare </span>
                        <span class="reader-word" data-translation="Ethered" data-grammar="proper noun">æþered </span>
                        <span class="reader-word" data-translation="Archbishop" data-grammar="nominative singular masculine noun">arcebiscop </span>
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">ond </span>
                        <span class="reader-word" data-translation="Ethelwald" data-grammar="proper noun">æþelwald </span>
                        <span class="reader-word" data-translation="ealdorman" data-grammar="nominative singular masculine noun">ealdorman </span>
                        <span class="reader-word" data-translation="died" data-grammar="weak class I third person plural past verb" data-base-form="forðferan">forðferdon </span>
                        <span class="reader-word" data-translation="in" data-grammar="preposition">on </span>
                        <span class="reader-word" data-translation="one" data-grammar="numeral">anum </span>
                        <span class="reader-word" data-translation="month" data-grammar="dative singular masculine noun">monðe</span>.
                        <br>
                        <span class="reader-word" data-translation="annum" data-grammar="abbreviation for the Latin word 'annum'">Ñ</span>
                        <span class="reader-word" data-translation="889" data-grammar="numeral">dccclxxxix</span>.
                        <span class="reader-word" data-translation="On" data-grammar="preposition">On </span>
                        <span class="reader-word" data-translation="this" data-grammar="dative singular neuter demonstrative article">þyssum </span>
                        <span class="reader-word" data-translation="year" data-grammar="dative singular neuter noun">geare </span>
                        <span class="reader-word" data-translation="wasn't" data-grammar="third person plural past irregular verb" data-base-form="wesan">næs </span>
                        <span class="reader-word" data-translation="no" data-grammar="negation">nan </span>
                        <span class="reader-word" data-translation="journey" data-grammar="accusative singular neuter noun">færeld </span>
                        <span class="reader-word" data-translation="to" data-grammar="preposition">to </span>
                        <span class="reader-word" data-translation="rome" data-grammar="proper noun">rome </span>
                        <span class="reader-word" data-translation="but" data-grammar="preposition">butan </span>
                        <span class="reader-word" data-translation="two" data-grammar="adjective">twegen </span>
                        <span class="reader-word" data-translation="helpers" data-grammar="accusative plural masculine noun">hleaperas </span>
                        <span class="reader-word" data-translation="Alfred" data-grammar="proper noun">ælfred </span>
                        <span class="reader-word" data-translation="King" data-grammar="nominative singular masculine noun">cyning </span>
                        <span class="reader-word" data-translation="sent" data-grammar="weak class I third person singular past verb">sende </span>
                        <span class="reader-word" data-translation="with" data-grammar="preposition">mid </span>
                        <span class="reader-word" data-translation="writings" data-grammar="dative plural neuter noun">gewritum</span>.
                    </p>
                </div>
                <div class="col-sm-3 reader-tooltip-column">
                    <p class="reader-tooltip-explanation">Select any Old English word to view its gloss</p>
                    <div class="reader-tooltip hide">
                        <div class="reader-tooltip-header">
                            <h3>Glossary</h3>
                            <button class="close-icon">&times;</button>
                        </div>
                        <div class="reader-tooltip-body">
                            <p class="reader-tooltip-p"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 reading-trans hide">
                    <p class="padding-top">
                        A.D. 888. This year Alderman Beocca conducted the almsgiving of the
                        West-Saxons and of King Alfred to Rome. And Queen Ethelswith, who was King Alfred's sister, died
                        and her body lies at Pavia. The same year also Ethered, Archbishop of
                        Canterbury and Alderman Ethelwold, died in one month.
                        <br>
                        A.D. 889. This year there was no journey to Rome, except that
                        King Alfred sent two messengers with letters.</p>
                </div>
            </section>
            <hr class="border">
            <section class="text-notes row hide">
                <div class="col-sm-12">
                    <h3>Notes</h3>
                    <div class="scrollable-area">
                        <p><strong></strong>Beocca (died 910) was the Court Chaplain of Wessex from 871 to 899, serving under King Alfred the Great.</p>
                        <p><strong></strong>Alms is the act of giving charitable donations to the poor.</p>
                        <p><strong></strong>Pavia is a city south of Milan, Italy.</p>

                    </div>
                </div>
            </section>
            <section class="padding-top">
                <a href="intro_as_888.html" class="darkorange-text strong"><i class="fa fa-angle-double-left"
                        aria-hidden="true"></i> Return to Introduction</a>
                <a href="textselect.html" class="darkorange-text strong float-right">Return to Text Selection <i
                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </section>
        </main>