<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Reading' ) -%>

        <main id="mainwrapper" class="container">
            <h1><em>The Dicts of Cato</em></h1>
            <div class="row">
                <div class="col-sm-12 comp-button-row">
                    <button class="button solid-button show-old-english">Show Old English Only</button>
                    <button class="button light-button show-trans">Show Translation</button>
                    <button class="button light-button show-notes">Show Notes</button>
                </div>
            </div>
            <hr class="border">
            <section class="row reader-container">
                <div class="col-sm-9 reading-comp">
                    <p class="padding-top">
                        <span class="reader-word" data-translation="don't" data-grammar="negative participle">Ne</span>
                        <span class="reader-word" data-translation="argue" data-grammar="imperative singular strong class I verb">flit</span>
                        <span class="reader-word" data-translation="you" data-grammar="nominative second person singular pronoun">ðu</span>
                        <span class="reader-word footnote" data-translation="against" data-grammar="preposition">wið</span>
                        <span class="reader-word" data-translation="one-willed" data-grammar="accusative singular masculine strong adjective">anwilne</span>
                        <span class="reader-word" data-translation="person" data-grammar="accusative singular masculine noun">monn</span>
                        <span class="reader-word" data-translation="nor" data-grammar="negative participle">ne</span>
                        <span class="reader-word" data-translation="against" data-grammar="preposition">wið</span>
                        <span class="reader-word" data-translation="over-talkative" data-grammar="accusative singular masculine strong adjective">oferspræcne</span>.
                        <span class="reader-word" data-translation="many" data-grammar="dative plural masculine strong adjective">Manegum</span>
                        <span class="reader-word" data-translation="people" data-grammar="plural nominative masculine noun">menn</span>
                        <span class="reader-word" data-translation="is" data-grammar="third person singular present irregular noun">is</span>
                        <span class="reader-word" data-translation="given" data-grammar="past participle verb" data-base-form="forgifan">forgifen</span>
                        <span class="reader-word" data-translation="that" data-grammar="conjunction">ðæt</span>
                        <span class="reader-word" data-translation="he" data-grammar="third person singular nominative pronoun">he</span>
                        <span class="reader-word" data-translation="to speak" data-grammar="strong class V infinitive verb">spræcan</span>
                        <span class="reader-word" data-translation="can" data-grammar="third person present modal verb">mæg</span>
                        <span class="reader-word" data-translation="and" data-grammar="conjunction">ond</span>
                        <span class="reader-word" data-translation="very" data-grammar="adverb">swiðe</span>
                        <span class="reader-word" data-translation="few" data-grammar="dative plural adjective">feawum</span>
                        <span class="reader-word" data-translation="that" data-grammar="relative pronoun">ðæt</span>
                        <span class="reader-word" data-translation="he" data-grammar="third person singular nominative pronoun">he</span>
                        <span class="reader-word footnote" data-translation="is" data-grammar="singular subjunctive present irregular verb" data-base-form="varient spelling of 'sie'">seo</span>
                        <span class="reader-word" data-translation="discreet" data-grammar="neuter singular accusative adjective">gescead</span>
                        <span class="reader-word footnote" data-translation="manner" data-grammar="third person neuter singular accusative noun">wis</span>.
                    </p>
                    <p>
                        <span class="reader-word footnote" data-translation="feel" data-grammar="imperative singular preterite present verb" data-base-form="witan">Wite</span>
                        <span class="reader-word" data-translation="of that" data-grammar="genitive singular pronoun">ðæs</span>
                        <span class="reader-word" data-translation="more" data-grammar="accusative singular adjective">maran</span>
                        <span class="reader-word" data-translation="thankful" data-grammar="accusative singular noun">ðanc</span>
                        <span class="reader-word" data-translation="which" data-grammar="relative pronoun">ðe</span>
                        <span class="reader-word" data-translation="you" data-grammar="second person nominative singular pronoun">ðu</span>
                        <span class="reader-word" data-translation="have" data-grammar="weak class III subjunctive singular present verb" data-base-form="habban">hæbbe</span>
                        <span class="reader-word" data-translation="than" data-grammar="conjunction">ðonne</span>
                        <span class="reader-word" data-translation="of that" data-grammar="genitive singular pronoun">ðæs</span>
                        <span class="reader-word" data-translation="which" data-grammar="relative pronoun">þe</span>
                        <span class="reader-word" data-translation="you" data-grammar="masculine accusative singular pronoun">ðe</span>
                        <span class="reader-word" data-translation="a man" data-grammar="nominative singular masculine noun">monn</span>
                        <span class="reader-word" data-translation="promises" data-grammar="strong class VII past participle" data-base-form="hatan">gehate</span>,
                        <span class="reader-word" data-translation="nor" data-grammar="negative participle">ne</span>
                        <span class="reader-word" data-translation="hope" data-grammar="weak class II imperative verb" data-base-form="hopian">hopa</span>
                        <span class="reader-word" data-translation="you" data-grammar="second person present nominative singular pronoun">þu</span>
                        <span class="reader-word" data-translation="too" data-grammar="adverb">to</span>
                        <span class="reader-word" data-translation="much" data-grammar="adverb">swiðe</span>
                        <span class="reader-word" data-translation="for" data-grammar="preposition">to</span>
                        <span class="reader-word" data-translation="that" data-grammar="dative singular pronoun">ðam</span>
                        <span class="reader-word" data-translation="which" data-grammar="relative pronoun">þe</span>
                        <span class="reader-word" data-translation="a man" data-grammar="nominative singular masculine noun">mon</span>
                        <span class="reader-word" data-translation="promises" data-grammar="strong class VII past participle verb" data-base-form="hatan">gehate</span>.
                        <span class="reader-word" data-translation="Where" data-grammar="adverb">Ðær</span>
                        <span class="reader-word" data-translation="little" data-grammar="adverb">lytel</span>
                        <span class="reader-word" data-translation="proimsed" data-grammar="strong class VII past participle verb" data-base-form="hatan">gehaten</span>
                        <span class="reader-word" data-translation="is" data-grammar="third person singular irregular verb" data-base-form="beon">bið</span>
                        <span class="reader-word" data-translation="there" data-grammar="adverb">þær</span>
                        <span class="reader-word" data-translation="is" data-grammar="third person singular irregular verb" data-base-form="beon">bið</span>
                        <span class="reader-word" data-translation="little" data-grammar="adverb">lytel</span>
                        <span class="reader-word" data-translation="lying" data-grammar="strong class II past participle verb" data-base-form="aleogan">alogen</span>.
                    </p>
                </div>
                <div class="col-sm-3 reader-tooltip-column">
                    <p class="reader-tooltip-explanation">Select any Old English word to view its gloss</p>
                    <div class="reader-tooltip hide">
                        <div class="reader-tooltip-header">
                            <h3>Glossary</h3>
                            <button class="close-icon">&times;</button>
                        </div>
                        <div class="reader-tooltip-body">
                            <p class="reader-tooltip-p"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 reading-trans hide">
                    <p class="padding-top">
                        Do not argue against a one-willed person nor against an overtalkative [person].
                        Many men are given [the ability] that he may speak and very few that he is discreet.
                    </p>
                    <p>
                        Feel more thankful of that which you have than that which men promise you; 
                        nor hope too much for that which a man
                        promises. Where little is promised, there is little lying.
                    </p>
                </div>
            </section>
            <hr class="border">
            <section class="text-notes row hide">
                <div class="col-sm-12">
                    <h3>Notes</h3>
                    <div class="scrollable-area">
                        <p><strong></strong> While '<em>wið</em>' looks like the modern 'with', it is generally more correct to translate it as 'against'.</p>
                        <p><strong></strong> This is not the female pronoun 'seo' but an unusual spelling of 'sie'.</p>
                        <p><strong></strong> <em>Wite</em> can mean 'punishment' when used as a noun, but here it is a conjugation of '<em>witan</em> - to be aware of'.</p>
                        <p><strong></strong> <em>Wis</em> here does not mean 'wise' but rather 'a manner'.</p>
                    </div>
                </div>
            </section>
            <section class="padding-top">
                <a href="intro_dicts_cato.html" class="darkorange-text strong"><i class="fa fa-angle-double-left"
                        aria-hidden="true"></i> Return to Introduction</a>
                <a href="textselect.html" class="darkorange-text strong float-right">Return to Text Selection <i
                        class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </section>
        </main>