<% locals.setLayout('default.ejs') -%>
    <% locals.block('title', 'Page Title' ) -%>

        <main id="mainwrapper" class="container">
            <section class="row">
                <div class="col-12-sm">
                    <h1>Reading Comprehension</h1>
                    <h3 class="text-center">Select a text from the index below</h3>
                </div>
            </section>
            <section class="row padding-top">
                <div class="col-12-sm" id="textselect">
                    <div class="text-select-card">
                        <div class="text-select-header">Anglo-Saxon Chronicle 755</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from the Anglo-Saxon Chronicles.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="intro_as_755.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="text_as_755.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Introduction to Aelfric's Grammar</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from the introduction to Aelfric's Grammar.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="intro_aelfric_preface.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="text_aelfric_preface.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Remedy for a Cold</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from Bald's Leechbook concerning the treatment of colds and mucus.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="text_balds_cold.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Dicts of Cato</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from the Dicts of Cato concerning arguments.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="text_dicts_cato.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Alfred's Pastoral Care</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Textus Roffensis</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Riddle 60</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book-open"></i> Facsimile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Life of St. Martin</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from an X century saints life contained in MS XXX.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book-open"></i> Facsimile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="text-select-card">
                        <div class="text-select-header">Christ I</div>
                        <div class="text-select-body">
                            <div class="text-select-blurb">
                                <p>Excerpt from a poem dealing with Christ's Advent.</p>
                            </div>
                            <div class="text-select-buttons">
                                <ul>
                                    <li><a class="list-group-item" href="template.html"><i class="fa fa-comment"></i>
                                            Introduction</a></li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book"></i>
                                            Text</a>
                                    </li>
                                    <li> <a class="list-group-item" href="template.html"><i class="fas fa-book-open"></i> Facsimile</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
            </section>
        </main>