<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Reading' ) -%>

<main id="mainwrapper" class="container">
    <div class="row">
        <h1><em>Interrogationes Sigwylfi Presbiteri</em></h1>
        <div class="col-sm-12 comp-button-row">
            <button class="button solid-button show-old-english">Show Old English Only</button>
            <button class="button light-button show-trans">Show Translation</button>
            <button class="button light-button show-notes">Show Notes</button>
        </div>
    </div>
    <hr class="border">
    <section class="row reader-container">
        <div class="col-sm-9 reading-comp">
            <p class="padding-top">
                <span class="reader-word" data-translation="A certain (Literally: some)" data-grammar="adjective">Sum </span>
                <span class="reader-word" data-translation="distinguished (excellent, pious, noble)" data-grammar="strong class I past participle verb">geþungen </span>
                <span class="reader-word footnote" data-translation="teacher" data-grammar="nominative singular masculine noun">lareow</span>
                <span class="reader-word" data-translation="was" data-grammar="third person singular past irregular verb" data-base-form="wesan">wæs </span>
                <span class="reader-word" data-translation="in" data-grammar="preposition">on </span>
                <span class="reader-word" data-translation="England" data-grammar="dative singular noun">Englalande</span>,
                <span class="reader-word footnote" data-translation="Alcuin" data-grammar="proper noun">Albin</span>
                <span class="reader-word" data-translation="called" data-grammar="strong class VII past participle verb" data-base-form="hatan">gehaten</span>,
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="had" data-grammar="weak class III third person singular past verb" data-base-form="habban">hæfde </span>
                <span class="reader-word" data-translation="great" data-grammar="accusative plural feminine adjective">micele </span>
                <span class="reader-word" data-translation="dignity (honour)" data-grammar="accusative plural feminine noun">geþingða</span>.
                <span class="reader-word" data-translation="He" data-grammar="third person singular masculine demonstrative pronoun">Se </span>
                <span class="reader-word" data-translation="taught" data-grammar="weak class I third person singular past verb" data-base-form="læran">lærde </span>
                <span class="reader-word" data-translation="many" data-grammar="accusative singular strong adjective">manega </span>
                <span class="reader-word" data-translation="of the" data-grammar="genitive masculine singular demonstrative pronoun">þæs </span>
                <span class="reader-word" data-translation="English" data-grammar="weak neuter singular adjective">Engliscan </span>
                <span class="reader-word" data-translation="people" data-grammar="genitive neuter singular noun">mennisces </span>
                <span class="reader-word" data-translation="in" data-grammar="preposition">on </span>
                <span class="reader-word" data-translation="biblical" data-grammar="dative singular masculine strong adjective">boclicum </span>
                <span class="reader-word" data-translation="craft" data-grammar="dative singular masculine noun">cræfte</span>,
                <span class="reader-word" data-translation="just as" data-grammar="adverb">swa swa </span>
                <span class="reader-word" data-translation="he" data-grammar="third person singular masculine personal pronoun">he </span>
                <span class="reader-word" data-translation="well" data-grammar="adverb">wel </span>
                <span class="reader-word" data-translation="could" data-grammar="preterite-present third person singular past verb" data-base-form="cunnan">cuþe</span>,
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="went" data-grammar="weak class I third person singular past verb" data-base-form="feran">ferde </span>
                <span class="reader-word" data-translation="afterwards" data-grammar="adverb">siþþan </span>
                <span class="reader-word" data-translation="over" data-grammar="preposition">ofer </span>
                <span class="reader-word" data-translation="sea" data-grammar="dative singular feminine noun">sæ </span>
                <span class="reader-word" data-translation="to" data-grammar="preposition">to </span>
                <span class="reader-word" data-translation="the" data-grammar="dative singular masculine demonstrative pronoun">þam </span>
                <span class="reader-word" data-translation="wise" data-grammar="dative singular masculine weak adjective" data-base-form="snotor">snoteran </span>
                <span class="reader-word" data-translation="king" data-grammar="dative singular masculine noun">kyninge</span>,
                <span class="reader-word footnote" data-translation="Charlemagne" data-grammar="proper noun">Karolus</span>
                <span class="reader-word" data-translation="called" data-grammar="strong class VII past participle verb" data-base-form="hatan">gehaten</span>,
                <span class="reader-word" data-translation="who" data-grammar="relative pronoun">se </span>
                <span class="reader-word" data-translation="had" data-grammar="weak class III third person singular past verb" data-base-form="habban">hæfde </span>
                <span class="reader-word" data-translation="great" data-grammar="accusative masculine singular adjective">micelne </span>
                <span class="reader-word" data-translation="power" data-grammar="accusative masculine singular noun">cræft </span>
                <span class="reader-word" data-translation="before" data-grammar="preposition">for </span>
                <span class="reader-word" data-translation="God" data-grammar="dative singular masculine noun">Gode </span>
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="over" data-grammar="preposition">for </span>
                <span class="reader-word" data-translation="world" data-grammar="dative singular feminine noun">worulde</span>,
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="he" data-grammar="third person singular masculine personal pronoun">he </span>
                <span class="reader-word" data-translation="wisely" data-grammar="adverb">wislice </span>
                <span class="reader-word" data-translation="lived" data-grammar="weak class II third person singular past verb" data-base-form="leofian">leofode.</span>
                <span class="reader-word" data-translation="To" data-grammar="preposition">To </span>
                <span class="reader-word" data-translation="them" data-grammar="dative masculine plural demonstrative pronoun">þam </span>
                <span class="reader-word" data-translation="came" data-grammar="strong class IV third person singular past verb" data-base-form="cuman">com </span>
                <span class="reader-word footnote" data-translation="Alcuin" data-grammar="nominative proper noun">Albinus</span>
                <span class="reader-word" data-translation="the" data-grammar="nominative masculine masculine demonstrative pronoun">se </span>
                <span class="reader-word" data-translation="noble" data-grammar="nominative singular masculine adjective">æþela </span>
                <span class="reader-word" data-translation="teacher" data-grammar="nominative singular masculine noun">lareow</span>,
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="in" data-grammar="preposition">on </span>
                <span class="reader-word" data-translation="his" data-grammar="genitive singular masculine personal pronoun">his </span>
                <span class="reader-word" data-translation="dominion" data-grammar="dative singular masculine noun">anwealde </span>
                <span class="reader-word" data-translation="abroad (literally: foreign)" data-grammar="adjective">ælþeodig </span>
                <span class="reader-word" data-translation="lived" data-grammar="weak class II third person singular past verb">wunode</span>
                <span class="reader-word" data-translation="in" data-grammar="preposition">on </span>
                <span class="reader-word footnote" data-translation="Saint" data-grammar="genitive singular masculine noun">Sce</span>
                <span class="reader-word" data-translation="Martin's" data-grammar="genitive singular masculine proper noun">Martines </span>
                <span class="reader-word" data-translation="monastery" data-grammar="dative singular neuter noun">mynstre</span>,
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="there" data-grammar="adverb">þær </span>
                <span class="reader-word" data-translation="many" data-grammar="accusative plural strong adjective">manega </span>
                <span class="reader-word" data-translation="taught" data-grammar="weak class I third person singular past verb with prefix 'ge'">gelærde </span>
                <span class="reader-word" data-translation="with" data-grammar="preposition">mid </span>
                <span class="reader-word" data-translation="the" data-grammar="dative singular masculine demonstrative pronoun">þam </span>
                <span class="reader-word" data-translation="heavenly" data-grammar="adverb">heofonlican </span>
                <span class="reader-word" data-translation="wisdom" data-grammar="dative singular masculine noun">wisdome </span>
                <span class="reader-word" data-translation="that" data-grammar="relative pronoun">þe </span>
                <span class="reader-word" data-translation="him" data-grammar="dative singular masculine personal pronoun">him </span>
                <span class="reader-word" data-translation="the" data-grammar="nominative masculine singular personal pronoun">se </span>
                <span class="reader-word" data-translation="Lord" data-grammar="nominative singular proper noun">Hæland </span>
                <span class="reader-word" data-translation="gave" data-grammar="strong class V third person singular past verb">forgeaf</span>.
                <span class="reader-word" data-translation="Then" data-grammar="adverb">&THORN;a </span>
                <span class="reader-word" data-translation="after" data-grammar="preposition">on </span>
                <span class="reader-word" data-translation="some" data-grammar="accusative singular masculine adjective">sumne </span>
                <span class="reader-word" data-translation="time" data-grammar="accusative singular masculine weak verb">timan </span>
                <span class="reader-word" data-translation="Sigewulf" data-grammar="nominative singular proper noun">Sigewulf </span>
                <span class="reader-word" data-translation="priest" data-grammar="nominative singular masculine noun">mæssepreost</span>
                <span class="reader-word" data-translation="him" data-grammar="accusative singular masculine noun">hine </span>
                <span class="reader-word" data-translation="asked" data-grammar="strong class III third person singular past verb with prefix 'be'" data-base-form="frinan">befran </span>
                <span class="reader-word" data-translation="repeatedly" data-grammar="adverb">gelome </span>
                <span class="reader-word" data-translation="afar" data-grammar="adverb">feorran </span>
                <span class="reader-word" data-translation="with" data-grammar="preposition">mid </span>
                <span class="reader-word" data-translation="letters" data-grammar="dative plural neuter noun">gewritum</span>
                <span class="reader-word" data-translation="about" data-grammar="preposition">be </span>
                <span class="reader-word" data-translation="any" data-grammar="dative plural pronoun">gehwilcum </span>
                <span class="reader-word" data-translation="difficulty" data-grammar="dative plural masculine noun">cnottum </span>
                <span class="reader-word" data-translation="that" data-grammar="relative pronoun">þe </span>
                <span class="reader-word" data-translation="he" data-grammar="third person singular masculine personal pronoun">he </span>
                <span class="reader-word" data-translation="himself" data-grammar="reflexive pronoun">sylf </span>
                <span class="reader-word" data-translation="not" data-grammar="negative participle">ne </span>
                <span class="reader-word" data-translation="could" data-grammar="preterite-present third person singular past verb" data-base-form="cunnan">cuþe</span>,
                <span class="reader-word" data-translation="in" data-grammar="preposition">on </span>
                <span class="reader-word" data-translation="the" data-grammar="dative feminine singular demonstrative pronoun">þære </span>
                <span class="reader-word" data-translation="book" data-grammar="dative feminine singular noun">bec </span>
                <span class="reader-word" data-translation="that" data-grammar="relative pronoun">þe </span>
                <span class="reader-word" data-translation="is" data-grammar="third person singular present irregular verb">is </span>
                <span class="reader-word" data-translation="called" data-grammar="strong class VII past participle verb" data-base-form="hatan">gehaten</span>,
                <span class="reader-word" data-translation="Genesis" data-grammar="proper noun">Genesis</span>.
                <span class="reader-word" data-translation="Then" data-grammar="adverb">&THORN;a </span>
                <span class="reader-word" data-translation="said" data-grammar="strong class V third person singular past verb">cwæð</span>
                <span class="reader-word" data-translation="Albin" data-grammar="proper noun with Latin suffix">Albinus </span>
                <span class="reader-word" data-translation="him" data-grammar="dative singular masculine personal pronoun">him </span>
                <span class="reader-word" data-translation="in" data-grammar="preposition">to </span>
                <span class="reader-word" data-translation="answer" data-grammar="dative singular feminine noun">andsware</span>,
                <span class="reader-word" data-translation="that" data-grammar="relative pronoun">þæt </span>
                <span class="reader-word" data-translation="he" data-grammar="third person singular masculine personal pronoun">he </span>
                <span class="reader-word" data-translation="would" data-grammar="third person singular past irregular verb">wolde </span>
                <span class="reader-word" data-translation="his" data-grammar="genitive singular masculine personal pronoun">his </span>
                <span class="reader-word" data-translation="inquiries" data-grammar="accusative plural feminine noun">axunga </span>
                <span class="reader-word" data-translation="all" data-grammar="adverb">eallunga </span>
                <span class="reader-word" data-translation="collect" data-grammar="weak class II infinitive verb">gegaderian</span>,
                <span class="reader-word" data-translation="and" data-grammar="conjunction">and </span>
                <span class="reader-word" data-translation="him" data-grammar="dative singular masculine personal pronoun">him </span>
                <span class="reader-word" data-translation="so" data-grammar="adverb">swa</span>
                <span class="reader-word" data-translation="send" data-grammar="weak class I infinitive verb">sendan </span>
                <span class="reader-word" data-translation="with" data-grammar="preposition">mid </span>
                <span class="reader-word" data-translation="their" data-grammar="genitive third person plural personal pronoun">heora </span>
                <span class="reader-word" data-translation="explanations" data-grammar="dative feminine plural noun">swutelungum</span>.
                <span class="reader-word" data-translation="Sigwulf" data-grammar="nominative proper noun">Sigewulf </span>
                <span class="reader-word" data-translation="him" data-grammar="accusative singular masculine personal pronoun">hine </span>
                <span class="reader-word" data-translation="interrogated (literally: asked about)" data-grammar="strong class III third person singular past verb with the prefix 'be'" data-base-form="frinan">befran </span>
                <span class="reader-word" data-translation="at" data-grammar="preposition">æt </span>
                <span class="reader-word" data-translation="first" data-grammar="dative singular weak adjective">fruman </span>
                <span class="reader-word" data-translation="these" data-grammar="dative plural demonstrative pronouns">þysum </span>
                <span class="reader-word" data-translation="word" data-grammar="dative plural neuter noun">wordum</span>...
            </p>
        </div>
        <div class="col-sm-3 reader-tooltip-column">
            <p class="reader-tooltip-explanation">Select any Old English word to view its gloss</p>
            <div class="reader-tooltip hide">
                <div class="reader-tooltip-header">
                    <h3>Glossary</h3>
                    <button class="close-icon">&times;</button>
                </div>
                <div class="reader-tooltip-body">
                    <p class="reader-tooltip-p"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 reading-trans hide">
            <p class="padding-top">
                A certain excellent teacher was in England, called Albin, 
                and [he] had great dignity. He taught many of the English people in 
                biblical knowledge, as he was well able to, and went afterwards 
                over the sea to the wise king, called Charlemagne, who had great power 
                before God and the world, and he lived wisely. To him 
                Albinus the noble teacher came and he lived abroad in his dominion in 
                St. Martin’s monastery, and taught many people there with the heavenly 
                wisdom which the Lord gave him. Then after some time, 
                the priest Sigewulf repeatedly asked him from afar through letters about 
                every difficulty, which he could not [solve] himself, concerning 
                the holy book that is called Genesis. Then Albinus answered that he was 
                willing to gather all his questions, and send him answers with the 
                explanations. First, Sigewulf interrogated him with these words...
            </p>
        </div>
    </section>
    <hr class="border">
    <section class="text-notes row hide">
        <div class="col-sm-12">
            <h3>Notes</h3>
            <div class="scrollable-area">
                <p><strong></strong>The word 'lareow' was ommited from the original text and added in above the line later by another scribe.</p>
                <p><strong></strong>Albin is one of the many pseudonyms of Alcuin.</p>
                <p><strong></strong>This refers to King Charlemagne, an 8th-9th Century king of the Franks.</p>
                <p><strong></strong>The suffix 'us' is a nominative masculine singular suffix in Latin. The use of Latin suffix' is not uncommon when using names.</p>
                <p><strong></strong>This is a common Latin abbreviation for '<em>Sancte - Saint</em>'.</p>
            </div>
        </div>
    </section>
    <section class="padding-top">
        <a href="intro_sigewulfi.html" class="darkorange-text strong"><i class="fa fa-angle-double-left"
                aria-hidden="true"></i> Return to Introduction</a>
        <a href="textselect.html" class="darkorange-text strong float-right">Return to Text Selection <i
                class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </section>
</main>