<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak and Minor Nouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="weakandminor.html">Introduction to Weak and Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam2.html"> Weak Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam3.html"> Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        i-Mutation
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam5.html"> Nouns Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>I-Mutation</h2>
            <p><span class="initial-letter darkorange-text">I</span>n linguistics, mutation is a change in a vowel sound
                caused by a sound in the following syllable. I-mutation is a change in the sound of a vowel so that it
                is pronounced with the tongue higher and farther forward than usual. Because i-mutation happened very
                early
                in the development of Old English, and it affects all
                areas of the language, it is worth examining the linguistic reasons behind why it occurs, and the rules
                that govern it.
            </p>
            <h3>What causes i-mutation?</h3>
            <p>I-mutation was a series of changes to vowels which took place when there was an [i], [ī] or [j] sound in
                the following syllable. By the time Old English was spoken, these sounds in the second syllable had
                either
                disappeared or changed to e, but by examining cognate words in related languages, like
                the Old English '<em>dǣlan - to divide</em>' against the Gothic '<em>dailjan - to divide</em>', we can
                see
                that the letter was there in an earlier form of the language.</p>
            <h3>How does i-mutation work?</h3>
            <p>Vowels can be sorted into two categories: <strong>back vowels</strong> and <strong>front vowels</strong>.
                Back vowels are vowels produced
                with the tongue further back in the mouth like (a, o, u). Front vowels are vowels produced with the
                tongue in the front of the mouth like (i, e, æ).</p>
            <p class="text-center"><strong>Insert graphic here</strong></p>
            <p>When speaking, when a fronted vowel follows a
                stressed syllable, low front vowels are ‘raised’ and the back vowels are ‘fronted’.
                The reason for this is the mouth of the speaker gets ready for the high
                front sound too soon and in the process the tongue moves too early changing the sound created.
                You can find a full breakdown of the vowel changes below. The long vowels ǣ and ē are not subject to
                i-mutation.</p>
            <div class="text-center">
                <table class="static-table table-striped inline-block">
                    <tbody>
                        <tr>
                            <th>original</th>
                            <th>i-mutant
                            </th>
                        </tr>
                        <tr>
                            <td>a, ā</td>
                            <td>æ, ǣ</td>
                        </tr>
                        <tr>
                            <td>am, an</td>
                            <td>em, en</td>
                        </tr>
                        <tr>
                            <td>æ</td>
                            <td>e</td>
                        </tr>
                        <tr>
                            <td>e</td>
                            <td>i</td>
                        </tr>
                        <tr>
                            <td>o, ō</td>
                            <td>e, ē</td>
                        </tr>
                        <tr>
                            <td>u, ū</td>
                            <td>y, ȳ</td>
                        </tr>
                        <tr>
                            <td>ea, ēa</td>
                            <td>ie, īe</td>
                        </tr>
                        <tr>
                            <td>eo, ēo</td>
                            <td>ie, īe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>You have seen i-mutation at work already in the adjectives module when certain adjectives are made 
                comparative and superlative. For example, '<em>heah</em>' becomes '<em>hiera</em>' and '<em>hiehst</em>'.
                It is also visible in the singular forms of the irregular verbs '<em>gan</em>' and
                '<em>don</em>', where the vowel in the stem changes from 'a' to 'æ' and 'o' to 'e'.
            </p>
            <h3>Nouns affected by i-mutation</h3>
            <p>I-mutation is visible in the singular dative, nominative plural, and accusative plural.
                Many of the nouns affected by i-mutation in Old English still decline differently in the plural in modern
                English. For example, '<em>fot - foot</em>' becomes '<em>fet - feet</em>', '<em>gos - goose</em>'
                becomes
                '<em>ges - geese</em>', and '<em>toþ - tooth</em>'
                becomes '<em>teþ - teeth</em>'. However, there
                are some notable exceptions which are no longer affected in modern English. For example, '<em>boc - book</em>' becomes '<em>bec - books</em>'
                and '<em>freond - friend</em>' becomes '<em>friend - friends</em>'.</p>
                <div class="hidden-xs padding-top">
                    <table class="overview-table table-striped">
                        <tr>
                            <th></th>
                            <th colspan="2" class="text-center">Mann - Man</th>    
                            <th colspan="2" class="text-center">Boc - Book</th>
                        </tr>
                        <tr>
                            <td class="strong">Nominative</td>
                            <td>se mann</td>
                            <td>þa menn</td>
                            <td>seo boc</td>
                            <td>þa bec</td>
                        </tr>
                        <tr>
                            <td class="strong">Accusative</td>
                            <td>þone mann</td>
                            <td>þa menn</td>
                            <td>þa boc</td>
                            <td>þa bec</td>
                        </tr>
                        <tr>
                            <td class="strong">Genitive</td>
                            <td>þæs mannes</td>
                            <td>þara manna</td>
                            <td>þære boce</td>
                            <td>þara boca</td>
                        </tr>
                        <tr>
                            <td class="strong">Dative</td>
                            <td>þæm menn</td>
                            <td>þæm mannum</td>
                            <td>þære bec</td>
                            <td>þæm bocum</td>
                        </tr>
                    </table>
                </div>
                <!--overview note for mobile-->
                <div class="visible-xs">
                    <table class="mobile-overview-table table-striped">
                        <tr>
                            <th colspan="3" class="text-center">Sunu - Son</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>se sunu</td>
                            <td>þa suna</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þone sunu</td>
                            <td>þa suna</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs suna</td>
                            <td>þara suna</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm suna</td>
                            <td>þæm sunum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Hond - Hand</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>seo hond</td>
                            <td>þa honda</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þa hond</td>
                            <td>þa honda</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þære honda</td>
                            <td>þara honda</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þære honda</td>
                            <td>þæm hondum</td>
                        </tr>
                    </table>
                </div>
                <p class="padding-top">You can practice nouns affected by i-mutation below.</p>
            <a href="wam3.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Minor
                Nouns
            </a>
            <a href="wam5.html" class="float-right darkorange-text padding-top strong">Continue to Weak and Minor Nouns
                Overview
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <hr class="border">
    <section>
        <div>
            <h2>Test Your Declensions</h2>
            <small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
        </div>
        <form name="form1" autocomplete="OFF">
            <p>
                <button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
                <button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
                <button class="light-button button special-character" data-char="&eth;">&eth;</button>
                <br class="visible-xs">
                <sub>Use these buttons to insert thorn, ash and eth when you have an input
                    selected.</sub>
            </p>
            <div id="question-wrapper" data-question-file="wam2_answers.json">
            </div>
            <div class="form-group">
                <button class="solid-button button" id="submit">Check</button>
                <button class="solid-button button hidden" id="again">Try Again?</button>
            </div>
        </form>
    </section>
</main>