<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak and Minor Nouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="weakandminor.html">Introduction to Weak and Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam2.html"> Weak Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam3.html"> Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        i-Mutation
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam5.html"> Nouns Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>I-Mutation</h2>
            <p><span class="initial-letter darkorange-text">I</span>n the terminology of linguistics, mutation is a
                change in a vowel sound
                caused by a sound in the following syllable. I-mutation is a change in the sound of a vowel so that it
                is pronounced with the tongue higher and further forward. Because i-mutation happened very
                early in the development of Old English, and it affects all areas of the language, it is worth examining
                the linguistic reasons behind why it occurs, and the rules that govern it.
            </p>
            <h3>What causes i-mutation?</h3>
            <p>I-mutation was a series of changes to <abbr title="Initial vowels are the first vowel in a word">initial
                    vowels</abbr> which took place when there was a high front vowel, usually
                <button class="audio-button darkorange-text">[i]</button>
                <audio class="audio-link">
                    (but also
                    <source src="assets/audio/Close_front_unrounded_vowel.mp3" type="audio/mp3">
                </audio>, <button class="audio-button darkorange-text">[ɪ]</button>
                <audio class="audio-link">
                    <source src="assets/audio/Near-close_near-front_unrounded_vowel.mp3" type="audio/mp3">
                </audio> or <button class="audio-button darkorange-text">[j]</button>
                <audio class="audio-link">
                    <source src="assets/audio/y_gear.mp3" type="audio/mp3">
                </audio><i class="far fa-play-circle"></i>) in
                the following syllable (usually in an inflectional suffix). The presence of the high front vowel in the
                following syllable caused lower
                and back vowels in the preceeding syllable to move higher in
                anticipation of pronouncing this high front vowel.
                By the time Old English was spoken, the high vowel in the second syllable or inflectional suffix had
                either disappeared or changed to '<strong>e</strong>', but by examining cognate words in related
                languages, like the Old English '<em>dælan - to divide</em>' against the Gothic
                '<em>dailjan - to divide</em>', we can see that the high vowel <strong>[j]</strong> was there in an
                earlier form of the
                language.
                Essentially, the <strong>[i]</strong> or <strong>[j]</strong> of the suffix may no longer be present in
                Old English, but its effects on the
                vowel in the root of the word are still there.
            </p>
            <h3>How does i-mutation work?</h3>
            <p>Vowels can be sorted into two categories: <strong>back vowels</strong> and <strong>front vowels</strong>.
                Back vowels are vowels produced
                with the tongue further back in the mouth like <button
                    class="audio-button darkorange-text">[ɑ]</button><audio class="audio-link">
                    <source src="assets/audio/Open_back_unrounded_vowel.mp3" type="audio/mp3">
                </audio>, <button class="audio-button darkorange-text">[o]</button>,
                <audio class="audio-link">
                    <source src="assets/audio/Close-mid_back_rounded_vowel.mp3" type="audio/mp3">
                </audio> or <button class="audio-button darkorange-text">[u]<i class="far fa-play-circle"></i></button>,
                <audio class="audio-link">
                    <source src="assets/audio/Close_back_rounded_vowel.mp3" type="audio/mp3">
                </audio> while front vowels are vowels produced with
                the tongue in the front of the mouth like <button
                    class="audio-button darkorange-text">[i]</button>,<audio class="audio-link">
                    <source src="assets/audio/Close_front_unrounded_vowel.mp3" type="audio/mp3">
                </audio> <button class="audio-button darkorange-text">[e]</button>,
                <audio class="audio-link">
                    <source src="assets/audio/ei.mp3" type="audio/mp3">
                </audio> or <button class="audio-button darkorange-text">[æ]<i class="far fa-play-circle"></i></button>
                <audio class="audio-link">
                    <source src="assets/audio/Near-open_front_unrounded_vowel.mp3" type="audio/mp3"></audio>. It can be
                hard to visualise where a vowel sound is
                produced, but examine the below diagram and try to make the sounds <button
                    class="audio-button darkorange-text">[i]</button>
                <audio class="audio-link">
                    <source src="assets/audio/Close_front_unrounded_vowel.mp3" type="audio/mp3">
                </audio> and <button class="audio-button darkorange-text">[o]</button>
                <audio class="audio-link">
                    <source src="assets/audio/Close-mid_back_rounded_vowel.mp3" type="audio/mp3">
                </audio><i class="far fa-play-circle"></i>. You should feel your tongue move
                as
                you do this, with the origin of the sound shifting backwards and lower as you move from
                <strong>[i]</strong> to <strong>[o]</strong>.
                You can click on any of the dots in the vowel origin chart below to hear the related vowel sound.</p>
            <div class="text-center">
                <svg id="vowel-chart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.17 419.24">
                    <defs>
                        <style>
                            .vls-1 {
                                fill: none;
                                stroke-width: 4px;
                            }

                            .vls-1,
                            .vls-2 {
                                stroke: #000;
                            }

                            .vls-2 {
                                stroke-width: 8.46px;
                            }

                            .vls-3,
                            .vls-4,
                            .vls-5,
                            .vls-6,
                            .vls-7 {
                                fill: #c86432;
                            }

                            .vls-4 {
                                font-size: 36px;
                            }

                            .vls-4,
                            .vls-5,
                            .vls-6,
                            .vls-7 {
                                font-family: Times New Roman;
                            }

                            .vls-5 {
                                font-size: 24.1px;
                                font-weight: 700;
                            }

                            .vls-6 {
                                font-size: 30px;
                            }

                            .vls-7 {
                                font-size: 34px;
                            }

                            .vls-8 {
                                isolation: isolate;
                                font-size: 18px;
                                font-family: Arial;
                            }
                        </style>
                    </defs>
                    <title>Old English vowel origin chart</title>
                    <g id="layer1">
                        <g id="g4087">
                            <path id="path3036" class="vls-1" d="M682.8,535h-221L242.3,207h439Z"
                                transform="translate(-219.8 -164.55)" />
                            <path id="path3812" class="vls-1" d="M389.3,427h293"
                                transform="translate(-219.8 -164.55)" />
                            <path id="path3818" class="vls-1" d="M681.8,316.5h-366"
                                transform="translate(-219.8 -164.55)" />
                            <path id="path3826" class="vls-1" d="M574.3,535L463.8,207"
                                transform="translate(-219.8 -164.55)" />
                        </g>
                    </g>
                    <g id="layer2">
                        <g id="g4128" class="audio-svg">
                            <path id="path3965" class="vls-2"
                                d="M675.7,315.4a6.5,6.5,0,1,1,6.5,6.5h0a6.55,6.55,0,0,1-6.5-6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text3967">
                                <path id="path4195" class="vls-3"
                                    d="M708.7,308.9a3.9,3.9,0,0,0-3.3,1.7,9.65,9.65,0,0,0-1.1,5.1,9.26,9.26,0,0,0,1.1,5,3.66,3.66,0,0,0,3.3,1.7,3.78,3.78,0,0,0,3.3-1.7,9.5,9.5,0,0,0,1.1-5,10.17,10.17,0,0,0-1.1-5.1A3.47,3.47,0,0,0,708.7,308.9Zm0-1.4a7.09,7.09,0,0,1,5.5,2.2,9.62,9.62,0,0,1,0,12,8,8,0,0,1-11,0,9.62,9.62,0,0,1,0-12A7.23,7.23,0,0,1,708.7,307.5Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4096" class="audio-svg">
                            <path id="path2399" class="vls-2"
                                d="M325.3,317.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text2421">
                                <path id="path4199" class="vls-3"
                                    d="M297.5,317.9H285.9V318a8.1,8.1,0,0,0,1.2,4.8,4.06,4.06,0,0,0,3.5,1.6,4.27,4.27,0,0,0,4.5-3.7h2.2a6.55,6.55,0,0,1-2.4,3.9,7.38,7.38,0,0,1-4.6,1.3,7.09,7.09,0,0,1-5.5-2.2,8.44,8.44,0,0,1-2.1-6,8.59,8.59,0,0,1,2-5.9,6.88,6.88,0,0,1,5.3-2.3,6.47,6.47,0,0,1,5.4,2.2c1.4,1.3,2.1,3.4,2.1,6.2h0Zm-3.1-1.6a6.67,6.67,0,0,0-1.2-4.1,3.61,3.61,0,0,0-3-1.4,3.56,3.56,0,0,0-2.9,1.4,8.26,8.26,0,0,0-1.3,4.1h8.4Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4104" class="audio-svg">
                            <path id="path3997" class="vls-2"
                                d="M252.8,209a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text3999">
                                <path id="path4203" class="vls-3"
                                    d="M221.7,202.5a2.08,2.08,0,0,1,.5-1.2,1.66,1.66,0,0,1,1.2-.5,2.08,2.08,0,0,1,1.2.5,1.66,1.66,0,0,1,.5,1.2,1.85,1.85,0,0,1-.5,1.2,1.35,1.35,0,0,1-1.2.5,1.66,1.66,0,0,1-1.2-.5A1.58,1.58,0,0,1,221.7,202.5Zm3.4,18.8h2.5v1.6h-7.8v-1.6h2.6V208.8h-2.6v-1.6h5.3v14.1Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4011" class="audio-svg">
                            <path id="path4013" class="vls-2"
                                d="M689.2,209.5a6.5,6.5,0,1,1-6.5-6.5h0a6.49,6.49,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text4015">
                                <path id="path4207" class="vls-3"
                                    d="M709.9,201.8h5v14h2.5v1.6h-5.2v-2.8a6.54,6.54,0,0,1-1.9,2.4,5.12,5.12,0,0,1-2.8.8,4.62,4.62,0,0,1-3.8-1.5,7.23,7.23,0,0,1-1.2-4.6v-8.3h-2.4v-1.6h5.1v9.1c0,1.9.2,3.2,0.7,3.9a2.85,2.85,0,0,0,2.5,1.1,3.42,3.42,0,0,0,2.9-1.4,6.58,6.58,0,0,0,1-4v-7.1H710v-1.6h-0.1Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4120" class="audio-svg">
                            <path id="path4021" class="vls-2"
                                d="M380.3,258a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text4023">
                                <path id="path4211" class="vls-3"
                                    d="M355.6,264.3h2.5v1.6h-7.8v-1.6h2.6V251.8h-2.6v-1.6h7.8v1.5h-2.5v12.6Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4027" class="audio-svg">
                            <path id="path4029" class="vls-2"
                                d="M629.2,264a6.5,6.5,0,1,1-6.5-6.5h0a6.49,6.49,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text4031">
                                <path id="path4215" class="vls-3"
                                    d="M605.1,257.4h-3.6a8.39,8.39,0,0,1,3.6,2.8,7.18,7.18,0,0,1,1.3,4.2,7.31,7.31,0,0,1-.6,3,6.42,6.42,0,0,1-1.8,2.5,6.08,6.08,0,0,1-2.4,1.5,7.1,7.1,0,0,1-2.9.5,9.29,9.29,0,0,1-2.9-.5,6.08,6.08,0,0,1-2.4-1.5,7.25,7.25,0,0,1-1.8-2.5,7.65,7.65,0,0,1-.6-3,7.18,7.18,0,0,1,1.3-4.2,7.7,7.7,0,0,1,3.6-2.8H591v-1.6h6.5v2.4a4.73,4.73,0,0,0-2.6,2.2,7.37,7.37,0,0,0-.9,3.8,6.78,6.78,0,0,0,1.3,4.4,4.63,4.63,0,0,0,7,0,6.6,6.6,0,0,0,1.3-4.4,7.37,7.37,0,0,0-.9-3.8,5.62,5.62,0,0,0-2.6-2.2v-2.4h5.2l-0.2,1.6h0Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4051" class="audio-svg">
                            <path id="path4053" class="vls-2"
                                d="M439.7,487.5a6.5,6.5,0,1,1-6.5-6.5h0a6.49,6.49,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text4055">
                                <path id="path4227" class="vls-3"
                                    d="M399.7,490.5v-3.3h-3.5a4.48,4.48,0,0,0-3,.9,3.34,3.34,0,0,0-1,2.7,3.39,3.39,0,0,0,1,2.6,4.06,4.06,0,0,0,2.7,1,3.62,3.62,0,0,0,2.7-1,4.07,4.07,0,0,0,1.1-2.9h0Zm1.6,2.7a8.62,8.62,0,0,1-2.7,2,8.81,8.81,0,0,1-3.3.6,6.89,6.89,0,0,1-4.5-1.3,4.81,4.81,0,0,1-1.6-3.8,4.72,4.72,0,0,1,1.7-3.8,7.92,7.92,0,0,1,4.9-1.3h3.8v-1.1a3.39,3.39,0,0,0-1.1-2.7,4,4,0,0,0-2.9-1,4.53,4.53,0,0,0-2.7.7,3.64,3.64,0,0,0-1.2,2.2h-1.4v-3.1a14.26,14.26,0,0,1,2.7-.9,12.22,12.22,0,0,1,2.6-.3,9.15,9.15,0,0,1,3.5.6,5.1,5.1,0,0,1,2.2,1.9,6.42,6.42,0,0,1,2.5-1.9,7.83,7.83,0,0,1,3.1-.7,6.47,6.47,0,0,1,5.4,2.2,9.3,9.3,0,0,1,1.9,6.3H402.6v0.1a8.1,8.1,0,0,0,1.2,4.8,4.06,4.06,0,0,0,3.5,1.6,4.27,4.27,0,0,0,4.5-3.7H414a6.55,6.55,0,0,1-2.4,3.9,7.38,7.38,0,0,1-4.6,1.3,7.25,7.25,0,0,1-3.3-.7A12.38,12.38,0,0,1,401.3,493.2Zm10-6.9a6.67,6.67,0,0,0-1.2-4.1,3.61,3.61,0,0,0-3-1.4,3.56,3.56,0,0,0-2.9,1.4,8.26,8.26,0,0,0-1.3,4.1h8.4Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4059" class="audio-svg">
                            <path id="path4061" class="vls-2"
                                d="M398.7,428.5a6.5,6.5,0,1,1-6.5-6.5h0a6.49,6.49,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text4063">
                                <path id="path4231" class="vls-3"
                                    d="M359.1,424.5a3.42,3.42,0,0,1,1.4-2.9,7.4,7.4,0,0,1,4.3-1c0.5,0,1.3.1,2.3,0.2s2.1,0.4,3.2.7v3.2h-1.6a2.65,2.65,0,0,0-1.2-2,4.81,4.81,0,0,0-2.4-.7c-2.3,0-3.4.8-3.4,2.4,0,1.9,1.3,2.8,3.8,2.8h1.4v1.5h-1.3a5.31,5.31,0,0,0-3.4.9,3.17,3.17,0,0,0-1.1,2.6,2.56,2.56,0,0,0,.8,1.9,4.7,4.7,0,0,0,3.4,1.2,5.47,5.47,0,0,0,2.9-.8,3,3,0,0,0,1.4-2.3h1.6v3.4a17.68,17.68,0,0,1-3.1.8,13.9,13.9,0,0,1-2.7.3,9.16,9.16,0,0,1-5.1-1.2,3.81,3.81,0,0,1-1.8-3.4A3.62,3.62,0,0,1,360,429a8.12,8.12,0,0,1,2.8-1.2,5.24,5.24,0,0,1-2-.8,2.25,2.25,0,0,1-1.7-2.5h0Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                        <g id="g4112" class="audio-svg">
                            <path id="path4069" class="vls-2"
                                d="M659.3,533.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" />
                            <g id="text4071">
                                <path id="path4235" class="vls-3"
                                    d="M659,570.4h2.6V572h-5.3v-2.4a5.37,5.37,0,0,1-2,2.2,5.56,5.56,0,0,1-3,.7,5.82,5.82,0,0,1-4.7-2.3,10.57,10.57,0,0,1,0-11.8,5.82,5.82,0,0,1,4.7-2.3,5.56,5.56,0,0,1,3,.7,5.37,5.37,0,0,1,2,2.2v-2.4h5.3v1.6H659v12.2Zm-2.7-5.4v-1.5a7.36,7.36,0,0,0-1.1-4.3,3.62,3.62,0,0,0-3.1-1.5,3.37,3.37,0,0,0-3.1,1.6,9.11,9.11,0,0,0-1.1,4.9,9.35,9.35,0,0,0,1.1,4.9,3.56,3.56,0,0,0,3.1,1.7,3.5,3.5,0,0,0,3.1-1.5A7.36,7.36,0,0,0,656.3,565Z"
                                    transform="translate(-219.8 -164.55)" />
                            </g>
                        </g>
                    </g>
                    <g id="Layer_3" data-name="Layer 3">
                        <g id="g4201" class="audio-svg">
                            <path id="path4069-2" data-name="path4069" class="vls-2"
                                d="M468.3,534.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" /><text class="vls-4"
                                transform="translate(207.87 378.71)">a</text></g>
                        <g id="g4202" class="audio-svg">
                            <path id="path4069-3" data-name="path4069" class="vls-2"
                                d="M689.3,533.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" /><text class="vls-4"
                                transform="translate(481.35 376.78)">ɒ</text></g>
                        <g id="g4203" class="audio-svg">
                            <path id="path4069-4" data-name="path4069" class="vls-2"
                                d="M406.3,258.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" /><text class="vls-5"
                                transform="translate(195.94 101.81) scale(0.91 1)">Y</text></g>
                        <g id="g4204" class="audio-svg">
                            <path id="path4069-5" data-name="path4069" class="vls-2"
                                d="M297.3,209.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" /><text class="vls-6"
                                transform="translate(62.13 74.11)">y</text></g>
                        <g id="g4205" class="audio-svg">
                            <path id="path4069-6" data-name="path4069" class="vls-2"
                                d="M580.3,534.5a6.5,6.5,0,1,1-6.5-6.5h0a6.55,6.55,0,0,1,6.5,6.5h0Z"
                                transform="translate(-219.8 -164.55)" /><text class="vls-7"
                                transform="translate(346.76 408.82)">ä</text></g>
                    </g><text class="vls-8" transform="translate(25.2 15.45)">Front vowel sounds</text><text
                        class="vls-8" transform="translate(310.2 15.45)">Back vowel sounds</text>
                </svg> <audio id="audio-g4104">
                    <source src="assets/audio/Close_front_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4011">
                    <source src="assets/audio/Close_back_rounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4027">
                    <source src="assets/audio/Near-close_near-back_rounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4120">
                    <source src="assets/audio/Near-close_near-front_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4128">
                    <source src="assets/audio/Close-mid_back_rounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4059">
                    <source src="assets/audio/e.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4051">
                    <source src="assets/audio/Near-open_front_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4112">
                    <source src="assets/audio/Open_back_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4201">
                    <source src="assets/audio/Open_front_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4202">
                    <source src="assets/audio/Open_back_rounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4203">
                    <source src="assets/audio/Near-close_near-front_rounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4204">
                    <source src="assets/audio/Close_front_rounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4205">
                    <source src="assets/audio/Open_central_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                <audio id="audio-g4096">
                    <source src="assets/audio/ei.mp3" type="audio/mp3">
                </audio>

            </div>
            <p class="padding-top">When a front vowel follows a
                stressed syllable, low front vowels are ‘raised’ higher in the mouth, and back vowels are ‘fronted’
                (produced further forward in the mouth).
                The reason for this is the mouth of the speaker gets ready for the high
                front sound too soon and in the process the tongue moves too early, changing the sound created.
                You can find a full breakdown of the vowel changes below. The long vowels <button
                    class="audio-button darkorange-text">[ä]<i class="far fa-play-circle"></i></button>,
                <audio class="audio-link">
                    <source src="assets/audio/Open_central_unrounded_vowel.mp3" type="audio/mp3">
                </audio>
                like in '<em>ærest</em>' and <button class="audio-button darkorange-text">[e]<i
                        class="far fa-play-circle"></i></button>,
                <audio class="audio-link">
                    <source src="assets/audio/ei.mp3" type="audio/mp3">
                </audio> like in '<em>cwen</em>' are never subject to
                i-mutation.</p>
            <div class="text-center">
                <table class="static-table table-striped inline-block">
                    <tbody>
                        <tr>
                            <th>original<br>letter</th>
                            <th>i-mutated<br>letter</th>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>æ</td>
                        </tr>
                        <tr>
                            <td>am</td>
                            <td>em</td>
                        </tr>
                        <tr>
                            <td>æ</td>
                            <td>e</td>
                        </tr>
                        <tr>
                            <td>e</td>
                            <td>i</td>
                        </tr>
                        <tr>
                            <td>o</td>
                            <td>e</td>
                        </tr>
                        <tr>
                            <td>u</td>
                            <td>y</td>
                        </tr>
                        <tr>
                            <td>ea</td>
                            <td>ie</td>
                        </tr>
                        <tr>
                            <td>eo</td>
                            <td>ie</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>You have seen i-mutation at work already in the adjectives module when certain adjectives are made
                comparative and superlative. For example, '<em>heah</em>' becomes '<em>hiera</em>' and
                '<em>hiehst</em>'. It is also visible in the singular forms of the irregular verbs '<em>gan</em>' and
                '<em>don</em>', where the vowel in the stem of '<em>gan</em>' changes from '<strong>a</strong>' to
                '<strong>æ</strong>' in
                second and third person singular '<em>gæst</em>'' and '<em>gæþ</em>'
                and the '<strong>o</strong>' of '<em>don</em>' becomes '<strong>e</strong>' in <em>dest</em> and
                <em>deþ</em>. As you can see, though the suffixes containing '<strong>i</strong>' have
                disappeared in second and third person, the i-mutation of the vowel in the root of the word remains.
            </p>
            <h3>Nouns affected by i-mutation</h3>
            <p>I-mutation is visible in the root-vowel of the singular dative, nominative plural, and accusative plural
                forms of certain nouns, and many of the nouns affected by i-mutation in Old English still decline
                differently in the plural in modern
                English. For example, in the nominative plural '<em>fot - foot</em>' becomes '<em>fet - feet</em>',
                '<em>gos - goose</em>' becomes '<em>ges - geese</em>', and '<em>toþ - tooth</em>'
                becomes '<em>teþ - teeth</em>'. However, there
                are some notable exceptions which have i-mutation in Old English, but that have been lost in modern
                English. For example, Old English '<em>boc -
                    book</em>' becomes '<em>bec - books</em>' and '<em>freond - friend</em>' becomes '<em>friend -
                    friends</em>'.</p>
            <div class="row padding-top">
                <div class="col-md-8">
                    <div class="grammar-table table-hide">
                        <!-- Nav tabs -->
                        <ul class="nav tabs three-tabs nav-justified" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#mann" aria-controls="man" role="tab" data-toggle="tab">Mann</a>
                            </li>
                            <li role="presentation">
                                <a href="#boc" aria-controls="boc" role="tab" data-toggle="tab">Boc</a>
                            </li>
                            <li role="presentation">
                                <a href="#freond" aria-controls="freond" role="tab" data-toggle="tab">Freond</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content full">
                            <div role="tabpanel" class="text-center tab-pane active full-width" id="mann">
                                <table class="tabbed-table table-striped full-width table-hide">
                                    <tr>
                                        <th></th>
                                        <th>Singular</th>
                                        <th>Plural</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Nominative</strong>
                                        </td>
                                        <td>se mann</td>
                                        <td>þa menn</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Accusative</strong>
                                        </td>
                                        <td>þone mann</td>
                                        <td>þa menn</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Genitive</strong>
                                        </td>
                                        <td>þæs mannes</td>
                                        <td>þara manna</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Dative</strong>
                                        </td>
                                        <td>þæm menn</td>
                                        <td>þæm mannum</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane full-width" id="boc">
                                <table class="tabbed-table table-striped full-width table-hide">
                                    <tr>
                                        <th></th>
                                        <th>Singular</th>
                                        <th>Plural</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Nominative</strong>
                                        </td>
                                        <td>seo boc</td>
                                        <td>þa bec</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Accusative</strong>
                                        </td>
                                        <td>þa boc</td>
                                        <td>þa bec</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Genitive</strong>
                                        </td>
                                        <td>þære boce</td>
                                        <td>þara boca</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Dative</strong>
                                        </td>
                                        <td>þære bec</td>
                                        <td>þæm bocum</td>
                                    </tr>
                                </table>
                            </div>
                            <div role="tabpanel" class="text-center tab-pane full-width" id="freond">
                                <table class="tabbed-table table-striped full-width table-hide">

                                    <tr>
                                        <th></th>
                                        <th>Singular</th>
                                        <th>Plural</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Nominative</strong>
                                        </td>
                                        <td>se freond</td>
                                        <td>þa friend</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Accusative</strong>
                                        </td>
                                        <td>þone freond</td>
                                        <td>þa friend</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Genitive</strong>
                                        </td>
                                        <td>þæs freondes</td>
                                        <td>þara freonda</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Dative</strong>
                                        </td>
                                        <td>þæm friend</td>
                                        <td>þæm freondum</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="solid-button button" id="hide-submit">
                        <span class="label-hide">Hide Table</span>
                        <span class="label-show hide">Show Table</span>
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <p class="padding-top">You can practice nouns affected by i-mutation below.</p>
            <a href="wam3.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Minor
                Nouns
            </a>
            <a href="wam5.html" class="float-right darkorange-text padding-top strong">Continue to Weak and Minor Nouns
                Overview
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <hr class="border">
    <section>
        <div>
            <h2>Test Your Declensions</h2>
            <small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
        </div>
        <form name="form1" autocomplete="OFF">
            <p>
                <button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
                <button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
                <button class="light-button button special-character" data-char="&eth;">&eth;</button>
                <br class="visible-xs">
                <sub>Use these buttons to insert thorn, ash and eth when you have an input
                    selected.</sub>
            </p>
            <div id="question-wrapper" data-question-file="wam4_answers.json">
            </div>
            <div class="form-group">
                <button class="solid-button button" id="submit">Check</button>
                <button class="solid-button button hidden" id="again">Try Again?</button>
            </div>
        </form>
    </section>
</main>