<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak and Minor Nouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="weakandminor.html">Introduction to Weak and Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam2.html"> Weak Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam3.html"> Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam4.html"> I-mutation</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Nouns Overview
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Nouns Overview</h2>
            <p><span class="initial-letter darkorange-text">I</span>n Old English there are three major categories of
                nouns: <strong>Strong</strong>, <strong>Weak</strong>, and <strong>Minor</strong>. Strong
                nouns are the most numerous, followed by weak nouns, with minor nouns being the least common.
                Nouns never change their strength. So
                a strong noun, like '<em>scip</em>' is always strong, a weak noun like '<em>tunge</em>' is always weak,
                and a minor noun like '<em>sunu</em>' is always minor.</p>
            <p>All nouns have a grammatical gender: <strong>Masculine</strong>,
                <strong>Neuter</strong>, and <strong>Feminine</strong>. The grammatical gender affects which
                demonstrative pronoun is paired with a noun, and usually affects the way the noun declines.
                Nouns also decline differently based on whether they are
                <strong>singular</strong> or <strong>plural</strong>.</p>
            <h3>Strong Nouns</h3>
            <p>Strong nouns are considered grammatically strong because there are many variations in how they decline
                based on gender, case, and number.
            </p>
            <div class="hidden-xs padding-top">
                <table class="overview-table table-striped">
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center">Strong Masculine Nouns</th>
                        <th colspan="2" class="text-center">Strong Neuter Nouns</th>
                        <th colspan="2" class="text-center">Strong Feminine Nouns</th>
                    </tr>
                    <tr>
                        <td class="strong">Nominative</td>
                        <td>se cyning</td>
                        <td>þa cyningas</td>
                        <td>þæt scip</td>
                        <td>þa scipu</td>
                        <td>seo cwen</td>
                        <td>þa cwena</td>
                    </tr>
                    <tr>
                        <td class="strong">Accusative</td>
                        <td>þone cyning</td>
                        <td>þa cyningas</td>
                        <td>þæt scip</td>
                        <td>þa scipu</td>
                        <td>þa cwene</td>
                        <td>þa cwena</td>
                    </tr>
                    <tr>
                        <td class="strong">Genitive</td>
                        <td>þæs cyninges</td>
                        <td>þara cyninga</td>
                        <td>þæs scipes</td>
                        <td>þara scipa</td>
                        <td>þære cwene</td>
                        <td>þara cwena</td>
                    </tr>
                    <tr>
                        <td class="strong">Dative</td>
                        <td>þæm cyninge</td>
                        <td>þæm cyningum</td>
                        <td>þæm scipe</td>
                        <td>þæm scipum</td>
                        <td>þære cwene</td>
                        <td>þæm cwenum</td>
                    </tr>
                </table>
            </div>
            <!--overview note for mobile-->
            <div class="visible-xs">
                <table class="mobile-overview-table table-striped">
                    <tr>
                        <th colspan="3" class="text-center">Strong Masculine Nouns</th>
                    </tr>
                    <tr>
                        <td class="strong">Nom</td>
                        <td>se cyning</td>
                        <td>þa cyningas</td>
                    </tr>
                    <tr>
                        <td class="strong">Acc</td>
                        <td>þone cyning</td>
                        <td>þa cyningas</td>
                    </tr>
                    <tr>
                        <td class="strong">Gen</td>
                        <td>þæs cyninges</td>
                        <td>þara cyninga</td>
                    </tr>
                    <tr>
                        <td class="strong">Dat</td>
                        <td>þæm cyninge</td>
                        <td>þæm cyningum</td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-center">Strong Neuter Nouns</th>
                    </tr>
                    <tr>
                        <td class="strong">Nom</td>
                        <td>þæt scip</td>
                        <td>þa scipu</td>
                    </tr>
                    <tr>
                        <td class="strong">Acc</td>
                        <td>þæt scip</td>
                        <td>þa scipu</td>
                    </tr>
                    <tr>
                        <td class="strong">Gen</td>
                        <td>þæs scipes</td>
                        <td>þara scipa</td>
                    </tr>
                    <tr>
                        <td class="strong">Dat</td>
                        <td>þæm scipe</td>
                        <td>þæm scipum</td>
                    </tr>
                    <tr>
                        <th colspan="3" class="text-center">Strong Feminine Nouns</th>
                    </tr>
                    <tr>
                        <td class="strong">Nom</td>
                        <td>seo cwen</td>
                        <td>þa cwena</td>
                    </tr>
                    <tr>
                        <td class="strong">Acc</td>
                        <td>þa cwene</td>
                        <td>þa cwena</td>
                    </tr>
                    <tr>
                        <td class="strong">Gen</td>
                        <td>þære cwene</td>
                        <td>þara cwena</td>
                    </tr>
                    <tr>
                        <td class="strong">Dat</td>
                        <td>þære cwene</td>
                        <td>þæm cwenum</td>
                    </tr>
                </table>
            </div>
            <p class="padding-top">Though there are more variations between genders in strong nouns, there are many
                similarities between the genders which can help you identify which case the noun is in.
                For example, the demonstrative pronoun '<em>þæm</em>' always signifies the dative, and the
                '<strong>um</strong>' ending always signifies the dative plural. Similarly, the demonstrative
                pronoun '<em>þara</em>' and the suffix '<strong>a</strong>', always signify the genitive plural.
                While the dative declensions for masculine, neuter and feminine nouns are identical,
                you only ever see the demonstrative pronoun '<em>þære</em>' with feminine nouns.</p>
            <h3>Weak Nouns</h3>
            <p>Weak nouns are considered grammatically weak because there are very few variations
                in how they decline. Only the nominative singular and neuter accusative forms differ between genders,
                and there are only two weak neuter nouns: '<em>eage - eye</em>' and '<em>eare - ear</em>'. All other
                nouns are either masculine or feminine.
                <div class="hidden-xs padding-top">
                    <table class="overview-table table-striped">
                        <tr>
                            <th></th>
                            <th colspan="2" class="text-center">Weak Masculine Nouns</th>
                            <th colspan="2" class="text-center">Weak Neuter Nouns</th>
                            <th colspan="2" class="text-center">Weak Feminine Nouns</th>
                        </tr>
                        <tr>
                            <td class="strong">Nominative</td>
                            <td>se hunta</td>
                            <td>þa huntan</td>
                            <td>þæt eage</td>
                            <td>þa eagan</td>
                            <td>seo tunge</td>
                            <td>þa tungan</td>
                        </tr>
                        <tr>
                            <td class="strong">Accusative</td>
                            <td>þone huntan</td>
                            <td>þa huntan</td>
                            <td>þæt eage</td>
                            <td>þa eagan</td>
                            <td>þa tungan</td>
                            <td>þa tungan</td>
                        </tr>
                        <tr>
                            <td class="strong">Genitive</td>
                            <td>þæs huntan</td>
                            <td>þara huntena</td>
                            <td>þæs eagan</td>
                            <td>þara eagena</td>
                            <td>þære tungan</td>
                            <td>þara tungena</td>
                        </tr>
                        <tr>
                            <td class="strong">Dative</td>
                            <td>þæm huntan</td>
                            <td>þæm huntum</td>
                            <td>þæm eagan</td>
                            <td>þæm eagum</td>
                            <td>þære tungan</td>
                            <td>þæm tungum</td>
                        </tr>
                    </table>
                </div>
                <!--overview note for mobile-->
                <div class="visible-xs">
                    <table class="mobile-overview-table table-striped">
                        <tr>
                            <th colspan="3" class="text-center">Strong Masculine Nouns</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>se hunta</td>
                            <td>þa huntan</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þone huntan</td>
                            <td>þa huntan</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs huntan</td>
                            <td>þara huntena</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm huntan</td>
                            <td>þæm huntum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Strong Neuter Nouns</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>þæt eage</td>
                            <td>þa eagan</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þæt eage</td>
                            <td>þa eagan</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs eagan</td>
                            <td>þara eagena</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm eagan</td>
                            <td>þæm eagum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Strong Feminine Nouns</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>seo tunge</td>
                            <td>þa tungan</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þa tungan</td>
                            <td>þa tungan</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þære tungan</td>
                            <td>þara tungena</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þære tungan</td>
                            <td>þæm tungum</td>
                        </tr>
                    </table>
                </div>
                <p class="padding-top">Since weak nouns decline almost identically between genders, and have simliar
                    inflectional suffixes between cases,
                    often demonstrative pronouns are the best way of identifying a noun's gender and case. Where a
                    demonstrative pronoun is not present, you must rely on the context of the noun to figure out its
                    case.
                </p>
                <h3>Minor Nouns</h3>
                <p>Minor nouns are the least numerous, often having only a handful of nouns per category. They can be
                    broken
                    down into several sub-categories:
                    <strong>u-declensions</strong>, <strong>r-plurals</strong>, <strong>family nouns</strong>, and
                    <strong>i-mutation nouns</strong>.
                </p>
                <h4 class="padding-top">U-Declensions</h4>
                <p>Unlike Strong and Weak nouns, nouns in the u-declension
                    decline the same for both masculine and feminine. There are no neuter nouns in the u-declension.</p>
                <div class="hidden-xs padding-top">
                    <table class="overview-table table-striped">
                        <tr>
                            <th></th>
                            <th colspan="2" class="text-center">Sunu - Son</th>
                            <th colspan="2" class="text-center">Hond - Hand</th>
                            <th colspan="2" class="text-center">Duru - Door</th>
                        </tr>
                        <tr>
                            <td class="strong">Nominative</td>
                            <td>se sunu</td>
                            <td>þa suna</td>
                            <td>seo hand</td>
                            <td>þa handa</td>
                            <td>seo duru</td>
                            <td>þa dura</td>
                        </tr>
                        <tr>
                            <td class="strong">Accusative</td>
                            <td>þone sunu</td>
                            <td>þa suna</td>
                            <td>þa hand</td>
                            <td>þa handa</td>
                            <td>þa duru</td>
                            <td>þa dura</td>
                        </tr>
                        <tr>
                            <td class="strong">Genitive</td>
                            <td>þæs suna</td>
                            <td>þara suna</td>
                            <td>þære handa</td>
                            <td>þara handa</td>
                            <td>þære dura</td>
                            <td>þara dura</td>
                        </tr>
                        <tr>
                            <td class="strong">Dative</td>
                            <td>þæm suna</td>
                            <td>þæm sunum</td>
                            <td>þære handa</td>
                            <td>þæm handum</td>
                            <td>þære dura</td>
                            <td>þæm durum</td>
                        </tr>
                    </table>
                </div>
                <!--overview note for mobile-->
                <div class="visible-xs">
                    <table class="mobile-overview-table table-striped">
                        <tr>
                            <th colspan="3" class="text-center">Sunu - Son</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>se sunu</td>
                            <td>þa suna</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þone sunu</td>
                            <td>þa suna</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs suna</td>
                            <td>þara suna</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm suna</td>
                            <td>þæm sunum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Hond - Hand</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>seo hand</td>
                            <td>þa handa</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þa hand</td>
                            <td>þa handa</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þære handa</td>
                            <td>þara handa</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þære handa</td>
                            <td>þæm handum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Duru - Door</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>seo duru</td>
                            <td>þa dura</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þa duru</td>
                            <td>þa dura</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þære dura</td>
                            <td>þara dura</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þære dura</td>
                            <td>þæm durum</td>
                        </tr>
                    </table>
                </div>
                <h4 class="padding-top">R-Plurals</h4>
                <p>R-plurals are nouns which add an '<strong>r</strong>' between the stem and the suffix when declining
                    in
                    the plural. All r-plural nouns are neuter and take the same inflectional suffixes as
                    strong neuter nouns. There are four nouns in the r-plural category:
                    '<em>lamb - lamb</em>', '<em>æg - egg</em>', '<em>cealf - calf</em>', and '<em>cild - child</em>'.
                </p>
                <div class="hidden-xs padding-top">
                    <table class="overview-table table-striped">
                        <tr>
                            <th></th>
                            <th colspan="2" class="text-center">Cild - Child</th>
                            <th colspan="2" class="text-center">&AElig;g - Egg</th>
                            <th colspan="2" class="text-center">Lamb - Lamb</th>
                        </tr>
                        <tr>
                            <td class="strong">Nominative</td>
                            <td>þæt cild</td>
                            <td>þa cildra</td>
                            <td>þæt æg</td>
                            <td>þa ægru</td>
                            <td>þæt lamb</td>
                            <td>þa lambru</td>
                        </tr>
                        <tr>
                            <td class="strong">Accusative</td>
                            <td>þæt cild</td>
                            <td>þa cildra</td>
                            <td>þæt æg</td>
                            <td>þa ægru</td>
                            <td>þæt lamb</td>
                            <td>þa lambru</td>
                        </tr>
                        <tr>
                            <td class="strong">Genitive</td>
                            <td>þæs cildes</td>
                            <td>þara cildra</td>
                            <td>þæs æges</td>
                            <td>þara ægra</td>
                            <td>þæs lambes</td>
                            <td>þara lambra</td>
                        </tr>
                        <tr>
                            <td class="strong">Dative</td>
                            <td>þæm cilde</td>
                            <td>þæm cildrum</td>
                            <td>þæm æge</td>
                            <td>þæm ægrum</td>
                            <td>þæm lambe</td>
                            <td>þæm lambrum</td>
                        </tr>
                    </table>
                </div>
                <!--overview note for mobile-->
                <div class="visible-xs">
                    <table class="mobile-overview-table table-striped">
                        <tr>
                            <th colspan="3" class="text-center">Cild - Child</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>þæt cild</td>
                            <td>þa cildra</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þæt cild</td>
                            <td>þa cildra</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs cildes</td>
                            <td>þara cildra</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm cilde</td>
                            <td>þæm cildrum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">&AElig;g - Egg</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>þæt æg</td>
                            <td>þa ægru</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þæt æg</td>
                            <td>þa ægru</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs æges</td>
                            <td>þara ægra</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm æge</td>
                            <td>þæm ægrum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Lamb - Lamb</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>þæt lamb</td>
                            <td>þa lambru</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þæt lamb</td>
                            <td>þa lambru</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs lambes</td>
                            <td>þara lambra</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm lambe</td>
                            <td>þæm lambrum</td>
                        </tr>
                    </table>
                </div>
                <h4 class="padding-top">Family Nouns</h4>
                <p>The family nouns are '<em>fæder</em>', '<em>modor</em>', '<em>broðor</em>', '<em>sweostor</em>', and
                    '<em>dohtor</em>'. They are the most irregular of the minor declensions.</p>
                <div class="hidden-xs padding-top">
                    <table class="overview-table table-striped">
                        <tr>
                            <th></th>
                            <th colspan="2" class="text-center">Fæder - Father</th>
                            <th colspan="2" class="text-center">Modor - Mother</th>
                            <th colspan="2" class="text-center">Sweostor - Sister</th>
                        </tr>
                        <tr>
                            <td class="strong">Nominative</td>
                            <td>se fæder</td>
                            <td>þa fæderas</td>
                            <td>seo modor</td>
                            <td>þa modora</td>
                            <td>seo sweostor</td>
                            <td>þa sweostra</td>
                        </tr>
                        <tr>
                            <td class="strong">Accusative</td>
                            <td>þone fæder</td>
                            <td>þa fæderas</td>
                            <td>þa modor</td>
                            <td>þa modora</td>
                            <td>þa sweostor</td>
                            <td>þa sweostra</td>
                        </tr>
                        <tr>
                            <td class="strong">Genitive</td>
                            <td>þæs fæder</td>
                            <td>þara fædera</td>
                            <td>þære modor</td>
                            <td>þara modora</td>
                            <td>þære sweostor</td>
                            <td>þara sweostra</td>
                        </tr>
                        <tr>
                            <td class="strong">Dative</td>
                            <td>þæm fæder</td>
                            <td>þæm fæderum</td>
                            <td>þære meder</td>
                            <td>þæm modrum</td>
                            <td>þære sweostor</td>
                            <td>þæm sweostrum</td>
                        </tr>
                    </table>
                </div>
                <!--overview note for mobile-->
                <div class="visible-xs">
                    <table class="mobile-overview-table table-striped">
                        <tr>
                            <th colspan="3" class="text-center">Faeder - Father</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>se fæder</td>
                            <td>þa fæderas</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þone fæder</td>
                            <td>þa fæderas</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þæs fæder</td>
                            <td>þara fædera</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þæm fæder</td>
                            <td>þæm fæderum</td>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center">Modor - Mother</th>
                        </tr>
                        <tr>
                            <td class="strong">Nom</td>
                            <td>seo modor</td>
                            <td>þa modora</td>
                        </tr>
                        <tr>
                            <td class="strong">Acc</td>
                            <td>þa modor</td>
                            <td>þa modora</td>
                        </tr>
                        <tr>
                            <td class="strong">Gen</td>
                            <td>þære modor</td>
                            <td>þara modora</td>
                        </tr>
                        <tr>
                            <td class="strong">Dat</td>
                            <td>þære meder</td>
                            <td>þæm modrum</td>
                        </tr>
                    </table>
                </div>
                <p class="padding-top">In the singular, only the dative of '<em>modor</em>', '<em>broðor</em>', and
                    '<em>dohtor</em>' declines and they decline the same way, with the '<strong>o</strong>' becoming
                    '<strong>e</strong> due to i-mutation'.
                    The plural of '<em>modor</em>', '<em>broðor</em>', '<em>sweostor</em>', and
                    '<em>dohtor</em>' all decline the same way, but '<em>fæder</em>' declines differently in the
                    nominative
                    and accusative plural, following the more traditional strong masculine paradigm.</p>
                <h4>I-Mutation</h4>
                <p>I-mutation is a change in the sound of a vowel so that it is pronounced with the tongue higher and
                    farther forward than usual.
                    I-mutation is visible in the root-vowel of the singular dative, nominative plural, and accusative
                    plural
                    forms of certain nouns.
                    <div class="hidden-xs padding-top">
                        <table class="overview-table table-striped">
                            <tr>
                                <th></th>
                                <th colspan="2" class="text-center">Mann - Man</th>
                                <th colspan="2" class="text-center">Boc - Book</th>
                                <th colspan="2" class="text-center">Freond - Friend</th>
                            </tr>
                            <tr>
                                <td class="strong">Nominative</td>
                                <td>se mann</td>
                                <td>þa menn</td>
                                <td>seo boc</td>
                                <td>þa bec</td>
                                <td>se freond</td>
                                <td>þa friend</td>
                            </tr>
                            <tr>
                                <td class="strong">Accusative</td>
                                <td>þone mann</td>
                                <td>þa menn</td>
                                <td>þa boc</td>
                                <td>þa bec</td>
                                <td>þone freond</td>
                                <td>þa friend</td>
                            </tr>
                            <tr>
                                <td class="strong">Genitive</td>
                                <td>þæs mannes</td>
                                <td>þara manna</td>
                                <td>þære boce</td>
                                <td>þara boca</td>
                                <td>þæs freondes</td>
                                <td>þara freonda</td>
                            </tr>
                            <tr>
                                <td class="strong">Dative</td>
                                <td>þæm menn</td>
                                <td>þæm mannum</td>
                                <td>þære bec</td>
                                <td>þæm bocum</td>
                                <td>þæm friend</td>
                                <td>þæm freondum</td>
                            </tr>
                        </table>
                    </div>
                    <!--overview note for mobile-->
                    <div class="visible-xs">
                        <table class="mobile-overview-table table-striped">
                            <tr>
                                <th colspan="3" class="text-center">Mann - Man</th>
                            </tr>
                            <tr>
                                <td class="strong">Nom</td>
                                <td>se mann</td>
                                <td>þa menn</td>
                            </tr>
                            <tr>
                                <td class="strong">Acc</td>
                                <td>þone mann</td>
                                <td>þa menn</td>
                            </tr>
                            <tr>
                                <td class="strong">Gen</td>
                                <td>þæs mannes</td>
                                <td>þara manna</td>
                            </tr>
                            <tr>
                                <td class="strong">Dat</td>
                                <td>þæm menn</td>
                                <td>þæm mannum</td>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center">Boc - Book</th>
                            </tr>
                            <tr>
                                <td class="strong">Nom</td>
                                <td>seo boc</td>
                                <td>þa bec</td>
                            </tr>
                            <tr>
                                <td class="strong">Acc</td>
                                <td>þa boc</td>
                                <td>þa bec</td>
                            </tr>
                            <tr>
                                <td class="strong">Gen</td>
                                <td>þære boce</td>
                                <td>þara boca</td>
                            </tr>
                            <tr>
                                <td class="strong">Dat</td>
                                <td>þære bec</td>
                                <td>þæm bocum</td>
                            </tr>
                            <tr>
                                <th colspan="3" class="text-center">Freond - Friend</th>
                            </tr>
                            <tr>
                                <td class="strong">Nom</td>
                                <td>se freond</td>
                                <td>þa friend</td>
                            </tr>
                            <tr>
                                <td class="strong">Acc</td>
                                <td>þone freond</td>
                                <td>þa friend</td>
                            </tr>
                            <tr>
                                <td class="strong">Gen</td>
                                <td>þæs freondes</td>
                                <td>þara freonda</td>
                            </tr>
                            <tr>
                                <td class="strong">Dat</td>
                                <td>þæm friend</td>
                                <td>þæm freondum</td>
                            </tr>
                        </table>
                    </div>
                    <p class="padding-top">Remember, a rough way of identifying a weak noun vs a strong one is that the
                        root of a weak noun generally ends in a vowel (except 'u'), while strong nouns usually end in a
                        consonant or 'u'. For example, '<em>fugol - bird</em>', '<em>lufu - love</em>' and '<em>sawol -
                            soul</em>' are strong, while '<em>hearpa - harp</em>', '<em>draca - dragon</em>', and
                        '<em>culfre - dove</em>' are weak.
                        This, however, is not a hard rule as there are strong verbs like '<em>rice - kingdom</em>',
                        '<em>stede - place</em>', and '<em>wite - punishment</em>', and of course, most of the
                        u-declension nouns end in '<strong>u</strong>', but when encountering an unfamiliar noun,
                        you can use it as a rough guide.</p>
                    <p>
                        Now that you know the rules that govern Old English nouns, the next step is
                        to test your knowlege. You
                        can choose to test your knowledge of just the weak and minor nouns presented in this module, or
                        test
                        your knowledge of all noun forms, using the buttons below. When you are ready to advance to the
                        next module, click the link to continue.
                    </p>
                    <div class="text-center padding-top">
                        <a href="wam4.html" class="float-left darkorange-text strong">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to i-mutation
                        </a>
                        <a href="assets/pdf/weakandminornouns.pdf" class="darkorange-text strong" download>Download a PDF of
                            this
                            module</a>
                        <a href="wam5.html" class="float-right darkorange-text strong">Continue to
                            Adverbs, Conjunctions, and Prepositions
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
        </div>
    </section>
    <hr class="border">
    <section>
        <div>
            <h2 class="inline-block"> Test Your Declensions</h2>
            <button id="basicbutton" data-new-questions="wam5_answers.json"
                class="solid-button button margin-bottom-ten margin-left">Just Weak and Minor Nouns</button>
            <button id="additionalbutton" data-new-questions="wam6_answers.json"
                class="light-button button margin-bottom-ten">All Noun Types</button>
            <br>
            <small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
        </div>
        <form name="form1" autocomplete="OFF">
            <p>
                <button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
                <button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
                <button class="light-button button special-character" data-char="&eth;">&eth;</button>
                <br class="visible-xs"> <sub>Use these buttons to insert thorn, ash and eth when you have an input
                    selected.</sub>
            </p>
            <div id="question-wrapper" data-question-file="wam5_answers.json">
            </div>
            <div class="form-group">
                <button class="solid-button button" id="submit">Check</button>
                <button class="solid-button button hidden" id="again">Try Again?</button>
            </div>
        </form>
    </section>
    <hr class="border">
    <section>
        <h2>Test Your Vocabulary</h2>
        <p>You were introduced to a lot of new vocabulary in this module. Test your understanding of
            those new words by clicking the button below. This opens a modal where you can translate
            words on a flashcard.</p>
        <div class="text-center">
            <button class="solid-button button modal-button" data-toggle="modal" data-target="#fsModal">Test Your
                Vocabulary!</button></div>
        <div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- dialog -->
            <div class="modal-dialog">

                <!-- content -->
                <div class="modal-content">

                    <!-- header -->
                    <div class="modal-header">
                        <h1 class="modal-title">
                            Test Your Vocabulary
                        </h1>
                    </div>
                    <!-- header -->

                    <!-- body -->
                    <div class="modal-body" data-question-file="wam_vocab.json">
                        <div class="flashcard-row">
                            <button class="light-button button translation-button" data-language="old">Old English <i
                                    class="fas fa-exchange-alt"></i> Modern
                                English</button>
                        </div>
                        <div class="flashcard-row padding-top">
                            <div class="flashcard">
                            </div>
                        </div>

                        <div class="flashcard-row">
                            <p class="explanatory-text text-center"
                                data-text="Translate the above word<span class='hidden-xs'> using the input below</span>">
                                Translate the above word<span class="hidden-xs"> using the input below</span></p>
                        </div>
                        <div class="flashcard-row">
                            <input type="text" class="flashcard-answer text-center" data-new-placeholder="e.g. dog"
                                data-old-placeholder="e.g. hund" placeholder="e.g. dog">
                        </div>

                        <div class="flashcard-row">
                            <button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
                            <button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
                            <button class="light-button button special-character" data-char="&eth;">&eth;</button>
                        </div>
                        <div class="flashcard-row padding-top">
                            <button class="solid-button button flashcard-check center-button"
                                aria-label="Check">Check</button>
                            <button class="solid-button button try-another center-button hide"
                                aria-label="Try Another">Try Another</button>
                        </div>
                    </div>
                </div>
                <!-- body -->
                <!-- footer -->
                <div class="modal-footer">
                    <button class="solid-button button close-button" data-dismiss="modal"
                        aria-label="Close">Close</button>
                </div>
                <!-- footer -->

            </div>
            <!-- content -->

        </div>
        <!-- dialog -->

        </div>
        <!-- modal -->
    </section>
</main>