<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak and Minor Nouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Introduction to Weak and Minor Nouns
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam2.html">Weak Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam3.html"> Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam4.html"> i-Mutation</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam5.html"> Nouns Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Introduction to Weak and Minor Nouns</h2>
            <p><span class="initial-letter darkorange-text">J</span>ust like adjectives, nouns can be declined
                <strong>strong</strong> or <strong>weak</strong>. Unlike adjectives, nouns never change group. 
                Weak nouns are always weak and minor nouns are always minor.
            </p>
            <p>Weak nouns Minor declensions are comparatively rare but they are commonly used words like '<em>sunu</em>', '<em>dohtor</em>', and '<em>bro</em>'. </p>

            <a href="adj5.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adjectives Overview
            </a>
            <a href="wam2.html" class="float-right darkorange-text padding-top strong">Continue to Weak Nouns
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>