<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak and Minor Nouns') -%>

<main id="mainwrapper" class="container">
    <section class="row">
        <div class="col-sm-12">
            <div class="bc-icons-2">
                <!-- Breadcrumb-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a class="black-text" href="courseindex.html">Index</a>

                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item active">
                        Introduction to Weak and Minor Nouns
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam2.html">Weak Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam3.html"> Minor Nouns</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam4.html"> i-Mutation</a>
                        <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="black-text" href="wam5.html"> Nouns Overview</a>
                    </li>
                </ol>
            </div>
            <!--Close Breadcrumb-->
            <h2>Introduction to Weak and Minor Nouns</h2>
            <p><span class="initial-letter darkorange-text">J</span>ust like adjectives, nouns can be declined
                <strong>strong</strong> or <strong>weak</strong>. Unlike adjectives, nouns never change group.
                Weak nouns are always weak and minor nouns are always minor. All nouns share the same demonstrative
                pronouns, regardless of if they are strong, weak, or minor. For example, examine the sentence, '<em>Þa
                    huntan seah þa idesa ond þa cildru - The hunters saw the women and the children</em>'. You'll notice
                the endings of all the nouns vary substantially, while the demonstratives stay the same.
            </p>
            <div class="text-center padding-top">
                <div class="grammar-box darkgrey-bg">
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">Þa</span> </span><br>
                        <span class="red-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="red-text big-text"><span class="border-bottom">huntan</span> </span><br>
                        <span class="red-text">Weak<br>Masculine</span>
                    </div>
                    <div class="inline-block">
                        <span class="green-text big-text"><span class="border-bottom">seah</span> </span><br>
                        <span class="green-text">Strong<br>Verb</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">þa</span> </span><br>
                        <span class="yellow-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">idesa</span> </span><br>
                        <span class="yellow-text">Strong<br>Feminine</span>
                    </div>
                    <div class="inline-block">
                        <span class="white-text big-text"><span class="border-bottom">ond</span></span><br>
                        <span class="white-text">Conj.<br>&nbsp;</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">þa</span></span><br>
                        <span class="yellow-text">Plural<br>Demon.</span>
                    </div>
                    <div class="inline-block">
                        <span class="yellow-text big-text"><span class="border-bottom">cildru</span></span><br>
                        <span class="yellow-text">Minor<br>Neuter</span>
                    </div>
                </div>
            </div>
            <p><strong>Weak nouns</strong> are rarer than strong nouns. As you will see in the next module, there is
                almost no variation between the different decelnsions so it can be hard to identify the case and number
                of a weak noun.</p>
            <p><strong>Minor nouns</strong> are the least common of all nouns, and come in four forms:
                the <strong>u-declension</strong>, the <strong>r-plurals</strong>, <strong>family nouns</strong>, and
                the <strong>i-mutation declension</strong>.</p>
            <a href="adj5.html" class="float-left darkorange-text padding-top strong">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Adjectives Overview
            </a>
            <a href="wam2.html" class="float-right darkorange-text padding-top strong">Continue to Weak Nouns
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
            <br><br>
        </div>
    </section>
</main>