<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak Verbs') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>

						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="weakverbs.html"> Weak Verbs</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Personal Pronouns
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv3.html"> Weak Verbs I</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv4.html"> Weak Verbs II</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv5.html"> Weak Verbs III</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv6.html"> Weak Verbs Overview</a>
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Personal Pronouns</h2>
			<p><span class="initial-letter darkorange-text">B</span>efore you start exploring verb
				conjugation tables, it is necessary to recognise the Old English personal
				pronouns which accompany the verbs. Personal pronouns take different forms depending on <abbr tabindex="0"
					title="singular or plural">number</abbr>,
				<abbr tabindex="0" title="The function of the word in a sentence">case</abbr>, and grammatical gender. For now let's just look at the nominative forms of the pronouns in the table below.
			</p>
			<div class="row padding-top">
				<div class="text-center col-md-7">
					<table class="static-table table-striped three-col-table inline-block">
						<tr>
							<td colspan="3">
								<strong>Personal Pronouns</strong>
							</td>
						</tr>
						<tr>
							<th></th>
							<th>Old English</th>
							<th>Modern English</th>
						</tr>
						<tr>
							<td>
								<strong>1st Person Singular</strong>
							</td>
							<td>Ic</td>
							<td>I</td>
						</tr>
						<tr>
							<td>
								<strong>2nd Person Singular</strong>
							</td>
							<td>Þu</td>
							<td>You</td>
						</tr>
						<tr>
							<td>
								<strong>3rd Person Singular</strong>
							</td>
							<td>He / Heo / Hit</td>
							<td>He / She / It</td>
						</tr>
						<tr>
							<td>
								<strong>1st Person Plural</strong>
							</td>
							<td>We</td>
							<td>We</td>
						</tr>
						<tr>
							<td>
								<strong>2nd Person Plural</strong>
							</td>
							<td>Ge</td>
							<td>Ye / You</td>
						</tr>
						<tr>
							<td>
								<strong>3rd Person Plural</strong>
							</td>
							<td>Hie</td>
							<td>They</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<div class="grammar-tooltip">
						<button class="tooltip-header">
							Don't forget the pronunciation...<i class="float-right fa fa-angle-double-down"
								aria-hidden="true"></i>
						</button>
						<div class="card-body hide">
							<p>
								<em>Ic</em> and <em>ge</em> have a palatalized <strong>'c'</strong> and <strong>
									'g'</strong>. <em>Ic</em> is pronounced like 'itch', and <em>ge</em> is
								pronounced 'ye'. Refer back to the <a href="oestart.html">beginners pronunciation
									guide</a> for more information.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
				<!--A padding col-->
			</div>
			<p class="padding-top">You may notice in the sentence below that 'you' in the first sentence is spelled '<em>&thorn;e</em>'. This is the accusative form of the pronoun '<em>&thorn;u</em>',
				and these forms will be explored in a later module. For now, it is enough to know that pronouns decline like regular nouns.
				It is important to note that a verb always <abbr tabindex="0"
					title="Agreement or concord happens when a word changes form depending on the other words to which it relates">agrees</abbr>
				with its subject. This means the form of the verb changes depending on its subject. So while in
				modern English, 'I love you' and 'you love me' use the same form of the verb, in Old English it
				changes. You can see this change in the two sentences below.</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg mobile-full-width">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Ic</span> </span><br>
						<span class="red-text">Personal<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">lufie</span> </span><br>
						<span class="green-text">1st Person <br> Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">&thorn;e</span> </span><br>
						<span class="yellow-text">Direct<br>Object</span>
					</div>
				</div>
				<div class="grammar-box darkgrey-bg mobile-full-width">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Þu</span> </span><br>
						<span class="red-text">Personal<br>Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">lufast</span> </span><br>
						<span class="green-text">2nd Person <br> Verb</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">me</span> </span><br>
						<span class="yellow-text">Direct<br>Object</span>
					</div>
				</div>
			</div>
			<p>As you can see, Old English personal pronouns are not that different to modern English ones. You can
				practice using personal pronouns below. When you're ready, let's take a look at Weak Verbs I and see
				how Old English verbs work in more detail.</p>
			<a href="weakverbs.html" class="float-left darkorange-text padding-top strong">
				<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Introduction to Weak Verbs
			</a>
			<a href="wv3.html" class="float-right darkorange-text padding-top strong">Continue to Weak Verbs I
				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
			</a>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2>Test Your Conjugations!</h2>
			<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="wv2_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>
</main>