<% locals.setLayout('default.ejs') -%>
	<% locals.block('title', 'Weak Verbs' ) -%>

		<main id="mainwrapper" class="container">
			<section class="row">
				<div class="col-12">
					<div class="bc-icons-2">
						<!-- Breadcrumb-->
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a class="black-text" href="courseindex.html">Index</a>
								<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
							</li>
							<li class="breadcrumb-item">
								<a class="black-text" href="weakverbs.html">Weak Verbs</a>
								<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
							</li>
							<li class="breadcrumb-item">
								<a class="black-text" href="wv2.html">Personal Pronouns</a>
								<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
							</li>
							<li class="breadcrumb-item">
								<a class="black-text" href="wv3.html"> Weak Verbs I</a>
								<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
							</li>
							<li class="breadcrumb-item">
								<a class="black-text" href="wv4.html">Weak Verbs II</a>
								<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
							</li>
							<li class="breadcrumb-item active">
								Weak Verbs III
								<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
							</li>
							<li class="breadcrumb-item">
								<a class="black-text" href="wv6.html"> Weak Verbs Overview </a>
							</li>
						</ol>
					</div>
					<!--Close Breadcrumb-->
					<h2>Weak Verbs III</h2>
					<p><span class="initial-letter darkorange-text">C</span>lass III consists of four verbs:
						'<em>habban - to have</em>', '<em>libban - to live</em>', '<em>secgan - to say</em>', and
						'<em>hycgan - to think/to
							intend</em>'. These verbs are considered weak verbs as their endings are the broadly the
						same as for other weak verbs.
						However, they do not conjugate identically to each other and they also have unique stem-changes,
						so they need to be learned individually.</p>
					<p>For example, the stem-vowel in <em>libban</em> changes for several declensions in the present tense,
						the stem-vowel in <em>habban</em> and <em>secgan</em> changes in 
						both present and past declensions, while <em>hycgan</em> has a stem-vowel change only in the past tense. 
						Also, the
						verbs <em>libban</em> and <em>habban</em> gain an '<strong>f</strong>' in the past tense.
						You can examine these changes in more detail using the table below.</p>
					<div class="row padding-top">
						<div class="col-md-8">
							<div class="grammar-table table-hide">
								<!-- Nav tabs -->
								<ul class="nav tabs four-tabs nav-justified" role="tablist">
									<li role="presentation" class="active">
										<a href="#habban" aria-controls="habban" role="tab" data-toggle="tab">Habban</a>
									</li>
									<li role="presentation">
										<a href="#libban" aria-controls="libban" role="tab" data-toggle="tab">Libban</a>
									</li>
									<li role="presentation">
										<a href="#secgan" aria-controls="secgan" role="tab" data-toggle="tab">Secgan</a>
									</li>
									<li role="presentation">
										<a href="#hycgan" aria-controls="hycgan" role="tab" data-toggle="tab">Hycgan</a>
									</li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content full">
									<div role="tabpanel" class="text-center tab-pane active" id="habban">
										<table
											class="tabbed-table table-striped inline-block five-col-table table-hide">
											<tr>
												<td colspan="5">
													<strong>Weak Verbs Class III</strong>
												</td>
											</tr>
											<tr>
												<th></th>
												<th>Present Tense</th>
												<th>Past Tense</th>
												<th class="hidden-xs">Present Suffix</th>
												<th class="hidden-xs">Past Suffix</th>
											</tr>
											<tr>
												<td>
													<strong>1st Person Singular</strong>
												</td>
												<td>ic hæbbe</td>
												<td>ic hæfde</td>
												<td class="hidden-xs">-e</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Singular</strong>
												</td>
												<td>þu hæfst</td>
												<td>þu hæfdest</td>
												<td class="hidden-xs">-st</td>
												<td class="hidden-xs">-dest</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Singular</strong>
												</td>
												<td>he/hit/heo hæfþ</td>
												<td>he/hit/heo hæfde</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>1st Person Plural</strong>
												</td>
												<td>we habba&thorn;</td>
												<td>we hæfdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Plural</strong>
												</td>
												<td>ge habba&thorn;</td>
												<td>ge hæfdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Plural</strong>
												</td>
												<td>hie habba&thorn;</td>
												<td>hie hæfdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
										</table>
									</div>
									<div role="tabpanel" class="text-center tab-pane" id="libban">
										<table
											class="tabbed-table table-striped inline-block five-col-table table-hide">
											<tr>
												<td colspan="5">
													<strong>Weak Verbs Class III</strong>
												</td>
											</tr>
											<tr>
												<th></th>
												<th>Present Tense</th>
												<th>Past Tense</th>
												<th class="hidden-xs">Present Suffix</th>
												<th class="hidden-xs">Past Suffix</th>
											</tr>
											<tr>
												<td>
													<strong>1st Person Singular</strong>
												</td>
												<td>ic libbe</td>
												<td>ic lifde</td>
												<td class="hidden-xs">-e</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Singular</strong>
												</td>
												<td>þu leofast</td>
												<td>þu lifdest</td>
												<td class="hidden-xs">-ast</td>
												<td class="hidden-xs">-dest</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Singular</strong>
												</td>
												<td>he/hit/heo leofaþ</td>
												<td>he/hit/heo &nbsp; lifde</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>1st Person Plural</strong>
												</td>
												<td>we libbaþ</td>
												<td>we lifdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Plural</strong>
												</td>
												<td>ge libbaþ</td>
												<td>ge lifdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Plural</strong>
												</td>
												<td>hie libbaþ</td>
												<td>hie lifdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
										</table>
									</div>
									<div role="tabpanel" class="text-center tab-pane" id="secgan">
										<table
											class="tabbed-table table-striped inline-block five-col-table table-hide">
											<tr>
												<td colspan="5">
													<strong>Weak Verbs Class III</strong>
												</td>
											</tr>
											<tr>
												<th></th>
												<th>Present Tense</th>
												<th>Past Tense</th>
												<th class="hidden-xs">Present Suffix</th>
												<th class="hidden-xs">Past Suffix</th>
											</tr>
											<tr>
												<td>
													<strong>1st Person Singular</strong>
												</td>
												<td>ic secge</td>
												<td>ic secgde</td>
												<td class="hidden-xs">-e</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Singular</strong>
												</td>
												<td>þu sægst</td>
												<td>þu sægdest</td>
												<td class="hidden-xs">-st</td>
												<td class="hidden-xs">-dest</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Singular</strong>
												</td>
												<td>he/hit/heo sæg&thorn; </td>
												<td>he/hit/heo sægde</td>
												<td class="hidden-xs">-&thorn;</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>1st Person Plural</strong>
												</td>
												<td>we secga&thorn;</td>
												<td>we sægdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Plural</strong>
												</td>
												<td>ge secga&thorn;</td>
												<td>ge sægdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Plural</strong>
												</td>
												<td>hie secga&thorn;</td>
												<td>hie sægdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
										</table>
									</div>
									<div role="tabpanel" class="text-center tab-pane" id="hycgan">
										<table
											class="tabbed-table table-striped inline-block five-col-table table-hide">
											<tr>
												<td colspan="5">
													<strong>Weak Verbs Class III</strong>
												</td>
											</tr>
											<tr>
												<th></th>
												<th>Present Tense</th>
												<th>Past Tense</th>
												<th class="hidden-xs">Present Suffix</th>
												<th class="hidden-xs">Past Suffix</th>
											</tr>
											<tr>
												<td>
													<strong>1st Person Singular</strong>
												</td>
												<td>ic hycge</td>
												<td>ic hogde</td>
												<td class="hidden-xs">-e</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Singular</strong>
												</td>
												<td>þu hygst</td>
												<td>þu hogdest</td>
												<td class="hidden-xs">-st</td>
												<td class="hidden-xs">-dest</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Singular</strong>
												</td>
												<td>he/hit/heo hyg&thorn; </td>
												<td>he/hit/heo hogde</td>
												<td class="hidden-xs">-&thorn;</td>
												<td class="hidden-xs">-de</td>
											</tr>
											<tr>
												<td>
													<strong>1st Person Plural</strong>
												</td>
												<td>we hycga&thorn;</td>
												<td>we hogdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>2nd Person Plural</strong>
												</td>
												<td>ge hycga&thorn;</td>
												<td>ge hogdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
											<tr>
												<td>
													<strong>3rd Person Plural</strong>
												</td>
												<td>hie hycga&thorn;</td>
												<td>hie hogdon</td>
												<td class="hidden-xs">-a&thorn;</td>
												<td class="hidden-xs">-don</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<button class="solid-button button" id="hide-submit">
								<span class="label-hide">Hide Table</span>
								<span class="label-show hide">Show Table</span>
							</button>
							<br><br>
						</div>
						<div class="col-md-4">

							<div class="grammar-tooltip">
								<button class="tooltip-header">
									Spelling Variations <i class="float-right fa fa-angle-double-down"
										aria-hidden="true"></i>
								</button>
								<div class="card-body hide">
									<p>
										Depending on where or when a piece was written, words were often spelled
										differently. Class III weak verbs have many common variations, so you may see
										vowel
										mutation in the stem. For example: <em>hygeþ, hycgeþ</em> and <em>hogaþ</em> are
										all
										attested spellings of the 3rd person singular of <em>hycgan</em>. Similarly, the
										'<strong>eo</strong>' in <em>libban</em> is sometimes written as
										'<strong>i</strong>'.
										For example: <em>lifa&thorn;</em> instead of <em>leofa&thorn;</em>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p>Now that you know the basics of Class III Weak Verbs, the next thing to do is practice what you have
					learned. Feel free to use the table to help you with the first batch of questions. You can hide the
					table at any point by clicking the orange 'Hide Table' button. Otherwise you can continue on to the
					next
					topic.</p>
				<a href="wv4.html" class="float-left darkorange-text padding-top strong">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Class II Weak Verbs
				</a>
				<a href="wv6.html" class="float-right darkorange-text padding-top strong">Continue to Weak Verbs
					Overview
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a>
			</section>
			<hr class="border">
			<section>
				<div>
					<h2>Test Your Conjugations!</h2>
					<small>In the textboxes below, fill out the fully declined version of the word in brackets.</small>
				</div>
				<form name="form1" autocomplete="OFF">
					<p>
						<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
						<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
						<button class="light-button button special-character" data-char="&eth;">&eth;</button>
						<br class="visible-xs"> <sub>Use these buttons to insert thorn, ash and eth when you have an
							input
							selected.</sub>
					</p>
					<div id="question-wrapper" data-question-file="wv5_answers.json">
					</div>
					<div class="form-group">
						<button class="solid-button button" id="submit">Check</button>
						<button class="solid-button button hidden" id="again">Try Again?</button>
					</div>
				</form>
			</section>
		</main>