<% locals.setLayout('default.ejs') -%>
<% locals.block('title', 'Weak Verbs') -%>

<main id="mainwrapper" class="container">
	<section class="row">
		<div class="col-12-sm">
			<div class="bc-icons-2">
				<!-- Breadcrumb-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a class="black-text" href="courseindex.html">Index</a>

						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="weakverbs.html">Weak Verbs</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv2.html">Personal Pronouns</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv3.html"> Weak Verbs I</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv4.html">Weak Verbs II</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item">
						<a class="black-text" href="wv5.html"> Weak Verbs III</a>
						<i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
					</li>
					<li class="breadcrumb-item active">
						Weak Verbs Overview
					</li>
				</ol>
			</div>
			<!--Close Breadcrumb-->
			<h2>Weak Verbs Overview</h2>
			<p><span class="initial-letter darkorange-text">T</span>o recap what we've covered, weak verbs
				are the largest category of Old English verbs. They are considered grammatically weak as they form
				their preterite by adding a
				dental suffix ('<strong>d</strong>' or '<strong>t</strong>') to the stem of the word. Weak verbs are
				subdivided into three sub-classes
				depending on the ending of their infinitive.</p>
			<h3>Class I</h3>
			<p>Class I weak verbs have an infinitive ending in '<strong>an</strong>' or
				'<strong>rian</strong>'. When conjugated, the third-person present singular ends in
				'<strong>þ</strong>', and the present
				plural ends in '<strong>aþ</strong>', while the past is formed using '<strong>d</strong>', or
				'<strong>t</strong>' to the end of the stem. Examine the below sentences,
					<em>'He commits crimes'</em> and <em>'She saved
					his life'</em>.</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">He</span></span><br>
						<span class="red-text">Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">freme&thorn;</span></span><br>
						<span class="green-text">Present Tense</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">firene</span></span><br>
						<span class="yellow-text">Direct Object</span>
					</div>
				</div>
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Heo</span></span><br>
						<span class="red-text">Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">nerede</span></span><br>
						<span class="green-text">Past Tense</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">his</span></span><br>
						<span class="white-text">Pronoun</span>
					</div>
					<div class="inline-block">
						<span class="lightorange-text big-text"><span class="border-bottom">feorh</span></span><br>
						<span class="lightorange-text">Genitive</span>
					</div>
				</div>
			</div>
			<p class="padding-top">While the endings of Class I verbs are the same, there are slight modifications to the stem which
				occur depending on if the stem has a double consonant, a short vowel sound, or a long vowel sound. These are
				exemplified by <em>fremman - to do, nerian - to save</em> and <em>hieran - to hear</em>.</p>
			<!--overview note for desktop-->
			<div class="hidden-xs  padding-top">
				<table class="overview-table table-striped">
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Fremman - to do</th>
						<th colspan="2" class="text-center">Nerian - to save</th>
						<th colspan="2" class="text-center">Hieran - to hear</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>fremme</td>
						<td>fremede</td>
						<td>nerie</td>
						<td>nerede</td>
						<td>hiere</td>
						<td>hierde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>fremest</td>
						<td>fremedest</td>
						<td>nerest</td>
						<td>neredest</td>
						<td>hierst</td>
						<td>hierdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>fremeþ</td>
						<td>fremede</td>
						<td>nereþ</td>
						<td>nerede</td>
						<td>hierþ</td>
						<td>hierde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>fremmaþ</td>
						<td>fremedon</td>
						<td>neriaþ</td>
						<td>neredon</td>
						<td>hieraþ</td>
						<td>hierdon</td>
					</tr>
				</table>
			</div>
			<!--overview note for mobile-->
			<div class="visible-xs">
				<table class="mobile-overview-table table-striped">
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Fremman - to do</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>fremme</td>
						<td>fremede</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>fremest</td>
						<td>fremedest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>fremeþ</td>
						<td>fremede</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>fremmaþ</td>
						<td>fremedon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Nerian - to save</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>nerie</td>
						<td>nerede</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>nerest</td>
						<td>neredest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>nereþ</td>
						<td>nerede</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>neriaþ</td>
						<td>neredon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Hieran - to hear</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>hiere</td>
						<td>hierde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>hierst</td>
						<td>hierdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>hierþ</td>
						<td>hierde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>hieraþ</td>
						<td>hierdon</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">The changes in the stem can be summarised as follows:</p>
			<ul>
				<li>Verbs with a short vowel sound and a double consonant, like <em>cnyssan</em> or <em>trymman</em>,
					conjugate like <em>fremman</em>.</li>
				<li>Verbs which end in '<strong>rian</strong>', like <em>derian</em> or <em>werian</em>, conjugate
					like <em>nerian</em>.</li>
				<li>Verbs with a long vowel and a single consonant, like <em>deman</em> or <em>feran</em>, conjugate
					like <em>hieran</em>.</li>
			</ul>
			<p>
				It should be noted that verbs with a short vowel and two consonants which are not the same, such
				as <em>sendan</em>, conjugate like <em>hieran</em>, though the <strong>‘dd’</strong> which would
				appear in the preterite is simplified
				to '<strong>d</strong>'. See <a class="lightorange-text" href="wv3.html">A note on double d’s</a>
				for more information.</p>
			<h3>Class II</h3>
			<p>Class II weak verbs have an infinitive ending in '<strong>ian</strong>' (except when
				preceded by ‘r’ as 'rian' verbs are generally Class I, like <em>nerian</em>). There are three
				'<strong>rian</strong>' verbs which conjugate like <em>lufian</em> instead of <em>nerian</em>. These
				are <em>andswarian - to answer, gadrian - to gather,</em> and <em>timbrian - to build</em>.</p>
			<p>The main difference between Class I and Class II verbs are the present plurals end in
					'<strong>iaþ</strong>' and the preterite suffix is preceded by an '<strong>o</strong>'.
				Examine <em>'They reign forever'</em> and <em>'He
					preached in Judea'</em>:</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Hie</span></span><br>
						<span class="red-text">Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">ricsiaþ</span></span><br>
						<span class="green-text">Present Tense</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">on</span></span><br>
						<span class="white-text">Prep.</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">ecnesse</span></span><br>
						<span class="blue-text">Indirect Object</span>
					</div>
				</div>
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">He</span></span><br>
						<span class="red-text">Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">bodode</span></span><br>
						<span class="green-text">Past Tense</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">on</span></span><br>
						<span class="white-text">Prep.</span>
					</div>
					<div class="inline-block">
						<span class="blue-text big-text"><span class="border-bottom">Iudea</span></span><br>
						<span class="blue-text">Indirect Object</span>
					</div>
				</div>
			</div>
			<p>Examining the table below, you’ll notice the <strong>'i'</strong> disappears in the
				2nd and 3rd singular present, and all preterite forms. This is the same place where <em>fremman</em> drops its second
				<strong>'m'</strong>, <em>nerian</em> its <strong>'i'</strong>, and <em>hieran</em> its
				<strong>'e'</strong>.</p>
			<!--overview note for desktop-->
			<div class="hidden-xs padding-top">
				<table class="overview-table table-striped">
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Lufian - to love</th>
						<th colspan="2" class="text-center">Ricsian - to reign</th>
						<th colspan="2" class="text-center">Bodian - to announce</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>lufie</td>
						<td>lufode</td>
						<td>ricsie</td>
						<td>ricsode</td>
						<td>bodie</td>
						<td>bodode</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>lufast</td>
						<td>lufodest</td>
						<td>ricsast</td>
						<td>ricsodest</td>
						<td>bodast</td>
						<td>bododest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>lufa&thorn;</td>
						<td>lufode</td>
						<td>ricsaþ</td>
						<td>ricsode</td>
						<td>bodaþ</td>
						<td>bodode</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>lufia&thorn;</td>
						<td>lufodon</td>
						<td>ricsiaþ</td>
						<td>ricsodon</td>
						<td>bodiaþ</td>
						<td>bododon</td>
					</tr>
				</table>
			</div>
			<!--overview note for mobile-->
			<div class="visible-xs">
				<table class="mobile-overview-table table-striped">
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Fremman - to do</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>fremme</td>
						<td>fremede</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>fremest</td>
						<td>fremedest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>fremeþ</td>
						<td>fremede</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>fremmaþ</td>
						<td>fremedon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Nerian - to save</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>nerie</td>
						<td>nerede</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>nerest</td>
						<td>neredest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>nereþ</td>
						<td>nerede</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>neriaþ</td>
						<td>neredon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Hieran - to hear</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>hiere</td>
						<td>hierde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>hierst</td>
						<td>hierdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>hierþ</td>
						<td>hierde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>hieraþ</td>
						<td>hierdon</td>
					</tr>
				</table>
			</div>

			<h3>Class III</h3>
			<p>Class III weak verbs have an infinitive ending in '<strong>an</strong>' and no
				vowel
				before the dental suffix. They are more unpredictable in their conjugation and often combine
				features of the first two weak classes. There are only four Class III verbs: <em>habban - to have,
					libban - to live, secgan - to say</em> and <em>hycgan - to think/intend</em>. How they conjugate
				is
				irregular so they just have to be learned individually. Two examples, <em>'They have much
					power'</em>
				and <em>'She lived virtuously'</em>, are included below.</p>
			<div class="text-center">
				<div class="grammar-box darkgrey-bg">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Hie</span></span><br>
						<span class="red-text">Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">habbaþ</span></span><br>
						<span class="green-text">Present Tense</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">micel</span></span><br>
						<span class="white-text">Quantifier</span>
					</div>
					<div class="inline-block">
						<span class="yellow-text big-text"><span class="border-bottom">weald</span></span><br>
						<span class="yellow-text">Direct Object</span>
					</div>
				</div>
				<div class="grammar-box darkgrey-bg mobile-full-width">
					<div class="inline-block">
						<span class="red-text big-text"><span class="border-bottom">Heo</span></span><br>
						<span class="red-text">Subject</span>
					</div>
					<div class="inline-block">
						<span class="green-text big-text"><span class="border-bottom">lifde</span></span><br>
						<span class="green-text">Past Tense</span>
					</div>
					<div class="inline-block">
						<span class="white-text big-text"><span class="border-bottom">þeawum</span></span><br>
						<span class="white-text">Adjective</span>
					</div>
				</div>
			</div>
			<!--overview note for desktop-->
			<div class="hidden-xs padding-top">
				<table class="overview-table table-striped">
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Habban - To have</th>
						<th colspan="2" class="text-center">Libban - to live</th>
						<th colspan="2" class="text-center">Secgan - to say</th>
						<th colspan="2" class="text-center">Hycgan - to think</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>hæbbe</td>
						<td>hæfde</td>
						<td>libbe</td>
						<td>lifde</td>
						<td>secge</td>
						<td>secgde</td>
						<td>hycge</td>
						<td>hogde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>hæfst</td>
						<td>hæfdest</td>
						<td>leofast</td>
						<td>lifdest</td>
						<td>sægst</td>
						<td>sægdest</td>
						<td>hygst</td>
						<td>hogdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>hæfþ</td>
						<td>hæfde</td>
						<td>leofaþ</td>
						<td>lifde</td>
						<td>sægþ</td>
						<td>sægde</td>
						<td>hygþ</td>
						<td>hogde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>habbaþ</td>
						<td>hæfdon</td>
						<td>libbaþ</td>
						<td>lifdon</td>
						<td>secgaþ</td>
						<td>sægdon</td>
						<td>hycgaþ</td>
						<td>hogdon</td>
					</tr>
				</table>
			</div>
			<!--overview note for mobile-->
			<div class="visible-xs">
				<table class="mobile-overview-table table-striped">
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Habban - To have</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>hæbbe</td>
						<td>hæfde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>hæfst</td>
						<td>hæfdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>hæfþ</td>
						<td>hæfde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>habbaþ</td>
						<td>hæfdon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Libban - to live</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>libbe</td>
						<td>lifde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>leofast</td>
						<td>lifdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>leofaþ</td>
						<td>lifde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>libbaþ</td>
						<td>lifdon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Secgan - to say</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>secge</td>
						<td>secgde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>sægst</td>
						<td>sægdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>sægþ</td>
						<td>sægde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>secgaþ</td>
						<td>sægdon</td>
					</tr>
					<tr>
						<th></th>
						<th colspan="2" class="text-center">Hycgan - to think</th>
					</tr>
					<tr>
						<td class="strong">1st</td>
						<td>hycge</td>
						<td>hogde</td>
					</tr>
					<tr>
						<td class="strong">2nd</td>
						<td>hygst</td>
						<td>hogdest</td>
					</tr>
					<tr>
						<td class="strong">3rd</td>
						<td>hygþ</td>
						<td>hogde</td>
					</tr>
					<tr>
						<td class="strong">Plural</td>
						<td>hycgaþ</td>
						<td>hogdon</td>
					</tr>
				</table>
			</div>
			<p class="padding-top">Understanding which suffix goes with which person, number or tense is vital for
				understanding
				which
				subject a verb is connected to in a sentence. Old English does not rely on word order as
				strictly as
				modern English, so the subject can come after the verb, or sometimes even be dropped from a
				long
				sentence. Always remember that in Old English, verbs agree with their subject, so even if a
				word
				comes slightly earlier or later in a sentence than you might expect, it can generally be
				paired to
				the correct noun by comparing the endings.</p>
			<div class="row padding-top">
				<div class="col-md-8">
					<div class="grammar-table table-hide">
						<!-- Nav tabs -->
						<ul class="nav tabs four-tabs nav-justified" role="tablist">
							<li role="presentation" class="active">
								<a href="#class1a" aria-controls="class 1" role="tab" data-toggle="tab">Class I(a)</a>
							</li>
							<li role="presentation">
								<a href="#class1b" aria-controls="class 1b" role="tab" data-toggle="tab">Class I(b)</a>
							</li>
							<li role="presentation">
								<a href="#class1c" aria-controls="class 1c" role="tab" data-toggle="tab">Class I(c)</a>
							</li>
							<li role="presentation">
								<a href="#class2a" aria-controls="class 2" role="tab" data-toggle="tab">Class II</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content full">
							<div role="tabpanel" class="text-center tab-pane active" id="class1a">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Weak Verbs Class I</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Present Tense</th>
										<th>Past Tense</th>
										<th class="hidden-xs">Present Suffix</th>
										<th class="hidden-xs">Past Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>1st Person Singular</strong>
										</td>
										<td>Ic fremme</td>
										<td>Ic fremede</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-de</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Singular</strong>
										</td>
										<td>&THORN;u fremest</td>
										<td>&THORN;u fremedest</td>
										<td class="hidden-xs">-st</td>
										<td class="hidden-xs">-dest</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Singular</strong>
										</td>
										<td>He/Hit/Heo freme&thorn;</td>
										<td>He/Hit/Heo fremede</td>
										<td class="hidden-xs">-&thorn;</td>
										<td class="hidden-xs">-de</td>
									</tr>
									<tr>
										<td>
											<strong>1st Person Plural</strong>
										</td>
										<td>We fremma&thorn;</td>
										<td>We fremedon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Plural</strong>
										</td>
										<td>Ge fremma&thorn;</td>
										<td>Ge fremedon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Plural</strong>
										</td>
										<td>Hie fremma&thorn;</td>
										<td>Hie fremedon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="text-center tab-pane" id="class1b">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Weak Verbs Class I</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Present Tense</th>
										<th>Past Tense</th>
										<th class="hidden-xs">Present Suffix</th>
										<th class="hidden-xs">Past Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>1st Person Singular</strong>
										</td>
										<td>Ic nerie</td>
										<td>Ic nerede</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-de</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Singular</strong>
										</td>
										<td>&THORN;u nerest</td>
										<td>&THORN;u neredest</td>
										<td class="hidden-xs">-st</td>
										<td class="hidden-xs">-dest</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Singular</strong>
										</td>
										<td>He/Hit/Heo nereþ</td>
										<td>He/Hit/Heo nerede</td>
										<td class="hidden-xs">-&thorn;</td>
										<td class="hidden-xs">-de</td>
									</tr>
									<tr>
										<td>
											<strong>1st Person Plural</strong>
										</td>
										<td>We neriaþ</td>
										<td>We neredon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Plural</strong>
										</td>
										<td>Ge neriaþ</td>
										<td>Ge neredon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Plural</strong>
										</td>
										<td>Hie neriaþ</td>
										<td>Hie neredon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="text-center tab-pane" id="class1c">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Weak Verbs Class I</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Present Tense</th>
										<th>Past Tense</th>
										<th class="hidden-xs">Present Suffix</th>
										<th class="hidden-xs">Past Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>1st Person Singular</strong>
										</td>
										<td>Ic hiere</td>
										<td>Ic hierde</td>
										<td class="hidden-xs">-e</td>
										<td class="hidden-xs">-de</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Singular</strong>
										</td>
										<td>&THORN;u hierst</td>
										<td>&THORN;u hierdest</td>
										<td class="hidden-xs">-st</td>
										<td class="hidden-xs">-dest</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Singular</strong>
										</td>
										<td>He/Hit/Heo hier&thorn;</td>
										<td>He/Hit/Heo hierde</td>
										<td class="hidden-xs">-&thorn;</td>
										<td class="hidden-xs">-de</td>
									</tr>
									<tr>
										<td>
											<strong>1st Person Plural</strong>
										</td>
										<td>We hiera&thorn;</td>
										<td>We hierdon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Plural</strong>
										</td>
										<td>Ge hiera&thorn;</td>
										<td>Ge hierdon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Plural</strong>
										</td>
										<td>Hie hiera&thorn;</td>
										<td>Hie hierdon</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-don</td>
									</tr>
								</table>
							</div>
							<div role="tabpanel" class="text-center tab-pane" id="class2a">
								<table class="tabbed-table table-striped inline-block five-col-table table-hide">
									<tr>
										<td colspan="5">
											<strong>Weak Verbs Class II</strong>
										</td>
									</tr>
									<tr>
										<th></th>
										<th>Present Tense</th>
										<th>Past Tense</th>
										<th class="hidden-xs">Present Suffix</th>
										<th class="hidden-xs">Past Suffix</th>
									</tr>
									<tr>
										<td>
											<strong>1st Person Singular</strong>
										</td>
										<td>Ic lufie</td>
										<td>Ic lufode</td>
										<td class="hidden-xs">-ie</td>
										<td class="hidden-xs">-ode</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Singular</strong>
										</td>
										<td>&THORN;u lufast</td>
										<td>&THORN;u lufodest</td>
										<td class="hidden-xs">-ast</td>
										<td class="hidden-xs">-odest</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Singular</strong>
										</td>
										<td>He/Hit/Heo lufa&thorn;</td>
										<td>He/Hit/Heo lufode</td>
										<td class="hidden-xs">-a&thorn;</td>
										<td class="hidden-xs">-ode</td>
									</tr>
									<tr>
										<td>
											<strong>1st Person Plural</strong>
										</td>
										<td>We lufia&thorn;</td>
										<td>We lufodon</td>
										<td class="hidden-xs">-ia&thorn;</td>
										<td class="hidden-xs">-odon</td>
									</tr>
									<tr>
										<td>
											<strong>2nd Person Plural</strong>
										</td>
										<td>Ge lufia&thorn;</td>
										<td>Ge lufodon</td>
										<td class="hidden-xs">-ia&thorn;</td>
										<td class="hidden-xs">-odon</td>
									</tr>
									<tr>
										<td>
											<strong>3rd Person Plural</strong>
										</td>
										<td>Hie lufia&thorn;</td>
										<td>Hie lufodon</td>
										<td class="hidden-xs">-ia&thorn;</td>
										<td class="hidden-xs">-odon</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<button class="solid-button button" id="hide-submit">
						<span class="label-hide">Hide Table</span>
						<span class="label-show hide">Show Table</span>
					</button>
				</div>
			</div>
			<br>
			<p> You can download a pdf of this module using the link below. The pdfs also contain a glossary
				of all
				verbs used in the module, as well as additional paradigms. Otherwise, feel free to continue
				on to
				the next module.
			</p>
			<div class="text-center padding-top">
				<a href="wv5.html" class="float-left darkorange-text strong">
					<i class="fa fa-angle-double-left" aria-hidden="true"></i> Return to Weak Verbs Class
					III
				</a>
				<a href="assets/pdf/wv.pdf" class="darkorange-text strong" download>Download a PDF of this
					module</a>
				<a href="nafnouns.html" class="float-right darkorange-text strong">Continue to Neuter and
					Feminine Nouns
					<i class="fa fa-angle-double-right" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		</div>
	</section>
	<hr class="border">
	<section>
		<div>
			<h2>Test Your Conjugations!</h2>
			<small>In the textboxes below, fill out the fully conjugated version of the word in brackets.</small>
		</div>
		<form name="form1" autocomplete="OFF">
			<p>
				<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
				<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
				<button class="light-button button special-character" data-char="&eth;">&eth;</button>
				<br class="visible-xs">			<sub>Use these buttons to insert thorn, ash and eth when you have an input
					selected.</sub>
			</p>
			<div id="question-wrapper" data-question-file="wv6_answers.json">
			</div>
			<div class="form-group">
				<button class="solid-button button" id="submit">Check</button>
				<button class="solid-button button hidden" id="again">Try Again?</button>
			</div>
		</form>
	</section>

	<hr class="border">
	<section>
		<h2>Test Your Vocabulary</h2><p>You were introduced  to a lot of new vocabulary in this module. Test your understanding of
			those new words by clicking the button below. This opens a modal where you can translate
			words on a flashcard.</p>
		<div class="text-center">
			<button class="solid-button button modal-button" data-toggle="modal" data-target="#fsModal">Test Your
				Vocabulary!</button></div>
		<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-hidden="true">
			<!-- dialog -->
			<div class="modal-dialog">

				<!-- content -->
				<div class="modal-content">

					<!-- header -->
					<div class="modal-header">
						<h1 class="modal-title">
							Test Your Vocabulary
						</h1>
					</div>
					<!-- header -->

					<!-- body -->
					<div class="modal-body" data-question-file="wv_vocab.json">
						<div class="flashcard-row">
							<button class="light-button button translation-button" data-language="old">Old English <i
									class="fas fa-exchange-alt"></i> Modern
								English</button>
						</div>
						<div class="flashcard-row small-padding-top">
							<div class="flashcard">

							</div>
						</div>
						
						<div class="flashcard-row">
							<p class="explanatory-text text-center" data-text="Translate the above word<span class='hidden-xs'> using the input below</span>">Translate the above word<span class="hidden-xs"> using the input below</span></p>
						</div>
						<div class="flashcard-row">
								<input type="text" class="flashcard-answer text-center" data-new-placeholder="e.g. to see" data-old-placeholder="e.g. cwellan" placeholder="e.g. to see">
						</div>
						
						<div class="flashcard-row">
							<button class="light-button button special-character" data-char="&thorn;">&thorn;</button>
							<button class="light-button button special-character" data-char="&aelig;">&aelig;</button>
							<button class="light-button button special-character" data-char="&eth;">&eth;</button>
							</div>
						<div class="flashcard-row small-padding-top">
							<button class="solid-button button flashcard-check center-button" aria-label="Check">Check</button>
							<button class="solid-button button try-another center-button hide" aria-label="Try Another">Try Another</button>
						</div>
					</div>
				</div>
				<!-- body -->
				<!-- footer -->
				<div class="modal-footer">
					<button class="solid-button button close-button" data-dismiss="modal" aria-label="Close">Close</button>
				</div>
				<!-- footer -->

			</div>
			<!-- content -->

		</div>
		<!-- dialog -->

		</div>
		<!-- modal -->
	</section>
</main>