<!--closing footer container-->
<footer class="row">
	<div class="col-xs-6">
		<p><a href="index.html">Home</a> | <a href="courseindex.html">Index</a> | <a href="about.html">About</a></p>
		<p>Project version 2.6.2 <a href="patchnotes.html">Patch Notes</a> here</p>
	</div>
	<div class="col-xs-6">
		<p>&copy; 2021 — Victoria Koivisto-Kokko — <a href="license.html">Licensing</a></p>
		<p class="hidden-xs">Feedback? Email
			<u>contact@oldenglish.info</u> or find me
			<a href="https://twitter.com/Vkkokko" rel="noopener" target="_blank">
				@vkkokko
				<i class="fab fa-twitter"></i>
			</a>
		</p>
	</div>
</footer>