<!DOCTYPE html>
<html lang="<%- config.languageShort -%>">
	<head>
		<%- await include('../partials/head') %>
	</head>
	<body class="container-fluid">

		<%- await include('../partials/page-footer') %>
		<%- await include('../partials/page-scripts') %>
	</body>
</html>
